{% extends 'base.html' %} {% load custom_noti_tags %}
{% block content %}

{% include 'partials/headers/_auth-header.html' %}

    <section class="grey-bg">
        <div class="content-card content-card-space white-bg">
            <h3 class="darkteal-text">{{ notification.message }}</h3>

            {% if notification.notification_type == 'Invitation' %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden">
                    <button class="primary-btn action-btn margin-top-2 ">Accept Invitation</button>
                </form>
            {% endif %}

            {% if notification.notification_type == 'Request' %}
                {% display_joinrequest_message notification.reference_id as request_message %}
                {% if request_message %}
                    <p>Request message:<br> {{ request_message }}</p>
                {% endif %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden">
                    <p>Please select responsibility for the user:</p>
                    <input type="radio" name="role" value="admin"><label for="admin">Admin</label>
                    <input type="radio" name="role" value="editor"><label for="editor">Editor</label>
                    <input type="radio" name="role" value="viewer"><label for="viewer">Viewer</label>
                    <br>
                    <button class="primary-btn action-btn margin-top-2">
                        Add User to {% if notification.community %} Community {% else %} Institution {% endif %}
                    </button>
                </form>
            {% endif %}

            <div class="flex-this space-between">
                <p><a class="darkteal-text underline-hover" href="{% url 'dashboard' %}">Back to My Profile</a></p>    
                <p><a class="darkteal-text underline-hover" href="{% url 'read' notification.id %}">Mark as Read</a></p>
                <p><a class="darkteal-text underline-hover" href="{% url 'delete' notification.id %}">Delete</a></p>
            </div>

        </div>

    </section>

    {% include 'partials/footers/_auth-footer.html' %}


{% endblock %}
