{% extends 'base.html' %}
{% block content %}

<h3>{{ notification.title }}</h3>
<p>{{ notification.message }}</p>

{% if notification.notification_type == 'welcome' %}
    <p>This is a welcome</p>
{% endif %}

{% if notification.notification_type == 'invitation' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden">
        <button class="action-btn">Accept Invitation</button>
    </form>
{% endif %}

{% if notification.notification_type == 'request' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden">
        <button class="action-btn">Add User To Community</button>
    </form>
{% endif %}

{% if notification.notification_type == 'approval' %}
    <p> This is an approval</p>

{% endif %}

{% if notification.notification_type == 'accept' %}
    <p> This is an accept type</p>
{% endif %}

{% if notification.notification_type == 'create' %}
    <p>This is a create notification type.</p>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden">
        <button class="action-btn">Approve Community</button>
    </form>
{% endif %}

<p><a href="{% url 'delete' notification.id %}">Mark as Read</a></p>
<p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>

{% endblock %}