{% extends 'base.html' %} 
{% block content %}
    {% include 'partials/headers/_auth-header.html' %}


        <div class="white-bg content-card content-card-space">
            <h3>{{ notification.message }}</h3>

        {% if notification.notification_type == 'invitation' %}
            <p>Invitation accepted! </p>
        {% endif %}

        <div class="flex-this space-between">
            <p><a class="darkteal-text underline-hover" href="{% url 'dashboard' %}">Back to My Profile</a></p>    
            <p><a class="darkteal-text underline-hover" href="{% url 'read' notification.id %}">Mark as Read</a></p>
            <p><a class="darkteal-text underline-hover" href="{% url 'delete' notification.id %}">Delete</a></p>
        </div>

        </div>


    {% include 'partials/footers/_auth-footer.html' %}
{% endblock %}