{% extends 'base.html' %}
{% block content %}
    {% include 'partials/_auth-header.html' %}

    <section class="grey-bg">
        <div class="pad-top-5">

            <div class="white-bg content-card content-card-space">
                <h3 class="darkteal-text">{{ notification.title }}</h3>
                <p>Message: <br> {{ notification.message }}</p>

            {% if notification.notification_type == 'invitation' %}
                <p>Invitation accepted! </p>

            {% endif %}

            {% if notification.notification_type == 'request' %}
                <p>User has been added to community!</p>

            {% endif %}

            {% if notification.notification_type == 'create' %}
                <p>Community approved!</p>

            {% endif %}

            <div class="flex-this space-between">
                <p><a class="darkteal-text" href="{% url 'dashboard' %}">Back to Dashboard</a></p>    
                <p><a class="darkteal-text" href="{% url 'read' notification.id %}">Mark as Read</a></p>
                <p><a class="darkteal-text" href="{% url 'delete' notification.id %}">Delete</a></p>
            </div>

            </div>

        </div>
    </section>

    {% include 'partials/_auth-footer.html' %}
{% endblock %}