asgiref==3.2.10
astroid==2.4.2
boto==2.49.0
colorama==0.4.3
colorlog==4.2.1
Django==3.1
django-markwhat==1.6.2
gunicorn==20.0.4
isort==5.4.2
keyring==5.7.1
lazy-object-proxy==1.4.3
markdown2==2.3.9
mccabe==0.6.1
psycopg2-binary==2.8.5
pylint==2.6.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
wrapt==1.12.1
