{% load static %} {% block content %}

        <div class="content-card-v2 content-card-space">
            <div>
                <small class="bold">
                    <a class="darkteal-text" 
                        {% if community %} href="{% url 'community-projects' community.id %}" {% endif %}
                        {% if institution %} href="{% url 'institution-projects' institution.id %}" {% endif %}
                        {% if researcher %} href="{% url 'researcher-projects' researcher.id %}" {% endif %}
                    >Projects
                    </a> 
                    {% if '/edit-project/' in request.path %}
                        <span class="grey-text"> >> </span>
                        <a class="darkteal-text" 
                            {% if community %} href="{% url 'community-project-actions' community.id project.unique_id %}" {% endif %}
                            {% if institution %} href="{% url 'institution-project-actions' institution.id project.unique_id %}" {% endif %}
                            {% if researcher %} href="{% url 'researcher-project-actions' researcher.id project.unique_id %}" {% endif %}
                        > {{ project.title|truncatechars:15 }}
                        </a> 
                        <span class="grey-text"> >> Edit Project </span>
                    {% else %}
                        <span class="grey-text"> >> Create New Project</span>
                    {% endif %}
                </small>
            </div>
            {% if '/edit-project/' in request.path %}
                <h2 class="no-bottom-margin">Edit a Local Contexts Project</h2>
                <p class="w-90">
                    A project describes the context where a Notice or Label is being applied. Project creators can edit a Local Contexts Project. Project contributors will receive a notification that the Project has been edited.
                </p>
            {% else %}
                <h2 class="no-bottom-margin">Create a Local Contexts Project</h2>
                <p class="w-90">
                    {% if researcher or institution %}
                        The first step for institutions and researchers to generate Notices is to create a Project within the Local Contexts Hub. 
                        A project describes the context where a Notice is being applied. For example, a project could include: a website, a university syllabus, 
                        a dissertation, a research publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, 
                        a photography collection, a voucher specimen, and/or metadata about a record. <br><br>

                        To create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.<br><br>

                        Remember that the audience for the project is the communities that you wish to engage with and who have rights, responsibilities, 
                        and interests in the material, information, and data.
                    {% endif %}
                    {% if community %}
                        You can apply your Traditional Knowledge and Biocultural Labels to projects. A project describes the context where a Label is being applied. 
                        For example, a project could include: a website, a university syllabus, a dissertation, a research publication, a dataset, a museum exhibition, 
                        an archival record, an item in a collection, a library database, a photography collection, a voucher specimen, and/or metadata about a record. <br><br>

                        When you create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.
                    {% endif %}
                </p>
            {% endif %}

        </div>

    <form method="POST" action="" id="createProjectForm">
        {% csrf_token %}

        <!-- Project Notices -->
        {% if institution or researcher %}
            <div class="content-card-v2 content-card-space">   
                <h3>Project Notice</h3>

                {% if project %}
                    {% if project.has_labels %}
                        Since Labels have been applied to this Project, Notices can no longer be added or removed.
                    {% else %}
                        {% include 'snippets/project_notices.html' %}
                    {% endif %}
                {% else %}
                    {% include 'snippets/project_notices.html' %}
                {% endif %}
            </div> <!-- end of Notices card-->
        {% endif %}

        <!-- Project Details -->
        <div class="content-card-v2 content-card-space">
            <h3>Project Information</h3>
            <p class="w-80">
                {% if institution or researcher %}
                    Provide the project information. When creating a Project, remember that your audience are the communities 
                    that you wish to engage with and who have rights, responsibilities, and interests in the material, information, 
                    and data. This project information can be sent to communities as a notification after creating the project below. 
                {% endif %}
                {% if community %}
                    Provide a summary of the project information.
                {% endif %}
            </p>

            {{ form.project_type.label }}
            <div class="tooltip"><strong>?</strong>
                <span class="tooltiptext">
                    For example, a Local Contexts Project could include adding a Notice to: 
                    <ul>
                        <li>
                            Item (a single record, photograph, sound recording, manuscript, archival document, digital heritage item, artwork), 
                        </li>
                        <li>
                            Collection (papers, language materials, DNA sequences, voucher specimens, researcher collection), 
                        </li>
                        <li>
                            Samples (biological, genetic, datasets), 
                        </li>
                        <li>
                            Expedition (collecting event, research trip), 
                        </li>
                        <li>
                            Publication (digital publication, website, research publication, archival publication), 
                        </li>
                        <li>
                            Exhibition (online or IRL), or
                        </li>
                        <li>
                            Something else (a university syllabus, metadata).
                        </li>
                    </ul>
                </span>
            </div>
            <div class="w-50 flex-this">
                <div class="w-50 margin-bottom-16 margin-right-8">
                    {{ form.project_type }}<br>
                    {% if form.project_type.errors %}
                        <div class="msg-red w-50"><small>{{ form.project_type.errors.as_text }}</small></div>
                    {% endif %}
                </div>

                <div id="otherTypeField" class="w-50 margin-bottom-16 hide">
                    {{ form.other_type }}<br>
                    {% if form.other_type.errors %}
                        <div class="msg-red w-50"><small>{{ form.other_type.errors.as_text }}</small></div>
                    {% endif %}
                </div>
            </div>


            <div class="padding-bottom-1 w-50">
                <label>Project Title*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">A couple of words identifying the project and making it accessible to your collaborators.</span>
                </div>
                <br>
                {{ form.title }} <br>
                {% if form.title.errors %}
                    <div class="msg-red w-50"><small>{{ form.title.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Description*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Briefly describe the project.</span>
                </div>
                <br>
                {{ form.description }} <br>
                {% if form.description.errors %}
                    <div class="msg-red w-80"><small>{{ form.description.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Links <small>(if applicable)</small></label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        Relevant link(s) to the object entry, catalog, collection or database with more information about the project, or where 
                        {% if community %} Labels {% endif %}
                        {% if researcher or institution %} Notices {% endif %}
                        may be added.<br><br>
                        Links can be added one by one, or separated by commas. Please make sure the links are valid and complete URLs (ex: starting with http or https).
                    </span>
                </div>
                <br>

                <div class="flex-this margin-top-8 margin-bottom-16">
                    <textarea id="projectLinksInput" class="w-100 block margin-right-8" rows="1"></textarea>
                    <div id="addProjectUrlBtn" class="add-square-btn pointer">
                        <span>+</span>
                    </div>
                </div>

                <ul id="projectLinksUl" class="ul-no-bullets ul-no-padding">
                    {% if urls %}
                        {% for url in urls %}
                            <li id="{{ url }}" class="margin-bottom-8 show">
                                <div class="grey-chip flex-this row space-between">
                                    <div><p class="center-name word-break">{{ url }}</p></div>
                                    <div id="btn-{{ url }}" class="removeProjectUrlBtn pointer margin-left-8">&times;</div>
                                </div>
                                <input type="hidden" value="{{ url }}" name="project_urls">                        
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            
        </div>

        <!-- Project Contacts -->
        <div class="content-card-v2 content-card-space">
            <h3>Project Contacts</h3>

            <span>Who is involved with this project?</span>                 
            <div class="tooltip"><strong>?</strong>
                <span class="tooltiptext">
                    Note that by adding project contributors, the visibility of this project will be set to contributor view.
                </span>
            </div>

            <p class="w-80">
                {% if institution or researcher %}
                    At this stage, you are not adding Indigenous communities as contributors. <br>
                    This project information can be sent to communities as a notification after creating the project. 
                {% endif %}
            </p>


            <div class="padding-bottom-1 w-50">
                <label>Project Contact Name* </label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Primary person to contact and discuss this project.</span>
                </div>
                <br>
                {{ form.project_contact }} <br>
                {% if form.project_contact.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact.errors.as_text }}</small></div>
                {% endif %}
            </div>


            <div class="padding-bottom-1 w-50">
                <label>Project Contact Email*</label><br>
                {{ form.project_contact_email }} <br>
                {% if form.project_contact_email.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact_email.errors.as_text }}</small></div>
                {% endif %}
            </div>

            {% include 'partials/_add-contributors.html'%}
        </div>

        <!-- Project Identifiers -->
        <div class="content-card-v2 content-card-space">
            <h3>Optional Project Information</h3>
            <p>This is an optional step to apply any identifiers or metadata already associated with this project.</p>

            <div class="padding-bottom-1 w-50">
                <label>Provider's Project ID</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        An external Project ID, like a catalog or accession number (or alternate project ID), that is already being used in a different system from the Local Contexts Hub.                    
                    </span>
                </div>
                <br>
                {{ form.providers_id }} <br>
                {% if form.providers_id.errors %}
                    <div class="msg-red w-50"><small>{{ form.providers_id.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Data GUID</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        A Globally Unique Identifier, such as an ARK identifier.
                    </span>
                </div>
                <br>
                {{ form.project_data_guid }} <br>
                {% if form.project_data_guid.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_data_guid.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project DOI</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        A persistent, unique identifier commonly assigned to digital publications, such as ebooks and journal articles.                    
                    </span>
                </div>
                <br>
                {{ form.publication_doi }} <br>
                {% if form.publication_doi.errors %}
                    <div class="msg-red w-50"><small>{{ form.publication_doi.errors.as_text }}</small></div>
                {% endif %}
            </div>
        </div>

        <!-- Project Visibility/Privacy -->
        <div class="content-card-v2 content-card-space">
            <h3>Visibility</h3>

            <div class="margin-bottom-1 margin-top-1 w-80">
                {{ form.project_privacy.label }}* 
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        <ul>
                            <li><span class="bold">Public:</span> Contributors and notified communities will be able to interact with the project. Limited project details (title, unique ID, attached Notices or Labels) can be accessed through the Hub API.</li><br>
                            <li><span class="bold">Contributor View:</span>  Contributors and notified communities will be able to interact with the project. Limited project details (title, unique ID) can be accessed through the Hub API.</li><br>
                            <li><span class="bold">Private:</span>  If contributors are added, communities are notified, or Labels applied, then the private project will be changed to contributor view. Private projects cannot be accessed with the Hub API. </li>
                        </ul>                  
                    </span>
                </div>
                <br> 
                {{ form.project_privacy }}
                {% if form.project_privacy.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_privacy.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <button id="submitProjectBtn" class="primary-btn action-btn margin-top-2">Save Project</button>
        </div>
    </form>


{% endblock %}
