{% extends 'base.html' %} {% block title %} Create Project {% endblock %} {% load static %} {% block content %}

        <div class="content-card-v2 content-card-space">
            <div>
                <small class="bold">
                    <a class="darkteal-text" 
                        {% if community %} href="{% url 'community-projects' community.id %}" {% endif %}
                        {% if institution %} href="{% url 'institution-projects' institution.id %}" {% endif %}
                        {% if researcher %} href="{% url 'researcher-projects' researcher.id %}" {% endif %}
                    >Projects
                    </a> 
                    <span class="grey-text"> >> Create New Project</span>
                </small>
            </div>
            <h2 class="no-bottom-margin">Create a Local Contexts Project</h2>
            <p class="w-90">
                {% if researcher or institution %}
                    The first step for institutions and researchers to generate Notices is to create a Project within the Local Contexts Hub. 
                    A project describes the context where a Notice is being applied. For example, a project could include: a website, a university syllabus, 
                    a dissertation, a research publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, 
                    a photography collection, a voucher specimen, and/or metadata about a record. <br><br>

                    To create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.<br><br>

                    Remember that the audience for the project is the communities that you wish to engage with and who have rights, responsibilities, 
                    and interests in the material, information, and data.
                {% endif %}
                {% if community %}
                    You can apply your Traditional Knowledge and Biocultural Labels to projects. A project describes the context where a Label is being applied. 
                    For example, a project could include: a website, a university syllabus, a dissertation, a research publication, a dataset, a museum exhibition, 
                    an archival record, an item in a collection, a library database, a photography collection, a voucher specimen, and/or metadata about a record. <br><br>

                    When you create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.
                {% endif %}
            </p>

        </div>

    <form method="POST" action="" id="createProjectForm">
        {% csrf_token %}

        <!-- Project Notices -->
        {% if institution or researcher %}
            <div class="content-card-v2 content-card-space">   

                <h3>Project Notice</h3>
                <p>
                    Select which Local Contexts Notice(s) apply to this Project. To use the Open to Collaborate Notice, 
                    <a 
                        {% if institution %}
                            href="{% url 'institution-notices' institution.id %}"
                        {% endif %}
                        {% if researcher %}
                            href="{% url 'researcher-notices' researcher.id %}"
                        {% endif %}
                        class="darkteal-text underline-hover"
                    >go to the Notices page</a>.
                </p><br>

                <div class="flex-this w-40 space-between margin-left-16">     
                    <div class="flex-this column center-text">
                        <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="73px" alt="black square with white letters TK in the middle"></div>
                        <div><p id="title-tk-notice" class="grey-text">Traditional<br> Knowledge Notice</p></div>
                        <div class="notice-checkbox-container">

                            <input 
                                id="tk-notice" 
                                value="tknotice" 
                                type="checkbox" 
                                name="checkbox-notice" 
                                {% if notices %}
                                    {% for notice in notices %}
                                        {% if notice.notice_type == 'traditional_knowledge' %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            > 
                        <span class="margin-left-8">Select</span></div>
                    </div>
            
                    <div class="flex-this column center-text margin-left-16">
                        <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="73px" alt="black square with white letters BC in the middle"></div>
                        <div><p id="title-bc-notice" class="grey-text">Biocultural<br> Notice</p></div>
                        <div class="notice-checkbox-container">

                            <input 
                                id="bc-notice" 
                                value="bcnotice" 
                                type="checkbox" 
                                name="checkbox-notice" 
                                {% if notices %}
                                    {% for notice in notices %}
                                        {% if notice.notice_type == 'biocultural' %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            >

                        <span class="margin-left-8">Select</span></div>
                    </div>


                    <div class="flex-this column center-text margin-left-16 align-center">
                        <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="73px"></div>
                        <div><p id="title-attr-notice" class="grey-text">Attribution Incomplete <br> Notice</p></div>
                        <div class="notice-checkbox-container">

                            <input 
                                id="attr-notice" 
                                value="attribution_incomplete" 
                                type="checkbox" 
                                name="checkbox-notice"
                                {% if notices %}
                                    {% for notice in notices %} 
                                        {% if notice.notice_type == 'attribution_incomplete'%} 
                                            checked 
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            >
                            <span class="margin-left-8">Select</span>
                        </div>
                    </div>

                </div>

                <h3>Notice Text</h3>
                {% if notices %}
                    {% for notice in notices %}

                        {% if notice.notice_type == 'traditional_knowledge' %}
                            <div 
                                id="show-description-tk-notice"
                                class="show"
                            >
                                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                                    <div class="w-80 pad-top-1">
                                        <h3 class="no-top-margin">Traditional Knowledge Notice</h3>
                                        <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if notice.notice_type == 'biocultural' %}
                            <div   
                                id="show-description-bc-notice" 
                                class="show"
                            >
                                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                                    <div class="w-80 pad-top-1">
                                        <h3 class="no-top-margin">Biocultural Notice</h3>
                                        <p>The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if notice.notice_type == 'attribution_incomplete' %} 
                            <div 
                                id="show-description-attr-notice" 
                                class="show"
                            >
                                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                                    <div class="w-80 pad-top-1">
                                        <h3 class="no-top-margin">Attribution Incomplete Notice</h3>
                                        <p>
                                            Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. <br> 
                                            For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                {% endif %}

                <div 
                    id="show-description-tk-notice"
                    class="hide"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Traditional Knowledge Notice</h3>
                            <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>

                <div   
                    id="show-description-bc-notice" 
                    class="hide"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Biocultural Notice</h3>
                            <p>The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>

                <div 
                    id="show-description-attr-notice" 
                    class="hide"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Attribution Incomplete Notice</h3>
                            <p>
                                Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. <br> 
                                For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- end of Notices card-->
        {% endif %}

        <!-- Project Details -->
        <div class="content-card-v2 content-card-space">
            <h3>Project Information</h3>
            <p class="w-80">
                {% if institution or researcher %}
                    Provide the project information. When creating a Project, remember that your audience are the communities 
                    that you wish to engage with and who have rights, responsibilities, and interests in the material, information, 
                    and data. This project information can be sent to communities as a notification after creating the project below. 
                {% endif %}
                {% if community %}
                    Provide a summary of the project information.
                {% endif %}
            </p>

            {{ form.project_type.label }}
            <div class="tooltip"><strong>?</strong>
                <span class="tooltiptext">
                    For example, a Local Contexts Project could include adding a Notice to: 
                    <ul>
                        <li>
                            Item (a single record, photograph, sound recording, manuscript, archival document, digital heritage item, artwork), 
                        </li>
                        <li>
                            Collection (papers, language materials, DNA sequences, voucher specimens, researcher collection), 
                        </li>
                        <li>
                            Samples (biological, genetic, datasets), 
                        </li>
                        <li>
                            Expedition (collecting event, research trip), 
                        </li>
                        <li>
                            Publication (digital publication, website, research publication, archival publication), 
                        </li>
                        <li>
                            Exhibition (online or IRL), or
                        </li>
                        <li>
                            Something else (a university syllabus, metadata).
                        </li>
                    </ul>
                </span>
            </div>
            <div class="w-50 flex-this">
                <div class="w-50 margin-bottom-16 margin-right-8">
                    {{ form.project_type }}<br>
                    {% if form.project_type.errors %}
                        <div class="msg-red w-50"><small>{{ form.project_type.errors.as_text }}</small></div>
                    {% endif %}
                </div>

                <div id="otherTypeField" class="w-50 margin-bottom-16 hide">
                    {{ form.other_type }}<br>
                    {% if form.other_type.errors %}
                        <div class="msg-red w-50"><small>{{ form.other_type.errors.as_text }}</small></div>
                    {% endif %}
                </div>
            </div>


            <div class="padding-bottom-1 w-50">
                <label>Project Title*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">A couple of words identifying the project and making it accessible to your collaborators.</span>
                </div>
                <br>
                {{ form.title }} <br>
                {% if form.title.errors %}
                    <div class="msg-red w-50"><small>{{ form.title.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Description*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Briefly describe the project.</span>
                </div>
                <br>
                {{ form.description }} <br>
                {% if form.description.errors %}
                    <div class="msg-red w-80"><small>{{ form.description.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Links (if applicable), separated by commas</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        Relevant link(s) to the object entry, catalog, collection or database with more information about the project, or where 
                        {% if community %} Labels {% endif %}
                        {% if researcher or institution %} Notices {% endif %}
                        may be added.
                    </span>
                </div>
                <br>
                <div class="margin-top-8">
                    <textarea class="w-100" name="project_urls"></textarea>
                </div>
            </div>
        </div>

        <!-- Project Contacts -->
        <div class="content-card-v2 content-card-space">
            <h3>Project Contacts</h3>

            <span>Who is involved with this project?</span>                 
            <div class="tooltip"><strong>?</strong>
                <span class="tooltiptext">
                    Note that by adding project contributors, the visibility of this project will be set to contributor view.
                </span>
            </div>

            <p class="w-80">
                {% if institution or researcher %}
                    At this stage, you are not adding Indigenous communities as contributors. <br>
                    This project information can be sent to communities as a notification after creating the project. 
                {% endif %}
            </p>


            <div class="padding-bottom-1 w-50">
                <label>Project Contact Name* </label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Primary person to contact and discuss this project.</span>
                </div>
                <br>
                {{ form.project_contact }} <br>
                {% if form.project_contact.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact.errors.as_text }}</small></div>
                {% endif %}
            </div>


            <div class="padding-bottom-1 w-50">
                <label>Project Contact Email*</label><br>
                {{ form.project_contact_email }} <br>
                {% if form.project_contact_email.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact_email.errors.as_text }}</small></div>
                {% endif %}
            </div>

            {% include 'partials/_add-contributors.html'%}
        </div>

        <!-- Project Identifiers -->
        <div class="content-card-v2 content-card-space">
            <h3>Optional Project Information</h3>
            <p>This is an optional step to apply any identifiers or metadata already associated with this project.</p>

            <div class="padding-bottom-1 w-50">
                <label>Provider's Project ID</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        An external Project ID, like a catalog or accession number (or alternate project ID), that is already being used in a different system from the Local Contexts Hub.                    
                    </span>
                </div>
                <br>
                {{ form.providers_id }} <br>
                {% if form.providers_id.errors %}
                    <div class="msg-red w-50"><small>{{ form.providers_id.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Data GUID</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        A Globally Unique Identifier, such as an ARK identifier.
                    </span>
                </div>
                <br>
                {{ form.project_data_guid }} <br>
                {% if form.project_data_guid.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_data_guid.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project DOI</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        A persistent, unique identifier commonly assigned to digital publications, such as ebooks and journal articles.                    
                    </span>
                </div>
                <br>
                {{ form.publication_doi }} <br>
                {% if form.publication_doi.errors %}
                    <div class="msg-red w-50"><small>{{ form.publication_doi.errors.as_text }}</small></div>
                {% endif %}
            </div>
        </div>

        <!-- Project Visibility/Privacy -->
        <div class="content-card-v2 content-card-space">
            <h3>Visibility</h3>

            <div class="margin-bottom-1 margin-top-1 w-80">
                {{ form.project_privacy.label }}* 
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">
                        <ul>
                            <li><span class="bold">Public:</span> Contributors and notified communities will be able to interact with the project. Limited project details (title, unique ID, attached Notices or Labels) can be accessed through the Hub API.</li><br>
                            <li><span class="bold">Contributor View:</span>  Contributors and notified communities will be able to interact with the project. Limited project details (title, unique ID) can be accessed through the Hub API.</li><br>
                            <li><span class="bold">Private:</span>  If contributors are added, communities are notified, or Labels applied, then the private project will be changed to discoverable. Private projects cannot be accessed with the Hub API. </li>
                        </ul>                  
                    </span>
                </div>
                <br> 
                {{ form.project_privacy }}
                {% if form.project_privacy.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_privacy.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <button id="submitProjectBtn" class="primary-btn action-btn margin-top-2">Save Project</button>
        </div>
    </form>


{% endblock %}
