{% extends 'base.html' %} {% block title %} | Create Project {% endblock %} {% load static %} {% block content %}

        <div class="content-card-v2 content-card-space white-bg">
            <div>
                <small>
                    <a class="darkteal-text" 
                        {% if community %} href="{% url 'community-projects' community.id %}" {% endif %}
                        {% if institution %} href="{% url 'institution-projects' institution.id %}" {% endif %}
                        {% if researcher %} href="{% url 'researcher-projects' researcher.id %}" {% endif %}
                    >Projects
                    </a> 
                    <span class="grey-text"> >> Create New Project</span>
                </small>
            </div>
            <h2 class="no-bottom-margin">Create a Local Contexts Project</h2>
            <p>A Local Context Project describes the research that Notice(s) or Label(s) can be applied to.</p>

        </div>

    <form method="POST" action="" id="createProjectForm">
        {% csrf_token %}

        <!-- Project Notices -->
        {% if institution or researcher %}
            <div class="content-card-v2 content-card-space white-bg">   

                <h3>Project Notice</h3>
                <p>Apply Local Contexts Notice(s) to this Project.</p><br>

                <div class="flex-this w-20 space-between margin-left-16">     
                    <div class="flex-this column center-text">
                        <div><img src="{% static 'images/notices/tk-notice.png' %}" width="73px" alt="black square with white letters TK in the middle"></div>
                        <div><p id="title-tk-notice" class="grey-text">Traditional<br> Knowledge Notice</p></div>
                        <div class="notice-checkbox-container">

                            <input 
                                id="tk-notice" 
                                onclick="showDescription()" 
                                value="tknotice" 
                                type="checkbox" 
                                name="checkbox-notice" 
                                {% if notice %}
                                    {% if notice.notice_type == 'traditional_knowledge' or notice.notice_type == 'biocultural_and_traditional_knowledge' %}
                                        checked
                                    {% endif %}
                                {% endif %}
                            > 
                        <span class="margin-left-8">Select</span></div>
                    </div>
            
                    <div class="flex-this column center-text margin-left-16">
                        <div><img src="{% static 'images/notices/bc-notice.png' %}" width="73px" alt="black square with white letters BC in the middle"></div>
                        <div><p id="title-bc-notice" class="grey-text">Biocultural<br> Notice</p></div>
                        <div class="notice-checkbox-container">

                            <input 
                                id="bc-notice" 
                                onclick="showDescription()" 
                                value="bcnotice" 
                                type="checkbox" 
                                name="checkbox-notice" 
                                {% if notice %}
                                    {% if notice.notice_type == 'biocultural' or notice.notice_type == 'biocultural_and_traditional_knowledge' %}
                                        checked
                                    {% endif %}
                                {% endif %}
                            >

                        <span class="margin-left-8">Select</span></div>
                    </div>

                    <!-- Institutional Notices -->
                    {% if institution %}
                        <div class="flex-this column center-text margin-left-16">
                            <div><img src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="73px"></div>
                            <div><p id="title-attr-notice" class="grey-text">Attribution <br>Incomplete Notice</p></div>
                            <div class="notice-checkbox-container">

                                <input 
                                    id="attr-notice" 
                                    onclick="showDescription()" 
                                    value="attribution_incomplete" 
                                    type="checkbox" 
                                    name="checkbox-notice"
                                    {% if institution_notice %} 
                                        {% if institution_notice.notice_type == 'attribution_incomplete' or institution_notice.notice_type == 'open_to_collaborate_and_attribution_incomplete'%} 
                                            checked 
                                        {% endif %}
                                    {% endif %}
                                >

                                <span class="margin-left-8">Select</span>
                            </div>
                        </div>

                        <div class="flex-this column center-text margin-left-16">
                            <div><img src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="73px"></div>
                            <div><p id="title-open-to-collaborate-notice" class="grey-text">Open to <br>Collaborate Notice</p></div>
                            <div class="notice-checkbox-container">

                                <input 
                                    id="open-to-collaborate-notice" 
                                    onclick="showDescription()" 
                                    value="open_to_collaborate" 
                                    type="checkbox" 
                                    name="checkbox-notice"
                                    {% if institution_notice %} 
                                        {% if institution_notice.notice_type == 'open_to_collaborate' or institution_notice.notice_type == 'open_to_collaborate_and_attribution_incomplete'%} 
                                            checked 
                                        {% endif %}
                                    {% endif %}
                                >
                                
                                <span class="margin-left-8">Select</span>
                            </div>
                        </div>
                    {% endif %}

                </div>

                <h3>Notice Text</h3>
                <div 
                    id="show-description-tk-notice"
                    {% if notice %} 
                        {% if notice.notice_type == 'traditional_knowledge' or notice.notice_type == 'biocultural_and_traditional_knowledge' %}
                            class="show"
                        {% else %}
                            class="hide"
                        {% endif %}
                    {% else %}
                        class="hide"
                    {% endif %}
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Traditional Knowledge Notice</h3>
                            <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" target="_blank"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>

                <div   
                    id="show-description-bc-notice" 
                    {% if notice %}
                        {% if notice.notice_type == 'biocultural' or notice.notice_type == 'biocultural_and_traditional_knowledge' %}
                            class="show"
                        {% else %}
                            class="hide"
                        {% endif %}
                    {% else %}
                        class="hide"
                    {% endif %}
                >

                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Biocultural Notice</h3>
                            <p>The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" target="_blank"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>

                <div 
                    id="show-description-attr-notice" 
                    {% if institution_notice %} 
                        {% if institution_notice.notice_type == 'attribution_incomplete' or institution_notice.notice_type == 'open_to_collaborate_and_attribution_incomplete' %}
                            class="show"
                        {% else %}
                            class="hide"
                        {% endif %}
                    {% else %}
                        class="hide"
                    {% endif %}
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Attribution Incomplete Notice</h3>
                            <p>
                                Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. <br> 
                                For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" target="_blank"><span class="darkteal-text">here</span></a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div 
                    id="show-description-open-to-collaborate-notice" 
                    {% if institution_notice %} 
                        {% if institution_notice.notice_type == 'open_to_collaborate' or institution_notice.notice_type == 'open_to_collaborate_and_attribution_incomplete' %}
                            class="show"
                        {% else %}
                            class="hide"
                        {% endif %}
                    {% else %}
                        class="hide"
                    {% endif %}
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Open to Collaborate Notice</h3>
                            <p>
                                Our institution is committed to the development of new modes of collaboration, engagement, and partnership with Indigenous peoples for the care and stewardship of past and future heritage collections. <br>
                                For more information about the Open to Collaborate Notice click <a href="https://localcontexts.org/notice/open-to-collaborate/" target="_blank"><span class="darkteal-text">here</span></a>.

                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- end of Notices card-->
        {% endif %} 

        <!-- Project Overview -->
        <div class="content-card-v2 content-card-space white-bg">
            <h3>Project Overview</h3>
            <p>A Local Contexts project relates to the item or group of items to which a Notice/Label will be attached. This could be a specific item/samples/publication or a group of items comprising a exhibition/expedition/collection.</p>
            <div class="w-40">
                {{ form.project_type.label }} <br>
                {{ form.project_type }}<br>
                {% if form.project_type.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_type.errors.as_text }}</small></div>
                {% endif %}
            </div>
            <div id="otherTypeField" class="w-40 margin-top-16 hide">
                <label>Other:</label> <br>
                {{ form.other_type }}<br>
                {% if form.other_type.errors %}
                    <div class="msg-red w-50"><small>{{ form.other_type.errors.as_text }}</small></div>
                {% endif %}
            </div>
        </div>
        </div>

        <!-- Project Details -->
        <div class="content-card-v2 content-card-space white-bg">
            <h3>Project Details</h3>
            <p>What is the high level information for this project?</p>
            <div class="padding-bottom-1 w-50">
                <label>Project Title*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">The project title should relate to the subject that is being captured in this project</span>
                </div>
                <br>
                {{ form.title }} <br>
                {% if form.title.errors %}
                    <div class="msg-red w-50"><small>{{ form.title.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Description*</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">The description can be thought of as an abstract or short summary of the project</span>
                </div>
                <br>
                {{ form.description }} <br>
                {% if form.description.errors %}
                    <div class="msg-red w-80"><small>{{ form.description.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project Link (if applicable)</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">A relevant link to the object entry, collection or database</span>
                </div>
                <br>
                {{ form.url }} <br>
                {% if form.url.errors %}
                    <div class="msg-red w-50"><small>{{ form.url.errors.as_text }}</small></div>
                {% endif %}
            </div>
        </div>

        <!-- Project Contacts -->
        <div class="content-card-v2 content-card-space white-bg">
            <h3>Project Contacts</h3>
            <p>Who is involved with this project?</p>

            <div class="padding-bottom-1 w-50">
                <label>Project Contact Name* </label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Primary contact to discuss this project</span>
                </div>
                <br>
                {{ form.project_contact }} <br>
                {% if form.project_contact.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact.errors.as_text }}</small></div>
                {% endif %}
            </div>


            <div class="padding-bottom-1 w-50">
                <label>Project Contact Email*</label><br>
                {{ form.project_contact_email }} <br>
                {% if form.project_contact_email.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_contact_email.errors.as_text }}</small></div>
                {% endif %}
            </div>

            {% include 'partials/_add-contributors.html'%}
        </div>

        <!-- Project Identifiers -->
        <div class="content-card-v2 content-card-space white-bg">
            <h3>Project Identifiers</h3>
            <p>This is an optional step to apply identifiers associated with this dataset. Please choose from the suggested options below and add accordingly.</p>

            <div class="padding-bottom-1 w-50">
                <label>Project Data GUID</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">A globally unique identifier for the data in this project. Recommended to use a resolvable URL containing a DOI or ARK identifier. Coming soon is the ability to generate a DOI here. GEOME does not automatically assign identifiers for all datasets since many datasets have been given GUIDs elsewhere</span>
                </div>
                <br>
                {{ form.project_data_guid }} <br>
                {% if form.project_data_guid.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_data_guid.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Project DOI</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">A globally unique identifier for a publication</span>
                </div>
                <br>
                {{ form.publication_doi }} <br>
                {% if form.publication_doi.errors %}
                    <div class="msg-red w-50"><small>{{ form.publication_doi.errors.as_text }}</small></div>
                {% endif %}
            </div>

            <div class="padding-bottom-1 w-50">
                <label>Recommended Citation</label>
                <div class="tooltip"><strong>?</strong>
                    <span class="tooltiptext">Recommended citation is how you would like this project to be credited or cited, such as in a publication</span>
                </div>
                <br>
                {{ form.recommended_citation }} <br>
                {% if form.recommended_citation.errors %}
                    <div class="msg-red w-50"><small>{{ form.recommended_citation.errors.as_text }}</small></div>
                {% endif %}
            </div>
        </div>

        <!-- Project Visibility/Privacy -->
        <div class="content-card-v2 content-card-space white-bg">
            <h3>Visibility</h3>

            <div class="margin-bottom-1 margin-top-1 w-70">
                {{ form.project_privacy.label }}*<br> 
                {{ form.project_privacy }}
                {% if form.project_privacy.errors %}
                    <div class="msg-red w-50"><small>{{ form.project_privacy.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <button id="submitProjectBtn" class="primary-btn action-btn margin-top-2">Save Project</button>
        </div>
    </form>


{% endblock %}
