{% load static %} {% load custom_project_tags %}
{% if request.user.is_authenticated %}
    {% if 'projects/actions/' in request.path %}
        <div class="project-header-div border-top-solid-teal flex-this space-between">
            <h2>Project comments
                <div class="tooltip" style="margin-left: 5px;"><strong>i</strong>
                    <span class="tooltiptext">
                        A place to discuss the Project with other contributors. <br> Providing your personal information is optional.
                        By providing it, you consent for it to be shown to other Hub users, see the 
                        <a href="https://localcontexts.org/privacy-policy/" class="white-text underline-hover" target="_blank" rel="noopener">Privacy Policy <i class="fa fa-external-link fa-xs" aria-hidden="true"></i></a>.
                    </span>
                </div> 
            </h2>
            <h2 class="margin-right-8 pointer" onclick="toggleProjectInfo(this, 'projectMessageDiv')"><i class="fa-solid fa-plus fa-xl darkteal-text"></i></h2>
        </div>
        <div id="projectMessageDiv" style="height: 0px; overflow: hidden;">
            <div>
                {% if institution or community %}
                    {% if member_role == 'admin' or member_role == 'editor' %}
                        {% include 'snippets/comment-box.html' %}
                    {% endif %} 
                {% endif %}

                {% if researcher %}
                    {% include 'snippets/comment-box.html' %}
                {% endif %}

                {% for comment in comments %}
                    <div class="border-top-grey">
                        <p>
                            <span class="bold">
                                {% firstof comment.sender.get_full_name comment.sender.username %} 
                                {% if comment.sender_affiliation %} | {{ comment.sender_affiliation }} {% endif %}
                            </span> <span class="grey-text">{{ comment.created|date:'m/d/Y' }}</span><br><br>
                            {{ comment.message }}
                        </p>
                    </div>
                {% empty %}
                    <p class="center-text"><small>No comments yet</small></p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
