{% load static %} {% load custom_project_tags %} {% block content %}

        <tr>
            <td>
                <a class="darkteal-text underline-hover bold pointer"
                    {% if community %}
                        href="{% url 'community-project-actions' community.id project.unique_id %}" 
                    {% elif institution %}
                        href="{% url 'institution-project-actions' institution.id project.unique_id %}" 
                    {% elif researcher %}
                        href="{% url 'researcher-project-actions' researcher.id project.unique_id %}" 
                    {% else %}
                        href="{% url 'view-project' project.unique_id %}" 
                    {% endif %}
                >
                    {{ project.title }}
                </a>
            </td>
            <td>
                {% for creator in project.project_creator_project.all %}
                    {% if 'projects-board' in request.path %}
                        {% if creator.community %}
                            <a class="darkteal-text underline-hover bold pointer" href="{% url 'public-community' creator.community.id %}">
                                {{ creator.community }}
                            </a>
                        {% endif %}
                        {% if creator.institution %} 
                            <a class="darkteal-text underline-hover bold pointer" href="{% url 'public-institution' creator.institution.id %}"> 
                                {{ creator.institution }}
                            </a> 
                        {% endif %}
                        {% if creator.researcher %}
                            <a class="darkteal-text underline-hover bold pointer" href="{% url 'public-researcher' creator.researcher.id %}"> 
                                {% firstof creator.researcher.user.get_full_name creator.researcher.user.username %}
                            </a>
                        {% endif %}
                    {% else %}
                        {% if creator.community %} {{ creator.community }} {% endif %}
                        {% if creator.institution %} {{ creator.institution }} {% endif %}
                        {% if creator.researcher %} {% firstof creator.researcher.user.get_full_name creator.researcher.user.username %} {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{{ project.date_modified|date:'d M Y' }}</td>
            {% if not 'projects-board' in request.path %}
                <td class="icon-tooltip-container visibility-icon-tooltip w-100">
                    <i 
                        {% if project.project_privacy == 'Public' %}
                            class="fa-solid fa-lg fa-eye"
                            aria-label='Public Project' 
                            data-tooltip='Public Project'
                        {% elif project.project_privacy == 'Contributor' %}
                            class="fa-solid fa-lg fa-people-group"  
                            aria-label='Contributor Project' 
                            data-tooltip='Contributor Project'
                        {% elif project.project_privacy == 'Private' %}
                            class="fa-solid fa-lg fa-lock"
                            aria-label='Private Project' 
                            data-tooltip='Private Project'
                        {% endif %}
                    ></i>
                </td>
            {% endif %}
            {% if 'projects-board' in request.path %}
                <td class="center-text green-text">
                    {% if project.has_notice %} <i class="fa-solid fa-circle-check fa-xl"></i> {% else %} <i class="fa-duotone fa-dash fa-xl"></i> {% endif %}
                </td>
                <td class="center-text green-text">
                    {% if project.has_labels %} <i class="fa-solid fa-circle-check fa-xl"></i> {% else %} <i class="fa-duotone fa-dash fa-xl"></i> {% endif %}
                </td>
            {% endif %}
        </tr>

{% endblock %}