{% load static %} {% load custom_project_tags %}
{% if request.user.is_authenticated %}
    {% if 'projects/actions/' in request.path %}
        <div class="border-top-solid-teal border-bottom-solid-teal">
            <h2>Project messages</h2>
        </div>
        <div>
            <div>
                {% for comment in comments %}
                    <div class="border-top-grey">
                        <p>
                            <span class="bold">
                                {% firstof comment.sender.get_full_name comment.sender.username %} 
                                {% if comment.sender_affiliation %} | {{ comment.sender_affiliation }} {% endif %}
                            </span> <span class="grey-text">{{ comment.created|date:'m/d/Y' }}</span><br><br>
                            {{ comment.message }}
                        </p>
                    </div>
                {% empty %}
                    <p class="center-text">No messages yet</p>
                {% endfor %}

                {% if institution or community %}
                    {% if member_role == 'admin' or member_role == 'editor' %}
                        {% include 'snippets/comment-box.html' %}
                    {% endif %} 
                {% endif %}

                {% if researcher %}
                    {% include 'snippets/comment-box.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}
