{% extends 'base.html' %} {% block title %} Projects {% endblock %} {% load static %} {% load custom_project_tags %} {% block content %}

    <!-- Create Project button card -->
    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div class="w-60"><h2 class="no-top-margin">Local Contexts Projects</h2></div>

            {% if community or institution %}
                {% if member_role == 'admin' or member_role == 'editor' %}
                    <div class="flex-this align-center">
                        <a class="primary-btn green-btn margin-top-2 "
                            {% if community %} href="{% url 'create-project' community.id %}" {% endif %}
                            {% if institution %} href="{% url 'inst-create-project' institution.id %}" {% endif %}
                        >
                            Create a Project <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="flex-this align-center">
                    <a class="primary-btn green-btn margin-top-2 " href="{% url 'researcher-create-project' researcher.id %}">
                        Create a Project <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="w-70">
            <p class="no-top-margin">
                {% if institution or researcher %}
                    Institutions and researchers can only generate Notices. Institutions and researchers generate Notices by creating a Project within the Local Contexts Hub. 
                    Local Contexts projects describe the context where Notices are being applied. For example, a project could include: a website, a university syllabus, a dissertation, 
                    a research publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, a photography collection, a voucher specimen 
                    and/or metadata about a record. <br><br>

                    Applying Notices allows institutions and researchers to engage, acknowledge, and make visible Indigenous interests in collections, information, and data. 
                    Communities may then choose how and when to add their Labels.<br><br>
                {% endif %}

                {% if community %}
                    You can apply your Traditional Knowledge and Biocultural Labels to projects. You can create a project or a project might be shared with you by an institution or researcher. 
                    Local Contexts projects describe the context where Labels are being applied. For example, a project could include: a website, a university syllabus, a dissertation, a research 
                    publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, a photography collection, a voucher specimen and/or metadata 
                    about a record. <br><br>
                {% endif %}

                When you create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.
            </p>
        </div>

        <hr class="searchbar-divider">

        <div class="flex-this">
            <div class="margin-right-16">
                <form class="default-searchbar" method="GET" action="">
                    <input type="search" name="q" placeholder="Search" autocomplete="off">
                    <button class="search-btn"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="flex-this align-center">
                <div>
                    Sort:
                        <a 
                            class="darkteal-text pointer underline-hover{% if 'projects/' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects' community.id %}"
                            {% endif %}
                        >
                            All </a> |
                        <a 
                            class="darkteal-text pointer underline-hover {% if 'projects-labels' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects-labels' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects-labels' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects-labels' community.id %}"
                            {% endif %}
                        >
                        Labels</a> |
                        <a 
                            class="darkteal-text pointer underline-hover {% if 'projects-notices' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects-notices' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects-notices' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects-notices' community.id %}"
                            {% endif %}
                        >
                        Notices</a> |
                        <a 
                            class="darkteal-text pointer underline-hover {% if 'projects-created' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects-creator' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects-creator' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects-creator' community.id %}"
                            {% endif %}
                        >
                        Created</a> |
                        <a 
                            class="darkteal-text pointer underline-hover {% if 'projects-contributing' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects-contributor' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects-contributor' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects-contributor' community.id %}"
                            {% endif %}
                        >
                        Contributed</a> |
                        <a 
                            class="darkteal-text pointer underline-hover {% if 'projects-archived' in request.path %} bold {% endif %}" 
                            {% if institution %}
                                href="{% url 'institution-projects-archived' institution.id %}"
                            {% endif %}
                            {% if researcher %}
                                href="{% url 'researcher-projects-archived' researcher.id %}"
                            {% endif %}
                            {% if community %}
                                href="{% url 'community-projects-archived' community.id %}"
                            {% endif %}
                        >
                        Archived</a>            
                </div>

            </div>
        </div>

    </div>

    {% if results %}
        {% for project in results %}
            {% include 'projects/project-overview.html' %}
        {% endfor %}
    {% else %}
        {% for project in items %}
            {% include 'projects/project-overview.html' %}
        {% endfor %}  
    {% endif %}

    {% if not results and not items %}
        <div class="w-100 center-text margin-top-16 margin-bottom-16" style="margin-top: 100px;">
            <h2>There are no Projects yet</h2>
            <h3>Let's create a Project!</h3>
            <p>Click the button above to start.</p>
        </div>  
    {% endif %}

    {% include 'snippets/pagination.html' %}

{% endblock %}