{% extends 'base.html' %} {% block title %} Projects {% endblock %} {% load static %} {% load custom_project_tags %} {% block content %}

    <!-- Create Project button card -->
    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div class="w-60"><h2 class="no-top-margin">Local Contexts Projects</h2></div>

            {% if community or institution %}
                {% if member_role == 'admin' or member_role == 'editor' %}
                    <div class="flex-this align-center">
                        <a class="primary-btn green-btn margin-top-2 "
                            {% if community %} href="{% url 'create-project' community.id %}" {% endif %}
                            {% if institution %} href="{% url 'inst-create-project' institution.id %}" {% endif %}
                        >
                            Create a Project <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="flex-this align-center">
                    <a class="primary-btn green-btn margin-top-2 " href="{% url 'researcher-create-project' researcher.id %}">
                        Create a Project <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="w-70">
            <p class="no-top-margin">
                {% if institution or researcher %}
                    Institutions and researchers can only generate Notices. Institutions and researchers generate Notices by creating a Project within the Local Contexts Hub. 
                    Local Contexts projects describe the context where Notices are being applied. For example, a project could include: a website, a university syllabus, a dissertation, 
                    a research publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, a photography collection, a voucher specimen 
                    and/or metadata about a record. <br><br>

                    Applying Notices allows institutions and researchers to engage, acknowledge, and make visible Indigenous interests in collections, information, and data. 
                    Communities may then choose how and when to add their Labels.<br><br>
                {% endif %}

                {% if community %}
                    You can apply your Traditional Knowledge and Biocultural Labels to projects. You can create a project or a project might be shared with you by an institution or researcher. 
                    Local Contexts projects describe the context where Labels are being applied. For example, a project could include: a website, a university syllabus, a dissertation, a research 
                    publication, a dataset, a museum exhibition, an archival record, an item in a collection, a library database, a photography collection, a voucher specimen and/or metadata 
                    about a record. <br><br>
                {% endif %}

                When you create a Local Contexts Project, you will be asked for project details and contacts, and have the option to add metadata.
            </p>
        </div>

        <hr class="searchbar-divider">

        <div class="flex-this">
            <div class="margin-right-16">
                <form class="default-searchbar" method="GET" action="">
                    <input type="search" name="q" placeholder="Search" autocomplete="off">
                    <button class="search-btn"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="flex-this align-center">
                <form method="GET" action="" class="flex-this">
                    <select name="sort" class="project-sort">
                        <option
                            class="darkteal-text pointer" 
                            value="all"
                        >
                            Sort: All
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="has_labels"
                            {% if has_labels %} selected {% endif %}
                        >
                            Sort: Labels
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="has_notices"
                            {% if has_notices %} selected {% endif %}
                        >
                            Sort: Notices
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="created"
                            {% if created %} selected {% endif %}
                        >
                            Sort: Created
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="contributed"
                            {% if contributed %} selected {% endif %}
                        >
                            Sort: Contributed
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="archived"
                            {% if is_archived %} selected {% endif %}
                        >
                            Sort: Archived
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="title_az"
                            {% if title_az %} selected {% endif %}
                        >
                            Sort: Title A-Z
                        </option>
                    </select>  
                    <input class="primary-btn action-btn margin-left-8" type="submit" value="Sort"> 
                </form>


            </div>
        </div>

    </div>

    <div class="content-card-v2 table-card white-bg">
        <table class="projects-table">
            <tr>
                <th><i class="fa-regular fa-line-columns"></i> Title</th>
                <th><i class="fa-light fa-user"></i> Creator</th>
                <th>Level</th>
                <th><i class="fa-light fa-calendar"></i> Last updated</th>
                <th>Visibility</th>
            </tr>

            {% if results %}
                {% for project in results %}
                    {% include 'projects/project-overview.html' %}
                {% endfor %}
            {% else %}
                {% for project in items %}
                    {% include 'projects/project-overview.html' %}
                {% endfor %}  
            {% endif %}

        </table>
      </div>

    {% if not results and not items %}
        <div class="w-100 center-text margin-top-16 margin-bottom-16" style="margin-top: 100px;">
            <h2>There are no Projects yet</h2>
            <h3>Let's create a Project!</h3>
            <p>Click the button above to start.</p>
        </div>  
    {% endif %}

    {% include 'snippets/pagination.html' %}

{% endblock %}