{% extends 'base.html' %} {% block title %} Projects {% endblock %} {% load static %} {% load custom_project_tags %} {% block content %}

<div id="full-div-card-{{ project.unique_id }}" class="content-card-v2 content-card-space show">
    <div id="project-unique-{{ project.unique_id }}" class="flex-this space-between">

        <div class="w-60 flex-this column">
            <div>
                <a class="primary-black-text underline-hover"
                    {% if community %}
                        href="{% url 'community-project-actions' community.id project.unique_id %}" 
                    {% endif %}
                    {% if institution %}
                        href="{% url 'institution-project-actions' institution.id project.unique_id %}" 
                    {% endif %}
                    {% if researcher %}
                        href="{% url 'researcher-project-actions' researcher.id project.unique_id %}" 
                    {% endif %}
                >
                    <h2 class="no-bottom-margin no-top-margin">{{ project.title }}</h2>
                </a>
            </div>
            <div>
                <p>
                    <span class="bold block margin-bottom-8">     
                        {{ project.date_added|date:'M d, Y' }} | 
                        {% if project.project_type == 'Other' %} 
                            {{ project.other_type }}
                        {% else %} 
                            {{ project.project_type }} 
                        {% endif %}| 
                        {{ project.project_privacy }}
                    </span>


                    {% for creator in project.project_creator_project.all %}

                        {% if community %}
                            <span class="bold">
                                {% if community == creator.community %} Created {% else %} Shared {% endif %} by
                            </span>
                        {% endif %}

                        {% if institution %}
                            <span class="bold">
                                {% if institution == creator.institution %} Created {% else %} Shared {% endif %} by
                            </span>
                        {% endif %}

                        {% if researcher %}
                            <span class="bold">
                                {% if researcher == creator.researcher %} Created {% else %} Shared {% endif %} by
                            </span>
                        {% endif %}

                        {% firstof creator.community creator.institution creator.researcher %}
                    {% endfor %}
                </p>
            </div>
        </div>

        <!-- Ellipsis dropdown -->
        <div class="w-40 flex-this column align-right">
            <div class="flex-this w-100 flex-end">
                <div class="dropdown">
                    <a onclick="toggleKebabMenu(this)" id="ellipsis-{{ project.unique_id }}" class="kebab pointer"><i class="fa-solid fa-ellipsis fa-xl primary-black-text"></i></a>
                    <div id="ellipsis-content-{{ project.unique_id }}" class="ellipsis-dropdown-content hide"> 

                        {% if request.user == project.project_creator %}
                            <a
                                class="primary-black-text block"

                                {% if community %}
                                    href="{% url 'edit-project' community.id project.unique_id %}"
                                {% endif %}
                                {% if institution %}
                                    href="{% url 'inst-edit-project' institution.id project.unique_id %}"
                                {% endif %}                        
                                {% if researcher %}
                                    href="{% url 'researcher-edit-project' researcher.id project.unique_id %}"
                                {% endif %}   
                            >
                                Edit Project 
                            </a>                                                         
                        {% endif %}   
                        
                        <a class="primary-black-text block" href="{% url 'download-project-zip' project.unique_id %}">
                            Download
                        </a>                                          
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}