{% load static %}

        <div class="flex-this space-between">
            <div class="w-80">

                {% if member_role == 'viewer' %}

                {% else %}

                    <form method="POST" action="">
                        {% csrf_token %}
                        <input id="notice-id-input-{{ notice.id }}" type="hidden" value="placeholder" name="notice-id">
                        <input id="status-selection-input-{{ notice.id }}" type="hidden" value="placeholder" name="notice-status">

                        <div><span class="weight-500">What would you like to do with this notice? </span></div>
                        <div class="flex-this">
                            <div class="margin-right-1"><select id="select-{{ notice.id }}" onchange="setNoticeID(this)">

                                {% for status in notice.notice_status.all %}
                                    {% if status.community == community %}

                                        {% if not status.seen and status.status == None %}
                                            <option disabled selected="selected"> ----------------- </option>
                                            <option value="seen"> Acknowledge Notice </option>
                                            <option value="pending"> Labels Pending </option>
                                            <option value="not_pending"> No Labels Pending </option>
                                        {% endif %} 

                                        {% if status.seen and status.status == None %}
                                            <option disabled> ----------------- </option>
                                            <option value="seen" selected="selected"> Acknowledge Notice </option>
                                            <option value="pending"> Labels Pending </option>
                                            <option value="not_pending"> No Labels Pending </option>
                                        {% endif %} 

                                        {% if status.seen and status.status == 'pending' %}
                                            <option disabled> ----------------- </option>
                                            <option value="seen"> Acknowledge Notice </option>
                                            <option value="pending" selected="selected"> Labels Pending </option>
                                            <option value="not_pending"> No Labels Pending </option>
                                        {% endif %}

                                        {% if status.seen and status.status == 'not_pending' %}
                                            <option disabled> ----------------- </option>
                                            <option value="seen"> Acknowledge Notice </option>
                                            <option value="pending"> Labels Pending </option>
                                            <option value="not_pending" selected="selected"> No Labels Pending </option>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                        </select></div>
                        <div class="margin-left-1"><button class="action-btn" name="notify-btn">Notify</button></div>
                    </div>

                    </form>

                {% endif %}

            </div>
        </div>



