{% extends 'base.html' %} {% block title %} Projects {% endblock %} {% load static %} {% load custom_project_tags %} {% block content %}

        <tr>
            <td>
                <a class="darkteal-text underline-hover bold"
                    {% if community %}
                        href="{% url 'community-project-actions' community.id project.unique_id %}" 
                    {% endif %}
                    {% if institution %}
                        href="{% url 'institution-project-actions' institution.id project.unique_id %}" 
                    {% endif %}
                    {% if researcher %}
                        href="{% url 'researcher-project-actions' researcher.id project.unique_id %}" 
                    {% endif %}
                >
                    {{ project.title }}
                </a>
            </td>
            <td>
                {% for creator in project.project_creator_project.all %}
                    {% if creator.community %} {{ creator.community }} {% endif %}
                    {% if creator.institution %} {{ creator.institution }} {% endif %}
                    {% if creator.researcher %} {% firstof creator.researcher.user.get_full_name creator.researcher.user.username %} {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if project.source_project_uuid %}
                    <span class="orange-tag">Sub</span>
                {% else %}
                    <span class="green-tag">Source</span>
                {% endif %}
            </td>
            <td>{{ project.date_modified|date:'d M Y' }}</td>
            <td>
                <i 
                    class="fa-solid fa-lg 
                    {% if project.project_privacy == 'Public' %}
                        fa-lock-open
                    {% elif project.project_privacy == 'Contributor' %}
                        fa-eye
                    {% elif project.project_privacy == 'Private' %}
                        fa-lock 
                    {% endif %}"
                ></i>
            </td>
        </tr>

{% endblock %}