{% extends 'base.html' %} {% block title %} View Project {% endblock %} {% load static %} {% load custom_project_tags %} {% block content %}
{% include 'partials/headers/_auth-header.html' %}
{% discoverable_project_view request.user project.unique_id as user_can_view %}

    {% if project.project_privacy == 'Public' %}

        {% include 'partials/_project.html' %}

    {% elif project.project_privacy == 'Discoverable' %}
        <!-- Logged in user -->
        {% if request.user.is_authenticated %}
            {% if user_can_view %}
                {% include 'partials/_project.html' %}
            {% else %}
                {% include 'partials/_project-discoverable.html' %}
            {% endif %}
        {% else %}
            {% include 'partials/_project-discoverable.html' %}
        {% endif %}

    {% elif project.project_privacy == 'Private' %}

        <!-- If project is private and project creator is accessing it -->
        {% if project.project_creator == request.user %}
            {% include 'partials/_project.html' %}
        {% else %}
            <div class="content-card-v2 content-card-space">
                <h3>This Project is private and cannot be viewed.</h3>
            </div>
        {% endif %}

    {% endif %}

{% include 'partials/footers/_auth-footer.html' %}

{% endblock %}