{% extends 'base.html' %} {% block title %} | View Project {% endblock %} {% load static %} {% block content %}
{% include 'partials/_auth-header.html' %}

<section class="grey-bg">

    <div class="content-card-v2 content-card-space white-bg">
        
        <div class="flex-this space-between">
            <div class="flex-this column w-100">
                <div class="margin-top-1">
                    <!-- TODO: back to where? based on who is looking at the project -->
                    <div>
                        <a href="#" class="green-btn">
                        <i class="fa fa-long-arrow-left"></i> Back</a></div>
                    <p class="p-24 bold">Project Archive</p>
                    <p>Listed below is an archive of all of the information that is associated with this project.<br>
                        If you would like to edit this project again, you can do so until a community has applied a Label to this project. </p>
                </div>
            </div>
            <div class="flex-this w-30">
                <div class="margin-left-1"><a class="action-btn">Share Project <i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
            </div>
        </div>

    </div>

        <div class="content-card content-card-space white-bg">
            
            <div class="flex-this margin-right-1 margin-left-1">
                <div class="flex-this column w-60">
                    <div><p class="p-28 bold">{{ project.title }}</p></div>
                    <div><p class="bold">{{ project.date_added|date:'d F Y' }} | 
                        {{ project.project_type }} |
                        {% if project.is_public %}
                            Public
                        {% else %}
                            {% if project.is_discoverable %}
                                Discoverable
                            {% else %}
                                Private
                            {% endif %}
                        {% endif %}
                    </p></div>

                    <div>
                        <p class="p-24 bold no-top-margin">Project Information</p>
                        <span class="bold">Project description</span><br>
                        <p>{{ project.description }}</p>
                    </div>

                    <div>
                        <p class="bold">Project contact details</p>
                        <p>
                            Name | {{ project.project_contact }} <br>
                            Email | {{ project.project_contact_email }}
                        </p>
                    </div>

                    <div>
                        <p class="bold">Project contributors</p>
                        <p>
                            <ul>
                                {% if project.project_contributors.communities %}
                                    {% for community in project.project_contributors.communities.all %}
                                        <li>{{ community.community_name }} | Community</li>
                                    {% endfor %}
                                {% endif %}

                                {% if project.project_contributors.institutions %}
                                    {% for institution in project.project_contributors.institutions.all %}
                                        <li>{{ institution.institution_name }} | Institution <br></li>
                                    {% endfor %}
                                {% endif %}

                                {% if project.project_contributors.researchers %}
                                    {% for researcher in project.project_contributors.researchers.all %}
                                        <li>{{ researcher.user.get_full_name }} | Researcher <br></li>
                                    {% endfor %}
                                {% endif %}
                                {% if project.additional_contributors %}
                                    {% for contributor in project.additional_contributors.all %}
                                        <li>{{ contributor.name }} | Contributor </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </p>
                    </div>

                    <div>
                        <p class="p-24 bold no-bottom-margin">Project Identifiers</p>

                        <div class="flex-this space-between">
                            <div><p><span class="bold">Local Contexts Project ID</span> <br>{{ project.unique_id }}<br></p></div>
                            <div class="margin-top-1">
                                {% if project.unique_id %}
                                    <a href="#" class="action-btn">Copy Local Contexts ID <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex-this space-between">
                            <div><p><span class="bold">GEOME Project ID</span><br> {{ project.geome_project_id }}<br></p></div>
                            <div class="margin-top-1">
                                {% if project.geome_project_id %}
                                    <a href="https://geome-db.org/workbench/project-overview?projectId={{ project.geome_project_id }}" class="action-btn">View in GEOME <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex-this space-between">
                            <div><p><span class="bold">Project DOI</span> <br>{{ project.publication_doi }} <br></p></div>
                            <div class="margin-top-1">
                                {% if project.publication_doi %}
                                    {% if 'https://' not in project.publication_doi %}
                                        <a href="https://www.doi.org/{{ project.publication_doi }}" class="action-btn">Project DOI <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="flex-this space-between">
                            <div><p><span class="bold">Project Data GUID</span><br> {{ project.project_data_guid }}<br></p></div>
                            <div class="margin-top-1">
                                {% if project.project_data_guid %}
                                    <a href="#" class="action-btn">Copy GUID <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div><p><span class="bold">Recommended Citation</span><br> {{ project.recommended_citation }}<br></p></div>

                    </div>
                </div>
                
                <!-- PROJECT IMAGES -->
                <div class="w-40 flex-this column">
                    <div class="text-align-right margin-top-16">

                        {% if project.project_image %}
                            <div><img src="{{ project.project_image.url }}" width="320px" height="180px"></div>
                        {% else %}
                            <div class="w-100">
                                <img src="{% static 'images/placeholders/placeholder-img.png' %}" width="320px" height="180px">
                            </div>
                            <div class="flex-this w-100">
                                <div class="flex-this row space-between w-70" style="margin-left:auto; width: 320px;">
                                    <div class="margin-right-1">
                                        <img src="{% static 'images/placeholders/placeholder-img.png' %}" width="74px" height="42px">
                                    </div>
                                    <div class="margin-right-1">
                                        <img src="{% static 'images/placeholders/placeholder-img.png' %}" width="74px" height="42px">
                                    </div>
                                    <div class="margin-right-1">
                                        <img src="{% static 'images/placeholders/placeholder-img.png' %}" width="74px" height="42px">
                                    </div>
                                    <div>
                                        <img src="{% static 'images/placeholders/placeholder-img.png' %}" width="74px" height="42px">
                                    </div>
                                </div>

                            </div>
                        {% endif %}

                    </div>
                </div>
            
            </div>

            <div class="margin-right-1 margin-left-1">
                <div><p class="p-24 bold">Project Notice</p></div>

                {% if project.project_tknotice.all %}
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1">
                            <img src="{% static 'images/notices/tk-notice.png' %}" width="78" height="78" alt="black square with white letters TK in the middle">
                        </div>

                        <div class="w-80 pad-top-1">
                            <h3 class="weight-500 no-top-margin">Traditional Knowledge Notice</h3>
                                <p>
                                    The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" target="_blank"><span class="darkteal-text">here</span></a>.
                                </p>
                        </div>
                    </div>
                {% endif %}

                {% if project.project_bcnotice.all %}
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1">
                            <img src="{% static 'images/notices/bc-notice.png' %}" width="78" height="78" alt="black square with white letters BC in the middle">
                        </div>

                        <div class="w-80 pad-top-1">
                            <h3 class="weight-500 no-top-margin">Biocultural Notice</h3>
                                <p>
                                    The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" target="_blank"><span class="darkteal-text">here</span></a>.
                                </p>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="margin-right-1 margin-left-1">
                <div><p class="p-24 bold">Project Labels</p></div>

                {% if project.bclabels.all %}
                    {% for bclabel in project.bclabels.all %}

                        <div>
                            <div class="flex-this">
                                <div class="small-label pad-top-1-5">
                                    {% include 'bclabels/which-label.html' %}
                                </div>
                                <div class="pad-left-2">
                                    <p class="darkteal-text">Label shared by {{ bclabel.community.community_name }} </p>
                                    <p class="weight-500"> {{ bclabel.name }} </p>
                                    <p>
                                        {{ bclabel.default_text}}
                                    </p>

                                    {% include 'partials/_label-translation.html' %}

                                </div>
                            </div>
                            <div class="border-bottom-solid-teal margin-top-1"></div>
                        </div>

                    {% endfor %}
                {% endif %}

                {% if project.tklabels.all %}
                {% for tklabel in project.tklabels.all %}

                    <div>
                        <div class="flex-this">
                            <div class="small-label pad-top-1-5">
                                {% include 'tklabels/which-label.html' %}
                            </div>
                            <div class="pad-left-2">
                                <p class="darkteal-text">Label shared by {{ tklabel.community.community_name }} </p>
                                <p class="weight-500"> {{ tklabel.name }} </p>
                                <p>
                                    {{ tklabel.default_text}}
                                </p>

                                {% include 'partials/_label-translation.html' %}

                            </div>
                        </div>
                        <div class="border-bottom-solid-teal margin-top-1"></div>
                    </div>

                {% endfor %}
            {% endif %}

            </div>

        </div>

</section>

{% include 'partials/_auth-footer.html' %}

{% endblock %}