{% load static %}
<div class="dashcard show">
    <div class="flex-this">

        <div class="dashcard-img-container">
            <img loading="lazy" 
                class="profile-img" 
                src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                alt="{{ community.community_name }} image"
            >
        </div>
        <div class="flex-this column dashcard-text-container">
            <div><h3 class="dashcard-h3 darkteal-text">{{ community }}</h3></div>
            <div>
                <p class="dashcard-subheader">
                    Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | 
                    Location: {{ community.get_location }}
                </p>
            </div>
            <div><p class="dashcard-description description-sm">
                    {% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}
            </p></div>
        </div>

        <div class="dashcard-btn-container">
            <div class="margin-left-16">
                {% if '/registry/' in request.path %}
                    <a 
                        class="primary-btn action-btn"
                        href="{% url 'public-community' community.id %}" 
                    >View public page</a>
                {% endif %}
 
                {% if '/dashboard/' in request.path %}
                    {% if approved_label %}
                        {% if request.user in community.get_collaborator or request.user == community.community_creator %}
                            <a class="primary-btn action-btn" href="{% url 'community-projects' community.id %}">View account</a>
                        {% endif %}
                    {% else %}
                        <a class="primary-btn action-btn" href="{% url 'select-label' community.id %}">View account</a>
                    {% endif %} 
                {% endif %}

                {% if request.user in  community.get_viewers and approved_label %}
                    <a class="primary-btn action-btn" href="{% url 'select-label' community.id %}">View account</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>