{% load static %}
<div class="dashcard show">
    <div class="flex-this">

        <div class="dashcard-img-container">
            <img loading="lazy" 
                class="profile-img" 
                src="{% if institution.image %} {{ institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                alt="{{ institution.institution_name }} image"
            >
        </div>
        <div class="flex-this column dashcard-text-container">
            <div><h3 class="dashcard-h3 darkteal-text">
                {{ institution }}
            </h3></div>
            <div>
                <p class="dashcard-subheader">
                    Institution | Members: {% if institution.get_member_count < 10 %}0{{ institution.get_member_count }}{% else %}{{ institution.get_member_count }}{% endif %} | 
                    Location: {{ institution.get_location }}
                </p>
            </div>
            <div><p class="dashcard-description description-sm">
                {% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}
            </p></div>
        </div>

        <div class="dashcard-btn-container">
            <div class="margin-left-16">
                {% if '/registry/' in request.path %}
                    <div class="margin-bottom-16">
                        <a 
                            class="primary-btn action-btn"
                            href="{% url 'public-institution' institution.id %}"                    
                        >View public page</a>                        
                    </div>
                    {% if institution.otc_institution_url.all %}
                        <div class="flex-this flex-end">
                            <img src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="60px">
                        </div>
                    {% endif %}
                {% endif %}

                {% if '/dashboard/' in request.path %}
                    {% if institution_projects %}
                        {% if request.user in institution.get_distinct_creators  %}
                            <a 
                                class="primary-btn action-btn"
                                href="{% url 'institution-projects' institution.id %}"
                            >View account</a>
                        {% else %}
                            <a 
                                class="primary-btn action-btn"
                                href="{% url 'institution-notices' institution.id %}"
                            >View account</a>
                        {% endif %}
                    {% else %}
                        <a 
                            class="primary-btn action-btn"
                            href="{% url 'institution-notices' institution.id %}"
                        >View account</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
</div>