{% load static %}{% load custom_institution_tags %}
{% institution_notifications institution as notifications %}
{% unread_notifications institution as unread_exist %}

    <div class="dashcard auto-margin">
        
        <!-- Top Nav -->
        <div class="flex-this w-100 space-between">
            <div class="loc">
                <a href="{% url 'dashboard' %}" class="darkteal-text underline-hover">
                    {% if request.user.first_name %}{{ request.user.get_full_name }}
                    {% else %}{{ request.user }}{% endif %}
                </a> 
                >> {{ institution.institution_name }}
            </div>

            <!-- Notifications -->
            <div class="flex-this w-30 flex-end">
                <div class="dropdown">
                    <a onclick="toggleNotifications()" class="primary-btn white-btn dropbtn"> 
                        Notifications 
                        <i 
                        class="fa {% if unread_exist %} fa-bell orange-text {% else %} fa-bell-o {% endif %}" 
                        aria-hidden="true"
                        ></i>
                    </a>
                        <div id="notification-v2" class="notification-dropdown-content">
                        <div class="border-bottom-solid-teal center-text">
                            <span class="orange-text">{{ institution.institution_name }} Notifications</span>
                        </div>

                        {% if notifications %}
                            {% for n in notifications %}

                                <div class="border-bottom-solid-teal">
                                    {% if n.notification_type == 'Labels' or n.notification_type == 'Projects' %}
                                    <!-- TODO: Figure out what this URL should link to -->
                                        {% if n.reference_id %}
                                            <a href="{% anchor 'institution-projects' n.reference_id institution.id %}" id="{{ institution.id }}_{{ n.id }}" onclick="markAsReadInstitution(this); return true;">
                                        {% else %}
                                            <a href="{% url 'institution-projects' institution.id %}" id="{{ institution.id }}_{{ n.id }}" onclick="markAsReadInstitution(this); return true;">
                                        {% endif %}
                                    {% endif %}
                                    {% if n.notification_type == 'Connections' %}
                                        <a href="#" id="{{ institution.id }}_{{ n.id }}" onclick="markAsReadInstitution(this); return true;">
                                    {% endif %}
                                        <div class="flex-this space-between margin-top-1">
                                            <div>
                                                <span id="notification-label-tag-{{ n.id }}" 
                                                    class="notification-type-tag white-text font-size-12 {% if n.viewed %} grey {% else %} orange-bg {% endif %}"
                                                >
                                                {% if n.notification_type == 'Notices' %} Notices {% endif %}
                                                {% if n.notification_type == 'Labels' %} Labels {% endif %}
                                                {% if n.notification_type == 'Activity' %} Activity {% endif %}
                                                {% if n.notification_type == 'Projects' %} Projects {% endif %}
                                                {% if n.notification_type == 'Connections' %} Connections {% endif %}
                                            </span></div>
                                            <div><span class="font-size-12 grey-text">{{ n.created }}</span></div>
                                        </div>
                                        <div><p class="darkteal-text font-size-14"> {{ n.title }}</p></div>    
                                    </a>
                                </div>

                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                {% if member_role == 'viewer' or member_role == 'editor' %}
                {% else %}
                    <div class="margin-left-8">
                        <a href="{% url 'update-institution' institution.id%}" class="darkteal-text primary-btn white-btn"> Settings <i class="fa fa-cog" aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </div>
            
        </div>
            <!-- Image, headers, description -->
        <div class="flex-this">

                <div class="dashcard-img-container">
                    <img 
                        class="profile-img" 
                        src="{% if institution.image %} {{ institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                        alt="{{ institution.institution_name }} image"
                    >
                </div>
                <div class="flex-this column dashcard-text-container">
                    <div><h3 class="dashcard-h3 darkteal-text">{{ institution.institution_name }}</h3></div>
                    <div>
                        <p class="primary-black-text dashcard-subheader">Institution |  
                        {% if member_role == 'admin' %} Administrator {% endif %}
                        {% if member_role == 'editor' %} Editor {% endif %}
                        {% if member_role == 'viewer' %} Viewer {% endif %} | 
                        Location: {% if institution.city_town %} {{ institution.city_town }}, {% endif %} {% if institution.state_province_region %} {{ institution.state_province_region }}, {% endif %} {% if institution.country.name %} {{ institution.country.name }}{% endif %}</p>
                    </div>
                    <div><p class="dashcard-description description-sm">{% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}</p></div>
                </div>

                <!-- Count cards -->
                <div class="flex-this column stats-card-container">

                    <!-- Count of Labels that have been applied to institution projects -->
                    {% get_labels_count institution as total_labels %}
                    <div class="stats-card flex-this space-between">
                        <div><p>{% if total_labels < 10 %} 0{{ total_labels }} {% else %} {{ total_labels }} {% endif %}</p></div>
                        <div><span>Labels</span></div>
                    </div>
                    
                    <!-- Count of Notices institution has placed -->
                    {% get_notices_count institution as total_notices %}
                    <div class="stats-card flex-this space-between">
                        <div><p>{% if total_notices < 10 %} 0{{ total_notices }} {% else %} {{ total_notices }} {% endif %}</p></div>
                        <div><span>Notices</span></div>
                    </div>
    
                    <div class="stats-card flex-this space-between">
                        <div>
                            <p>
                                {% connections_count institution as connect_count %}
                                {% if connect_count < 10 %}0{{ connect_count }}{% else %}{{ connect_count }}{% endif %}
                            </p>
                        </div>
                        <div><span>Connections</span></div>
                    </div>
                </div>

        </div>

    </div>
