{% load static %}
<div class="dashcard show">
    <div class="flex-this">

        <div class="dashcard-img-container">
            <img loading="lazy" 
                class="profile-img" 
                src="{% if institution.image %} {{ institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                alt="{{ institution.institution_name }} image"
            >
        </div>
        <div class="flex-this column dashcard-text-container">
            <div><h3 class="dashcard-h3 darkteal-text">
                {{ institution }}
            </h3></div>
            <div>
                <p class="dashcard-subheader">
                    Institution | Members: {% if institution.get_member_count < 10 %}0{{ institution.get_member_count }}{% else %}{{ institution.get_member_count }}{% endif %} | 
                    Location: {% if institution.city_town %} {{ institution.city_town }}, {% endif %} {% if institution.state_province_region %} {{ institution.state_province_region }}, {% endif %} {% if institution.country %} {{ institution.country }}{% endif %}
                    {% if not institution.city_town and not institution.state_province_region and not institution.country %} None specified {% endif %}
                </p>
            </div>
            <div><p class="dashcard-description description-sm">
                {% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}
            </p></div>
        </div>

        <div class="dashcard-btn-container">
            <div class="margin-left-16">
                {% if '/registry/' in request.path %}
                    <a 
                        class="primary-btn action-btn"
                        href="{% url 'public-institution' institution.id %}"                    
                    >View public page</a>
                {% endif %}
                {% if '/dashboard/' in request.path %}
                    <a 
                        class="primary-btn action-btn"
                        href="{% url 'institution-notices' institution.id %}"
                    >View account</a>
                {% endif %}
            </div>
        </div>

    </div>
</div>