{% load static %} {% load custom_acct_tags %}
{% unread_notifications_exist request.user as unread_exist %}

<section class="dash-driver flex-this column">
    <div class="flex-this space-between">
        <div class="w-70">
            <h2 class="no-top-margin no-bottom-margin">{% display_name request.user %} </h2>
            {% if affiliation %}
                <h3 class="no-top-margin">{{ profile.affiliation }}</h3>
            {% endif %}

            {% if not profile.city_town and not profile.state_province_region and not profile.country.name %}
            {% else %}
                <h4 class="no-top-margin">
                    {% if profile.city_town %} {{ profile.city_town }}, {% endif %}
                    {% if profile.state_province_region %}{{ profile.state_province_region }} {% endif %}
                    {% if profile.country %} {{ profile.country.name }} {% endif%}
                </h4>
            {% endif %}

            {% if profile.languages_spoken %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Languages</small>
                        <p class="no-top-margin">{{ profile.languages_spoken }}</p>
                    </div>
                </div>
            {% endif %}

            {% if profile.affiliation %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Affiliations</small>
                        <p class="no-top-margin">{{ profile.affiliation }}</p>
                    </div>
                </div>
            {% endif %}

        </div>
        
        <div class="flex-this dash-btn-container flex-end">
            {% if 'update-profile' in request.path or 'manage' in request.path or 'change-password' in request.path or 'deactivate' in request.path or 'member-invites' in request.path %}
                <div class="margin-right-8"><a href="{% url 'dashboard' %}" class="primary-btn white-btn">Back to Profile</a></div>
            {% else %}
                <!-- Notifications -->
                    <div class="dropdown margin-right-8">
                        <a onclick="toggleNotifications()" class="primary-btn white-btn dropbtn"> 
                            Notifications 
                            <i 
                            class="fa {% if unread_exist %} fa-bell orange-text {% else %} fa-bell-o {% endif %}" 
                            aria-hidden="true"
                            ></i>
                        </a>
                        <div id="notification-v2" class="notification-dropdown-content">
                        <div class="border-bottom-solid-teal center-text">
                            <span class="orange-text">{% display_name request.user %}'s Notifications</span>
                        </div>

                            {% if notifications %}
                                {% for n in notifications %}

                                    <div class="border-bottom-solid-teal">
                                        
                                        <a 
                                            id="{{ request.user.id }}_{{ n.id }}"
                                            onclick="markAsRead(this); return true;"

                                            {% if not n.viewed %}
                                                {% if n.notification_type == 'Invitation' %}
                                                    href="{% url 'member-invitations' %}"
                                                {% endif %}
                                            {% else %}
                                                href="{% url 'read' n.id %}"
                                            {% endif %}

                                        >
                                            <div class="flex-this space-between margin-top-1">
                                                <div>
                                                    <span 
                                                        id="notification-label-tag-{{ n.id }}" 
                                                        class="notification-type-tag white-text font-size-12 {% if n.viewed %} grey {% else %} orange-bg {% endif %}"
                                                    >
                                                        {% if n.notification_type == 'Welcome' %} Welcome {% endif %}
                                                        {% if n.notification_type == 'Invitation' %} Invite {% endif %}
                                                        {% if n.notification_type == 'Request' %} Request {% endif %}
                                                        {% if n.notification_type == 'Approval' %} Approval {% endif %}
                                                        {% if n.notification_type == 'Accept' %} Accept {% endif %}
                                                    </span>
                                                </div>
                                                <div><span class="font-size-12 grey-text">{{ n.created }}</span></div>
                                            </div>

                                            <div><p class="darkteal-text font-size-14"> {{ n.title }}</p></div>   
                                        </a>

                                    </div>

                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    
                    <div><a href="{% url 'update-profile' %}" class="primary-btn green-btn">Edit profile <i class="fa fa-pencil" aria-hidden="true"></i></a></div>



            {% endif %}
        </div>        
    </div>

    <div class="flex-this">
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Build your profile</span> so that other users on the hub can know more about you<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'update-profile' %}">Edit profile</a>
            </small>
        </div>
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Create an account</span> for either a community, institution, or researcher<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'select-account' %}">Create an account</a>
            </small>
        </div>
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Join an existing account</span> that you may already be connected to<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'organization-registry' %}">Search the Local Contexts registry</a>
            </small>
        </div>
    </div>

</section>