{% load static %} {% load custom_acct_tags %}
{% unread_notifications_exist request.user as unread_exist %}

<section class="dash-driver flex-this column">
    <div class="flex-this space-between">
        <div class="w-70">
            <h2 class="no-top-margin no-bottom-margin">{% display_name request.user %} </h2>
            {% if affiliation %}
                <h3 class="no-top-margin">{{ profile.affiliation }}</h3>
            {% endif %}
            <h4 class="no-top-margin">{{ profile.city_town }}, {{ profile.state_province_region }} {{ profile.country.name }}</h4>

            {% if profile.languages_spoken %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Languages</small>
                        <p class="no-top-margin">{{ profile.languages_spoken }}</p>
                    </div>
                </div>
            {% endif %}

            {% if profile.affiliation %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Affiliations</small>
                        <p class="no-top-margin">{{ profile.affiliation }}</p>
                    </div>
                </div>
            {% endif %}

        </div>
        
        <div class="flex-this dash-btn-container flex-end">
            {% if 'update-profile' in request.path or 'manage' in request.path or 'change-password' in request.path or 'deactivate' in request.path %}
                <div class="margin-right-8"><a href="{% url 'dashboard' %}" class="primary-btn white-btn">Back to Profile</a></div>
            {% else %}
                <div class="noti-bell"><a onclick="showUserNotifications(this)" class="pointer"> 
                    <i 
                    class="fa {% if unread_exist %} fa-bell orange-text {% else %} fa-bell grey-bell {% endif %}" 
                    aria-hidden="true"
                    ></i>
                </a></div>
                <div><a href="{% url 'update-profile' %}" class="primary-btn green-btn">Edit profile <i class="fa fa-pencil" aria-hidden="true"></i></a></div>
            {% endif %}
        </div>        
    </div>

    <div class="flex-this">
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Build your profile</span> so that other users on the hub can know more about you<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'update-profile' %}">Edit profile</a>
            </small>
        </div>
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Create an account</span> for either a community, institution, or researcher<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'select-account' %}">Create an account</a>
            </small>
        </div>
        <div class="suggestion-box">
            <small class="block">
                <span class="bold">Join an existing account</span> that you may already be connected to<br>
                <a class="darkteal-text underline-hover bold" href="{% url 'organization-registry' %}">Search the Local Contexts registry</a>
            </small>
        </div>
    </div>

</section>


<div id="userNotifications" class="white-bg content-card content-card-space noti-card hide">
    <div class="noti-container">
        <h2 class="no-top-margin no-bottom-margin margin-left-1">Notifications</h2>
    </div>
    {% if notifications %}
        {% for n in notifications %}

            {% if n.viewed == False %}
                <a href="{% url 'show' n.id %}">
                    <div class="noti-container flex-this row">
                        <div class="tag-container"><span class="notification-type-tag orange-bg white-text font-size-12">{{ n.notification_type }}</span></div> <!-- This will be notification type-->
                        <div><p>{{ n.message }}</p></div>
                    </div>
                </a>
            {% endif %}
            {% if n.viewed == True %}
                <a href="{% url 'read' n.id %}">
                    <div class="noti-container flex-this row">
                        <div class="tag-container"><span class="notification-type-tag grey white-text font-size-12">{{ n.notification_type }}</span></div>
                        <div><p>{{ n.message }}</p></div>
                    </div>
                </a>
            {% endif %}

        {% endfor %}
        {% else %}
        <p>No notifications yet</p>
    {% endif %}
</div>