{% load static %} {% load custom_acct_tags %}
{% unread_notifications_exist request.user as unread_exist %}

<section class="white-bg dash-driver flex-this space-between">
        <div class="w-70">
            <h2 class="orange-text">Welcome, {{ user.first_name }} </h2>
        </div>
        
        <div class="flex-this dash-btn-container space-between">
            {% if 'update-profile' in request.path or 'manage' in request.path or 'change-password' in request.path or 'deactivate' in request.path %}
                <div><a href="{% url 'dashboard' %}" class="primary-btn white-btn">Back to Profile</a></div>
                <div><a href="{% url 'update-profile' %}" class="primary-btn white-btn">Settings <i class="fa fa-user" aria-hidden="true"></i></a></div>
            {% else %}
                <div><a onclick="showUserNotifications(this)" class="primary-btn action-btn">
                    Notifications 
                    <i 
                    class="fa {% if unread_exist %} fa-bell orange-text {% else %} fa-bell-o {% endif %}" 
                    aria-hidden="true"
                    ></i>
                </a></div>
                <div><a href="{% url 'update-profile' %}" class="white-text primary-btn action-btn">Settings <i class="fa fa-user" aria-hidden="true"></i></a></div>
            {% endif %}
        </div>

</section>


<div id="userNotifications" class="white-bg content-card content-card-space noti-card hide">
    <div class="noti-container">
        <h2 class="no-top-margin no-bottom-margin margin-left-1">Notifications</h2>
    </div>
    {% if notifications %}
        {% for n in notifications %}

            {% if n.viewed == False %}
                <a href="{% url 'show' n.id %}">
                    <div class="noti-container flex-this row">
                        <div class="tag-container"><span class="notification-type-tag orange-bg white-text font-size-12">{{ n.notification_type }}</span></div> <!-- This will be notification type-->
                        <div><p>{{ n.message }}</p></div>
                    </div>
                </a>
            {% endif %}
            {% if n.viewed == True %}
                <a href="{% url 'read' n.id %}">
                    <div class="noti-container flex-this row">
                        <div class="tag-container"><span class="notification-type-tag grey white-text font-size-12">{{ n.notification_type }}</span></div>
                        <div><p>{{ n.message }}</p></div>
                    </div>
                </a>
            {% endif %}

        {% endfor %}
        {% else %}
        <p>No notifications yet</p>
    {% endif %}
</div>