#!/usr/bin/env sh

export PROD_KEY=
export DEBUG_VALUE=

export SITE_ADMIN_NAME=
export SITE_ADMIN_EMAIL=

export RECAPTCHA_SECRET_KEY=

export DB_NAME=
export DB_USER=
export DB_PASS=
export DB_HOST=
export CSRF_COOKIE_DOMAIN=

export EMAIL_HOST=
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=
# export DEFAULT_FROM_EMAIL=


