SET PROD_KEY=
SET DEBUG_VALUE=

SET SITE_ADMIN_NAME=
SET SITE_ADMIN_EMAIL=

SET RECAPTCHA_SECRET_KEY=

SET DB_NAME=
SET DB_USER=
SET DB_PASS=
SET DB_HOST=
SET DB_PORT=
SET CSRF_COOKIE_DOMAIN=

SET EMAIL_HOST=
SET EMAIL_HOST_USER=
SET EMAIL_HOST_PASSWORD=
SET DEFAULT_FROM_EMAIL=

SET MAILGUN_API_KEY=
SET MAILGUN_BASE_URL=
SET MAILGUN_TEMPLATE_URL=

SET COLLECTIONS_CARE_NOTICES_DOWNLOAD_ZIP=
SET OPEN_TO_COLLABORATE_NOTICE_DOWNLOAD_ZIP=

SET DBBACKUP_ACCESS_KEY=
SET DBBACKUP_SECRET_KEY=
SET DBBACKUP_BUCKET_NAME=
SET DBBACKUP_ENDPOINT_URL=
