#!/usr/bin/env sh

export PROD_KEY=
export DEBUG_VALUE=

export SITE_ADMIN_NAME=
export SITE_ADMIN_EMAIL=


export DB_NAME=
export DB_USER=
export DB_PASS=
export DB_HOST=
export CSRF_COOKIE_DOMAIN=

export EMAIL_HOST=
export EMAIL_HOST_USER=
export EMAIL_HOST_PASSWORD=
# export DEFAULT_FROM_EMAIL=

#S3 BUCKETS CONFIG
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_STORAGE_BUCKET_NAME=

export USE_S3=

