SET PROD_KEY=
SET DEBUG_VALUE=

SET SITE_ADMIN_NAME=
SET SITE_ADMIN_EMAIL=


SET DB_NAME=
SET DB_USER=
SET DB_PASS=
SET DB_HOST=
SET DB_PORT=
SET CSRF_COOKIE_DOMAIN=

SET RECAPTCHA_SECRET_KEY=

SET EMAIL_HOST=
SET EMAIL_HOST_USER=
SET EMAIL_HOST_PASSWORD=

SET MAILGUN_API_KEY=
SET MAILGUN_BASE_URL=

