SET PROD_KEY=
SET DEBUG_VALUE=

SET SITE_ADMIN_NAME=
SET SITE_ADMIN_EMAIL=


SET DB_NAME=
SET DB_USER=
SET DB_PASS=
SET DB_HOST=
SET DB_PORT=
SET CSRF_COOKIE_DOMAIN=

SET EMAIL_HOST=
SET EMAIL_HOST_USER=
SET EMAIL_HOST_PASSWORD=
@rem # SET DEFAULT_FROM_EMAIL=

@rem #S3 BUCKETS CONFIG
SET AWS_ACCESS_KEY_ID=
SET AWS_SECRET_ACCESS_KEY=
SET AWS_STORAGE_BUCKET_NAME=

SET USE_S3=

