$Env:PROD_KEY=
$Env:DEBUG_VALUE=

$Env:SITE_ADMIN_NAME=
$Env:SITE_ADMIN_EMAIL=

$Env:RECAPTCHA_SECRET_KEY=

$Env:DB_NAME=
$Env:DB_USER=
$Env:DB_PASS=
$Env:DB_HOST=
$Env:DB_PORT=
$Env:CSRF_COOKIE_DOMAIN=

$Env:EMAIL_HOST=
$Env:EMAIL_HOST_USER=
$Env:EMAIL_HOST_PASSWORD=

$Env:MAILGUN_API_KEY=
$Env:MAILGUN_BASE_URL=

