$Env:PROD_KEY=
$Env:DEBUG_VALUE=

$Env:SITE_ADMIN_NAME=
$Env:SITE_ADMIN_EMAIL=


$Env:DB_NAME=
$Env:DB_USER=
$Env:DB_PASS=
$Env:DB_HOST=
$Env:DB_PORT=
$Env:CSRF_COOKIE_DOMAIN=

$Env:EMAIL_HOST=
$Env:EMAIL_HOST_USER=
$Env:EMAIL_HOST_PASSWORD=
# $Env:DEFAULT_FROM_EMAIL=

#S3 BUCKETS CONFIG
$Env:AWS_ACCESS_KEY_ID=
$Env:AWS_SECRET_ACCESS_KEY=
$Env:AWS_STORAGE_BUCKET_NAME=

$Env:USE_S3=
