appdirs==1.4.4
apscheduler==3.10.4
arabic-reshaper==3.0.0
asgiref==3.2.10
astroid==2.4.2
boto3==1.26.77
botocore==1.29.77
cachetools==4.2.4
certifi==2023.7.22
charset-normalizer==2.0.6
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.14
django-appconf==1.0.4
django-dbbackup==4.0.2
django-chartjs==2.3.0
django-classy-tags==2.0.0
django-cleanup==5.1.0
django-cookie-consent==0.2.6
django-cors-headers==3.11.0
django-countries==6.1.3
django-debug-toolbar==3.2.4
django-guardian==2.3.0
django-maintenance-mode==0.16.0
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
djangorestframework-api-key==2.2.0
filelock==3.0.12
future==0.18.3
google-api-core==1.31.3
google-auth==1.30.0
google-cloud-core==1.7.2
google-cloud-storage==1.38.0
google-crc32c==1.3.0
google-resumable-media==1.3.3
googleapis-common-protos==1.53.0
gunicorn==20.0.4
html5lib==1.1
idna==3.2
isort==5.4.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==21.0
pillow>=10.0.1
pip==23.1.2
protobuf==3.17.3
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyparsing==2.4.7
PyPDF2==1.27.9
pytest-runner==5.3.1
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2020.1
reportlab>=3.6.13
requests==2.31.0
rsa==4.7.2
s3transfer==0.6.0
setuptools==65.5.1
six==1.15.0
sqlparse==0.4.4
toml==0.10.1
Unidecode==1.3.6
urllib3==1.26.5
virtualenv==20.0.23
webencodings==0.5.1
wheel==0.38.1
whitenoise==5.2.0
wrapt==1.12.1
xhtml2pdf==0.2.11
