{% load static %}{% load custom_project_tags %}

{{ formset.management_form }}
<div class="flex-this column">

    {% for f in formset %}

        <div id="person-form-0" class="flex-this row">
            <div class="margin-right-1">
                <label>{{ f.name.label }}</label><br>
                {{ f.name }}
            </div>
            
            <div>
                <label>{{ f.email.label }}</label><br>
                {{ f.email }}
            </div>
            <div onclick="cloneForm(this)" class="clone-form-btn add-square-btn pointer">
                <span>+</span>
            </div>
        </div>


    {% endfor %}
</div>