{% load static %}{% load custom_project_tags %}
{% get_all_researchers researcher as all_researchers %}
{% get_all_institutions institution as all_institutions %}
{% get_all_communities community as all_communities %}

<div class="padding-bottom-1 flex-this row">
    <div>
        <label for="contributors">Project Contributors</label>
        <div class="tooltip"><strong>?</strong>
            <span class="tooltiptext">
                Any institutional, community, or researcher contributors involved in the Project who are registered in the Hub.
            </span>
        </div>
        <br>
        <div class="flex-this">
            <input id="contributor-input" list="contributors" name="contributors" placeholder="Select a contributor from the hub" autocomplete="off">
            <datalist id="contributors">
                {% if all_communities %}
                    {% for community in all_communities %}
                        <option 
                            value="{{ community.community_name }} (Community)" 
                            data-commid="{{ community.id }}"
                        >
                    {% endfor %}
                {% endif %}
                {% if all_researchers %}
                    {% for researcher in all_researchers %}
                        <option 
                            value="{% firstof researcher.user.get_full_name researcher.user.username %} (Researcher)" 
                            data-resid="{{ researcher.id }}"
                        >
                    {% endfor %}
                {% endif %}
                {% if all_institutions %}
                    {% for institution in all_institutions %}
                        <option 
                            value="{{ institution.institution_name }} (Institution)" 
                            data-instid="{{ institution.id }}"
                        >
                    {% endfor %}
                {% endif %}
            </datalist>
            <div id="add-contributor-btn" class="add-square-btn pointer margin-left-8">
                <span>+</span>
            </div>              
        </div>
    </div>
</div>

{% include 'partials/_add-projectperson.html'%}

<p>Selected Contributors</p>

<div class="w-50">
    <ul class="ul-no-bullets ul-no-padding">

        <!-- If edit project -->
        {% if contributors %}
            {% for community in contributors.communities.all %}
                <li id="selected-community-{{ community.id }}" class="margin-bottom-8 show">
                    <div class="grey-chip flex-this row space-between">
                        <div><p class="center-name">{{ community.community_name }} (Community)</p></div>
                        <div id="closeComm-{{ community.id }}" class="removeSelectedCommunityBtn pointer">&times;</div>
                    </div>
                    <input id="hiddenComm-{{ community.id }}" type="hidden" name="selected_communities" value="{{ community.id }}">
                </li>
            {% endfor %}  

            {% for researcher in contributors.researchers.all %}
                <li id="selected-researcher-{{ researcher.id }}" class="margin-bottom-8 show">
                    <div class="grey-chip flex-this row space-between">
                        <div><p class="center-name">{% firstof researcher.user.get_full_name researcher.user.username %} (Researcher)</p></div>
                        <div id="closeRes-{{ researcher.id }}" class="removeSelectedResearcherBtn pointer">&times;</div>
                    </div>
                    <input id="hiddenRes-{{ researcher.id }}" type="hidden" name="selected_researchers" value="{{ researcher.id }}">
                </li>
            {% endfor %}

            {% for institution in contributors.institutions.all %}
                <li id="selected-institution-{{ institution.id }}" class="margin-bottom-8 show">
                    <div class="grey-chip flex-this row space-between">
                        <div><p class="center-name">{{ institution.institution_name }} (Institution)</p></div>
                        <div id="closeInst-{{ institution.id }}" class="removeSelectedInstitutionBtn pointer">&times;</div>
                    </div>
                    <input id="hiddenInst-{{ institution.id }}" type="hidden" name="selected_institutions" value="{{ institution.id }}">
                </li>
            {% endfor %}
        {% endif %}

        <!-- If create project and new selections-->
        {% for community in all_communities %}
            <li id="selected-community-{{ community.id }}" class="margin-bottom-8 hide">
                <div class="grey-chip flex-this row space-between">
                    <div><p class="center-name">{{ community.community_name }} (Community)</p></div>
                    <div id="closeComm-{{ community.id }}" class="removeSelectedCommunityBtn pointer">&times;</div>
                </div>
            </li>
        {% endfor %}  

        {% for researcher in all_researchers %}
            <li id="selected-researcher-{{ researcher.id }}" class="margin-bottom-8 hide">
                <div class="grey-chip flex-this row space-between">
                    <div><p class="center-name">{% firstof researcher.user.get_full_name researcher.user.username %} (Researcher)</p></div>
                    <div id="closeRes-{{ researcher.id }}" class="removeSelectedResearcherBtn pointer">&times;</div>
                </div>
            </li>
        {% endfor %}

        {% for institution in all_institutions %}
            <li id="selected-institution-{{ institution.id }}" class="margin-bottom-8 hide">
                <div class="grey-chip flex-this row space-between">
                    <div><p class="center-name">{{ institution.institution_name }} (Institution)</p></div>
                    <div id="closeInst-{{ institution.id }}" class="removeSelectedInstitutionBtn pointer">&times;</div>
                </div>
            </li>
        {% endfor %}        
    </ul>
</div>
