{% load static %}{% load custom_project_tags %}

{{ formset.management_form }}
<div class="flex-this column">

    {% for f in formset %}
    {{ f.id }}

        {% for hidden in f.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="flex-this">
            <div id="person-form-0" class="flex-this row margin-right-8">
                <div class="margin-right-1">
                    <label>{{ f.name.label }}</label><br>
                    {{ f.name }}
                </div>
                
                <div>
                    <label>{{ f.email.label }}</label><br>
                    {{ f.email }}
                </div>
            </div>
            <div onclick="cloneForm(this)" class="clone-form-btn add-square-btn pointer margin-top-8">
                <span>+</span>
            </div>
        </div>

        <div id="clonedItems"></div>

    {% endfor %}

    {% if formset.errors %}
        {% for error in formset.errors %}
            <div class="msg-red w-50"><small>{{ error.as_text }}</small></div> 
        {% endfor %}
    {% endif %}
</div>