{% load static %}

<header id="auth-header" class="flex-this">
    <div class="generic-logo-container">
        <a href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/logos/logo.png' %}">
        </a>
    </div>
    <nav class="generic-nav flex-this">
        {% if user.is_authenticated %}
        <ul class="flex-this generic-nav-ul">
            <li><a class="white-text upper" href="#">Labels</a></li>
            <li><a class="white-text upper" href="#">Communities</a></li>
            <li><a class="white-text upper" href="#">Institutions & Researchers</a></li>
            <li><a class="white-text upper" href="#">Notices</a></li>
            <li><a class="white-text upper" href="{% url 'about' %}">About</a></li>

            <div id="btn-group" class="flex-this">
                <li class="reg"><a class="white-text upper" href="{% url 'dashboard' %}">Account</a></li>
                <li class="white-bg log reg"><a class="upper orange-text" href="javascript:{document.getElementById('logout').submit()}">Sign Out
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </a></li>
            </div>

            {% else %}
            <div id="btn-group" class="flex-this">
                <li class="reg"><a class="white-text upper" href="{% url 'register' %}">Register</a></li>
                <li class="log orange-bg"><a class="upper white-text orange-bg" href="{% url 'login' %}">Sign In</a></li>
            </div>
        </ul>
        {% endif %}
    </nav>
</header>