{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content-card flex-this column white-bg">
    
    <div class="flex-this column stats-full-card">

        <div class="flex-this w-100 space-between">
            <div>
                <a href="{% url 'users' community.community_creator.id %}" class="darkteal-text">
                    {% if community.community_creator.first_name %}
                        {{ community.community_creator.first_name }}
                    {% else %}
                        {{ community.community_creator }}
                    {% endif %}
                </a> 
                >> {{ community.community_name }}
            </div>

            {% if request.user == community.community_creator %}
                <div>
                    <a href="#" class="darkteal-text"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                </div>
            {% endif %}
            
        </div>

        <div class="flex-this stats-info-container">

            <div class="w-30 stats-img-container">
                <img src="https://picsum.photos/350/150">
            </div>

            <div class="flex-this column w-40">
                <h2 class="orange-text">{{ community.community_name }} </h2>
                <p>
                    Account: <span> 
                        {% if community.community_creator.get_full_name %}
                            {{ community.community_creator.get_full_name }} 
                        {% else %}
                            {{ community.community_creator }} 
                        {% endif %}                                
                        | Administrator
                    </span><br>
                    Members: <span>{{ community.get_member_count }}</span><br>
                    Location: <span>Town, {{ community.country.name }} </span><br>
                    Community ID: <span>LCCDMNGM-1820</span>
                </p>
            </div>

            <div class="flex-this white-text w-30">
                <div class="orange-bg stats-card w-30">
                    <h1>17</h1>
                    <p>Labels</p>
                </div>

                <div class="orange-bg stats-card w-30">
                    <h1>04</h1>
                    <p>Training</p>
                </div>

                <div class="orange-bg stats-card w-30">
                    <h1>02</h1>
                    <p>Relationships</p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}