<div class="content-card comm-nav flex-this column white-bg">
    <div class="comm-nav-links flex-this">

        <a href="{% url 'community-activity' community.id %}">
            <div class="{% if 'activity' in request.path %} active-nav {% endif %}">Activity</div>
        </a>

        <a href="{% url 'community-labels' community.id %}">
            <div class="{% if 'labels' in request.path %} active-nav {% endif %}">Labels</div>
        </a>

        <a href="{% url 'community-projects' community.id %}">
            <div class="{% if 'projects' in request.path %} active-nav {% endif %}">Projects</div>
        </a>

        <a href="{% url 'members' community.id %}">
            <div class="{% if 'members' in request.path %} active-nav {% endif %}">Members</div>
        </a>

        <!-- Temporary Removal -->
        <!-- <a href="{% url 'community-relationships' community.id %}"><div>Connections</div></a> -->

    </div>
</div>