<div class="content-card comm-nav flex-this column white-bg">
    <div class="comm-nav-links flex-this">
        <a href="{% url 'institution-dashboard' institution.id %}"><div class="active-nav">Activity</div></a>
        <a href="{% url 'institution-notices' institution.id %}"><div>Notices</div></a>
        <a href="{% url 'institution-projects' institution.id %}"><div>Projects</div></a>
        <a href="{% url 'institution-requests' institution.id %}"><div>Requests</div></a>

        <!-- Temporary Removal -->
        <!-- <a href="#"><div>Relationships</div></a> -->

    </div>
</div>