<div class="content-card-v2 content-card-space white-bg">
    <div class="border-bottom-solid-teal">
        <h2 class="no-top-margin">Members</h2>
        <p>Manage responsibilities within this account and add new members below.</p>
    </div>
    <div>
        <h3>What responsibilities are there in the Local Contexts Hub?</h3>
        <p>
            <span class="bold">Administrator</span><br>
            An administrator can accept new members on behalf of the community. They take care of administrative tasks to help build a sustainable workspace.<br><br>
            <span class="bold">Editor</span><br>
            Editors can customize Labels and create Projects, they can also approve other Labels developed by another editor within the account. <br><br>
            <span class="bold">Viewer</span><br>
            Viewers can view the activity happening in the account but cannot change or edit anything.
        </p>
    </div>
</div>

{% if community %}
    <div class="content-card-v2 content-card-space white-bg">
        <div class="flex-this space-between">
            <div>
                <h2 class="darkteal-text no-top-margin">
                    {% if community.community_creator.get_full_name %}{{ community.community_creator.get_full_name }}{% else %}{{ community.community_creator }}{% endif %}
                </h2>

                <p class="no-bottom-margin">
                    <span class="bold">Responsibility</span> | Administrator <br><br>
                    <span class="bold">Job title</span> | {{ community.community_creator.profile.position }} <br><br>
                </p>
            </div>    
        </div>
    </div>

    {% for admin in community.get_admins %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if admin.get_full_name %}{{ admin.get_full_name }}{% else %}{{ admin }}{% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Administrator <br><br>
                        <span class="bold">Job title</span> | {{ admin.profile.position }} <br><br>
                    </p>
                </div>            

                {% if member_role == 'admin' or request.user == community.community_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ admin.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ admin.id }}" class="meatball-dropdown-content hide"> 
                            <a href="{% url 'remove-member' community.id admin.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div> 
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% for editor in community.get_editors %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if editor.get_full_name %}{{ editor.get_full_name }}{% else %}{{ editor }}{% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Editor <br><br>
                        <span class="bold">Job title</span> | {{ editor.profile.position }} <br><br>
                    </p>
                </div>
                {% if member_role == 'admin' or request.user == community.community_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ editor.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ editor.id }}" class="meatball-dropdown-content hide"> 
                            <a href="{% url 'remove-member' community.id editor.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div> 
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% for viewer in community.get_viewers %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if viewer.get_full_name %}{{ viewer.get_full_name }}{% else %}{{ viewer }}{% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Viewer <br><br>
                        <span class="bold">Job title</span> | {{ viewer.profile.position }} <br><br>
                    </p>
                </div>
                {% if member_role == 'admin' or request.user == community.community_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ viewer.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ viewer.id }}" class="meatball-dropdown-content hide"> 
                            <!-- <span class="darkteal-text">Change role</span> -->
                            <a href="{% url 'remove-member' community.id viewer.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div>   
                {% endif %}          
            </div>
        </div>
    {% endfor %}

    {% if member_role == 'admin' or member_role == 'editor' %}
        <div>
            <a onclick="openMemberModal()">
                <div class="flex-this add-member-card">
                <div class="w-100 add-member">
                    <h4 class="darkteal-text">+ Add a Member </h4>
                </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endif %}

{% if institution %}
    <div class="content-card-v2 content-card-space white-bg">
        <div class="flex-this space-between">
            <div>
                <h2 class="darkteal-text no-top-margin">
                    {% if institution.institution_creator.get_full_name %}{{ institution.institution_creator.get_full_name }}{% else %}{{ institution.institution_creator }}{% endif %}
                </h2>

                <p class="no-bottom-margin">
                    <span class="bold">Responsibility</span> | Administrator <br><br>
                    <span class="bold">Job title</span> | {{ institution.institution_creator.profile.position }} <br><br>
                </p>
            </div>          
        </div>

    </div>

    {% for admin in institution.get_admins %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if admin.get_full_name %}{{ admin.get_full_name }}{% else %}{{ admin }}{% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Administrator <br><br>
                        <span class="bold">Job title</span> | {{ admin.profile.position }} <br><br>
                    </p>
                </div>
                {% if member_role == 'admin' or request.user == institution.institution_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ admin.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ admin.id }}" class="meatball-dropdown-content hide"> 
                            <a href="{% url 'remove-institution-member' institution.id admin.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div>  
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% for editor in institution.get_editors %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if editor.get_full_name %}{{ editor.get_full_name }}{% else %}{{ editor }}{% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Editor <br><br>
                        <span class="bold">Job title</span> | {{ editor.profile.position }} <br><br>
                    </p>
                </div>
                {% if member_role == 'admin' or request.user == institution.institution_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ editor.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ editor.id }}" class="meatball-dropdown-content hide"> 
                            <a href="{% url 'remove-institution-member' institution.id editor.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div> 
                {% endif %}
            </div>
 
        </div>
    {% endfor %}

    {% for viewer in institution.get_viewers %}
        <div class="content-card-v2 content-card-space white-bg">
            <div class="flex-this space-between">
                <div>
                    <h2 class="darkteal-text no-top-margin">
                        {% if viewer.get_full_name %}
                            {{ viewer.get_full_name }}
                        {% else %}
                            {{ viewer }}
                        {% endif %}
                    </h2>

                    <p class="no-bottom-margin">
                        <span class="bold">Responsibility</span> | Viewer <br><br>
                        <span class="bold">Job title</span> | {{ viewer.profile.position }} <br><br>
                    </p>
                </div>
                {% if member_role == 'admin' or request.user == institution.institution_creator %}
                    <div class="dropdown">
                        <a onclick="toggleMeatballMenu(this)" id="meatball-{{ viewer.id }}" class="meatball"><i class="fa fa-ellipsis-h" style="font-size: 24px;"></i></a>
                        <div id="meatball-content-{{ viewer.id }}" class="meatball-dropdown-content hide"> 
                            <a href="{% url 'remove-institution-member' institution.id viewer.id %}"><span class="darkteal-text">Remove member</span></a>
                        </div>
                    </div>  
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if member_role == 'viewer' %}{% else %}
        <div>
            <a onclick="openMemberModal()">
                <div class="flex-this add-member-card">
                    <div class="w-100 add-member">
                        <h4 class="darkteal-text">+ Add Members </h4>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endif %}

    <!-- ADD MEMBER MODAL -->

    <div id="memberModal" class="modal hide">
        <div class="modal-defaults add-member-modal flex-this column w-100">
      
            <div id="close-modal" class="close-modal-btn w-100"><span class="darkteal-text">&times;</span></div>
            <div class="modal-content-padding w-100">

                <div><h4 class="no-top-margin">Add Members to 
                    {% if community %}
                        <span class="darkteal-text">{{ community.community_name }}</span></h4>
                    {% endif %}
                    {% if institution %}
                        <span class="darkteal-text">{{ institution.institution_name }}</span></h4>
                    {% endif %}
                </div>
                <div class="w-100 member-modal-form flex-this column">
                  <form method="POST" action="">
                      {% csrf_token %}
          
                        <div class="flex-this"> 
                            <div class="w-50">
                                <div> 
                                    {{ form.receiver.label }} <br>
                                    {{ form.receiver }} 
                                </div>
                                <div>
                                    <label>Responsibility</label><br>
                                    {{ form.role }} 
                                </div>
                            </div>
    
    
                            <div class="w-50">
                                <div>
                                    {{ form.message.label }}<br>
                                    {{ form.message }}
                                </div>
                            </div>
                        </div>
    
                        <p>- Only Admins and Editors have access to create and manage labels.<br></p>
    
                      
                        <div class="flex-this w-100">
                            <div class="w-50">
                                <!-- Alerts -->
                                {% include 'partials/_alerts.html' %}
                                <button class="primary-btn action-btn margin-top-2" type="submit">Send Invitation </button>
                            </div>
    
                            <div class="w-50 pad-top-1-5 right-text">
                                <small>Looking for someone who isn't on this list? <br><a class="darkteal-text" href="{% url 'invite' %}">Invite them to Local Contexts Hub</a>.</small>
                            </div>
                        </div>
    
                    </form>
                </div>
            </div>
    
        </div>
    </div>