<div class="content-card-v2 content-card-space white-bg">
    <div class="border-bottom-solid-teal">
        <h2>Members</h2>
        <p>Manage roles within this account and add new members below.</p>
    </div>
    <div>
        <h3>What roles are there in the Local Contexts Hub?</h3>
        <p>
            <span class="bold">Administrator</span><br>
            An administrator can accept new members on behalf of the community. They take care of administrative tasks to help build a sustainable workspace.<br><br>
            <span class="bold">Editor</span><br>
            Editors can customize labels and create projects, they can also approve other Labels developed by another editor within the profile. <br><br>
            <span class="bold">Viewer</span><br>
            Viewers can view the activity happening in the account but cannot change or edit anything.
        </p>
    </div>
</div>

{% if community %}
<div class="content-card-v2 content-card-space white-bg">
    <div>
        <h2 class="darkteal-text no-top-margin">
        {% if community.community_creator.get_full_name %}
            {{ community.community_creator.get_full_name }}
        {% else %}
            {{ community.community_creator }}
        {% endif %}
        </h2>

        <p class="no-bottom-margin">
            <span class="bold">Role</span> | Administrator <br><br>
            <span class="bold">Job title</span> | {{ community.community_creator.profile.job_title }} <br><br>
        </p>
    </div>
</div>

{% for admin in community.get_admins %}
    <div class="content-card-v2 content-card-space white-bg">
        <div>
            <h2 class="darkteal-text no-top-margin">
                {% if admin.get_full_name %}
                    {{ admin.get_full_name }}
                {% else %}
                    {{ admin }}
                {% endif %}
            </h2>

            <p class="no-bottom-margin">
                <span class="bold">Role</span> | Administrator <br><br>
                <span class="bold">Job title</span> | {{ admin.profile.job_title }} <br><br>
            </p>
        </div>
    </div>
{% endfor %}

{% for editor in community.get_editors %}
    <div class="content-card-v2 content-card-space white-bg">
        <div>
            <h2 class="darkteal-text no-top-margin">
                {% if editor.get_full_name %}
                    {{ editor.get_full_name }}
                {% else %}
                    {{ editor }}
                {% endif %}
            </h2>

            <p class="no-bottom-margin">
                <span class="bold">Role</span> | Editor <br><br>
                <span class="bold">Job title</span> | {{ editor.profile.job_title }} <br><br>
            </p>
        </div>
    </div>
{% endfor %}

{% for viewer in community.get_viewers %}
    <div class="content-card-v2 content-card-space white-bg">
        <div>
            <h2 class="darkteal-text no-top-margin">
                {% if viewer.get_full_name %}
                    {{ viewer.get_full_name }}
                {% else %}
                    {{ viewer }}
                {% endif %}
            </h2>

            <p class="no-bottom-margin">
                <span class="bold">Role</span> | Viewer <br><br>
                <span class="bold">Job title</span> | {{ viewer.profile.job_title }} <br><br>
            </p>
        </div>
    </div>
{% endfor %}

{% if member_role == 'admin' or member_role == 'editor' %}
    <div>
        <a href="{% url 'add-member' community.id %}">
            <div class="flex-this add-member-card">
            <div class="w-100 add-member">
                <h4 class="darkteal-text weight-500">+ Add a Member </h4>
            </div>
            </div>
        </a>
    </div>
{% endif %}
{% endif %}

{% if institution %}
    <div class="content-card-v2 content-card-space white-bg">
        <div>
            <h2 class="darkteal-text no-top-margin">
            {% if institution.institution_creator.get_full_name %}
                {{ institution.institution_creator.get_full_name }}
            {% else %}
                {{ institution.institution_creator }}
            {% endif %}
            </h2>

            <p class="no-bottom-margin">
                <span class="bold">Role</span> | Administrator <br><br>
                <span class="bold">Job title</span> | {{ institution.institution_creator.profile.job_title }} <br><br>
            </p>
        </div>
    </div>

    {% for admin in institution.get_admins %}
        <div class="content-card-v2 content-card-space white-bg">
            <div>
                <h2 class="darkteal-text no-top-margin">
                    {% if admin.get_full_name %}
                        {{ admin.get_full_name }}
                    {% else %}
                        {{ admin }}
                    {% endif %}
                </h2>

                <p class="no-bottom-margin">
                    <span class="bold">Role</span> | Administrator <br><br>
                    <span class="bold">Job title</span> | {{ admin.profile.job_title }} <br><br>
                </p>
            </div>
        </div>
    {% endfor %}

    {% for editor in institution.get_editors %}
        <div class="content-card-v2 content-card-space white-bg">
            <div>
                <h2 class="darkteal-text no-top-margin">
                    {% if editor.get_full_name %}
                        {{ editor.get_full_name }}
                    {% else %}
                        {{ editor }}
                    {% endif %}
                </h2>

                <p class="no-bottom-margin">
                    <span class="bold">Role</span> | Editor <br><br>
                    <span class="bold">Job title</span> | {{ editor.profile.job_title }} <br><br>
                </p>
            </div>
        </div>
    {% endfor %}

    {% for viewer in institution.get_viewers %}
        <div class="content-card-v2 content-card-space white-bg">
            <div>
                <h2 class="darkteal-text no-top-margin">
                    {% if viewer.get_full_name %}
                        {{ viewer.get_full_name }}
                    {% else %}
                        {{ viewer }}
                    {% endif %}
                </h2>

                <p class="no-bottom-margin">
                    <span class="bold">Role</span> | Viewer <br><br>
                    <span class="bold">Job title</span> | {{ viewer.profile.job_title }} <br><br>
                </p>
            </div>
        </div>
    {% endfor %}

    {% if member_role == 'viewer' %}{% else %}
        <div>
            <a href="{% url 'add-institution-member' institution.id %}">
                <div class="flex-this add-member-card">
                    <div class="w-100 add-member">
                        <h4 class="darkteal-text weight-500">+ Add Members </h4>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endif %}