<div class="content-card-v2 content-card-space white-bg">
    <div class="margin-bottom-16">
        <small class="bold">
            <a 
                class="darkteal-text" 
                {% if community %}
                    href="{% url 'members' community.id %}"
                {% endif %}
                {% if institution %}
                    href="{% url 'institution-members' institution.id %}"
                {% endif %}
            >Members</a> 
            <span class="grey-text"> >> Member Requests</span>
        </small>
    </div>
    <div><h2 class="no-top-margin">Member Requests</h2></div>

    {% include 'partials/_alerts.html' %}
</div>

{% if join_requests %}
    {% for join_request in join_requests %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="grey-text bold">Request Sent: {{ join_request.date_sent }}</small>
                </div>
                
                <div class="flex-this dash-btn-container flex-end">
                    <div class="no-top-margin margin-right-8">
                        <a 
                            class="primary-btn white-btn" 
                            {% if community %}
                                href="{% url 'delete-join-request' community.id join_request.id %}" 
                            {% endif %}
                            {% if institution %}
                                href="{% url 'institution-delete-join-request' institution.id join_request.id %}" 
                            {% endif %}
                        >Delete Request</a>
                    </div>
                    <div><a id="{{join_request.id}}" onclick="acceptJoinRequestModal(this)" class="primary-btn action-btn">Accept Request</a></div>
                </div>  
                
                <div id="acceptJoinRequestModal_{{join_request.id}}" class="modal hide">
                    <div class="modal-defaults add-member-modal flex-this column w-100">
                    
                        <div class="flex-this flex-end close-modal-btn">
                            <div id="closeModal{{join_request.id}}" class="margin-right-8 primary-btn white-btn">Close X</div>
                        </div>
                        <div class="modal-content-padding w-100">
                
                            <h2 class="no-top-margin primary-black-text">Accept a join request</h2>  
                            <p>
                                To accept this new member, please select their responsibility below.
                            </p>
                
                            <div class="w-100 flex-this column">
                                <form method="POST" action="">
                                    {% csrf_token %}
                        
                                    <div>
                                        <label>Responsibility</label><br>
                                        <select name="selected_role" class="w-100">
                                            <option selected="true" disabled>-------------</option>
                                            <option>Administrator</option>
                                            <option>Editor</option>
                                            <option>Viewer</option>
                                        </select> 
                                    </div>

                                    <input 
                                        type="hidden" 
                                        value="{{join_request.id}}" 
                                        name="join_request_id"
                                    >
                                
                                    <div class="flex-this flex-end margin-top-16">
                                        <button class="primary-btn action-btn">Accept Request</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                
                    </div>
                </div>

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">{% if join_request.user_from.get_full_name %}{{ join_request.user_from.get_full_name }} {% else %} {{ join_request.user_from.username }} {% endif %} </h2>
                {% if join_request.user_from.profile.position %}
                    <h3 class="no-top-margin">{{ join_request.user_from.profile.position }}</h3>
                {% endif %}

                {% if not join_request.user_from.profile.city_town and not join_request.user_from.profile.state_province_region and not join_request.user_from.profile.country.name %}
                {% else %}
                    <h4 class="no-top-margin">
                        {% if join_request.user_from.profile.city_town %} {{ join_request.user_from.profile.city_town }}, {% endif %}
                        {% if join_request.user_from.profile.state_province_region %}{{ join_request.user_from.profile.state_province_region }}, {% endif %}
                        {% if join_request.user_from.profile.country %} {{ join_request.user_from.profile.country.name }} {% endif%}
                    </h4>
                {% endif %}

                {% if join_request.user_from.profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ join_request.user_from.profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if join_request.user_from.profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ join_request.user_from.profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if join_request.role %}
                    <div>
                        <span class="bold">Their proposed responsibility is:</span>
                        <i>
                            {% if join_request.role == 'admin' %} Administrator {% endif %}
                            {% if join_request.role == 'editor' %} Editor {% endif %}
                            {% if join_request.role == 'viewer' %} Viewer {% endif %}
                        </i>                    
                    </div>
                {% endif %}

                {% if join_request.message %}
                    <div>
                        <p>
                            <span class="bold">Message:</span><i> {{ join_request.message }}</i>
                        </p>                    
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}
{% endif %}