<div class="content-card-v2 content-card-space">
    <div class="border-bottom-solid-teal flex-this space-between">
        <div>
            <h2 class="no-top-margin">Members</h2>
            <p>View all members and their associated responsibilities.</p>
        </div>
        <div class="flex-this">
            <div>
                <a 
                    {% if community %}
                        href="{% url 'member-requests' community.id %}"
                    {% endif %} 
                    {% if institution %}
                        href="{% url 'institution-member-requests' institution.id %}"
                    {% endif %}
                    class="primary-btn white-btn">
                    Member Requests {% if join_requests_count %}({% if join_requests_count < 10 %}0{{ join_requests_count }}{% else %}{{ join_requests_count }}{% endif %}){% endif %}
                </a>                
            </div>
            {% if member_role == 'admin' %}
                <div class="margin-left-8">
                    <a class="primary-btn green-btn" onclick="openMemberModal()">Add a new member <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <h3>What responsibilities are there in the Local Contexts Hub?</h3>

        <div class="flex-this margin-bottom-8">
            <div class="member-roles"><span class="bold">Administrator</span> | </div>
            <div><span>An administrator can accept new members, change member responsibilities, and remove members. They also have the abilities of an editor.</span></div>
        </div>
        <div class="flex-this margin-bottom-8">
            <div class="member-roles"><span class="bold">Editor</span> | </div>
            <div><span>
                {% if community %}
                    Editors can customize Labels and create Projects, they can also approve other Labels developed by another editor or admin within the account. 
                {% endif %}
                {% if institution %}
                    Editors can create and contribute to Projects, place Notices, and notify communities. 
                {% endif %}
            </span></div>
        </div>
        <div class="flex-this margin-bottom-8">
            <div class="member-roles"><span class="bold">Viewer</span> | </div>
            <div><span>Viewers can see the activity happening in the account but cannot change or edit anything.</span></div>
        </div>
    </div>

        <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

</div>

{% if community %}
    <section class="dash-driver flex-this column">
        <div class="flex-this space-between">
            <div class="margin-bottom-16">
                <small class="bold">Role - Main Admininstrator</small>
            </div>
        </div>

        <div class="w-70">
            <h2 class="no-top-margin no-bottom-margin">
                {% firstof community.community_creator.get_full_name community.community_creator.username %}
            </h2>
            {% if community.community_creator.user_profile.position %}
                <h3 class="no-top-margin">{{ community.community_creator.user_profile.position }}</h3>
            {% endif %}

            <h4 class="no-top-margin"> {{community.community_creator.user_profile.get_location}}</h4>

            {% if community.community_creator.user_profile.languages_spoken %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Languages</small>
                        <p class="no-top-margin">{{ community.community_creator.user_profile.languages_spoken }}</p>
                    </div>
                </div>
            {% endif %}

            {% if community.community_creator.user_profile.affiliation %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Affiliations</small>
                        <p class="no-top-margin">{{ community.community_creator.user_profile.affiliation }}</p>
                    </div>
                </div>
            {% endif %}


            {% if member_role == 'admin' %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                    </div>
                    <div>
                        <small class="orange-text">Email</small>
                        <p class="no-top-margin">{{ community.community_creator.email }}</p>
                    </div>
                </div>
            {% endif %}

        </div>

    </section>

    {% for admin in community.get_admins %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Admininstrator</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{admin.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ admin.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %}

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof admin.get_full_name admin.username %}
                </h2>
                {% if admin.user_profile.position %}
                    <h3 class="no-top-margin">{{ admin.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ admin.user_profile.get_location }} </h4>

                {% if admin.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ admin.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if admin.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ admin.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ admin.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}

    {% for editor in community.get_editors %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Editor</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{editor.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ editor.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %} 

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof editor.get_full_name editor.username %}
                </h2>
                {% if editor.user_profile.position %}
                    <h3 class="no-top-margin">{{ editor.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ editor.user_profile.get_location }} </h4>

                {% if editor.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ editor.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if editor.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ editor.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ editor.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}

    {% for viewer in community.get_viewers %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Viewer</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{viewer.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ viewer.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %}

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof viewer.get_full_name viewer.username %}
                </h2>
                {% if viewer.user_profile.position %}
                    <h3 class="no-top-margin">{{ viewer.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ viewer.user_profile.get_location }} </h4>

                {% if viewer.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ viewer.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if viewer.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ viewer.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ viewer.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}
{% endif %}

{% if institution %}
    <section class="dash-driver flex-this column">
        <div class="flex-this space-between">
            <div class="margin-bottom-16">
                <small class="bold">Role - Main Admininstrator</small>
            </div>
        </div>

        <div class="w-70">
            <h2 class="no-top-margin no-bottom-margin">
                {% firstof institution.institution_creator.get_full_name institution.institution_creator.username %}
            </h2>
            {% if institution.institution_creator.user_profile.position %}
                <h3 class="no-top-margin">{{ institution.institution_creator.user_profile.position }}</h3>
            {% endif %}

            <h4 class="no-top-margin"> {{ institution.institution_creator.user_profile.get_location }} </h4>

            {% if institution.institution_creator.user_profile.languages_spoken %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Languages</small>
                        <p class="no-top-margin">{{ institution.institution_creator.user_profile.languages_spoken }}</p>
                    </div>
                </div>
            {% endif %}

            {% if institution.institution_creator.user_profile.affiliation %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                    </div>
                    <div>
                        <small class="orange-text">Affiliations</small>
                        <p class="no-top-margin">{{ institution.institution_creator.user_profile.affiliation }}</p>
                    </div>
                </div>
            {% endif %}

            {% if member_role == 'admin' %}
                <div class="flex-this">
                    <div class="dash-icons-big">
                        <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                    </div>
                    <div>
                        <small class="orange-text">Email</small>
                        <p class="no-top-margin">{{ institution.institution_creator.email }}</p>
                    </div>
                </div>
            {% endif %}

        </div>

    </section>

    {% for admin in institution.get_admins %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Admininstrator</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{admin.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ admin.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %}

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof admin.get_full_name admin.username %}
                </h2>
                {% if admin.user_profile.position %}
                    <h3 class="no-top-margin">{{ admin.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ admin.user_profile.get_location }} </h4>

                {% if admin.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ admin.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if admin.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ admin.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ admin.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}

    {% for editor in institution.get_editors %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Editor</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{editor.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ editor.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %} 

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof editor.get_full_name editor.username %}
                </h2>
                {% if editor.user_profile.position %}
                    <h3 class="no-top-margin">{{ editor.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ editor.user_profile.get_location }} </h4>

                {% if editor.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ editor.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if editor.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ editor.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ editor.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}

    {% for viewer in institution.get_viewers %}
        <section class="dash-driver flex-this column">
            <div class="flex-this space-between">
                <div>
                    <small class="bold">Role - Viewer</small>
                </div>

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="margin-right-16 margin-top-8">
                            <a id="removeMemberBtn_{{viewer.id}}" class="block removeMemberBtn"><small class="darkteal-text bold pointer underline-hover">Remove member</small></a>
                        </div>
                        <div>
                            <button id="openChangeRoleModalBtn_{{ viewer.id }}" class="primary-btn white-btn changeRoleBtn">Change role <i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    {% include 'snippets/modals/remove-member-modal.html' %}
                    {% include 'snippets/modals/change-member-modal.html' %}
                {% endif %}

            </div>

            <div class="w-70">
                <h2 class="no-top-margin no-bottom-margin">
                    {% firstof viewer.get_full_name viewer.username %}
                </h2>
                {% if viewer.user_profile.position %}
                    <h3 class="no-top-margin">{{ viewer.user_profile.position }}</h3>
                {% endif %}

                <h4 class="no-top-margin"> {{ viewer.user_profile.get_location }} </h4>

                {% if viewer.user_profile.languages_spoken %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-language fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Languages</small>
                            <p class="no-top-margin">{{ viewer.user_profile.languages_spoken }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if viewer.user_profile.affiliation %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa fa-object-group fa-2x orange-text" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small class="orange-text">Affiliations</small>
                            <p class="no-top-margin">{{ viewer.user_profile.affiliation }}</p>
                        </div>
                    </div>
                {% endif %}

                {% if member_role == 'admin' %}
                    <div class="flex-this">
                        <div class="dash-icons-big">
                            <i class="fa-solid fa-envelope fa-2x orange-text"></i>
                        </div>
                        <div>
                            <small class="orange-text">Email</small>
                            <p class="no-top-margin">{{ viewer.email }}</p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </section>
    {% endfor %}
{% endif %}


<!-- MEMBER MODAL -->


<div id="memberModal" class="modal hide" onClick="closeMemberModal()">
    <span id="memberModalContent">
        <!-- ADD MEMBER MODAL VIEW -->
        <div id="addMemberModalView" class="modal-defaults add-member-modal flex-this column w-100 show">

            <div class="flex-this space-between">
                <div>
                    <h2 class="no-top-margin">Add a new member</h2>
                    <p class="no-top-margin">To invite a new member, please select a user and their proposed responsibility below</p>
                </div>

                <div>
                    <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
                </div>
            </div>

            <div class="w-100 flex-this column">
                <form id="addMemberForm" method="POST" action="">
                    {% csrf_token %}

                        <div class="flex-this column">
                            <div>
                                <div>
                                    <label>Name</label> <br>
                                    <input
                                        id="userListInput"
                                        list="userList"
                                        name="userList"
                                        class="w-100"
                                        placeholder="Start typing name or username"
                                    >
                                    <datalist id="userList">
                                        {% for user in users %}
                                            <option
                                                {% if user.first_name and user.last_name %}
                                                    value="{{ user.username }} ({{ user.first_name }} {{ user.last_name }})"
                                                {% else %}
                                                    value="{{ user.username }}"
                                                {% endif %}
                                            >
                                        {% endfor %}
                                    </datalist>

                                </div>
                                <div class="margin-top-8">
                                    <label>Proposed Responsibility</label><br>
                                    {{ form.role }}
                                </div>
                            </div>

                            <div class="margin-top-8">
                                <label>Optional Message</label><br>
                                {{ form.message }}
                            </div>
                        </div>

                        <div class="flex-this w-100 margin-bottom-16">
                            <div class="w-50 margin-top-2">
                                <button
                                    id="sendMemberInviteBtn"
                                    class="primary-btn action-btn"
                                    name="send_invite_btn"
                                    disabled
                                >Send Invitation </button>
                            </div>

                            <div class="w-50 margin-top-2 right-text">
                                <small>Looking for someone who isn't on this list? <br>
                                    <a onclick="openInviteUserModalView()" class="darkteal-text pointer">
                                        Invite them to Local Contexts Hub
                                    </a>
                                </small>
                            </div>
                        </div>

                </form>
            </div>

        </div>

        <!-- INVITE NEW USER MODAL VIEW -->
        <div id="inviteUserModalView" class="modal-defaults add-member-modal flex-this column w-100 hide">

            <h3>Invite New User</h3>
            <form method="POST" action="{% url 'invite' %}">
                {% csrf_token %}

                <label for="email"> Email Address </label><br>
                {{ invite_form.email }}<br>

                <label for="message"> Output Message (Optional) </label><br>
                {{ invite_form.message }}<br>

                <div class="flex-this row">
                    <div class="flex-this row w-50 flex-start">
                        <button onclick="openAddModalView()" type="button" class="primary-btn white-btn margin-top-2">Back</button>
                    </div>
                    <div class="flex-this row w-50 flex-end">
                        <button type="submit" class="primary-btn action-btn margin-top-2">Send Invitation</button>
                    </div>
                </div>
            </form>

        </div>
    </span>
</div>

