{% load static %}
<div class="content-card content-card-space white-bg">
    <h2 class="no-top-margin">Notices</h2>
    <p class="no-top-margin w-70">
        Institutions and researchers can only generate Notices. Applying Notices allows institutions and researchers to engage, acknowledge, and make visible Indigenous interests in collections, information, and data. Notices are a precursor for communities to add their Labels to a project if they choose. <br><br>
        We recommend beginning with the Open to Collaborate Notice, which you can download from this page without creating a Project. To apply the disclosure Notices, you will create a Project to describe the context.
    </p>
</div>

<div class="content-card content-card-space white-bg">
    <div class="flex-this space-between">
        <div><h2 class="no-top-margin">Engagement Notice</h2></div>
        <div class="flex-this flex-end">
            <div class="margin-right-16"><a id="addURLBtn" class="primary-btn action-btn">Add Link <i class="fa-solid fa-circle-plus"></i></a></div>
            <div>
                {% if otc_download_perm == 1 %}
                    <a 
                        {% if researcher %}
                            href="{% url 'download-open-to-collaborate-notice-researcher' perm=otc_download_perm researcher_id=researcher.id %}" 
                        {% endif %}
                        {% if institution %}
                            href="{% url 'download-open-to-collaborate-notice-institution' perm=otc_download_perm institution_id=institution.id %}" 
                        {% endif %}
                        class="primary-btn blue-btn">
                        Download Notice <i class="fa-solid fa-download"></i>
                    </a>
                {% else %}
                    <div class="btn-with-helptext">
                        <button class="primary-btn disabled-btn">Download Notice <i class="fa-solid fa-download"></i></button>
                        <span class="btn-help-text">
                            {% if institution %}
                                {% if not institution.is_approved %}
                                    Your institution account needs to be confirmed in order to download this Notice.
                                {% endif %}
                            {% endif %}
                            {% if is_sandbox %}
                                Download of Notices is not available on the sandbox site.
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex-this">
        <div><img loading="lazy" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="119px" alt="black square with a rectangle and on hand on top and bottom in the middle in white"></div>
        <div class="flex-this column margin-left-16">
            <div class="w-90">
                <h3 class="no-top-margin">Open to Collaborate</h3>

                <p class="no-top-margin">                    
                    <span class="bold">Why Use this Notice?</span><br>
                    The Engagement Notice, the Open to Collaborate Notice, indicates that a researcher or an institution is committed to developing new modes of collaboration, engagement, and partnership over Indigenous collections and data that have colonial and/or problematic histories or unclear provenance. This Notice indicates a commitment to change and to develop new processes for the care and stewardship of past and future heritage collections. We recommend beginning with the Open to Collaborate Notice.               
                </p>
                <p>
                    <span class="bold">How can I use this Notice?</span><br>
                    Access the Hub API or click the “Download Notice” button on this page to use the Open to Collaborate Notice. For detailed information about the Engagement Notice and how to apply it, 
                    <a class="darkteal-text underline-hover" href="https://localcontexts.org/support/downloadable-resources/" target="_blank" rel="noopener">see our usage guide <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>. 
                    <br><br>
                    If you add the Notice to a website, click the “Add Link” button and enter the information about where your Notice is displayed. If you have applied the Notice in multiple places, you can add multiple links.
                    <br><br>
                    Adding a link will add a badge to your account in the Registry and the links will be accessible to others viewing your account page.
                </p>
                <p>
                    <span class="bold">Notice Text</span><br>
                    Our institution is committed to the development of new modes of collaboration, engagement, and partnership with Indigenous peoples for the care and stewardship of past and future heritage collections.                
                </p>            
                <p>
                    <span class="bold">Places this Notice has been applied</span><br>
                    {% if urls %}
                        <ul>
                            {% for url in urls %}
                                <li class="margin-bottom-8">
                                    <div class="flex-this w-70 space-between">
                                        <a class="darkteal-text underline-hover block" href="{{ url.0 }}" target="_blank" rel="noopener">{{ url.1 }} <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
                                        {% if researcher %}
                                            <a class="darkteal-text underline-hover block" href="{% url 'researcher-delete-otc' researcher.id url.2 %}"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                                        {% endif %}     
                                        {% if institution %}
                                            {% if member_role == 'admin' or member_role == 'editor' %}
                                                <a class="darkteal-text underline-hover block" href="{% url 'institution-delete-otc' institution.id url.2 %}"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                                            {% endif %}
                                        {% endif %}                                   
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Click on the 'Add Link’ button to add where your Notice is displayed. These links will be visible on your account’s page in the registry.
                    {% endif %}
                </p>
            </div>
            
        </div>
    </div>
</div>

<div class="content-card content-card-space white-bg">
    <div class="flex-this space-between">
        <div>
            <h2 class="no-top-margin">Disclosure Notices</h2>
        </div>
        <div>
            {% if researcher %}
                <div class="flex-this align-center">
                    <a class="primary-btn green-btn margin-top-2" href="{% url 'researcher-create-project' researcher.id %}">
                        Create a Project     <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            {% endif %}

            {% if institution %}
                <div class="flex-this align-center">
                    {% if member_role == 'admin' or member_role == 'editor' %}
                        <a class="primary-btn green-btn margin-top-2" href="{% url 'inst-create-project' institution.id %}">
                            Create a Project     <i class="fa fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}        
        </div>        
    </div>

    <div class="w-80">
        <p>
            <span class="bold">Why use these Notices?</span><br>
            The Disclosure Notices are used to identify Indigenous collections and data and to recognize there could be accompanying cultural rights, protocols, and responsibilities. The Notices allow institutions and researchers to engage, acknowledge, and make visible Indigenous interests in collections, information, and data.
        </p>
        <p>
            <span class="bold">How can I use these Notices?</span><br>
            To apply the Disclosure Notices, you will create a Project to describe the context. After creating a Project, you can use the Hub API or download from the Project page to use the Notice(s). For detailed information about the Disclosure Notices and how to apply them, 
            <a class="darkteal-text underline-hover" href="https://localcontexts.org/support/downloadable-resources/" target="_blank" rel="noopener">see our usage guide <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
        </p>        
    </div>

    <div class="flex-this justify-center">
        <div id="disclosureTK" class="cc-notice__container" onclick="expandDisclosureNotice(this)">
            <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="119px" alt="black square with the letters TK in the middle in white"></div>
            <div><p>Traditional Knowledge</p></div>
        </div>
        <div id="disclosureBC" class="cc-notice__container" onclick="expandDisclosureNotice(this)">
            <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="119px" alt="black square with the letters BC in the middle in white"></div>
            <div><p>Biocultural</p></div>
        </div>
        
        <div id="disclosureAI" class="cc-notice__container" onclick="expandDisclosureNotice(this)">
            <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with an unfinished square in the middle in white"></div>
            <div><p>Attribution Incomplete</p></div>
        </div>
    </div>

    <div class="w-80 auto-margin">

        <div id="openDiv-disclosureTK" class="disclosure-notice__expanded-container hide">
            <div class="flex-this">
                <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with the letters TK in the middle in white"></div>
                <div class="flex-this column margin-left-16">
                    <div class="w-90">
                        <h2 class="no-top-margin">Traditional Knowledge Notice</h2>
                        <p class="no-top-margin">
                            <span class="bold">Why Use this Notice?</span><br>
                            This Notice should be used to recognize that place-based knowledge carries accompanying cultural rights and responsibilities and that appropriate permissions may need to be sought for future use of this material.
                        </p>        
                    </div>
                    <div class="w-90">
                        <p>
                            <span class="bold">Notice Text</span><br>                        
                            The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. For more information about the TK Notice click 
                            <a class="darkteal-text underline-hover" href="https://localcontexts.org/notice/tk-notice/" target="_blank" rel="noopener">here <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
                        </p>         
                    </div>
                </div>
            </div>            
        </div>

        <div id="openDiv-disclosureBC" class="disclosure-notice__expanded-container hide">
            <div class="flex-this">
                <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with the letters BC in the middle in white"></div>
                <div class="flex-this column margin-left-16">
                    <div class="w-90">
                        <h2 class="no-top-margin">Biocultural Notice</h2>
                        <p class="no-top-margin">
                            <span class="bold">Why Use this Notice?</span><br>
                            The BC Notice should be used to recognize the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity and genetic resources associated with their traditional lands, waters, and territories. It acknowledges the importance of cultural protocols and recognizes that appropriate permissions may need to be sought for future use of this material or data.
                        </p>        
                    </div>
                    <div class="w-90">
                        <p>
                            <span class="bold">Notice Text</span><br>
                            The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. For more information about the BC Notice click 
                            <a class="darkteal-text underline-hover" href="https://localcontexts.org/notice/bc-notice/" target="_blank" rel="noopener">here <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
                        </p>         
                    </div>
                </div>
            </div>            
        </div>

        <div id="openDiv-disclosureAI" class="disclosure-notice__expanded-container hide">
            <div class="flex-this">
                <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with an unfinished square in the middle in white"></div>
                <div class="flex-this column margin-left-16">
                    <div class="w-90">
                        <h2 class="no-top-margin">Attribution Incomplete Notice</h2>
                        <p class="no-top-margin">
                            <span class="bold">Why Use this Notice?</span><br>
                            The Attribution Incomplete Notice is attached to a collection or at an item level where there is incomplete, inaccurate, or missing attribution. This Notice indicates to the public that the record and/or metadata is incomplete. Visibly identifying missing attribution within collections is the first step towards correcting existing attribution to include: contributors, collaborators, other authors and/or communities of origin.
                        </p>        
                    </div>
                    <div class="w-90">
                        <p>
                            <span class="bold">Notice Text</span><br>
                            Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution.
                        </p>         
                    </div>
                </div>
            </div>            
        </div>   

    </div>


</div>

{% if institution %}
    <div class="content-card content-card-space white-bg">
        <div class="flex-this space-between">
            <div><h2 class="no-top-margin">Collections Care Notices</h2></div>
            <div class="flex-this flex-end">
                
                <div class="margin-right-16"><a id="openCCNoticeModal" class="primary-btn action-btn">Add Policy <i class="fa-solid fa-circle-plus"></i></a></div>

                <div>
                    {% if ccn_download_perm == 1 %}
                        <a id="ccNoticeDownloadBtn" href="{% url 'download-collections-care-notices' institution.id ccn_download_perm %}" class="primary-btn blue-btn">
                            Download Notices <i class="fa-solid fa-download"></i>
                        </a>
                    {% else %}
                        <div class="btn-with-helptext">
                            <button class="primary-btn disabled-btn">Download Notices</button>
                            <span class="btn-help-text">
                                {% if institution %}
                                    {% if not institution.is_approved %}
                                        Your institution account needs to be confirmed in order to download this Notice.
                                    {% endif %}
                                {% endif %}
                                {% if is_sandbox %}
                                    Download of Notices is not available on the sandbox site.
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="flex-this">
            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-overall-notice.png' %}" width="119px" alt=""></div>
            <div class="flex-this column margin-left-16">
                <div class="w-80">
                    <p>
                        <span class="bold">Why use these Notices?</span><br>
                        The Collections Care (CC) Notices are used to recognize the cultural protocols that govern the care, display, and access to cultural materials. The CC Notices recognize that there are accompanying cultural rights, protocols, and responsibilities that govern the care, display, and access to cultural materials within collections. This reflects Indigenous sensibilities and worldviews where these collections are not objects but need to be cared for as relatives and relations.
                        <br><br>
                        These Notices can be applied after engaging with community-specific Indigenous experts to determine the culturally appropriate care and governance for relatives and relations held in the collections.
                    </p>
                    <p>
                        <span class="bold">Where can I use these Notices?</span><br>
                        The CC Notices are for implementation by institutions and repositories internally and directly on collections in storage spaces and databases as well as within policy, workflows, and practices surrounding the care and stewardship of these important collections. The CC Notices can be used in print and digital formats.
                    </p>
                    <p>
                        <span class="bold">How can I use these Notices?</span><br>
                        Within the downloaded zip file are folders for each Notice containing its text, png, svg, QR code, and printable labels. Also included in the zip file is a poster with the Overall Notice. For transparency and staff awareness, we highly recommend that the poster with the Overall Notice is displayed in collections storage where the CC Notices are in use. 
                        <br><br>
                        For detailed information about the CC Notices and how to apply them, 
                        <a class="darkteal-text underline-hover" href="https://localcontexts.org/support/downloadable-resources/" target="_blank" rel="noopener">see our usage guide <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
                    </p>
                </div>

                <div class="w-80">

                    <div class="flex-this space-between">
                        <div id="authorization" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-authorization.png' %}" width="119px" alt="Icon for Authorization Notice. Abstract design within a white square. Black circle above a set of three curved black lines with one curved black line below."></div>
                            <div><p>Authorization</p></div>
                        </div>
                        <div id="belonging" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-belonging.png' %}" width="119px" alt="Icon for Belonging Notice. Abstract design within a white square. Three layered sets of black circles with two curved black lines representing three people."></div>
                            <div><p>Belonging</p></div>
                        </div>
                        
                        <div id="caring" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-caring.png' %}" width="119px" alt="Icon for Caring Notice. Abstract design within a white square. Two curved black lines surround a black circle."></div>
                            <div><p>Caring</p></div>
                        </div>
                    
                        <div id="gender-aware" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-gender-aware.png' %}" width="119px" alt="Icon for Gender Aware Notice. Abstract design within a white square. Three circles in a diagonal line: A black outlined circle, a black filled circle, and a striped black and white circle."></div>
                            <div><p>Gender Aware</p></div>
                        </div>
                    </div>
                    <div class="flex-this space-between">
                        <div id="leave-undisturbed" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-leave-undisturbed.png' %}" width="119px" alt="Icon for Leave Undisturbed Notice. Abstract design within a white square. A black circle in the center of two curved black lines which form a struck-through circle."></div>
                            <div><p>Leave Undisturbed</p></div>
                        </div>
                        <div id="safety" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-safety.png' %}" width="119px" alt="Icon for Safety Notice. Abstract design within a white square. A black circle in the center of three curved black lines which form a circle."></div>
                            <div><p>Safety</p></div>
                        </div>
                        <div id="viewing" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-viewing.png' %}" width="119px" alt="Icon for Viewing Notice. Abstract design within a white square. A black circle in the center of two curved lines, forming an abstract eye."></div>
                            <div><p>Viewing</p></div>
                        </div>
                        <div id="withholding" class="cc-notice__container" onclick="expandCCNotice(this)">
                            <div><img loading="lazy" src="{% static 'images/notices/collections-care/cc-withholding.png' %}" width="119px" alt="Icon for Withholding Notice. Abstract design within a white square. A black circle in the center of two curved lines."></div>
                            <div><p>Withholding</p></div>
                        </div>
                    </div>

                    <div id="openDiv-authorization" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-authorization.png' %}" width="119px" alt="Icon for Authorization Notice. Abstract design within a white square. Black circle above a set of three curved black lines with one curved black line below."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Authorization</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Authorization Notice recognizes that specific Tribal or community authorization through consultation is necessary prior to use of specific items or collections in all forms of publication and exhibits.                                
                                <br><br>

                                <span class="bold">Notice Text</span><br>
                                The Authorization Notice is being used to indicate that distinct Tribal or community authorization through consultation needs to be obtained for any reproduction of this item, including for the use in exhibitions and publications in print or online.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-belonging" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-belonging.png' %}" width="119px" alt="Icon for Belonging Notice. Abstract design within a white square. Three layered sets of black circles with two curved black lines representing three people."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Belonging</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Belonging Notice recognizes the exclusive right of Indigenous communities, Tribes, Clans, or societies to access and handle items or collections.
                                <br><br>
                                <span class="bold">Notice Text</span><br>
                                The Belonging Notice is being used to indicate that only specific persons belonging to communities, Tribes, Clans, and societies have the right to access and handle these specific items or collections.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-caring" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-caring.png' %}" width="119px" alt="Icon for Caring Notice. Abstract design within a white square. Two curved black lines surround a black circle."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Caring</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Caring Notice recognizes cultural ways of caring for materials including specific ways of handling, storing, or managing specific items or collections. In all cases, care will be defined through community consultations.
                                <br><br>
                                <span class="bold">Notice Text</span><br>
                                The Caring Notice is being used to indicate that specialized cultural care is required. Care for items or collections will require specific community guidelines for storage and handling.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-gender-aware" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-gender-aware.png' %}" width="119px" alt="Icon for Gender Aware Notice. Abstract design within a white square. Three circles in a diagonal line: A black outlined circle, a black filled circle, and a striped black and white circle."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Gender Aware</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Gender Aware Notice recognizes that gender  influences access, handling, viewing, and interacting with items or collections. Specifically, this Notice calls attention to who should handle items or collections based on their self-identified gender.
                                <br><br>
                                <span class="bold">Notice Text</span><br>
                                The Gender Aware Notice is being used to indicate there are specific gender responsibilities that affect who can access, view, and/or handle this item or collection.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-leave-undisturbed" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-leave-undisturbed.png' %}" width="119px" alt="Icon for Leave Undisturbed Notice. Abstract design within a white square. A black circle in the center of two curved black lines which form a struck-through circle."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Leave Undisturbed</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Leave Undisturbed Notice recognizes the cultural significance and necessity of not disturbing certain cultural materials.                                
                                <br><br>
                                <span class="bold">Notice Text</span><br>
                                The Leave Undisturbed Notice is being used to indicate that items in a collection should not be disturbed. They should only be moved or disturbed under very limited circumstances according to community guidance.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-safety" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-safety.png' %}" width="119px" alt="Icon for Safety Notice. Abstract design within a white square. A black circle in the center of three curved black lines which form a circle."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Safety</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Safety Notice calls attention to the need for respectful safety precautions to avoid handling items in collections when one is menstruating and/or pregnant for the well-being and health of the individual and their family.
                                <br><br>
                                <span class="bold">Notice Text</span><br>
                                The Safety Notice is being used to indicate that extreme caution and care needs to be taken in viewing and handling this item or collection for individual or community well-being and health.
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-viewing" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-viewing.png' %}" width="119px" alt="Icon for Viewing Notice. Abstract design within a white square. A black circle in the center of two curved lines, forming an abstract eye."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Viewing</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Viewing Notice recognizes that there are limits to viewing or accessing current or deaccessioned items in a collection(s) or their representations. 
                                <br><br>

                                <span class="bold">Notice Text</span><br>
                                The Viewing Notice is being used to indicate that there are limits to who, how, and when an item/collection can be viewed, distributed, and circulated. This includes existing images or representations of an existing or deaccessioned item(s) within a collection(s).
                            </p>
                        </div>
                    </div>

                    <div id="openDiv-withholding" class="flex-this cc-notice__expanded-container hide">
                        <div class="cc-notice__expanded-img"><img loading="lazy" src="{% static 'images/notices/collections-care/cc-withholding.png' %}" width="119px" alt="Icon for Withholding Notice. Abstract design within a white square. A black circle in the center of two curved lines."></div>
                        <div class="cc-notice__expanded-text">
                            <div><h2 class="no-top-margin">Withholding</h2></div>

                            <p>
                                <span class="bold">Why use this Notice?</span><br>
                                The Withholding Notice recognizes the need to completely withhold certain items or collections from photography, reproduction, publications, and any type of exhibit in future modalities.
                                <br><br>

                                <span class="bold">Notice Text</span><br>
                                The Withholding Notice is being used to indicate that no reproductions of this item or collection should ever be made. If there are already existing photographs or reproductions, these should not be used in any exhibition or publication in print, online, or any other format.
                            </p>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <div id="addCCPolicyModal" class="modal hide">
        <div class="modal-defaults notice-modal flex-this column w-100">
            <div class="w-100">
                <form id="ccPolicyForm" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    <div class="flex-this space-between">
                        <div><h2 class="primary-black-text no-top-margin">Add Collections Care Notice Policy</h2></div>
                        <div>
                            <div id="closeCCNoticeModal" class="pointer"><i class="fa-regular fa-xmark fa-xl"></i></div>
                        </div>            
                    </div>
    
                    <div>
                        <p>
                            Before downloading the Notices, if you have a collections care policy that you can share, please upload or provide a link.
                        </p>  

                        <div class="w-50">
                            <button id="customCCPolicyFileUploadBtn" class="primary-btn green-btn">
                                Upload Document <i class="fa-solid fa-upload"></i>
                            </button>
                            {{ cc_policy_form.policy_document }}
                        </div>

                        {% if cc_policy_form.policy_document.errors %}
                            <div class="msg-red w-50"><small>{{ cc_policy_form.policy_document.errors.as_text }}</small></div> 
                        {% endif %}

                        <br>
                        <label>Website URL</label><br>
                        {{ cc_policy_form.url }}
                    </div>
                    <div class="flex-this flex-end w-100 margin-top-16">
                        <button class="primary-btn action-btn" name="add_policy">Add policy </button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<div id="addURLModal" class="modal hide">
    <div class="modal-defaults notice-modal flex-this column w-100">
        <div class="w-100">
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <div class="flex-this space-between">
                    <div><h2 class="primary-black-text no-top-margin">Add Open to Collaborate Notice Link</h2></div>
                    <div>
                        <div id="closeAddURLModal" class="pointer"><i class="fa-regular fa-xmark fa-xl"></i></div>
                    </div>            
                </div>

                <div>
                    <p>
                        If you have added an Open to Collaborate Notice to a website, add the link where it appears. If you have applied the Notice in multiple places, you can add multiple links.
                    </p>  
                    {{ form.name.label }}
                    <div class="tooltip"><strong>i</strong>
                        <span class="tooltiptext">The name of the website or webpage where the Notice is displayed. This will appear on your account’s public page in the registry.</span>
                    </div>
                    <br>
                    {{ form.name }}<br>
                    {{ form.url.label }}
                    <div class="tooltip"><strong>i</strong>
                        <span class="tooltiptext">The web address or link or URL where the Notice is displayed. Must be unique, duplicated links will not be added.</span>
                    </div>
                    <br>
                    {{ form.url }}
                </div>
                <div class="flex-this flex-end w-100 margin-top-16">
                    <button class="primary-btn action-btn">Add Link</button>    
                </div>
            </form>
        </div>
    </div>
</div>

