{% load static %}
<div class="content-card content-card-space white-bg">

    <div class="flex-this space-between">
        <div class="w-60">
            <h2 class="no-top-margin">Notices</h2>
            <p>
                The Notices are specific tools for institutions and researchers which support the recognition of Indigenous interests in collections and data.
            </p>
        </div>

        {% if researcher %}
            <div class="w-15 flex-this align-center">
                <a class="primary-btn action-btn margin-top-2 " href="{% url 'researcher-create-project' researcher.id %}">
                    Create a Project     <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        {% endif %}

        {% if institution %}
            <div class="w-15 flex-this align-center">
                {% if member_role == 'viewer'%}
                {% else %}
                    <a class="primary-btn action-btn margin-top-2 " href="{% url 'inst-create-project' institution.id %}">
                        Create a Project     <i class="fa fa-long-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}

    </div>

</div>

<div class="content-card content-card-space white-bg">

    <h2 class="no-top-margin">Traditional Knowledge Notice</h2>
    <div class="flex-this border-bottom-solid-teal">
        <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with the letters TK in the middle in white"></div>
        <div class="flex-this column margin-left-16">
            <div class="w-90">
                <p class="no-top-margin">
                    <span class="darkteal-text bold">Why Use this Notice?</span><br>
                    This Notice should be used to recognize that place-based knowledge carries accompanying cultural rights and responsibilities and that appropriate permissions may need to be sought for future use of this material.
                </p>        
            </div>
            <div class="w-90">
                <p>
                    <span class="darkteal-text bold">Notice Text</span><br>
                    The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated.
                </p>         
            </div>
        </div>
    </div>

    <h2>Biocultural Notice</h2>
    <div class="flex-this {% if institution %} border-bottom-solid-teal {% endif %}">
        <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with the letters BC in the middle in white"></div>
        <div class="flex-this column margin-left-16">
            <div class="w-90">
                <p class="no-top-margin">
                    <span class="darkteal-text bold">Why Use this Notice?</span><br>
                    The BC Notice should be used to recognize the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity and genetic resources associated with their traditional lands, waters, and territories. It acknowledges the importance of cultural protocols and recognizes that appropriate permissions may need to be sought for future use of this material or data.            </p>
                </p>        
            </div>
            <div class="w-90">
                <p>
                    <span class="darkteal-text bold">Notice Text</span><br>
                    The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated.            </p>
                </p>         
            </div>
        </div>
    </div>

    {% if institution %}
        <h2>Attribution Incomplete Notice</h2>
        <div class="flex-this border-bottom-solid-teal">
            <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with an unfinished square in the middle in white"></div>
            <div class="flex-this column margin-left-16">
                <div class="w-90">
                    <p class="no-top-margin">
                        <span class="darkteal-text bold">Why Use this Notice?</span><br>
                        The Attribution Incomplete Notice is attached to a collection or at an item level where there is incomplete, inaccurate, or missing attribution. This Notice indicates to the public that the record and/or metadata is incomplete. Visibly identifying missing attribution within collections is the first step towards correcting existing attribution to include: contributors, collaborators, other authors and/or communities of origin.                    
                    </p>        
                </div>
                <div class="w-90">
                    <p>
                        <span class="darkteal-text bold">Notice Text</span><br>
                        Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution.
                    </p>         
                </div>
            </div>
        </div>

        <h2>Open to Collaborate Notice</h2>
        <div class="flex-this">
            <div><img loading="lazy" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="119px" alt="black square with a rectangle and on hand on top and bottom in the middle in white"></div>
            <div class="flex-this column margin-left-16">
                <div class="w-90">
                    <p class="no-top-margin">
                        <span class="darkteal-text bold">Why Use this Notice?</span><br>
                        The Open to Collaborate Notice indicates that an institution is committed to developing new modes of collaboration, engagement, and partnership over Indigenous collections and data that have colonial and/or problematic histories or unclear provenance. This notice indicates an institutional commitment to change and to develop new processes for the care and stewardship of past and future heritage collections.                    
                    </p>        
                </div>
                <div class="w-90">
                    <p>
                        <span class="darkteal-text bold">Notice Text</span><br>
                        Our institution is committed to the development of new modes of collaboration, engagement, and partnership with Indigenous peoples for the care and stewardship of past and future heritage collections.                    </p>         
                </div>
            </div>
        </div>
    {% endif %}

</div>

