<!-- Header for the registration process -->
{% load static %}
<header id="reg-header" class="flex-this">
    {% if user.is_authenticated %}

    <div class="generic-logo-container flex-this">
        <div>
            <a href="#">
                <img class="logo" src="{% static 'images/logos/logo.png' %}" alt="Local Contexts logo">
            </a>
        </div>

        <!-- Keep for now, might need later -->
        <!-- <div class="mini-nav flex-this">
            <div class="flex-this badge-container">
                <div>
                    <a href="{% url 'create-community' %}" class="white-text">
                        <div class="badge">C</div>
                    </a>
                </div>
                <div>   
                    <a href="{% url 'connect-researcher' %}" class="white-text">
                        <div class="badge">R</div>
                    </a>
                </div>

                <div>   
                    <a href="{% url 'create-institution' %}" class="white-text">
                        <div class="badge">I</div>
                    </a>
                </div>

            </div>
        </div> -->

    </div>

    {% else %}

    <div class="generic-logo-container">
        <a href="#">
            <img class="logo" src="{% static 'images/logos/logo.png' %}" alt="Local Contexts logo">
        </a>
    </div>

    {% endif %}
    <nav class="generic-nav flex-this">
        <ul class="flex-this generic-nav-ul">
            <!-- <li><a class="white-text upper" href="#">Labels</a></li> -->

            {% if request.get_full_path == "/communities/community-registry/" or request.get_full_path == "/communities/create-community/" or request.get_full_path == "/communities/connect-community/" %}
                <li><a id="active-link" class="white-text upper" href="{% url 'community-registry' %}">Communities</a></li>
            {% else %}
                <li><a class="white-text upper" href="{% url 'community-registry' %}">Communities</a></li>
            {% endif %}

            {% if request.get_full_path == "/institutions/institution-registry/" or request.get_full_path == "/institutions/create-institution/" or request.get_full_path == "/institutions/connect-institution/" %}
                <li><a id="active-link" class="white-text upper" href="{% url 'institution-registry' %}">Institutions</a></li>
            {% else %}
                <li><a class="white-text upper" href="{% url 'institution-registry' %}">Institutions</a></li>
            {% endif %}

            <!-- <li><a class="white-text upper" href="#">Notices</a></li> -->

            {% if user.is_authenticated %}

            <li><a class="white-text upper" href="{% url 'dashboard' %}">Dashboard</a></li>
            <div>
                <li class="flex-this column sign-out white-bg">
                    <a class="upper orange-text" href="javascript:{document.getElementById('logout').submit()}">
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        <span class="nav-span">Sign Out</span>
                    </a>
                </li>
            </div>

            {% else %}
                {% if request.get_full_path == "/accounts/register/" %}
                    <li><a id="active-link" class="white-text upper" href="{% url 'register' %}">Register</a></li>
                {% else %}
                    <li><a class="white-text upper" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <div>
                    <li class="orange-bg sign-in"><a class="upper white-text" href="{% url 'login' %}"><span class="nav-span">Sign In</span></a></li>
                </div>
            {% endif %}
        </ul>
    </nav>
</header>