{% load static %}
<div class="pad-top-8">

    <div class="content-card content-card-space flex-this column white-bg">
    
        <div class="flex-this column">
    
            <div class="flex-this w-100 space-between">
                <div class="loc">
                    <a href="{% url 'users' researcher.user.id %}" class="darkteal-text">
                        {{ researcher.user.get_full_name }}
                    </a> 
                    >> {{ researcher.user.get_full_name }}
                </div>
    
                    <div>
                        <a href="{% url 'researcher-update' researcher.id %}" class="darkteal-text"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    </div>
                
            </div>
    
            <div class="flex-this stats-info-container">
    
                <div class="w-30 stats-img-container">
                    <img src="{% static 'images/placeholders/researcher-place.jpg' %}" alt="researcher image">
                </div>
    
                <div class="flex-this column w-40">
                    <h2 class="orange-text community-title">{{ researcher.user.get_full_name }}</h2>
                    <p>
                        <span>Job Title:</span> {{ researcher.user.profile.job_title }} <br>
                        <span>Location:</span> {{ researcher.user.profile.city_or_town }}, {{ researcher.user.profile.country.name }}<br>
                        {% if researcher.website %}
                        <span>Website:</span> {{ researcher.website }}
                        {% endif %}
                        <div itemscope itemtype="https://schema.org/Person"><a class="darkteal-text" itemprop="sameAs" content="https://orcid.org/{{ researcher.orcid }}" href="https://orcid.org/{{ researcher.orcid }}" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/{{ researcher.orcid }}</a></div>
                    </p>
                </div>
    
                <div class="flex-this white-text w-30">
                    <div class="orange-bg stats-card w-30">
                        <h1>
                            {% if total_notices < 10 %}
                                0{{ total_notices }}
                            {% else %}
                                {{ total_notices }}
                            {% endif %}
                        </h1>
                        <p>Notices</p>
                    </div>
    
                    <div class="orange-bg stats-card w-30">
                        <h1>
                            {% if total_projects < 10 %}
                                0{{ total_projects }}
                            {% else %}
                                {{ total_projects }}
                            {% endif %}
                        </h1>
                        <p>Projects</p>
                    </div>
    
                    <!-- <div class="orange-bg stats-card w-30">
                        <h1>00</h1>
                        <p>Relationships</p>
                    </div> -->
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>