<div class="pad-top-8">

    <div class="content-card content-card-space flex-this column white-bg">
    
        <div class="flex-this column">
    
            <div class="flex-this w-100 space-between">
                <div class="loc">
                    <a href="#" class="darkteal-text">
                        Name
                    </a> 
                    >> Researcher Name
                </div>
    
                    <div>
                        <a href="#" class="darkteal-text"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    </div>
                
            </div>
    
            <div class="flex-this stats-info-container">
    
                <div class="w-30 stats-img-container">
                    <img src="https://picsum.photos/350/150" alt="researcher image">
                </div>
    
                <div class="flex-this column w-40">
                    <h2 class="orange-text community-title">Researcher Name</h2>
                    <p>
                        Job Title: <br>
                        Location: <span>Town, Country </span><br>
                        Orcid: <span>000000000000</span>
                    </p>
                </div>
    
                <div class="flex-this white-text w-30">
                    <div class="orange-bg stats-card w-30">
                        <h1>03</h1>
                        <p>Notices</p>
                    </div>
    
                    <div class="orange-bg stats-card w-30">
                        <h1>
                            04
                        </h1>
                        <p>Training</p>
                    </div>
    
                    <div class="orange-bg stats-card w-30">
                        <h1>02</h1>
                        <p>Relationships</p>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>