<div class="comm-nav white-bg">
    <div class="comm-nav-links flex-this">

        {% if community %}
            <a href="{% url 'select-label' community.id %}">
                <div class="{% if 'labels' in request.path %} active-nav {% endif %}">Labels</div>
            </a>
        {% endif %}
        {% if institution %}
            <a href="{% url 'institution-notices' institution.id %}">
                <div class="{% if 'notices' in request.path %} active-nav {% endif %}">Notices</div>
            </a>
        {% endif %}
        {% if researcher %}
            <a href="{% url 'researcher-notices' researcher.id %}">
                <div class="{% if 'notices' in request.path %} active-nav {% endif %}">Notices</div>
            </a>
        {% endif %}

        <a 
            {% if community %}
                href="{% url 'community-projects' community.id %}"
            {% endif %}
            {% if institution %}
                href="{% url 'institution-projects' institution.id %}"
            {% endif %}
            {% if researcher %}
                href="{% url 'researcher-projects' researcher.id %}"
            {% endif %}
        >
            <div class="{% if 'projects' in request.path %} active-nav {% endif %}">Projects</div>
        </a>  

        <a 
            {% if community %}
                href="{% url 'community-connections' community.id %}"
            {% endif %}
            {% if institution %}
                href="{% url 'institution-connections' institution.id %}"
            {% endif %}
            {% if researcher %}
                href="{% url 'researcher-connections' researcher.id %}"
            {% endif %}
        >
            <div class="{% if 'connections' in request.path %} active-nav {% endif %}">Connections</div>
        </a>  

        {% if community %}
            <a href="{% url 'members' community.id %}">
                <div class="{% if 'members' in request.path %} active-nav {% endif %}">Members</div>
            </a>
        {% endif %}
        {% if institution %}
            <a href="{% url 'institution-members' institution.id %}">
                <div class="{% if 'members' in request.path %} active-nav {% endif %}">Members</div>
            </a>
        {% endif %}






    </div>
</div>