<div class="content-card comm-nav flex-this column white-bg">
    <div class="comm-nav-links flex-this">

        {% if community %}
            <a href="{% url 'community-labels' community.id %}">
                <div class="{% if 'labels' in request.path %} active-nav {% endif %}">Labels</div>
            </a>
            <a href="{% url 'community-projects' community.id %}">
                <div class="{% if 'projects' in request.path %} active-nav {% endif %}">Projects</div>
            </a>
            <a href="{% url 'members' community.id %}">
                <div class="{% if 'members' in request.path %} active-nav {% endif %}">Members</div>
            </a>
        {% endif %}

        {% if institution %} 
            <a href="{% url 'institution-notices' institution.id %}">
                <div class="{% if 'notices' in request.path %} active-nav {% endif %}">Notices</div>
            </a>    
            <a href="{% url 'institution-projects' institution.id %}">
                <div class="{% if 'projects' in request.path %} active-nav {% endif %}">Projects</div>
            </a>
            <a href="{% url 'institution-members' institution.id %}">
                <div class="{% if 'member' in request.path %} active-nav {% endif %}">Members</div>
            </a>
        {% endif %}

        {% if researcher %} 
            <a href="{% url 'researcher-notices' researcher.id %}">
                <div class="{% if 'notices' in request.path %} active-nav {% endif %}">Notices</div>
            </a>
            <a href="{% url 'researcher-projects' researcher.id %}">
                <div class="{% if 'projects' in request.path %} active-nav {% endif %}">Projects</div>
            </a>
        {% endif %}

    </div>
</div>