{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<a id="feedback-form" class="white-text pointer">Report an Issue</a>

<script id="zammad_form_script" src="https://local-contexts.zammad.com/assets/form/form.js"></script>

<script>
$(function() {
  $('#feedback-form').ZammadForm({
    messageTitle: 'Feedback & Error Report Form',
    messageSubmit: 'Submit',
    messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
    // switch to true for testing debug
    debug: false,
    showTitle: true,
    modal: true,
    attachmentSupport: true
  });
});
</script>