{% load static %}
    <!-- import ORCiD Widget -->
    <script src="{% static 'javascript/orcid-widget.js' %}" type="text/javascript" defer></script>
{% if researcher %}

{% endif %}

<div class="content-card content-card-space white-bg flex-this column">
    <h2 class="no-top-margin">Account Settings</h2>

    <div class="flex-this w-100">

        <div class="side-nav-container">
            <a href="{% if community %}{% url 'update-community' community.id %}{% endif %}{% if institution %}{% url 'update-institution' institution.id %}{% endif %}{% if researcher %}{% url 'update-researcher' researcher.id %}{% endif %}">
                <div class="flex-this side-nav-item {% if 'update' in request.path %} selected {% else %} grey-text {% endif %}">
                    <div class="w-20 margin-right-8"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                    <div class="w-80">
                        <p class="no-top-margin">
                            {% if community %}
                                <strong>Community Account</strong><br>Contact name, email, location, description
                            {% endif %}
                            {% if institution %}
                                <strong>Institution Account</strong><br>Contact name, email, {% if not institution.is_ror %} location, {% endif %} description
                            {% endif %}
                            {% if researcher %}
                                <strong>Researcher Account</strong><br>Contact email, primary institution, description
                            {% endif %}
                        </p>
                    </div>  
                </div>   
            </a>
        </div>

        <div class="flex-this column w-80">
            <div class="flex-this space-between w-70">
                <div><h3 class="no-top-margin">Account Information</h3></div>
                <div>Account ID: 
                    {% if community %} {{ community.id }} {% endif %}
                    {% if institution %} {{ institution.id }} {% endif %}
                    {% if researcher %} {{ researcher.id }} {% endif %}
                </div>
            </div>

            <div class="w-70">
                <form 
                    method="POST" 
                    action="{% if community %}{% url 'update-community' community.id %}{% endif %}{% if institution %}{% url 'update-institution' institution.id %}{% endif %}{% if researcher %}{% url 'update-researcher' researcher.id %}{% endif %}" 
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if community %}
                        <div class="w-100 margin-bottom-8">
                            <label> Community Entity </label><br>                                           
                            {{ update_form.community_entity }}
                            {% if update_form.community_entity.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.community_entity.errors.as_text }}</small></div> 
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if researcher %}
                        <div class="margin-bottom-8">
                            <label for="primary_institution"> Primary Institution </label><br>
                            {{ update_form.primary_institution }}
                        </div>
                        <div class="margin-bottom-8">
                            {{ update_form.website.label }} <br>
                            {{ update_form.website }}
                        </div>  
                        {% if update_form.primary_institution.errors %}
                            <div class="msg-red w-50"><small>{{ update_form.primary_institution.errors.as_text }}</small></div> 
                        {% endif %}
                        {% if update_form.website.errors %}
                            <div class="msg-red w-50"><small>{{ update_form.website.errors.as_text }}</small></div> 
                        {% endif %}
                    {% endif %}

                    <div class="w-100 margin-bottom-8">
                        {{ update_form.description.label }} <br>
                        {{ update_form.description }}
                        {% if update_form.description.errors %}
                            <div class="msg-red w-80"><small>{{ update_form.description.errors.as_text }}</small></div> 
                        {% endif %}
                    </div>
                    
                    {% if institution or community %}
                        <div class="w-100 margin-bottom-8">
                            <div class="flex-this">
                                <div class="w-50 margin-right-1">
                                    <label>State, Province, or Region</label> <br>
                                    {{ update_form.state_province_region }}
                                </div>
                                <div class="w-50">
                                    <label> City or Town </label><br>
                                    {{ update_form.city_town }}
                                </div>                            
                            </div>
                            {% if update_form.state_province_region.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.state_province_region.errors.as_text }}</small></div> 
                            {% endif %}
                            {% if update_form.city_town.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.city_town.errors.as_text }}</small></div> 
                            {% endif %}
                        </div>

                        <div class="w-100 margin-bottom-8">
                            {{ update_form.country.label }} <br>
                            {{ update_form.country }}
                        </div>
                    {% endif %}

                    <div class="margin-top-16">
                        <div class="hide">{{ update_form.image }}</div>

                        <div id="defaultPlaceholderUrl" data-url="{% static 'images/placeholders/community-place.jpg' %}"></div>

                        <div class="flex-this space-between">
                            <div class="w-50">
                                <div id="imagePreviewContainer" class="imgPreviewContainer">
                                    {% if community %}
                                        {% if not community.image %} 
                                            <img src="{% static 'images/placeholders/community-place.jpg' %}">
                                        {% else %}
                                            <img src="{{ update_form.instance.image.url }}" alt="{{ update_form.instance.community_name }} image">
                                        {% endif %}
                                    {% endif %}
                                    {% if institution %}
                                        {% if not institution.image %} 
                                            <img src="{% static 'images/placeholders/institution-place.jpg' %}">
                                        {% else %}
                                            <img src="{{ update_form.instance.image.url }}" alt="{{ update_form.instance.institution_name }} image">
                                        {% endif %}
                                    {% endif %}
                                    {% if researcher %}
                                        {% if not researcher.image %} 
                                            <img src="{% static 'images/placeholders/researcher-place.jpg' %}">
                                        {% else %}
                                            <img src="{{ update_form.instance.image.url }}" alt="researcher account image">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="flex-this">
                                <div>
                                    <button id="altImageUploadBtn" class="primary-btn green-btn margin-right-8">Upload Image <i class="fa-solid fa-upload"></i></button> 
                                </div>
                                <div>
                                    <button id="clearImageBtn" class="primary-btn white-btn" name="clear_image">Clear Image</button>
                                </div>
                            </div>                                
                        </div>

                        {% if update_form.image.errors %}
                            <div class="msg-red w-50"><small>{{ update_form.image.errors.as_text }}</small></div> 
                        {% endif %}
                    </div>

                    <div><h3>Account Contact</h3></div>
                    <div class="w-100 margin-bottom-16">
                        {% if community or institution %}
                            <div class="flex-this">
                                <div class="w-50 margin-right-1">
                                    <label> Name </label><br>                                           
                                    {{ update_form.contact_name }}
                                </div>
                                <div class="w-50">
                                    <label> Email </label><br>                                       
                                    {{ update_form.contact_email }}
                                </div>                            
                            </div>
                            {% if update_form.contact_name.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.contact_name.errors.as_text }}</small></div> 
                            {% endif %}
                            {% if update_form.contect_email.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.contect_email.errors.as_text }}</small></div> 
                            {% endif %}
                        {% endif %}
                        {% if researcher %}
                            <div>
                                <label for="contact_email"> Contact Email </label><br> 
                                {{ update_form.contact_email }}
                            </div>                                   

                            {% if update_form.contact_email.errors %}
                                <div class="msg-red w-50"><small>{{ update_form.contact_email.errors.as_text }}</small></div> 
                            {% endif %}

                            <div class="margin-top-16">
                                {{ update_form.contact_email_public.label }}
                                {{ update_form.contact_email_public }}

                                {% if update_form.contact_email_public.errors %}
                                    <div class="msg-red w-50"><small>{{ update_form.contact_email_public.errors.as_text }}</small></div> 
                                {% endif %}
                            </div>  
                        {% endif %}
                    </div>

                    {% if researcher %}
                        <div><h3>ORCiD</h3></div>
                        <div class="w-100 margin-bottom-16">
                            {% if researcher.orcid %}
                            <div class="flex-this space-between">
                                <div>
                                    <div itemscope itemtype="https://schema.org/Person">
                                        <a 
                                            class="darkteal-text underline-hover" 
                                            itemprop="sameAs" 
                                            target="orcid.widget" 
                                            rel="me noopener noreferrer" 
                                            style="vertical-align:top;"
                                            {% if 'https://sandbox.orcid.org/' in researcher.orcid or 'https://orcid.org/' in researcher.orcid %}
                                                content="{{ researcher.orcid }}" 
                                                href="{{ researcher.orcid }}" 
                                            {% elif 'X' in researcher.orcid %}
                                                content="https://sandbox.orcid.org/{{ researcher.orcid }}" 
                                                href="https://sandbox.orcid.org/{{ researcher.orcid }}"
                                            {% else %}
                                                content="https://orcid.org/{{ researcher.orcid }}" 
                                                href="https://orcid.org/{{ researcher.orcid }}" 
                                            {% endif %}
                                        >
                                            <img loading="lazy" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">
                                            {% if 'https://sandbox.orcid.org/' in researcher.orcid or 'https://orcid.org/' in researcher.orcid %}
                                                {{ researcher.orcid }}
                                            {% elif 'X' in researcher.orcid %}
                                                https://sandbox.orcid.org/{{ researcher.orcid }} 
                                            {% else %}
                                                https://orcid.org/{{ researcher.orcid }}
                                            {% endif %}
                                        </a>
                                    </div>                                
                                </div>

                                <div>
                                    <a class="primary-btn white-btn" href="{% url 'disconnect-orcid' %}">Disconnect ORCiD</a>
                                </div> 
                            </div>

                        {% else %}
                            <div class="flex-this space-between">
                                <div class="w-50"><p>We encourage you to have an ORCiD ID. <br>You can <a class="darkteal-text underline-hover" href="https://orcid.org/" target="_blank" rel="noopener">read more about ORCiD here</a>.</p></div>
                                <!-- Show ORCiD widget based on hostname -->
                                <div 
                                    id="orcidWidget" 
                                    {% if 'localcontextshub' in request.get_host %}
                                        data-clientid='APP-IBW6UOF5FGJG0ODB' 
                                        data-env="production" 
                                        data-redirecturi="https://localcontextshub.org/researchers/connect-orcid/"
                                    {% elif 'localhost' in request.get_host %}
                                        data-clientid='APP-6SAN29B74JQ6FEUQ' 
                                        data-env="sandbox" 
                                        data-redirecturi="http://localhost:8000/researchers/connect-orcid/"
                                    {% elif 'anth-ja77-local-contexts-8985' in request.get_host %}
                                        data-clientid='APP-IBW6UOF5FGJG0ODB' 
                                        data-env="production" 
                                        data-redirecturi="https://anth-ja77-local-contexts-8985.uc.r.appspot.com/researchers/connect-orcid/"
                                    {% elif 'anth-ja77-lc-dev-42d5' in request.get_host %}
                                        data-clientid='APP-6SAN29B74JQ6FEUQ' 
                                        data-env="sandbox" 
                                        data-redirecturi="https://anth-ja77-lc-dev-42d5.uc.r.appspot.com/researchers/connect-orcid/"
                                    {% endif %}
                                >
                                </div>
                            </div>
                    
                            {% if 'anth-ja77-lc-dev-42d5' in request.get_host %}
                                <small class="bold">Please note that since this is a test site, the ORCiD used will be the <a class="darkteal-text underline-hover" href="https://sandbox.orcid.org/">sandbox version</a>.</small><br>
                            {% elif 'localhost' in request.get_host %}
                                <small class="bold">Localhost uses the <a class="darkteal-text underline-hover" href="https://sandbox.orcid.org/">sandbox version</a> of ORCiD.</small><br>
                            {% endif %}
                        {% endif %}
                            
                        </div>
                    {% endif %}

                    {% include 'partials/_alerts.html' %}

                    <div class="flex-this space-between w-100">
                        <div class="margin-top-16 w-40">
                            <button class="primary-btn action-btn margin-top-2  default-btn-width">Save</button>
                        </div>
                        <p>
                            <small class="grey-text">Providing your personal information is optional.
                                By providing it, you consent for it to be shown to other Hub users, see the <a href="https://localcontexts.org/privacy-policy/" class="darkteal-text underline-hover" target="_blank" rel="noopener">Privacy Policy <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.</small>
                        </p> 
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>