{% load static %}

<div id="header-content">
    
    <section class="top-nav">
        <!-- LOGO -->
        <div class="header-logo"><a href="{% url 'dashboard' %}" class="block"><img loading="lazy" src="{% static 'images/logos/logo.png' %}" width="197px" alt="Local Contexts logo"></a></div>

        <input id="menu-toggle" type="checkbox">
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu ul-no-bullets">
            <li>
                <a 
                    class="{% if '/registry/' in request.path %} active-link bold {% endif %} white-text upper" 
                    href="{% url 'community-registry' %}"> Local Contexts Registry
                </a>
            </li>           
            {% if user.is_authenticated %}
                <li>
                    <a
                        class="{% if '/dashboard/' in request.path or '/update-profile/' in request.path or '/manage/' in request.path or '/change-password/' in request.path or '/deactivate/' in request.path %} 
                                    active-link bold 
                                {% endif %} white-text upper" 
                        href="{% url 'dashboard' %}">My Profile
                    </a>                
                </li>

                <li>
                    <a class="auth-btn sign-out-btn" href="javascript:{document.getElementById('logout').submit()}">
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        Sign Out
                    </a>                    
                </li>
            {% else %}
                <li>
                    <a
                        class="{% if '/register/' in request.path %} active-link bold {% endif %} white-text upper" 
                        href="{% url 'register' %}">Register
                    </a>                
                </li>

                <li>
                    <a class="auth-btn sign-in-btn" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}

        </ul>
      </section>

</div>