{% extends 'settings-base.html' %}{% load static %}

{% block settings %}
<form id="apiKeyGeneratorForm" method="POST">

    <div class="flex-this column w-80 border-left margin-right-1">
        <div><h3>API Key Manager</h3></div>

        <div class="w-70 margin-bottom-2">
            <p class="no-top-margin">Please note that you will not be able to sign-in after deactivation. Your profile and its associated data will be deleted 30 days after deactivation.</p>
                {% csrf_token %}
                <button id="submitDeactivation" class="primary-btn white-btn">Deactivate Profile</button>
        </div>
    </div>

    <div id="deactivationModal" class="modal hide">

        <div class="modal-defaults deactivate-modal flex-this column w-100">
            <div class="modal-content-padding w-100">
    
                <div>
                    <h2 class="primary-black-text">Are you sure?</h2>  
                    <p>Are you sure you want to deactivate your profile? <br><br>
                        This cannot be undone and you will be automatically logged out. <br></p>  
                </div>
                <div class="flex-this w-100 text-align-center">
                    <div id="continueDeactivationBtn" class="primary-btn white-btn margin-right-1">Yes, deactivate my profile</div>    
                    <div id="closeDeactivationModal" class="margin-left-1 primary-btn action-btn">Cancel</div>
                </div>
    
            </div>
        </div>
    </div>
</form>

<!-- <form id="apiKeyRequest" method="POST">

    <div class="flex-this column w-80 border-left margin-right-1">
        <div><h3>Request an API Key</h3></div>

        <div class="w-70 margin-bottom-2">
            <p class="no-top-margin">Please note that you will not be able to sign-in after deactivation. Your profile and its associated data will be deleted 30 days after deactivation.</p>
                {% csrf_token %}
                <button id="requestKey" class="primary-btn white-btn">Generate API Key</button>
        </div>
    </div> -->

<!-- </form> -->

<!-- <div>
    <form method="POST" action="">
        {% csrf_token %}
        <button class="primary-btn action-btn margin-top-2">Generate API Key <i class="fa fa-arrow-right"></i></button>
    </form>
</div>
<p>
    username: {{ request.user.username }} <br>
    Key: {{ api_key }}<br>
    
    when button clicked, href to new view, then redirect back to this page with updated information
</p>

</div>   -->

{% endblock %}