{% extends 'base.html' %} {% block title %} | API Keys Request {% endblock %}{% load static %} {% block content %} {% include 'partials/headers/_auth-header.html' %}

    <div class="content-card-v2 content-card-space">
 
        <!-- <div class="center-text">
            <h1 class="no-top-margin">API Keys Request</h1>
            <p>
                Today: {{ current_datetime }} UTC<br>
            </p>                
        </div>

        <div id="colorPicker" class="flex-this space-between center-text justify-center">
            <div class="stats-count-div">
                <h2>Registered</h2>
                <p>
                    Communities - {{ community_count }} <br>
                    Institutions - {{ institution_count}} <br>
                    Researchers - {{ researcher_count }} <br>
                    <br>
                    <strong>TOTAL: {{ reg_total }} </strong>
                </p>
            </div>        
            <div class="stats-count-div">
                <h2>Notices</h2>
                <p>
                    TK - {{ tk_notice_count }} <br>
                    BC - {{ bc_notice_count }} <br>
                    Attribution Incomplete - {{ attr_notice_count }} <br><br>
                    <strong>TOTAL: {{ notices_total }} </strong>
                </p>
            </div>
            <div class="stats-count-div">
                <h2>Projects</h2>
                <p>
                    Communities - {{ community_projects }} <br>
                    Institutions - {{ institution_projects }} <br>
                    Researchers - {{ researcher_projects }}<br><br>
                    <strong>TOTAL: {{ projects_count }} </strong>
                </p>
            </div>
            <div class="stats-count-div">
                <h2>Labels</h2>
                <p>
                    TK - {{ tklabels_count }} <br>
                    BC - {{ bclabels_count }} <br><br>
                    <strong>TOTAL: {{ total_labels }} </strong>
                </p>
            </div>           
        </div> -->

        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <button class="primary-btn action-btn margin-top-2">Generate API Key <i class="fa fa-arrow-right"></i></button>
            </form>
        </div>
        <p>
            username: {{ request.user.username }} <br>
            Key: {{ api_key }}<br>
            
            <!-- when button clicked, href to new view, then redirect back to this page with updated information -->
        </p>

    </div>    

    <!-- <div class="content-card-v2 content-card-space">
        <h3>Open to Collaborate Notice URLs (Total: {{ otc_notices.count }})</h3>
        <div>
            {% if otc_notices %}
                <ol>
                    {% for notice in otc_notices %}
                        <li>
                            <a href="{{ notice.url }}" class="darkteal-text underline-hover">
                                {% if notice.name %}
                                    {{ notice.name }}
                                {% else %}
                                    {{ notice.url }}
                                {% endif %}
                            </a> |
                            {% if notice.institution %}
                                <a href="{% url 'public-institution' notice.institution.id %}" class="darkteal-text underline-hover">{{ notice.institution }}</a>
                            {% else %}
                                <a href="{% url 'public-researcher' notice.researcher.id %}" class="darkteal-text underline-hover">{{ notice.researcher }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div> -->

<style>
    .stats-count-div {
        border-radius: 10px;
        width: 30%;
        margin: 5px;
        color: #fff;
    }

    #colorPicker > div:nth-of-type(1) {background-color: #007385;}
    #colorPicker > div:nth-of-type(2) {background-color: #EF6C00;}
    #colorPicker > div:nth-of-type(3) {background-color: #3876aa;}
    #colorPicker > div:nth-of-type(4) { background-color: #108670;}
</style>

{% include 'partials/footers/_auth-footer.html' %}
{% endblock %}