{% extends 'reg-base.html' %} {% block title %} | Confirmation Step {% endblock %}{% load static %} {% block card %}
    
<div class="flex-this column w-90">
    <div class="margin-bottom-1">
        <h2>Confirmation step</h2>
        <p>
            {% if community %}
                As this account will be able to apply Labels on behalf of the community it should be approved by an appropriate governance entity. You can provide contact details for an appropriate representative to confirm the establishment of this account for your community, you can also upload a letter of support.
            {% endif %}
            {% if institution %}
                As this account will be able to apply Notices on behalf of the institution it should be approved by an appropriate manager. You can provide contact details for an appropriate manager to confirm the establishment of this account for your institution, you can also upload a letter of support.
            {% endif %}
        </p>    
    </div>
    
    <form action="" method="POST" enctype="multipart/form-data" class="flex-this column w-100">
        {% csrf_token %}

        <div class="flex-this space-between margin-right-1">
            <div class="w-50 margin-right-1">
                <div>
                    <label for="contact_name">
                        {% if community %} Community {% endif %} 
                        {% if institution %} Institution {% endif %} 
                        Confirmation Contact Name
                    </label>
                    {{ form.contact_name }}<br>
                    {% if form.contact_name.errors %}
                        <div class="msg-red w-50"><small>{{ form.contact_name.errors.as_text }}</small></div> 
                    {% endif %}
                </div>
        
                <div class="margin-top-1">
                    <label for="contact_email">
                        {% if community %} Community {% endif %} 
                        {% if institution %} Institution {% endif %} 
                        Confirmation Contact Email
                    </label>
                    {{ form.contact_email }} <br>
                    {% if form.contact_email.errors %}
                        <div class="msg-red w-50"><small>{{ form.contact_email.errors.as_text }}</small></div> 
                    {% endif %}
                </div>
            </div>
    
            <div class="w-50 margin-left-1">
                <div>
                    <label for="support_document">Support Document</label>
                    {{ form.support_document }}
                    {% if form.support_document.errors %}
                        <div class="msg-red w-50"><small>{{ form.support_document.errors.as_text }}</small></div> 
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex-this flex-end">
            <button class="primary-btn action-btn margin-top-2">Get Started <i class="fa fa-arrow-right"></i></button>
        </div>
    </form>

</div>

{% endblock %}