{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            
            {% include 'snippets/reg-mini-logo.html'%}

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Register
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Verify Email
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Create Your Profile
                    </li>
                    <li>
                        {% include 'snippets/bullet-big.html'%}
                        Connect or Create an Account</li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Start Creating Labels and Notices
                    </li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">

    
            <div class="flex-this column centered-content">
                <div>
                    <img src="{% static 'images/logos/welcome-logo.png' %}" width="209px">
                </div>
                <h2 class="darkteal-text">Hello Name, <br> Welcome to Local Contexts</h2>
                <p>
                    Before we start would you like to connect with an existing Community or create your own?<br>

                    <button class="white-text action-btn">Search the Register</button><br>
                    OR<br>
                    <button class="white-text action-btn">Create a Community profile</button>
                </p>
            </div>
    
        </div>
    </div>

</section>


{% include 'partials/_reg-footer.html' %}
{% endblock %}