{% extends 'base.html' %} {% block title %} | Dashboard{% endblock %}{% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<div class="grey-bg">
<div class="pad-top-5">

    {% include 'partials/_user-info.html' %}

    {% if notifications %}
            <div class="white-bg content-card content-card-space noti-card">
                    {% for n in notifications %}

                        {% if n.viewed == False %}
                            <a href="{% url 'show' n.id %}">
                                <div class="noti-container flex-this row">
                                    <div class="tag-container"><span class="notification-type-tag orange-bg white-text font-size-12">{{ n.notification_type }}</span></div> <!-- This will be notification type-->
                                    <div><p>{{ n.message }}</p></div>
                                </div>
                            </a>
                        {% endif %}
                        {% if n.viewed == True %}
                            <a href="{% url 'read' n.id %}">
                                <div class="noti-container flex-this row">
                                    <div class="tag-container"><span class="notification-type-tag grey white-text font-size-12">{{ n.notification_type }}</span></div>
                                    <div><p>{{ n.message }}</p></div>
                                </div>
                            </a>
                        {% endif %}

                    {% endfor %}
            </div>
    {% endif %}

    <section class="flex-this column align-center">

        {% if researcher %}
            <div class="dashcard">
                <a href="{% url 'researcher-activity' researcher.id %}">
                    <div class="flex-this">

                        <div class="dashcard-img-container">
                            {% if researcher.image %}
                                <img class="profile-img" src="{{ researcher.image.url }}" alt="{{ researcher.researcher_name }} image">
                            {% else %}
                                <img class="profile-img" src="{% static 'images/placeholders/researcher-place.jpg' %}" alt="{{ researcher.researcher_name }} image">
                            {% endif %}
                        </div>
                        <div class="flex-this column dashcard-text-container">
                            <div>
                                <h3 class="dashcard-h3 darkteal-text">{{ researcher.user.get_full_name }}</h3>
                            </div>
                            <div>
                                <p class="black-text dashcard-subheader">Researcher | Location: {{ user.profile.city_or_town }}, {{ user.profile.state_or_province}}, {{ user.profile.country.name }}</p>
                            </div>
                            <div>
                                <p class="dashcard-description description-reg">{% if researcher.description %}{{ researcher.description }} {% else %} No description provided. {% endif %}</p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        {% endif %}

        {% if user_communities %}
            {% for community in user_communities %}
                <div class="dashcard">
                    <a href="{% url 'community-activity' community.id %}">
                        <div class="flex-this">

                            <div class="dashcard-img-container">
                                {% if community.image %}
                                    <img class="profile-img" src="{{ community.image.url }}" alt="{{ community.community_name }} image">
                                {% else %}
                                    <img class="profile-img" src="{% static 'images/placeholders/community-place.jpg' %}" alt="{{ community.community_name }} image">
                                {% endif %}
                            </div>
                            <div class="flex-this column dashcard-text-container">
                                <div>
                                    <h3 class="dashcard-h3 darkteal-text">{{ community }}</h3>
                                </div>
                                <div>
                                    <p class="black-text dashcard-subheader">Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | Location: {{ community.city_or_town }}, {{ community.country.name }}</p>
                                </div>
                                <div>
                                    <p class="dashcard-description">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

    {% if user_institutions %}
        {% for institution in user_institutions %}
            <div class="dashcard">
                <a href="{% url 'institution-activity' institution.id %}">
                    <div class="flex-this">

                        <div class="dashcard-img-container">
                            {% if institution.image %}
                                <img class="profile-img" src="{{ institution.image.url }}" alt="{{ institution.institution_name }} image">
                            {% else %}
                                <img class="profile-img" src="{% static 'images/placeholders/institution-place.jpg' %}" alt="{{ institution.institution_name }} image">
                            {% endif %}
                        </div>
                        <div class="flex-this column dashcard-text-container">
                            <div>
                                <h3 class="dashcard-h3 darkteal-text">{{ institution }}</h3>
                            </div>
                            <div>
                                <p class="black-text dashcard-subheader">Institution | Members: {% if institution.get_member_count < 10 %}0{{ institution.get_member_count }}{% else %}{{ institution.get_member_count }}{% endif %} | Location: {{ institution.city_or_town }}, {{ institution.country.name }}</p>
                            </div>
                            <div>
                                <p class="dashcard-description">{% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}</p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

    </section>




</div>
</div>
{% include 'partials/_auth-footer.html' %}
{% endblock %}