{% extends 'base.html' %} {% block title %} | Home {% endblock %}{% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<div class="grey-bg">

    {% include 'partials/_user-info.html' %}

    {% if user.last_login %}
        <input id="openOnboarding" value="false" type="hidden">
    {% else %}
    <!-- Onboarding modal pops up if user has not logged in before -->
    <input id="openOnboarding" value="true" type="hidden">
        {% include 'snippets/onboarding.html' %}
    {% endif %}

    <section class="flex-this column align-center">

        {% if not researcher and not user_communities and not user_institutions %}
            <div class="dashcard">
                <p>
                    <strong>Welcome to Local Contexts Hub!</strong><br><br>
                    This is your profile dashboard. It looks like you haven't connected to any accounts yet.<br><br>
                    <strong>What's next?</strong><br>
                    If you'd like to finish setting up your profile, click <a class="darkteal-text" href="{% url 'create-profile' %}">here</a>.<br>
                    If you'd like to join existing communities and institutions, check out the <a class="darkteal-text" href="{% url 'organization-registry' %}">Local Contexts Registry</a>.<br>
                    You can also connect your researcher account by clicking <a class="darkteal-text" href="{% url 'connect-researcher' %}">here</a>.<br>
                    <small>All of the above plus account creation can also be done through your user settings.</small>
                </p>
            </div>
        {% endif %}

        {% if researcher %}
            <div class="dashcard">
                <a href="{% url 'researcher-projects' researcher.id %}">
                    <div class="flex-this">

                        <div class="dashcard-img-container">
                            {% if researcher.image %}
                                <img class="profile-img" src="{{ researcher.image.url }}" alt="{{ researcher.researcher_name }} image">
                            {% else %}
                                <img class="profile-img" src="{% static 'images/placeholders/researcher-place.jpg' %}" alt="{{ researcher.researcher_name }} image">
                            {% endif %}
                        </div>
                        <div class="flex-this column dashcard-text-container">
                            <div><h3 class="dashcard-h3 darkteal-text">{{ researcher.user.get_full_name }}</h3></div>
                            <div>
                                <p class="black-text dashcard-subheader">Researcher | Location: {% if researcher.user.profile.city_town %} {{ researcher.user.profile.city_town }}, {% endif %} {% if researcher.user.profile.state_province_region %} {{ researcher.user.profile.state_province_region }}, {% endif %} {% if researcher.user.profile.country.name %} {{ researcher.user.profile.country.name }}{% endif %}</p>
                            </div>
                            <div><p class="dashcard-description description-sm">{% if researcher.description %}{{ researcher.description }} {% else %} No description provided. {% endif %}</p></div>
                        </div>

                    </div>
                </a>
            </div>
        {% endif %}

        {% if user_communities %}
            {% for community in user_communities %}
                <div class="dashcard">
                    <a href="{% url 'community-projects' community.id %}">
                        <div class="flex-this">

                            <div class="dashcard-img-container">
                                {% if community.image %}
                                    <img class="profile-img" src="{{ community.image.url }}" alt="{{ community.community_name }} image">
                                {% else %}
                                    <img class="profile-img" src="{% static 'images/placeholders/community-place.jpg' %}" alt="{{ community.community_name }} image">
                                {% endif %}
                            </div>
                            <div class="flex-this column dashcard-text-container">
                                <div><h3 class="dashcard-h3 darkteal-text">{{ community }}</h3></div>
                                <div>
                                    <p class="black-text dashcard-subheader">Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | Location: {% if community.city_town %} {{ community.city_town }}, {% endif %} {% if community.state_province_region %} {{ community.state_province_region }}, {% endif %} {% if community.country.name %} {{ community.country.name }}{% endif %}</p>
                                </div>
                                <div><p class="dashcard-description description-sm">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p></div>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

    {% if user_institutions %}
        {% for institution in user_institutions %}
            <div class="dashcard">
                <a href="{% url 'institution-projects' institution.id %}">
                    <div class="flex-this">
                        <div class="dashcard-img-container">
                            {% if institution.image %}
                                <img class="profile-img" src="{{ institution.image.url }}" alt="{{ institution.institution_name }} image">
                            {% else %}
                                <img class="profile-img" src="{% static 'images/placeholders/institution-place.jpg' %}" alt="{{ institution.institution_name }} image">
                            {% endif %}
                        </div>
                        <div class="flex-this column dashcard-text-container">
                            <div><h3 class="dashcard-h3 darkteal-text">{{ institution }}</h3></div>
                            <div>
                                <p class="black-text dashcard-subheader">Institution | Members: {% if institution.get_member_count < 10 %}0{{ institution.get_member_count }}{% else %}{{ institution.get_member_count }}{% endif %} | Location: {% if institution.city_town %} {{ institution.city_town }}, {% endif %} {% if institution.state_province_region %} {{ institution.state_province_region }}, {% endif %} {% if institution.country.name %} {{ institution.country.name }}{% endif %}</p>
                            </div>
                            <div><p class="dashcard-description description-sm">{% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}</p></div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

    </section>

</div>
{% include 'partials/_auth-footer.html' %}
{% endblock %}