{% extends 'settings-base.html' %}{% load static %}

{% block settings %}
<form id="deactivateUserForm" method="POST">

    <div class="flex-this column w-80   margin-right-1">
        <div><h3>Deactivate Your Profile</h3></div>

        <div class="w-70 margin-bottom-2">
            <p class="no-top-margin">Please note that you will not be able to sign-in after deactivation. Your profile and its associated data will be deleted 30 days after deactivation.</p>
                {% csrf_token %}
                <button id="submitDeactivation" class="primary-btn white-btn">Deactivate Profile</button>
        </div>
    </div>

    <div id="deactivationModal" class="modal hide">

        <div class="modal-defaults deactivate-modal flex-this column w-100">
            <div class="modal-content-padding w-100">
    
                <div>
                    <h2 class="primary-black-text">Are you sure?</h2>  
                    <p>Are you sure you want to deactivate your profile? <br><br>
                        This cannot be undone and you will be automatically logged out. <br></p>  
                </div>
                <div class="flex-this w-100 text-align-center">
                    <div id="continueDeactivationBtn" class="primary-btn white-btn margin-right-1">Yes, deactivate my profile</div>    
                    <div id="closeDeactivationModal" class="margin-left-1 primary-btn action-btn">Cancel</div>
                </div>
    
            </div>
        </div>
    </div>
</form>

{% endblock %}