{% extends 'auth-base.html' %} {% load static %} {% block title %} Invite New User {% endblock %} {% block main %}

    <div class="content-card content-card-space white-bg">  
        <h3>Invite New User</h3> 
        <form method="POST" action="{% url 'invite' %}">
            {% csrf_token %}

            <label for="email"> Email Address </label><br>
            {{ invite_form.email }}<br>

            <label for="message"> Output Message (Optional) </label><br>
            {{ invite_form.message }}<br>

            {% include 'partials/_alerts.html' %}
            <button type="submit" class="primary-btn action-btn margin-top-2 ">Send Invitation</button>
        </form>
    </div>

{% endblock %}
