{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<section class="grey-bg">
    <div class="pad-top-5">
        <div class="content-card content-card-space white-bg">  
            <h3 class="orange-text">Invite New User</h3> 
            <form method="POST" action="{% url 'invite' %}">
                {% csrf_token %}

                <label for="email"> Email Address </label><br>
                {{ invite_form.email }}<br>

                <label for="message"> Output Message (Optional) </label><br>
                {{ invite_form.message }}<br>

                {% include 'partials/_alerts.html' %}
                <button type="submit" class="action-btn">Send Invitation</button>
            </form>
        </div>
    </div>
</section>



{% include 'partials/_auth-footer.html' %}
{% endblock %}
