{% extends 'base.html' %} {% load static %} {% block title %} | Login {% endblock %}
{% block content %} {% include 'partials/headers/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this">

        <div id="registration-progress-container" class="orange-bg white-text flex-this column justify-center">
            <div class="login-logo-container">
                <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}" alt="Local Contexts logo">
            </div>
            <div id="progress-bottom-container"><div><h2>Grounding Indigenous Rights</h2></div></div>
        </div>
    
        <div id="registration-form-container" class="flex-this column">
    
            <div class="form-container flex-this column w-90">
                <div class="flex-this space-between">
                    <div>
                        <h2 class="margin-bottom-2">Welcome back!</h2>
                        <p class="no-top-margin">Please sign in to use the Local Contexts Hub</p>                    
                    </div>
                    <div>
                        <p class="grey-text">Not signed up yet?<a href="{% url 'register' %}" class="darkteal-text underline-hover"> Register</a></p>
                    </div>                    
                </div>

                <form action="{% url 'login' %}" method="POST" class="flex-this column w-100">
                    {% csrf_token %}
                    <div class="pad-top-1-5">
                        <label>Username</label>
                        <input type="username" name="username" required>
                    </div>
                    <div class="pad-top-1-5">
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="flex-this space-between pad-top-1-5"> 
                        <div>
                            <a href="{% url 'reset_password'%}" class="darkteal-text underline-hover">Forgot password?</a>
                        </div>  
                        <div><button class="primary-btn action-btn margin-top-2 default-btn-width">Sign in</button></div>
                    </div>
                </form>

                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}

            </div>
    
        </div>
    </div>

</section>

{% include 'partials/footers/_reg-footer.html' %}
{% endblock %}