{% extends 'base.html' %} {% load static %} {% block title %} | Login {% endblock %}
{% block content %} {% include 'partials/_reg-header.html' %}
{% if user.is_authenticated %}
    <h1>You are already logged in.</h1>
{% else %}
<section class="flex-this gradient-section">
    <div class="base-card flex-this">

        <div id="progress-container" class="orange-bg white-text flex-this">
            <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}">
        </div>
    
        <div id="complete-form-container" class="flex-this column">
            <div class="flex-this row flex-end w-90">
                    <p>Not a Member?<a href="{% url 'register' %}" class="darkteal-text"> Register</a></p>
            </div>

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div class="form-container flex-this column w-90">
                <h2 class="darkteal-text">Sign In with Local Contexts</h2>
    
                <form action="{% url 'login' %}" method="POST" class="flex-this column w-100">
                    {% csrf_token %}
                    <div>
                        <label>Username</label>
                        <input type="username" name="username" required>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <div>
                        <button class="action-btn default-btn">Sign In</button>
                    </div>
                </form>

                <div>
                    <a href="{% url 'reset_password'%}">Forgot Password?</a>
                </div>
                
            </div>
    
        </div>
    </div>

</section>

{% include 'partials/_reg-footer.html' %}
{% endif %}
{% endblock %}