{% extends 'auth-base.html' %} {% block title %} Member Invitations {% endblock %}{% load static %}{% load custom_acct_tags %} {% block main %}

    {% include 'partials/infocards/_user-dashcard.html' %}

    <section>
        {% if member_invites %}
            {% for invite in member_invites %}

                {% if invite.institution %}
                    <div class="dashcard">
                        <div class="flex-this">
                            <div class="dashcard-img-container">
                                <img loading="lazy" 
                                    class="profile-img" 
                                    src="{% if invite.institution.image %} {{ invite.institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                                    alt="{{ invite.institution.invite.institution_name }} image"
                                >
                            </div>
                            <div class="flex-this column dashcard-text-container">
                                <div><h3 class="dashcard-h3 darkteal-text">{{ invite.institution }}</h3></div>
                                <div>
                                    <p class="dashcard-subheader">Institution | Members: {% if invite.institution.get_member_count < 10 %}0{{ invite.institution.get_member_count }}{% else %}{{ invite.institution.get_member_count }}{% endif %} | 
                                        Location: {% if invite.institution.city_town %} {{ invite.institution.city_town }}, {% endif %} {% if invite.institution.state_province_region %} {{ invite.institution.state_province_region }}, {% endif %} {% if invite.institution.country.name %} {{ invite.institution.country.name }}{% endif %}
                                        {% if not invite.institution.city_town and not invite.institution.state_province_region and not invite.institution.country %}
                                            None specified
                                        {% endif %}
                                    </p>
                                </div>
                                <div><p class="dashcard-description description-sm">{% if invite.institution.description %}{{ invite.institution.description }} {% else %} No description provided. {% endif %}</p></div>
                                <div>
                                    <p class="w-70">
                                        <span class="bold primary-black-text">Invitation Sent By:</span> {% display_name invite.sender %}<br>
                                        <span class="bold primary-black-text">Proposed Responsibility:</span>
                                        <i>
                                            {% if invite.role == 'viewer' %} Viewer {% endif %}
                                            {% if invite.role == 'editor' %} Editor {% endif %}
                                            {% if invite.role == 'Admin' %} Administrator {% endif %}
                                        </i>
                                        <br>

                                        {% if invite.message %}
                                            <span class="bold primary-black-text">Message:</span>
                                            {{ invite.message|linebreaks }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="w-15 flex-this flex-end">
                                <a href="{% url 'delete-member-invitation' invite.id %}" class="darkteal-text underline-hover margin-right-8 margin-top-8">Delete invite</a>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input value="{{ invite.id }}" type="hidden" name="invite_id">
                                    <button class="action-btn primary-btn">Accept Invite</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if invite.community %}
                    <div class="dashcard">

                        <div class="flex-this">
                            <div class="dashcard-img-container">
                                <img loading="lazy" 
                                    class="profile-img" 
                                    src="{% if invite.community.image %} {{ invite.community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                                    alt="{{ invite.community.invite.community_name }} image"
                                >
                            </div>
                            <div class="flex-this column dashcard-text-container">
                                <div><h3 class="dashcard-h3 darkteal-text">{{ invite.community }}</h3></div>
                                <div>
                                    <p class="dashcard-subheader">Community | Members: {% if invite.community.get_member_count < 10 %}0{{ invite.community.get_member_count }}{% else %}{{ invite.community.get_member_count }}{% endif %} | 
                                        Location: {% if invite.community.city_town %} {{ invite.community.city_town }}, {% endif %} {% if invite.community.state_province_region %} {{ invite.community.state_province_region }}, {% endif %} {% if invite.community.country.name %} {{ invite.community.country.name }}{% endif %}
                                        {% if not invite.community.city_town and not invite.community.state_province_region and not invite.community.country %}
                                            None specified
                                        {% endif %}
                                    </p>
                                </div>
                                <div><p class="dashcard-description description-sm">{% if invite.community.description %}{{ invite.community.description }} {% else %} No description provided. {% endif %}</p></div>

                                <div>
                                    <p>
                                        <span class="bold primary-black-text">Sent By:</span> {% display_name invite.sender %}<br>
                                        <span class="bold primary-black-text">Responsibility:</span>
                                        <i>
                                            {% if invite.role == 'viewer' %} Viewer {% endif %}
                                            {% if invite.role == 'editor' %} Editor {% endif %}
                                            {% if invite.role == 'Admin' %} Administrator {% endif %}
                                        </i>
                                        <br>

                                        {% if invite.message %}
                                            <span class="bold primary-black-text">Message:</span>
                                            {{ invite.message|linebreaks }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="w-30 flex-this flex-end">

                                <a href="{% url 'delete-member-invitation' invite.id %}" class="darkteal-text underline-hover margin-right-8 margin-top-8">Delete invite</a>

                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input value="{{ invite.id }}" type="hidden" name="invite_id">
                                    <button class="action-btn primary-btn">Accept invite</button>
                                </form>
                            </div>
                        </div>

                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
        
    </section>

{% endblock %}