{% extends 'auth-base.html' %} {% block title %} Subscribe {% endblock %}{% load static %} {% block main %}
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript" defer></script>

    <div class="content-card-v2 content-card-space">

        <div>
            <h1 class="no-top-margin">Subscribe to the Local Contexts Newsletter</h1>
            <p class="w-70">
                Each issue of the Local Contexts Newsletter includes updates on some of the real-life applications of the Labels and Notices, news, 
                upcoming events, and much more. New issues of the Newsletter will be released seasonally, aligning with the ebbs and flows of our natural 
                world and relations around the world. <br><br>
                See past issues on the Local Contexts <a href="https://localcontexts.org/support/downloadable-resources/" class="darkteal-text underline-hover">website</a>.
            </p>               
        </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="flex-this column w-70">
                <label>Name</label>
                <div class="flex-this w-100">
                    <div class="w-50 margin-right-1">
                        <input class="w-100 margin-bottom-2" id="first_name" type="text" name="first_name" placeholder="First Name"/>
                    </div>
                    <div class="w-50 margin-right-1">
                        <input class="w-100 margin-bottom-2" id="last_name" type="text" name="last_name" placeholder="Last Name"/>
                    </div>
                </div>
                <div class="flex-this w-100">
                    <div class="w-100 margin-right-1">
                        <label>Email<span title="Required" class="red-text"> *</span></label>
                        <input class="w-100 margin-bottom-2" id="email" type="email" name="email" placeholder="Email" required/>
                    </div>
                </div>
                <label>What topic(s) are you interested in? (Check all that apply):<span title="Required" class="red-text"> *</span></label>
                {% include 'partials/_alerts.html' %}
                <div class="flex-this w-100 margin-top-1">
                    <div class="w-100 margin-right-1 margin-left-16">
                        <input type="checkbox" id="tech" name="topic" value="tech" >
                        <label for="tech"> Hub & API Updates</label><br>
                        <input type="checkbox" id="news" name="topic" value="news">
                        <label for="news"> News and Resources</label><br>
                        <input type="checkbox" id="events" name="topic" value="events">
                        <label for="events"> Events</label><br>
                        <input type="checkbox" id="notice" name="topic" value="notice">
                        <label for="notice"> Notices in Use</label><br>
                        <input type="checkbox" id="labels" name="topic" value="labels">
                        <label for="labels"> Labels in Use</label>
                    </div>
                </div>

                <div class="margin-top-1"><div class="g-recaptcha" data-sitekey="6LdRB04pAAAAAJvx4J4mr09v7k_cuOUds3g16Kvf"></div></div>
                <div class="flex-this w-100">
                    <div class="w-100 margin-right-1">
                        
                        <button type="submit" class="primary-btn action-btn margin-top-2" name="subscribebtn">Subscribe</button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

<style>
    
</style>

{% endblock %}
