{% extends 'reg-base.html' %} {% load static %} {% block title %} | Reset Your Password {% endblock %}
{% block card %}
    <div class="flex-this column w-90">
        <h2 class="margin-bottom-2">Reset your password</h2>
        <p class="no-top-margin">
            Forgot your password? <br> 
            Please enter the email address you registered with and we will send you instructions for setting a new one.
        </p>
        <div>
            <form method="POST">
                {% csrf_token %}
                
                <label>Email Address</label><br>
                {{ form.email }}<br>
                
                <div class="flex-this flex-end">
                    <button class="primary-btn action-btn margin-top-2">Continue <i class="fa fa-arrow-right"></i></button>
                </div>
            </form>
        </div>                               
    </div>
{% endblock %}