{% extends 'base.html' %} {% load static %} {% block title %} | Password Email Sent {% endblock %}
{% block content %} {% include 'partials/headers/_reg-header.html' %}


<section class="flex-this gradient-section">
    <div class="base-card flex-this column">

        <div class="w-80 flex-this column auto-margin">
            <h2 class="darkteal-text"> Password reset link sent </h3>
            <p class="no-top-margin">
                Check your email for a password reset link which should arrive in your inbox shortly.<br>
                If you don't receive an email, please make sure you entered the address you registered with 
                and check your spam folder.<br><br>
                <strong>Still having issues?</strong> <br>
                Email us at support@localcontexts.org
            </p>
            
        </div>

    </div>
</section>

{% include 'partials/footers/_reg-footer.html' %}
{% endblock %}