{% extends 'base.html' %} {% load static %} {% block title %} | Reset Your Password {% endblock %}
{% block content %} {% include 'partials/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this column">

        <div class="flex-this column justify-center" style="border: 1px solid red;">
            <h2 class="darkteal-text">
                Reset your password
            </h2>
            <p>
                Forgot your password? Please enter your email address and we will email instructions for setting a new one.
            </p>
        </div>

        <div class="flex-this" style="border: 1px solid lime;">
            <form method="POST">
                {% csrf_token %}

                <label>Email</label><br>
                {{ form.email }}<br>

                <input class="action-btn default-btn" type="Submit" name="Send Email">
            </form>
        </div>

    </div>
</section>

{% include 'partials/_reg-footer.html' %}
{% endblock %}