{% extends 'base.html' %} {% load static %} {% block title %} | Done {% endblock %}
{% block content %} {% include 'partials/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this column">

        <div class="w-80 flex-this column center-text auto-margin">

            <div>   
                <h2 class="darkteal-text">
                    Password reset complete
                </h2>
                
                <p>
                    Your password has been reset. You can now log in.
                </p>
            </div>

            <a class="white-text" href="{% url 'login' %}">
                <div class="action-btn margin-top-2  default-btn auto-margin" style="padding-top: 5px;">
                    Log In
                </div>
            </a>

        </div>

    </div>
</section>

{% include 'partials/_reg-footer.html' %}
{% endblock %}