{% extends 'reg-base.html' %} {% load static %} {% block title %} | Confirm New Password {% endblock %}
{% block card %}
    <div class="flex-this column w-90">

        <h2> Enter new password</h2>
        <p class="no-top-margin">Enter your new password twice so it can be verified.</p>

        <form method="POST">
            {% csrf_token %}
                {{ form.as_p }}
            <br>
            <div class="flex-this flex-end">
                <input class="primary-btn action-btn margin-top-2 default-btn-width" type="Submit" name="Update Password">
            </div>
        </form>

    </div>
{% endblock%}