{% extends 'base.html' %} {% load static %} {% block title %} | Confirm New Password {% endblock %}
{% block content %} {% include 'partials/headers/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this">

        <div id="registration-progress-container" class="orange-bg white-text flex-this column justify-center">
            <div class="login-logo-container">
                <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}" alt="Local Contexts logo">
            </div>
            <div id="progress-bottom-container"><div><h2>Grounding Indigenous Rights</h2></div></div>
        </div>
    
        <div class="registration-form-container flex-this column">
            <div class="flex-this column w-90">

                <h2> Enter new password</h2>
                <p class="no-top-margin">Enter your new password twice so it can be verified.</p>
        
                <form method="POST">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <br>
                    <div class="flex-this flex-end">
                        <input class="primary-btn action-btn margin-top-2 default-btn-width" type="Submit" name="Update Password">
                    </div>
                </form>

            </div>
        </div>
        
    </div>
</section>

{% include 'partials/footers/_reg-footer.html' %}

{% endblock %}