{% extends 'base.html' %} {% load static %} {% block title %} | Confirm New Password {% endblock %}
{% block content %} {% include 'partials/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this column">

        <div class="w-80 flex-this column center-text auto-margin">
            <h2 class="darkteal-text">
                Enter your new password
            </h2>
            
            <p>
                Enter twice so we can verify you typed it in correctly.
            </p>
    
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <div>
                    <input class="action-btn" type="Submit" name="Update Password">
                </div>
            </form>
        </div>

    </div>
</section>

{% include 'partials/_reg-footer.html' %}


{% endblock %}