{% extends 'base.html' %} {% load static %} {% block title %} | Reset Your Password {% endblock %}
{% block content %} {% include 'partials/headers/_reg-header.html' %}


<section class="flex-this gradient-section">
    <div class="base-card flex-this">

        <div id="registration-progress-container" class="orange-bg white-text flex-this column justify-center">
            <div class="login-logo-container">
                <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}" alt="Local Contexts logo">
            </div>
            <div id="progress-bottom-container"><div><h2>Grounding Indigenous Rights</h2></div></div>
        </div>
    
        <div class="registration-form-container flex-this column">
            <div class="flex-this column w-90">
                <h2 class="margin-bottom-2">Reset your password</h2>
                <p class="no-top-margin">
                    Forgot your password? <br> 
                    Please enter the email address you registered with and we will send you instructions for setting a new one.
                </p>
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        
                        <label>Email Address</label><br>
                        {{ form.email }}<br>
                        
                        <div class="flex-this flex-end">
                            <button class="primary-btn action-btn margin-top-2">Continue <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </form>
                </div>                               
            </div>
        </div>
        
    </div>
</section>

{% include 'partials/footers/_reg-footer.html' %}
{% endblock %}