{% extends 'base.html' %} {% load static %} {% block title %} | Done {% endblock %}
{% block content %} {% include 'partials/headers/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this">

        <div id="registration-progress-container" class="orange-bg white-text flex-this column justify-center">
            <div class="login-logo-container">
                <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}" alt="Local Contexts logo">
            </div>
            <div id="progress-bottom-container"><div><h2>Grounding Indigenous Rights</h2></div></div>
        </div>
    
        <div class="registration-form-container flex-this column">
            <div class="flex-this column w-90">
                <h2 class="margin-bottom-2">Password reset complete</h2>
                <p class="no-top-margin">
                    Your password has been reset successfully. You can now <a class="darkteal-text underline-hover" href="{% url 'login' %}">login</a>.
                </p>                               
            </div>
        </div>
        
    </div>
</section>

{% include 'partials/footers/_reg-footer.html' %}
{% endblock %}