{% extends 'register-base.html' %} {% block title %} Preparation Step {% endblock %} {% load static %} {% block card %}

    <div class="w-90">
        <h2 class="no-top-margin">Preparation Step</h2>

        <p class="bold">Things to know before you start creating a new account.</p>
        <p>
            {% if community %}
                <strong>01 As the creator of this new account, you will become the account contact by default.</strong> You will be the main administrator and the point of contact for the account. 
                If you would like to change the account contact or your role after creating your account, please contact us.
            {% endif %}

            {% if institution %}
                <strong>01 As the creator of this new account, you will become the main administrator by default.</strong>
                You will be the main administrator and the point of contact for the account. If you would like to change the account contact or your role after creating your account, please contact us.
            {% endif %}

            <br><br>   

            <strong>02 In order to confirm your account, we will ask for the contact information for a {% if community %} community {% else %} institution {% endif %} representative or a letter outlining their approval. </strong>
            We want to confirm that the account you are creating has the permission from an appropriate representative of your {% if community %} community {% else %} institution {% endif %} to be active on the platform. 
            Since this account will represent your {% if community %} community {% else %} institution {% endif %} on the Hub, your {% if community %} community {% else %} institutional {% endif %} representative should be someone 
            who has the responsibility for {% if community %} approving community initiatives. {% else %} authorizing third-party and/or external agreements on behalf of your organization. {% endif %}
            <br><br> 

            We will ask for the representative’s name and email, or you may upload a signed letter outlining their approval to join the Hub. The contact information or letter are needed in order to create a new account. 

            <br><br>
            Until the account is confirmed, certain features will not be available. This confirmation must be completed within 90 days, or the account will be suspended. If you have any questions, please contact us. 
            If you are trying out the Hub, please join our <a class="darkteal-text underline-hover" href="https://anth-ja77-lc-dev-42d5.uc.r.appspot.com/login/" target="_blank" rel="noopener">sandbox site <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>. 

        </p>            
    </div>

    <div class="flex-this w-90">
        <div class="w-60">
            <a 
                {% if community %}
                    href="{% url 'download-community-support-letter' %}"
                {% endif %}
                {% if institution %}
                    href="{% url 'download-institution-support-letter' %}"
                {% endif %}
                class="primary-btn blue-btn"
            > Download letter template <i class="fa-solid fa-download"></i>
            </a>
        </div>

        <div class="w-90 flex-this flex-end">
            <div class="margin-right-8">
                <a class="primary-btn white-btn" href="{% url 'dashboard' %}">Complete step later <i class="fa fa-arrow-right"></i></a>
            </div>
            <div>
                <a 
                    class="primary-btn action-btn" 
                    {% if community %}
                        href="{% url 'create-community' %}"
                    {% endif %}
                    {% if institution %}
                        href="{% url 'create-institution' %}"
                    {% endif %}
                >
                    Continue <i class="fa fa-arrow-right"></i>
                </a>            
            </div>
        </div>
    </div>



{% endblock %}