{% extends 'reg-base.html' %} {% block title %} | Preparation Step {% endblock %} {% load static %} {% block card %}

    <div class="w-90">
        <h2 class="no-top-margin">Preparation Step</h2>
        <p class="bold">Things to know before you start creating a new account.</p>
        <p>
            <strong>01</strong> 
                The person that creates a new account will become the administrator of that account by default. 
                As the administrator you take on the role as a point of contact for the account, and your email address will receive emails from other users of the Local Contexts Hub.  
                If you would like to change roles after creating your account, you can add and change roles in the members section of the account dashboard. 
            <br><br>

            <strong>02</strong> 

            {% if community %}
                We want to confirm that the account you are creating has permission by representatives of this community to be active on the Local Contexts Hub. 
                The representative should be someone who has responsibility for approving external agreements. 
            {% endif %}

            {% if institution %}
                We want to confirm that the account you are creating has the permission from an appropriate representative of your institution to be active on the platform. 
                The representative should be someone who has responsibility for authorizing third-party and/or external agreements. 
            {% endif %}

            <br><br>
                We ask for details such as their name and email address so that we can contact them, or alternatively ask for a letter outlining their approval of this account being created. 
            <br><br>
                We recommend having this information ready before continuing to create a new account.
        </p>            
    </div>

    <div class="w-90 flex-this flex-end">
        <div class="margin-top-8 margin-right-16">
            <a class="darkteal-text bold underline-hover" href="{% url 'dashboard' %}">Go to profile and complete later</a>
        </div>
        <div>
            <a 
                class="primary-btn action-btn" 
                {% if community %}
                    href="{% url 'create-community' %}"
                {% endif %}
                {% if institution %}
                    href="{% url 'create-institution' %}"
                {% endif %}
            >
                Continue <i class="fa fa-arrow-right"></i>
            </a>            
        </div>
    </div>

{% endblock %}