{% extends 'base.html' %} {% load static %} {% block title %} | Register {% endblock %}
{% block content %} {% include 'partials/_reg-header.html' %}
{% if user.is_authenticated %}
    <h1>You do not have access to this page. :)</h1>
{% else %}
<section class="flex-this gradient-section">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            <div class="mini-logo-container">
                <img class="mini-logo" src="{% static 'images/logos/lc-logo-mini.png' %}">
            </div>

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>
                        {% include 'snippets/bullet-big.html'%}
                        Register
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Verify Email
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Create Your Profile
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Connect or Create an Account
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Start Creating Labels and Notices
                    </li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">
            <div class="flex-this row flex-end w-90">
                    <p>Already a Member?<a href="{% url 'login' %}" class="darkteal-text"> Sign in</a></p>
            </div>

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div class="form-container flex-this column w-90">
                <h2 class="darkteal-text">Register with Local Contexts</h2>
    
                <form action="{% url 'register' %}" method="POST" class="flex-this column w-100">
                    {% csrf_token %}
                    <div class="flex-this w-100">

                        <div class="pad-right w-50">
                            <label for="first_name">First name</label><br>
                            <input type="text" id="first_name" name="first_name">
                        </div>

                        <div class="pad-left w-50">
                            <label for="last_name">Last name</label><br>
                            <input type="text" id="last_name" name="last_name">
                        </div>
                    </div>
                    
                    <div>
                        <label for="username">Username</label><br>
                        <input type="text" id="username" name="username" required><br>    
                    </div>
                    
                    <div>
                        <label for="email">Email Address</label><br>
                        <input type="email" id="email" name="email" required><br>    
                    </div>
    
                    <div class="flex-this w-100">
                        <div class="pad-right w-50">
                            <label for="password">Password</label><br>
                            <input type="password" id="password" name="password" required>    
                        </div>
                        <div class="pad-left w-50">
                            <label for="confirm-password">Confirm Password</label><br>
                            <input type="password" name="password2" required>        
                        </div>
                    </div>

                    <div class="flex-this row checkbox-div">
                        <div id="checkbox">
                            <input type="checkbox" id="terms-agreement" name="terms-agreement" required>
                        </div>
                        <div id="checkbox-label">
                            <label for="terms-agreement">
                                Creating an account means you agree with the <a href="#" class="darkteal-text">Term and Conditions</a> and <a href="#" class="darkteal-text">Data Sovereignty Agreement</a>.
                            </label>
                        </div>
                    </div>

                    <br>
                    <div>
                        <button class="action-btn">Register</button>
                    </div>
                </form>
            </div>
    
        </div>
    </div>

</section>

{% include 'partials/_reg-footer.html' %}
{% endif %}
{% endblock %}