{% extends 'auth-base.html' %} {% block title %} Registry {% endblock %}{% load static %} {% load custom_acct_tags %}{% block main %}

<section class="flex-this column align-center">

    <div class="content-card-v2 content-card-space">

        <div class="border-bottom-solid-teal">
            <h2 class="no-bottom-margin">The Local Contexts Registry</h2><br>
            <p class="no-top-margin w-80">
                This is the registry for all of the public accounts that are registered with Local Contexts. 
                You can browse the registry to contact an account or send a request to join a community or institution account.
                Please be patient while awaiting their decision.
            </p>
        </div>
        <div>
            <p>
                Browse: 
                <a 
                    href="{% url 'community-registry' %}" 
                    class="{% if '/communities' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                >Communities ({% community_count %})
                </a> |
                <a 
                    href="{% url 'institution-registry' %}" 
                    class="{% if '/institutions' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                >Institutions ({% institution_count %})
                </a> |        
                <a 
                    href="{% url 'researcher-registry' %}" 
                    class="{% if '/researchers' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                >Researchers ({% researcher_count %})
                </a>       
            </p>            
        </div>

        {% include 'partials/_alerts.html' %}

    </div>
    
    {% if communities %}
        {% for community in items %}
            <div class="dashcard show">
                <div class="flex-this">

                    <div class="dashcard-img-container">
                        <img loading="lazy" 
                            class="profile-img" 
                            src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                            alt="{{ community.community_name }} image"
                        >
                    </div>
                    <div class="flex-this column dashcard-text-container">
                        <div><h3 class="dashcard-h3 darkteal-text">{{ community }}</h3></div>
                        <div>
                            <p class="dashcard-subheader">Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | 
                                Location: {% if community.city_town %} {{ community.city_town }}, {% endif %} {% if community.state_province_region %} {{ community.state_province_region }}, {% endif %} {% if community.country.name %} {{ community.country.name }}{% endif %}
                                {% if not community.city_town and not community.state_province_region and not community.country %}
                                    None specified
                                {% endif %}
                            </p>
                        </div>
                        <div><p class="dashcard-description description-sm">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p></div>
                    </div>

                    <div class="dashcard-btn-container">
                        <div class="margin-left-16"><a href="{% url 'public-community' community.id %}" class="primary-btn action-btn">View public page</a></div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if institutions %}
        {% for institution in items %}
            <div class="dashcard show">
                <div class="flex-this">

                    <div class="dashcard-img-container">
                        <img loading="lazy" 
                            class="profile-img" 
                            src="{% if institution.image %} {{ institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                            alt="{{ institution.institution_name }} image"
                        >
                    </div>
                    <div class="flex-this column dashcard-text-container">
                        <div><h3 class="dashcard-h3 darkteal-text">{{ institution }}</h3></div>
                        <div>
                            <p class="dashcard-subheader">Institution | Members: {% if institution.get_member_count < 10 %}0{{ institution.get_member_count }}{% else %}{{ institution.get_member_count }}{% endif %} | 
                                Location: {% if institution.city_town %} {{ institution.city_town }}, {% endif %} {% if institution.state_province_region %} {{ institution.state_province_region }}, {% endif %} {% if institution.country.name %} {{ institution.country.name }}{% endif %}
                                {% if not institution.city_town and not institution.state_province_region and not institution.country %}
                                    None specified
                                {% endif %}
                            </p>
                        </div>
                        <div><p class="dashcard-description description-sm">{% if institution.description %}{{ institution.description }} {% else %} No description provided. {% endif %}</p></div>
                    </div>

                    <div class="dashcard-btn-container">
                        <div class="margin-left-16"><a href="{% url 'public-institution' institution.id %}" class="primary-btn action-btn">View public page</a></div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if researchers %}
        {% for researcher in items %}
            <div class="dashcard show">
                <div class="flex-this">
                    
                    <div class="researcher-img-container">
                        <img loading="lazy" 
                            src=" {% if researcher.image %} {{ researcher.image.url }} {% else %} {% static 'images/placeholders/researcher-place.jpg' %} {% endif %}" 
                            alt="{{ researcher.researcher_name }} image"
                        >
                    </div>
                    <div class="flex-this column dashcard-text-container">
                        <div><h3 class="dashcard-h3 darkteal-text">{% if researcher.user.get_full_name %} {{ researcher.user.get_full_name }} {% else %} {{ researcher.user.username }} {% endif %}</h3></div>
                        <div>
                            <p class="dashcard-subheader">Researcher | Location: 
                                {% if researcher.user.user_profile.city_town %} {{ researcher.user.user_profile.city_town }}, {% endif %} 
                                {% if researcher.user.user_profile.state_province_region %} {{ researcher.user.user_profile.state_province_region }}, {% endif %} 
                                {% if researcher.user.user_profile.country.name %} {{ researcher.user.user_profile.country.name }}{% endif %}
                                {% if not researcher.user.user_profile.city_town and not researcher.user.user_profile.state_province_region and not researcher.user.user_profile.country %}
                                    None specified
                                {% endif %}
                            </p>
                        </div>
                        <div><p class="dashcard-description description-sm">{% if researcher.description %}{{ researcher.description }} {% else %} No description provided. {% endif %}</p></div>
                    </div>

                    <div class="dashcard-btn-container">
                        <div class="margin-left-16"><a href="{% url 'public-researcher' researcher.id %}" class="primary-btn action-btn">View public page</a></div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% include 'snippets/pagination.html' %}

</section>

{% endblock %}