{% extends 'auth-base.html' %} {% block title %} Registry {% endblock %}{% load static %} {% load custom_acct_tags %}{% block main %}

<section class="flex-this column align-center">

    <div class="content-card-v2 content-card-space">

        <div>
            <h2 class="no-bottom-margin">The Local Contexts Registry</h2><br>
            <p class="no-top-margin w-80">
                This is the registry for accounts that are registered with the Local Contexts Hub. Visit an account's public page to contact or request to join, and to view public projects, 
                Open to Collaborate Notices, and Labels in use. <br><br>

                After you register on the Hub, you can request to join accounts for communities and institutions that you are already affiliated with. 
                <strong>If you wish to collaborate with a community or institution you are not affiliated with, you will connect with them through Projects. </strong>
                You do not need to join their account.
            </p>
        </div>

        <hr class="searchbar-divider">

        <div class="flex-this align-center">
            <div>
                <form class="default-searchbar" method="GET" action="">
                    <input type="search" name="q" placeholder="Search" autocomplete="off">
                    <button class="search-btn"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="flex-this align-center margin-left-16">
                <p>
                    Browse: 
                    <a 
                        href="{% url 'community-registry' %}" 
                        class="{% if '/communities' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                    >Communities ({% community_count %})
                    </a> |
                    <a 
                        href="{% url 'institution-registry' %}" 
                        class="{% if '/institutions' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                    >Institutions ({% institution_count %})
                    </a> |        
                    <a 
                        href="{% url 'researcher-registry' %}" 
                        class="{% if '/researchers' in request.path %} bold {% endif %}darkteal-text pointer underline-hover"
                    >Researchers ({% researcher_count %})
                    </a>       
                </p>            
            </div>            
        </div>

        {% include 'partials/_alerts.html' %}

    </div>
    
    {% if communities %}
        {% if results %}
            {% for community in results %}
                {% include 'partials/infocards/_community-card.html' %}
            {% endfor %}
        {% else %}
            {% for community in items %}
                {% include 'partials/infocards/_community-card.html' %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if institutions %}
        {% if results %}
            {% for institution in results %}
                {% include 'partials/infocards/_institution-card.html' %}
            {% endfor %}
        {% else %}
            {% for institution in items %}
                {% include 'partials/infocards/_institution-card.html' %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if researchers %}
        {% if results %}
            {% for researcher in results %}
                {% include 'partials/infocards/_researcher-card.html' %}
            {% endfor %}
        {% else %}
            {% for researcher in items %}
                {% include 'partials/infocards/_researcher-card.html' %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% include 'snippets/pagination.html' %}

</section>

{% endblock %}