{% extends 'reg-base.html' %} {% block title %} | Register {% endblock %} {% load static %} {% block card %}

<div class="flex-this column">
    <div class="registration-card-space">

        <h2 class="darkteal-text">Choose an account</h2>
        <p>Local Contexts has three types of accounts for Indigenous Communities, Researchers and Institutions. Please choose which one suits you.</p>

        <div class="flex-this row space-between">

            <div class="account-card margin-right-1">
                <p><strong>Community Account </strong></p>
                <div><img class="tiny-label" src="{% static 'images/tk-labels/tk-attribution.png' %}"></div>
                <p><strong>Who?</strong> A community entity or representative</p>
                <p><strong>What?</strong> Customize Labels, create projects and apply Labels</p>
                <a href="{% url 'connect-community' %}"><div class="white-btn-select"><span>Join</span></div></a>
                <a href="{% url 'create-community' %}"><div class="white-btn-select"><span>Create</span></div></a>
            </div>
            <div class="account-card margin-left-1 margin-right-1">
                <p><strong>Institution Account</strong></p>
                <div class="flex-this">
                    <div class="margin-right-1"><img class="tiny-notice" src="{% static 'images/notices/tk-notice.png' %}"></div>
                    <div class="margin-left-16"><img class="tiny-notice" src="{% static 'images/notices/ci-open-to-collaborate.png' %}"></div>
                </div>
                <p><strong>Who?</strong> Cultural or research institutions as well as other data repsitories</p>
                <p><strong>What?</strong> Create projects and apply Notices</p>
                <a href="{% url 'connect-institution' %}"><div class="white-btn-select"><span>Join</span></div></a>
                <a href="{% url 'create-institution' %}"><div class="white-btn-select"><span>Create</span></div></a>
            </div>
            <div class="account-card margin-left-1">
                <p><strong>Researcher Account</strong></p>
                <div class="flex-this">
                    <div class="margin-right-1"><img class="tiny-notice" src="{% static 'images/notices/tk-notice.png' %}"></div>
                    <div class="margin-left-16"><img class="tiny-notice" src="{% static 'images/notices/bc-notice.png' %}"></div>
                </div>
                <p><strong>Who?</strong> An individual researcher who is either affiliated with an institution or independent </p>
                <p><strong>What?</strong> Create projects and apply Notices</p>
                <a href="{% url 'connect-researcher' %}"><div class="white-btn-select"><span>Create</span></div></a>
            </div>

        </div>
    </div>
</div>
{% endblock %}