{% extends 'reg-base.html' %} {% block title %} | Register {% endblock %} {% load static %} {% block card %}

<div class="flex-this column">
    <div class="registration-card-space">

        <h2 class="darkteal-text">Which account do you want to create?</h2>
        <p class="darkteal-text">Please choose one account to register with.</p>

        <form method="POST" action="">
            {% csrf_token %}
            
            <div class="flex-this radio-group">
                <div class="reason-radio">
                    <input type="radio" value="community" id="community-radio" name="reason">
                </div>
                <div>
                    <label class="darkteal-text" for="community-radio">Community Account: </label> <span>A community account can be used by a Community entity or representative organisation.</span> <br>
                </div>
            </div>

            <div class="flex-this radio-group">
                <div class="reason-radio">
                    <input type="radio" value="institution" id="institution-radio" name="reason">
                </div>
                <div>
                    <label class="darkteal-text" for="institution-radio">Institution Account:  </label><span>An institution account can be used by cultural and research institutions as well as other data repositories.</span><br>
                </div>
            </div>

            <div class="flex-this radio-group">
                <div class="reason-radio">
                    <input type="radio" value="researcher" id="researcher-radio" name="reason">
                </div>
                <div>
                    <label class="darkteal-text" for="researcher-radio">Researcher Account: </label><span>A researcher account can be used by researchers including those affiliated with research institutions and those that are independent.</span><br>
                </div>
            </div>

            <div class="text-align-right">
                <button class="action-btn">Continue <i class="fa fa-long-arrow-right"></i></button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}