{% extends 'base.html' %} {% block title %} | Update Profile {% endblock %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}

{% if user.is_authenticated %}

<section class="edit-profile-section flex-this column w-100 grey-bg">

        {% include 'partials/_user-info.html' %}

        <div class="content-card content-card-space white-bg flex-this column">
            <h3 class="orange-text">Settings</h3>
    
            <div class="flex-this w-100">
    
                <div class="flex-this w-20 set-nav">
                    <div class="w-20">
                        <img src="{% static 'images/profile-icon.png' %}" alt="profile icon for settings">
                    </div>
        
                    <div class="w-80">
                        <p>
                            <strong>Account</strong><br>
                            Contact name, email, location
                        </p>
                    </div>
                </div>
        
                <div class="flex-this column w-80 border-left margin-right-1">
        
                        <div>
                            <h3>Account Details</h3>
                        </div>
        
                        <div>
                            <form method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
    
                                    <div class="w-100 flex-this form-one">
                                        <div class="w-30">
                                            <label for="email">Email</label><br>
                                            {{ user_form.email }}
                                        </div>

                                        <div class="w-30 margin-left-16">
                                            <label for="username">Username </label><br>
                                            {{ user_form.username }}
                                        </div>
                                    </div>

                                    <div class="w-100 flex-this form-one">
                                        <div class="w-30">
                                            <label for="first_name">First Name </label><br>
                                            {{ user_form.first_name }}<br>
                                        </div>
                                        <div class="w-30 margin-left-16">
                                            <label for="last_name">Last Name </label><br>
                                            {{ user_form.last_name }}<br>
                                        </div>
                                    </div>
    
                                    <div>
                                        <div>
                                            <h3>Profile Information</h3>
                                        </div>

                                        <div class="w-100 flex-this form-one">
                                            <div class="w-30">
                                                <label for="job_title">Job Title </label><br>                                           
                                                {{ profile_form.job_title }}
                                            </div>
                                            <div class="w-30 margin-left-16">
                                                <label for="affiliation">Affiliation </label><br>                                           
                                                {{ profile_form.affiliation }}
                                            </div>

                                        </div>

                                        <div class="w-100 flex-this form-one">
                                            <div class="w-30">
                                                <label for="preferred_language">Preferred Language </label><br>
                                                {{ profile_form.preferred_language }}
                                            </div>

                                            <div class="w-30 margin-left-16">
                                                <label for="languages_spoken">Languages Spoken </label><br>
                                                {{ profile_form.languages_spoken }}
                                            </div>

                                        </div>

                                        <div class="flex-this w-100 form-one">
                                            <div class="w-30">
                                                <label for="city_or_town">City or Town </label><br>
                                                {{ profile_form.city_or_town }}
                                            </div>
                                            <div class="w-30 margin-left-16">
                                                <label for="state_or_province">State or Province </label><br>                                           
                                                {{ profile_form.state_or_province }}
                                            </div>

                                        </div>

                                        <div class="flex-this w-100 form-one">
                                            <div class="w-30">
                                                <label for="country">Country </label><br>                                       
                                                {{ profile_form.country }}
                                            </div>
                                        </div>
                                        
                                    </div>
    
                                    {% include 'partials/_alerts.html' %}
    
                                <div class="margin-bottom-16">
                                    <button class="action-btn margin-top-2  default-btn">Save</button>
                                </div>
                            </form>
                        </div>
        
                    </div>
            </div>
    
        </div>



</section>

{% endif %}

{% include 'partials/_auth-footer.html' %}
{% endblock %}