{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<div class="grey-bg">

    <section id="user-info-container" class="white-bg content-card">
        <div id="user-info-content" class="flex-this column">

            <div class="row flex-this">
                <div id="profile-pic-container">
                    {% if target_user.profile.profile_pic %}
                        <img src="{{ target_user.profile.profile_pic.url }}" >
                    {% else %}
                        <!-- <img src="../static/images/default.png"> -->
                        <img src="{% static '/images/default.png' %}">
                    {% endif %}
                </div>
        
                <div class="row user-info">
                    <h2 class="orange-text">{{ target_user.first_name }}'s Profile</h2>
                    <p>
                        Username: {{ target_user.username }} <br>
                        Job Title: {{ target_user.profile.job_title }} <br>
                        Personal Location: {{ target_user.profile.city_or_town }} {{ target_user.profile.country.name }}    
                    </p>
                </div>
            </div>

        </div>
    </section>


    <section id="user-affiliation-container">
        <div id="user-affiliation-content" class="flex-this">

            {% if user_communities %}
                {% for community in user_communities %}
                <div class="member-card-container">
                    <a href="{% url 'community-dashboard' community.id %}">
                        <div class="member-card flex-this column white-bg">
                            <div class="member-card-img">
                                <img src="https://picsum.photos/350/150">
                            </div>
                            <div class="member-card-text flex-this column">
                                <h3 class="darkteal-text">{{ community }}</h3>
                                <p class="upper black-text">Community</p>
                            </div>
                        </div>
                    </a>
                </div>

                {% endfor %}
            {% endif %}

        </div>
    </section>

</div>
{% include 'partials/_auth-footer.html' %}
{% endblock %}