{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<div class="grey-bg">
<div class="pad-top-5">


    <section id="user-info-container" class="white-bg content-card">
        <div id="user-info-content" class="flex-this column">

            <div class="row flex-this">
        
                <div class="row user-info">
                    <h2 class="orange-text">{{ target_user.first_name }}'s Profile</h2>
                    <p>
                        Username: {{ target_user.username }} <br>
                        Job Title: {{ target_user.profile.job_title }} <br>
                        Personal Location: {{ target_user.profile.city_or_town }}, {{ target_user.state_or_provinvce }} {{ target_user.profile.country.name }}    
                    </p>
                </div>
            </div>

        </div>
    </section>

</div>
</div>
{% include 'partials/_auth-footer.html' %}
{% endblock %}