{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_reg-header.html' %}
{% if user.is_authenticated %}
    <h1>You do not have access to this page. :)</h1>
{% else %}
<section class="flex-this gradient-section">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            <div class="mini-logo-container">
                <img class="mini-logo" src="{% static 'images/logos/lc-logo-mini.png' %}">
            </div>

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Register
                    </li>
                    <li>
                        {% include 'snippets/bullet-big.html'%}
                        Verify Email
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Create Your Profile
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Connect or Create an Account
                    </li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Start Creating Labels and Notices
                    </li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div class="flex-this column centered-content">

                    <h2 class="darkteal-text">Verify Your Email</h2>
                    <p>Thank you for registering with Local Contexts. <br><br>
                    Check your email for a verification link or click Resend Email to send it again.</p>
    
                    <button id="resend-email-btn" class="white-bg darkteal-text">Resend Email</button>    
            </div>
    
        </div>
    </div>

</section>


{% include 'partials/_reg-footer.html' %}
{% endif%}
{% endblock %}