{% extends 'reg-base.html' %} {% block title %} | Verify {% endblock %} {% load static %} {% block card %}

<div class="flex-this column">

    <h2 class="darkteal-text">Verify Your Email</h2>
    <p>A verification link has been sent to the email you provided. <br>

    If you have verified your email, you're all set! You can close this window. <br><br>
    
    Didn't get an email? <br>Check your spam inbox or enter the email you used at registration to send it again.</p>
        
    <form method="POST" action="">
        {% csrf_token %}
        <div class="w-100 flex-this">

            <div class="w-60">
                {{ form.email }}
            </div>

            <div class="w-40">
                <button id="resend-email-btn" class="primary-btn action-btn">Resend Email</button>    
            </div>
    
        </div>
    </form>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
</div>
{% endblock %}