{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg ">
        <h3 class="orange-text reqs">Activity</h3>
    </div>

    {% if bcnotices %}
        {% for bcnotice in bcnotices %}
                {% if bcnotice.project.has_labels == False %}

                    <div id="full-notice-card-{{ bcnotice.unique_id }}" class="content-card-v2 white-bg">
                        <div class="flex-this space-between">
                            <div>
                                <p class="no-top-margin notice-date">
                                    Date Sent: {{ bcnotice.created|date:'m/d/Y' }}
                                </p>
                            </div>
                    
                            <div>
                                <a id="{{ bcnotice.unique_id }}" onclick='showMoreNotice(this)' class="darkteal-text pointer">
                                    Show More <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="flex-this">

                            <div class="w-10">
                                <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
                            </div>

                            <div class="w-90 pad-left-2">
                                <p>
                                    <span class="darkteal-text weight-600">{{ bcnotice.project.title}}</span><br>
                                    {{ bcnotice.project.publication_date }} <br>
                                    {{ bcnotice.project.project_type }} <br>
                                    {% for contributor in bcnotice.communities.all %}
                                        {{ contributor.community_name }}
                                    {% endfor %}, 
                                    {% if bcnotice.placed_by_institution %}
                                        {{ bcnotice.placed_by_institution.institution_name }}
                                    {% else %}
                                        {{ bcnotice.placed_by_researcher.user.get_full_name}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div id="expand-notice-{{ bcnotice.unique_id }}" style="height: 0; overflow:hidden;" class="flex-this column">
                            <div class="flex-this space-between">
                                <div class="w-80">

                                    <form method="POST" action="">
                                        {% csrf_token %}
                                            <span class="weight-500">What would you like to do with this notice? </span>

                                            <select id="select-{{ bcnotice.unique_id }}" onchange="setBCNoticeUUID(this)">
                                                <option selected="selected" disabled> ----------------- </option>
                                                <option value="seen"> Acknowledge Notice </option>
                                                <option value="pending"> Labels Pending </option>
                                                <option value="not_pending"> No Labels Pending </option>
                                            </select>

                                            <input id="notice-id-input" type="hidden" value="placeholder" name="bcnotice-uuid">
                                            <input id="status-selection-input" type="hidden" value="placeholder" name="bcnotice-status">

                                            <button class="action-btn" name="notify-btn">Notify</button>
                                    </form>

                                    <p><span class="weight-500">Description:</span> {{ bcnotice.project.description }}</p>
                                </div>
    
                                <div class="flex-this column w-15">
                                    {% if bcnotice.project.url %}
                                        <div class="notice-btns center-text">
                                            <a href="{{ bcnotice.project.url }}" class="orange-btn">View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                        </div>
                                    {% endif %}
                                    <div class="notice-btns center-text">
                                        <a href="{% url 'community-add-labels' community.id bcnotice.unique_id %}" class="action-btn">Apply Labels <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            {% if bcnotice.message %}
                                <div>
                                    <p class="weight-500">Comments</p>
                                    <hr>
                                    {% if bcnotice.placed_by_institution %}
                                        <span class="weight-500">{{ bcnotice.placed_by_institution.institution_name }}</span>
                                        <span class="grey-text">{{ bcnotice.created|date:'m/d/Y' }}</span><br>

                                        <p>
                                            {{ bcnotice.message }}
                                        </p>
                                    {% endif %}

                                    {% if bcnotice.placed_by_researcher %}
                                        <span class="weight-500">{{ bcnotice.placed_by_researcher.user.get_full_name }}</span>
                                        <span class="grey-text">{{ bcnotice.created|date:'m/d/Y' }}</span><br>

                                        <p>
                                            {{ bcnotice.message }}
                                        </p>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if bcnotice.project.project_comment.all %}
                                {% for comment in bcnotice.project.project_comment.all %}
                                    {% if community == comment.community %}
                                        <div>
                                            <span class="weight-500">{{ comment.sender.get_full_name }}</span>
                                            <span class="grey-text">{{ comment.created|date:'m/d/Y' }}</span><br>
                                            <p>
                                                {{ comment.message }}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" value="{{ bcnotice.project.id }}" name="project-id">
                                <div class="flex-this row">
                                    <div class="w-100">
                                        {{ form.message }}
                                    </div>
                                    <div style="margin-left:-55px; margin-top:7px;">
                                        <button style="border: none; color:teal; background-color:#fff; cursor: pointer;" name="add-comment-btn">Send</button>
                                    </div>
                                </div>

                                {% if form.errors %}
                                {{ form.errors }}
                                {% endif %}
                            </form>

                        </div>

                    </div>

                {% endif %}
            {% endfor %}
    {% endif %}

    {% if tknotices %}
    {% for tknotice in tknotices %}
            {% if tknotice.project.has_labels == False %}

                <div id="full-notice-card-{{ tknotice.unique_id }}" class="content-card-v2 white-bg">
                    <div class="flex-this space-between">
                        <div>
                            <p class="no-top-margin notice-date">
                                Date Sent: {{ tknotice.created|date:'m/d/Y' }}
                            </p>
                        </div>
                
                        <div>
                            <a id="{{ tknotice.unique_id }}" onclick='showMoreNotice(this)' class="darkteal-text pointer">
                                Show More <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="flex-this">

                        <div class="w-10">
                            <img src="{% static 'images/notices/tk-notice.png' %}" alt="TK Notice: a black square with white letters TK in the middle">
                        </div>

                        <div class="w-90 pad-left-2">
                            <p>
                                <span class="darkteal-text weight-600">{{ tknotice.project.title}}</span><br>
                                {{ tknotice.project.publication_date }} <br>
                                {{ tknotice.project.project_type }} <br>
                                {% for contributor in tknotice.communities.all %}
                                    {{ contributor.community_name }}
                                {% endfor %}, 
                                {% if tknotice.placed_by_institution %}
                                    {{ tknotice.placed_by_institution.institution_name }}
                                {% else %}
                                    {{ tknotice.placed_by_researcher.user.get_full_name}}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div id="expand-notice-{{ tknotice.unique_id }}" style="height: 0; overflow:hidden;" class="flex-this column">
                        <div class="flex-this space-between">
                            <div class="w-80">

                                <form method="POST" action="">
                                    {% csrf_token %}
                                        <span class="weight-500">What would you like to do with this notice? </span>

                                        <select id="select-{{ tknotice.unique_id }}" onchange="setTKNoticeUUID(this)">
                                            <option selected="selected" disabled> ----------------- </option>
                                            <option value="seen"> Acknowledge Notice </option>
                                            <option value="pending"> Labels Pending </option>
                                            <option value="not_pending"> No Labels Pending </option>
                                        </select>

                                        <input id="tknotice-id-input" type="hidden" value="placeholder" name="tknotice-uuid">
                                        <input id="tkstatus-selection-input" type="hidden" value="placeholder" name="tknotice-status">

                                        <button class="action-btn">Notify</button>
                                </form>

                                <p><span class="weight-500">Description:</span> {{ tknotice.project.description }}</p>
                            </div>
    
                            <div class="flex-this column w-15">
                                {% if tknotice.project.url %}
                                    <div class="notice-btns center-text">
                                        <a href="{{ tknotice.project.url }}" class="orange-btn">View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                    </div>
                                {% endif %}
                                <div class="notice-btns center-text">
                                    <a href="{% url 'community-add-labels' community.id tknotice.unique_id %}" class="action-btn">Apply Labels <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>

                        {% if tknotice.message %}
                            <div>
                                <p class="weight-500">Comments</p>
                                <hr>
                                {% if tknotice.placed_by_institution %}
                                    <span class="weight-500">{{ tknotice.placed_by_institution.institution_name }}</span>
                                    <span class="grey-text">{{ tknotice.created|date:'m/d/Y' }}</span><br>

                                    <p>
                                        {{ tknotice.message }}
                                    </p>
                                {% endif %}

                                {% if tknotice.placed_by_researcher %}
                                    <span class="weight-500">{{ tknotice.placed_by_researcher.user.get_full_name }}</span>
                                    <span class="grey-text">{{ tknotice.created|date:'m/d/Y' }}</span><br>

                                    <p>
                                        {{ tknotice.message }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                </div>

            {% endif %}
        {% endfor %}
{% else %}

    <!-- <div class="content-card content-card-space white-bg">
        <p>No notices to display at this time</p>
    </div> -->

{% endif %}

{% endblock %}