{% extends 'sub-base.html' %} {% block title %} | Add Member {% endblock %}{% load static %} {% block community_content %}

{% include 'partials/_members.html' %}


<div id="add-member-modal" class="modal" style="display: block;">

    <div class="add-member-modal-wrapper flex-this column w-100">
  
        <div id="close-modal" class="close-modal-btn w-100"> <a class="darkteal-text" href="{% url 'members' community.id %}"><span>&times;</span></a></div>
        <div class="add-member-modal-content w-100">
            <div>
                <h4 class="weight-500">Add Members to <span class="darkteal-text">{{community.community_name}}</span></h4>
            </div>
            <div class="w-100 member-modal-form flex-this column">
              <form method="POST" action="">
                  {% csrf_token %}
      
                  <div class="flex-this"> 
                      <div class="w-50">
                        <div> 
                            {{ form.receiver.label }} <br>
                            {{ form.receiver }} 
                          </div>
                          <div>
                            <label>Responsibility</label><br>
                            {{ form.role }} 
                          </div>
                      </div>


                      <div class="w-50">
                        <div>
                            {{ form.message.label }}<br>
                            {{ form.message }}
                        </div>
                      </div>
                  </div>

                  <p>- Only Admins and Editors have access to create and manage labels.<br></p>

                  
                <div class="flex-this w-100">
                    <div class="w-50">
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}
                        <button class="action-btn margin-top-2 " type="submit">Send Invitation </button>
                    </div>

                    <div class="w-50 pad-top-1-5 right-text">
                            <small>
                                Looking for someone who isn't on this list? <br><a href="{% url 'invite' %}">Invite them to Local Contexts Hub</a>.
                            </small>
                    </div>
                </div>

                </form>
            </div>
        </div>

  
    </div>
</div>

{% endblock %}