{% extends 'account-base.html' %} {% block title %} Apply Labels {% endblock %}{% load static %} {% load custom_project_tags %} {% block community_content %}

<div class="content-card-v2 content-card-space">
    <div class="padding-bottom-2"><small><a href="{% url 'community-projects' community.id %}"><span class="darkteal-text">Projects</span></a> >> Apply Labels</small></div>
    <div class="flex-this space-between">

        <div class="w-60 flex-this column">
            <div>
                <h2 class="no-bottom-margin no-top-margin">Apply Labels</h2>
                <p>Please choose from your customized Labels below. Select a Label to see description.</p>
            </div>

            <!-- title -->
            <div><h2 class="no-bottom-margin no-top-margin">{{ project.title }}</h2></div>
            <div><p>{{ project.date_added|date:'M d, Y' }} | 
                {% if project.project_type == 'Other' %} {{ project.other_type }} {% else %} {{ project.project_type }} {% endif %}| 
                {{ project.project_privacy }}<br>
                Created: {% if project.project_creator.get_full_name %}{{ project.project_creator.get_full_name }} {% else %} {{project.project_creator.username}} {% endif %}

                {% which_account_created_project project as project_creator %}
                Created: 
                {% if project.project_creator.get_full_name %}
                    {{ project.project_creator.get_full_name }}
                {% else %}
                    {{ project.project_creator.username }}
                {% endif %}
                {% if project_creator.community %} at {{ project_creator.community }} | Community {% endif %}
                {% if project_creator.institution %} at {{ project_creator.institution }} | Institution {% endif %}
                {% if project_creator.researcher %} | Researcher {% endif %}
                </p>
            </div>
            
            <div class="margin-bottom-16">
                <div class="flex-this">
                    {% if project.publication_doi %}
                        <div class="margin-right-1">
                            {% if not 'https://' in project.publication_doi %}
                                <a href="https://doi.org/{{ project.publication_doi }}" class="primary-btn green-btn">{{ project.publication_doi }} <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                            {% else %}
                                <a href="{{ project.publication_doi }}" class="primary-btn green-btn">{{ project.publication_doi }} <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                            {% endif %}
                    {% endif %}
                    {% if project.url %}
                        <div><a href="{{ project.url }}" class="primary-btn green-btn">Project Link <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="w-40 flex-this column align-right margin-top-16">

            <div class="flex-this margin-bottom-16 w-100 flex-end">
                <div><a href="{% url 'view-project' project.unique_id %}" class="primary-btn white-btn">View Project <i class="fa fa-arrow-right"></i></a></div>
            </div>

            <div class="flex-this row margin-top-8 w-50 flex-end">
                {% if project.tk_labels.all or project.bc_labels.all %}
                    {% if project.tk_labels.all %}
                        {% for tklabel in project.tk_labels.all %}
                            <div class="margin-left-8">
                                {% include 'tklabels/tiny-labels.html' %}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if project.bc_labels.all %}
                        {% for bclabel in project.bc_labels.all %}
                            <div class="margin-left-8">
                                {% include 'bclabels/tiny-labels.html' %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="flex-this flex-end w-60">
                        {% if project.project_notice.all %}
                            {% for notice in project.project_notice.all %}
                                {% if not notice.archived %}
                                    {% if notice.notice_type == 'biocultural' %}
                                        <div class="margin-left-8"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="62px"></div>
                                    {% endif %}
                                    {% if notice.notice_type == 'traditional_knowledge' %}
                                        <div class="margin-left-8"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="62px"></div>
                                    {% endif %}
                                    {% if notice.notice_type == 'attribution_incomplete' %}
                                        <div class="margin-left-8"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="62px"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

            </div>

        </div>

    </div>
</div>


<div class="content-card-v2 content-card-space">
    <div class="flex-this column w-100">

        <h2 class="no-top-margin">Select Customized Labels</h2>
        <p class="no-top-margin w-70">
            {% if bclabels or tklabels %}
                Your community can apply Labels to Projects, please choose from your customized Labels below.<br>
                If you would like to customize more Labels, you can do so <a class="darkteal-text underline-hover" href="{% url 'select-label' community.id %}">here</a>.
            {% else %}
                It looks like currently you do not have any Labels customized. To customize a new Label, click <a class="darkteal-text underline-hover" href="{% url 'select-label' community.id %}">here</a>.
            {% endif %}

            {% include 'partials/_alerts.html' %}
        </p>
        <form method="POST" action="">
            {% csrf_token %}

            <div class="flex-this">

                <!-- BC Label column -->
                <div class="w-50">
                    <h3>BC Labels</h3> 

                    <div class="flex-this wrap">
                        {% if bclabels %}
                            {% for bclabel in bclabels %}
                                <div class="w-40 center-text margin-top-1">
                                    <div class="flex-this column">
                                        <div class="label-margin">
                                            {% include 'bclabels/which-label.html' %}
                                            <span id="label-name-{{ bclabel.unique_id }}" class="grey-text">{{ bclabel.name }}</span>
                                        </div> 

                                        <div class="notice-checkbox-container margin-bottom-8 auto-margin margin-top-16">
                                            <input 
                                                id="checked-label-{{ bclabel.unique_id }}" 
                                                onclick="displayDefaultText(this)" 
                                                value="{{ bclabel.unique_id }}" 
                                                type="checkbox" 
                                                name="selected_bclabels"
                                                {% if bclabel in project.bc_labels.all %} checked {% endif %}
                                                >
                                            <span class="margin-left-8">Select</span>
                                        </div>       
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            Your community has not customized any BC Labels yet.
                        {% endif %}                        
                    </div>
                </div>

                    <!-- TK Label Column -->
                    <div class="w-50">
                        <h3>TK Labels</h3> 

                        <div class="flex-this wrap">
                            {% if tklabels %}
                                {% for tklabel in tklabels %}
                                    <div class="w-40 center-text margin-top-1">
                                        <div class="flex-this column">
                                            <div class="label-margin">
                                                {% include 'tklabels/which-label.html' %}
                                                <span id="label-name-{{ tklabel.unique_id }}" class="grey-text">{{ tklabel.name }}</span>
                                            </div> 
    
                                            <div class="notice-checkbox-container margin-bottom-8 auto-margin margin-top-16">
                                                <input 
                                                    id="checked-label-{{ tklabel.unique_id }}" 
                                                    onclick="displayDefaultText(this)" 
                                                    value="{{ tklabel.unique_id }}" 
                                                    type="checkbox" 
                                                    name="selected_tklabels"
                                                    {% if tklabel in project.tk_labels.all %} checked {% endif %}
                                                    >
                                                <span class="margin-left-8">Select</span>
                                            </div>       
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Your community has not customized any TK Labels yet.
                            {% endif %}                        
                        </div>

                    </div>
                </div>

                {% if bclabels %}
                    {% for bclabel in bclabels %}

                        <div id="open-default-text-{{ bclabel.unique_id }}" style="height: 0; overflow: hidden;">
                            <div class="flex-this border-top-grey margin-top-16">
                                <div class="small-label pad-top-1-5">
                                    {% include 'bclabels/which-label.html' %}
                                </div>
                                <div class="pad-left-2">
                                    <p class="darkteal-text bold">Label shared by {{ bclabel.community.community_name }} </p>
                                    <p class="bold"> {{ bclabel.name }} </p>
                                    {% if bclabel.audiofile %} <div><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                                    <p>{{ bclabel.label_text}}</p>

                                    {% include 'partials/_label-translation.html' %}

                                </div>
                            </div>
                            <!-- <div class="border-bottom-solid-teal pad-top-1"></div> -->
                        </div>

                    {% endfor %}
                {% endif %}

                {% if tklabels %}
                    {% for tklabel in tklabels %}
                        <div id="open-default-text-{{ tklabel.unique_id }}" style="height: 0; overflow: hidden;">
                            <div class="flex-this border-top-grey margin-top-16">
                                <div class="small-label pad-top-1-5">
                                    {% include 'tklabels/which-label.html' %}
                                </div>
                                <div class="pad-left-2">
                                    <p class="darkteal-text bold">Label shared by {{ tklabel.community.community_name }} </p>
                                    <p class="bold"> {{ tklabel.name }} </p>
                                    {% if tklabel.audiofile %} <div><audio src="{{ tklabel.audiofile.url }}" controls></audio></div>{% endif %}
                                    <p>{{ tklabel.label_text}}</p>

                                    {% include 'partials/_label-translation.html' %}
                                </div>
                            </div>
                            <!-- <div class="border-bottom-solid-teal pad-top-1"></div> -->
                        </div>
                    {% endfor %}
                {% endif %}

                {% if notes %}
                    <div class="border-top-grey margin-top-16">
                        <h2>Community Notes</h2>
                        {% for note in notes %}
                            <div class="margin-top-16 flex-this w-80 project-comment">
                                <div class="project-comment-teal"></div>
                                <div class="project-comment-text">
                                    <span class="bold">
                                        {{ note.community }}
                                    </span>
                                    <span class="grey-text">{{ note.created|date:'m/d/Y' }}</span><br>
                                    <p>{{ note.note }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if bclabels or tklabels %}
                    <div class="w-40 margin-top-16">
                        {{ form.note.label }}
                        <div class="tooltip"><strong>i</strong>
                            <span class="tooltiptext">
                                Document internal community information about how the Labels are being used on this Project and why. This will only be visible to members of your community.
                            </span>
                        </div>
                        {{ form.note }}
                    </div>
                    <div><button class="primary-btn action-btn margin-top-2">Apply Labels to Project <i class="fa fa-check" aria-hidden="true"></i></button></div>
                {% endif %}
            </form>

    </div>
</div>

{% endblock %}