{% extends 'comm-base.html' %} {% block title %} | Approve Label {% endblock %}{% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <h3 class="orange-text no-bottom-margin">Customised Labels</h3>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="flex-this space-between">
                    
                <div>
                    <h3 class="darkteal-text">Approve Label</h3>
                    <p>These Labels need to be approved by a secondary person (admin or editor) apart of the community.</p>
                </div>
                <div>
                    <button class="action-btn">Approve Label</button>
                    <a href="{% url 'community-labels' community.id %}" class="action-btn">Back</a>
                </div>
            </div>
    
            <div>
                <div class="w-30">
                    {{ form.name }}
                </div>
                {{ form.default_text }}
            </div>
        </form>

</div>

{% endblock %}