{% extends 'sub-base.html' %} {% block title %} | Approve Label {% endblock %}{% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="flex-this space-between">
                    
                <div>
                    <h3 class="darkteal-text no-top-margin">Approve Label</h3>
                    <p>Unapproved Labels need to be approved by a secondary person (admin or editor) from the community. <br>
                        By approving this Label your community will now be able to apply these to Local Contexts projects.</p>
                </div>
                <div>
                    <button class="action-btn margin-top-2 ">Approve Label</button>
                    <a href="{% url 'select-label' community.id %}" class="action-btn margin-top-2 ">Back</a>
                </div>
            </div>
    
            <div>
                <div class="w-30"><p class="bold">{% if bclabel_name %}{{ bclabel_name }}{% endif %}{% if tklabel_name %}{{ tklabel_name }}{% endif %}</p></div>
                <div>{{ form.default_text }}</div>

                {{ formset.management_form }}
                {% for tran_form in formset %}
                    {% for hidden in tran_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="flex-this column">
                        <div class="flex-this space-between">
                            <div class="w-30">
                                {{ tran_form.title }}
                            </div>
                            <div class="w-30">
                                {{ tran_form.language }}
                            </div>
                        </div>
                        {{ tran_form.translation }}
                    </div>
                {% endfor %}
                {% if formset.errors %}
                    {% for error in formset.errors %}
                        <div>
                            <small style="color:red;"> {{ error }}</small>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


        </form>
</div>

{% endblock %}