{% extends 'account-base.html' %} {% block title %} Approve Label {% endblock %}{% load static %} {% block community_content %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="content-card-v2 content-card-space">
            <div class="flex-this space-between">    
                <div class="w-80">
                    <h2 class="no-bottom-margin no-top-margin">Approve Label</h2>
                    <p>Unapproved Labels need to be approved by a secondary person (admin or editor) of the community. <br>
                        If you would like to request changes to or deny approval for this Label, select 'No', then
                        include a reason in the textbox that appears.<br><br>
                        By approving this Label your community will now be able to apply it to the Local Contexts Projects.<br>
                    </p>
                </div>
                <div>
                    <p>Approve Label?</p>
                    <div class="flex-this space-between">
                        <div>
                            <button class="primary-btn action-btn margin-top-2" name="approve_label_yes">Yes</button>
                        </div>
                        <div>
                            <a id="displayLabelNote" class="primary-btn white-btn margin-top-2">No</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div id="labelNoteDiv" class="content-card-v2 content-card-space hide">
            <div class="margin-top-8">
                <div class="flex-this space-between margin-bottom-8">
                    <div>
                        <h4 class="no-top-margin">Please add a note to request changes or give reason for not approving this Label.</h4>
                    </div>
                    <div>
                        <button id="closeNoteDiv" class="primary-btn white-btn">Close <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div>{{ form.note }}</div>
                <div><button class="primary-btn action-btn" name="create_label_note">Submit</button></div>
            </div>            
        </div>

        <div class="content-card-v2 content-card-space"> 
            <h2 class="no-top-margin">Proposed Edit</h2>
            <div class="flex-this margin-bottom-8 margin-top-8 about-this-label">
                <div class="w-20 margin-left-16 margin-top-16 margin-bottom-16">
                    {% if bclabel %}
                        {% include 'bclabels/which-label.html' %}
                    {% endif %}
                    {% if tklabel %}
                        {% include 'tklabels/which-label.html' %}
                    {% endif %}
                </div>   
                <div class="w-90 margin-right-16">
                    <div>
                        <p class="bold">
                            {% if bclabel.name %}{{ bclabel.name }}{% endif %}
                            {% if tklabel.name %}{{ tklabel.name }}{% endif %}
                        </p>
                        {% if bclabel.audiofile %} <div><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                        {% if tklabel.audiofile %} <div><audio src="{{ tklabel.audiofile.url }}" controls></audio></div>{% endif %}

                    </div>
                    <div class="margin-bottom-16">{% if bclabel %}{{ bclabel.label_text }}{% endif %}{% if tklabel %}{{ tklabel.label_text }}{% endif %}</div>
                    
                    {% if bclabel %}
                        {% if bclabel.bclabel_translation.all %}
                            {% for translation in bclabel.bclabel_translation.all %}
                                <div><p class="bold">{{ translation.translated_name }} | {{ translation.language }}</p></div>
                                <div class="margin-bottom-16">{{ translation.translated_text }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% if tklabel %}
                        {% if tklabel.tklabel_translation.all %}
                            {% for translation in tklabel.tklabel_translation.all %}
                                <div><p class="bold">{{ translation.translated_name }} | {{ translation.language }}</p> </div>
                                <div class="margin-bottom-16">{{ translation.translated_text }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>                
            </div>

        </div>
        
    </form>

{% endblock %}