{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <div class="flex-this column notice-card">
        <div class="padding-bottom-2"><small><a href="{% url 'community-requests' community.id %}"><span class="darkteal-text">Requests</span></a> >> Apply Labels</small></div>


        <div class="flex-this">

            <div class="w-10">
                <div class="flex-this column">
                    <div>
                        <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
                    </div>
                </div>
            </div>
    
            <div class="w-90 flex-this column">
                <div class="notice-info border-bottom-blk padding-bottom-2">
                    <a href="#"><h4 class="darkteal-text weight-500">{{ notice.project.title}}</h4></a>
                    <p>
                        {{ notice.project.project_type }}<br>
                        {{ notice.project.publication_date }}<br>
                        Project Contributors<br>
                    </p>
        
                    <small>{{ notice.project.description }}</small>
                </div>

                <div class="notice-info">
                    <div>
                        <p>Replace the notice with the labels you believe are relevant to the project</p>
                    </div>
                    <div>
                        <ol class="no-left-padding">
                            <form method="POST" action="">
                                {% csrf_token %}

                                <li>
                                    <p class="weight-500 darkteal-text">Select a Label</p>
                                    <div class="flex-this">
                                        {% if bclabels %}
                                        {% for bclabel in bclabels %}
                                            {% if bclabel.is_approved == True %}
                                            <div>
                                                <input id="checked-label-{{ bclabel.id }}" onclick="displayDefaultText(this)" value="{{ bclabel.id }}" type="checkbox" name="checkbox-label">
                                            </div>
                                                <div class="label-margin">
                                                    {% include 'snippets/which-label.html' %}
                                                    {{ bclabel.name }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </li>

                                <li>
                                    <p class="weight-500 darkteal-text">View Label Description</p>

                                    {% if bclabels %}
                                    {% for bclabel in bclabels %}
                                        <div id="open-default-text-{{ bclabel.id }}" style="height: 0; overflow: hidden;" class="flex-this">
                    
                                            <div class="small-label">
                                                {% include 'snippets/which-label.html' %}
                                            </div>
                                            <div class="pad-left-2">
                                                <p class="darkteal-text no-top-margin">Label shared by {{ bclabel.community.community_name }} </p>
                                                <p class="weight-500"> {{ bclabel.name }} </p>
                                                <p>
                                                    {{ bclabel.default_text}}
                                                </p>
                                                <hr>
                                            </div>
                    
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                    <div>
                                        <button class="action-btn">Apply Label(s) to project</button>
                                    </div>
                                </li>

                        </form>

                        </ol>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

{% endblock %}