{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <div class="flex-this column notice-card">
        <div class="padding-bottom-2"><small>Requests >> <a href="#"><span class="darkteal-text">Attach Labels</span></a></small></div>


        <div class="flex-this">

            <div class="w-10">
                <div class="flex-this column notice-btns">
                    <div>
                        <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
                    </div>
                    <div>
                        <button class="green-action-btn margin-bottom-2">View on GEOME </button>   
                    </div>
                    <div>
                        <button class="green-action-btn margin-bottom-2">View on ORCiD</button>    
                    </div>
                    <div>
                        <button class="green-action-btn">Download</button>    
                    </div>
                </div>
            </div>
    
            <div class="w-90 flex-this column">
                <div class="notice-info border-bottom-blk padding-bottom-2">
                    <a href="#"><h4 class="darkteal-text weight-500">{{ notice.project.title}}</h4></a>
                    <p>
                        Expedition<br>
                        Notice Applied: {{ notice.created.date }}<br>
                        Source: {{ notice.project.source }}<br>
                    </p>
        
                    <small>{{ notice.project.description }}</small>
                </div>

                <div class="notice-info">
                    <div>
                        <p>Replace the notice with the labels you believe are relevant to the project</p>
                    </div>
                    <div>
                        <ol class="no-left-padding">
                            <li>
                                <p class="weight-500">Attach Labels</p>
                                <div class="label-margin">
                                    <img id="bc-provenance-label-img" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-provenance.png' %}" width="150px">
                                    <img id="bc-multiple-community-img" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-multiple-community.png' %}" width="150px">
                                    <img id="bc-open-to-collaboration-img" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" width="150px"><br>
                                    <img id="bc-open-to-commercialization-img" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" width="150px">
                                    <img id="bc-research-use-img" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-research-use.png' %}" width="150px">
                                    <img id="bc-consent-verified" onclick="setDefaultText(this)" src="{% static 'images/bc-labels/bc-consent-verified.png' %}" width="150px">
                                </div>
                            </li>
                            <li>
                                <p class="weight-500 border-bottom-grey">Confirm Labels</p>
                                <div class="flex-this">
                                    <div><img id="chosen-label-img" src="{% static 'images/bc-labels/bc-provenance.png' %}" width="150px"></div>
                                    <div class="margin-left-1">
                                        <h4 class="weight-500">(BC P) Provenance | Ka Rata Pea Kia Whakapakahi</h4>
                                        <small id="bc-label-default-txt">
                                            This Label is being used to affirm an inherent interest Indigenous people have in the scientific collections and data about communities, peoples, and the biodiversity found within traditional lands, waters and territories. [Community name or authorizing party] has permissioned the use of this collection and associated data for research purposes, and retains the right to be named and associated with it into the future. This association reflects a significant relationship and responsibility to [the species or biological entity] and associated scientific collections and data.
                                        </small>
                                    </div>
                                    <div>
                                        <button class="green-action-btn default-btn">Edit Label</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p class="weight-500">Implement Labels</p>

                                <textarea class="implement-labels-div">

                                </textarea>
                            </li>
                            <li>
                                <button class="action-btn default-btn">Place Labels</button>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

{% endblock %}