{% extends 'comm-base.html' %} {% block title %} | Notifications {% endblock %}{% load static %} {% load custom_tags %} {% block community_content %}

        <div class="flex-this space-between w-100 half-card-container">

            <div class="half-card">
                <h3 class="orange-text">Notifications</h3>
                {% if notifications %}
                    {% for n in notifications %}

                    <div class="activity-card">
                        <p class="pad-left-2">
                            <span class="darkteal-text weight-500">{{ n.notification_type }}</span><br>
                            {{ n.created }} <br>
                            {{ n.sender.get_full_name }}<br>
                            {{ n.title }}
                        </p>
                    </div>

                    {% endfor %}
                {% else %}
                    <p>No notifications yet</p>
                {% endif %}
            </div>

            <div class="half-card">
                <h3 class="orange-text">Requests</h3>

                {% if bcnotices %}
                    {% for bcnotice in bcnotices %}
                        {% if bcnotice.project.has_labels %}

                        {% else %}

                        <a href="{% anchor 'community-activity' bcnotice.unique_id community.id  %}"> 

                            <div class="activity-card flex-this">

                                <div class="pad-left-2 shift-down">
                                    <img src="{% static 'images/notices/bc-notice.png' %}" height="105px" width="108px">
                                </div>

                                <div class="pad-left-2">
                                    <p style="color: #000;">
                                        <span class="darkteal-text weight-500">{{ bcnotice.project.title }}</span><br>
                                        {{ bcnotice.project.publication_date }} <br>
                                        {{ bcnotice.project.project_type }}<br>
                                        {{ bcnotice.placed_by_researcher.user.get_full_name }}
                                    </p>
                                </div>

                            </div>

                        </a>

                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No requests yet</p>
                {% endif %}

                {% if tknotices %}
                    {% for tknotice in tknotices %}
                        {% if tknotice.project.has_labels %}

                        {% else %}

                        <div class="activity-card flex-this">

                            <div class="pad-left-2 shift-down">
                                <img src="{% static 'images/notices/tk-notice.png' %}" height="105px" width="108px">
                            </div>

                            <div class="pad-left-2">
                                <p>
                                    <span class="darkteal-text weight-500">{{ tknotice.project.title }}</span><br>
                                    {{ tknotice.project.publication_date }} <br>
                                    {{ tknotice.project.project_type }}<br>
                                    {{ tknotice.placed_by_researcher.user.get_full_name }}
                                </p>
                            </div>

                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>

{% endblock %}