{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
    <section class="grey-bg">

        {% include 'partials/_community-info.html' %}
        {% include 'partials/_community-nav.html' %}

        <div class="activity-card-container content-card content-card-space flex-this column white-bg">
            <div>
                <h3 class="orange-text">Recent Activity</h3>
            </div>

            <div class="w-100 flex-this space-between">

                <div class="w-30 flex-this recent-act-label-card  white-text">

                    <div class="black-bg blk">
                        Image
                    </div>
                    <div class="orange-bg org">
                        <span>
                            Tk Community Use Only (TK C)<br>
                            Adopted by Miriame Barbarich
                        </span>
                    </div>

                </div>

                <div class="w-30 flex-this recent-act-label-card  white-text">

                    <div class="black-bg blk">
                        Image
                    </div>
                    <div class="orange-bg org">
                        <span>
                            BC Research Use (BC RU)<br>
                            Adopted by Breila Barbarich
                        </span>
                    </div>

                </div>

                <div class="w-30 flex-this recent-act-label-card  white-text">

                    <div class="black-bg blk">
                        Image
                    </div>
                    <div class="orange-bg org">
                        <span>
                            Tk Community Use Only (TK C)<br>
                            Adopted by Miriame Barbarich
                        </span>
                    </div>

                </div>


            </div>
        </div>

        <div class="notifications-card content-card content-card-space flex-this column white-bg">
            <div>
                <h3 class="orange-text">Notifications</h3>
            </div>

            <div class="w-100 flex-this column space-between">

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Requests</span>
                    </div>
                    <div class="w-80">
                        <p>
                            A BC notice has been placed by Dr.Libby Liggins
                        </p>
                    </div>
                </div>

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Labels</span>
                    </div>
                    <div class="w-80">
                        <p>
                            TK Outreach (TK O) label has been adapted
                        </p>
                    </div>
                </div>

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Labels</span>
                    </div>
                    <div class="w-80">
                        <p>
                            BC Research Use (BC RU) label has replaced a notice
                        </p>
                    </div>
                </div>

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Labels</span>
                    </div>
                    <div class="w-80">
                        <p>
                            TK Secret Sacred (TK SS) label has been edited
                        </p>
                    </div>
                </div>

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Relationships</span>
                    </div>
                    <div class="w-80">
                        <p>
                            A relationship has been created with Te Papa
                        </p>
                    </div>
                </div>

                <div class="flex-this w-100 notification-content">
                    <div class="w-10">
                        <span>Training</span>
                    </div>
                    <div class="w-80">
                        <p>
                            Labels 101 Workshop starts in two days
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>


{% include 'partials/_auth-footer.html' %}
{% endblock %}