{% extends 'reg-base.html' %} {% block title %} | Connect {% endblock %}{% load static %} {% block card %}

<div class="flex-this column">

    {% include 'partials/_alerts.html' %}

    <div class="flex-this column w-100">
        <div class="flex-this space-between">
            <div><h2 class="darkteal-text margin-bottom-2">Community Account</h2></div>
            <div class="margin-top-16">or <a class="darkteal-text" href="{% url 'select-account' %}">Back to choose an account</a>  </div>
        </div>
        <p class="w-90">Please first check if your community is already registered. If your community is not in our register, you can create a new community account.</p>    
    </div>

     <div>
         <label for="community-search">Search our community register</label><br>
         {% if communities %}
            <input id="selectedOrganizationInputList" list="communities" name="communities" class="w-100"  placeholder="Select a community from the hub">
            <datalist id="communities">
                {% for community in communities %}
                    <option value="{{ community.community_name }}">
                    <input type="hidden" value="{{ community.community_name }}" class="nameToCheck" name="check_comm_name_hidden_input">
                {% endfor %}
            </datalist>
         {% endif %}
     </div>

     <div class="flex-this space-between margin-top-1">
         <div><a class="darkteal-text" href="{% url 'create-community' %}">Or create a community account</a></div>
         <div><button id="openJoinRequestModalBtn" class="primary-btn action-btn margin-top-2 ">Next <i class="fa fa-long-arrow-right"></i></button></div>
     </div>

</div>

<div id="joinRequestModal" class="modal hide">

    <div class="modal-defaults noror-modal-box flex-this column w-100">
  
        <div id="close-modal" class="close-modal-btn w-100"> <span class="darkteal-text close-modal">&times;</span></div>
        <div class="modal-content-padding w-100">

            <div>
                <h2 style="color: #333333;">Request to join</h2>  
                <p>Every account has various responsibilities within the community. These roles are:<br>
                    <strong>Administrator:</strong> responsible for adding, editing and removing members<br>
                    <strong>Editor:</strong> responsible for customizing Labels and Projects<br>
                    <strong>Viewer:</strong> can view activity happening on the hub
                </p>  
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <input id="hidden-target-input" type="hidden" value="" name="organization_name">

                <div class="flex-this column w-100">

                    <!-- <label class="pad-top-1-5" for="community">Community Name</label> -->
                    
                        <div class="w-50 pad-top-1-5 margin-right-1">
                            <label class="pad-top-1-5">Requested Responsibility</label><br>
                            {{ form.role }}
                        </div>
                        
                        <div class="pad-top-1-5">
                            <label class="pad-top-1-5">Send a message with this request</label><br>
                            {{ form.message }}
                        </div>

                        {% if form.errors %}
                            <small class="red-text">{{ form.errors }}</small>
                        {% endif %}
        
                </div>
                <div class="text-align-right">
                    <button class="primary-btn action-btn margin-top-2">Send request to join</button>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}