{% extends 'reg-base.html' %} {% block title %} | Connect {% endblock %}{% load static %} {% block card %}

<div class="flex-this column">

    <div class="form-heading flex-this column w-90">
        <h2 class="darkteal-text margin-bottom-2">Community Profile</h2>
        <p>Please check if your community is already registered. If your community is not in our register, you can create a new community profile.</p>    
    </div>

    <form method="GET" action="">
        {% csrf_token %}
        <div>
            <label for="community-search">Search our community register</label><br>
            {% if communities %}
            <input list="communities" name="communities" class="w-100">
                <datalist id="communities">
                    {% for community in communities %}
                        <option value="{{ community.community_name }}">
                    {% endfor %}
                </datalist>
            {% endif %}
        </div>

        <div class="flex-this space-between margin-top-1">
            <div>
                <a class="darkteal-text" href="{% url 'create-community' %}">Or create a community profile</a>
            </div>
            <div>
                <button class="action-btn">Next <i class="fa fa-long-arrow-right"></i></button>
            </div>
        </div>


    </form>

</div>
{% endblock %}