{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <div>
        <small><a class="darkteal-text" href="{% url 'community-projects' community.id %}">Projects</a> <span style="color:#A09D9D;"> >> Create New Project</span></small>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
    <div>
        <h2 class="orange-text weight-700">Create a project</h2>
    </div>

    <div class="bottom-dashed">
        <label class="darkteal-text"> What are you applying the Labels to?*</label><br>
        {{ form.project_type }}
    </div>

    <div>
        <div>
        <label class="darkteal-text">Project Title*</label><br>
            {{ form.title }}
        </div>
        <div>
            <label class="darkteal-text">Publication Date</label><br>
            {{ form.publication_date }}
        </div>
        <div>
            <label class="darkteal-text">Project Description*</label><br>
            {{ form.description }}
        </div>

        <div>
            <label class="darkteal-text">Project Contact Name*</label><br>
            {{ form.project_contact }}
        </div>
        <div>
            <label class="darkteal-text">Project Contact Email*</label><br>
            {{ form.project_contact_email }}
        </div>
        <div>
            <label class="darkteal-text">Project URL</label><br>
            {{ form.url }}
        </div>


    </div>

    <div>

        <div>
            <h4 class="weight-500">Apply your custom Labels to this project</h4>
        </div>
    
        <div>
            <span class="weight-500 darkteal-text">1. Attach Labels</span><br>
            <div class="flex-this">
    
            {% if bclabels %}
                {% for bclabel in bclabels %}
    
                    <div class="w-20 wrap center-text">
                    <div>
                        <input value="{{ bclabel.id }}" type="checkbox" name="checked-labels">
                    </div>
                    {% include 'snippets/which-label.html' %}
                    <span class="darkteal-text">{{ bclabel.name }}</span>
                    </div>
    
                {% endfor %}
            {% else %}
                <p>You have no labels customised</p>
            {% endif %}
    
            </div>
    
            <p class="weight-500 darkteal-text">2. View Label Descriptions</p>
    
        </div>
    
        <div>
            {{ form.errors }}
            <button class="action-btn">Apply Labels</button>
        </div>

    </div>
    </form>
</div>

{% endblock %}