{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <div>
        <small><a class="darkteal-text" href="{% url 'community-projects' community.id %}">Projects</a> <span class="grey-text"> >> Create New Project</span></small>
    </div>

    <h3 class="orange-text">Create a Project</h3>
    <p>A project is the item or sample your entity would like to apply Labels to.</p>

    <form method="POST" action="">
        {% csrf_token %}

    <div class="border-bottom-dash-teal padding-bottom-1">
        <label>What are you applying the Label to?</label><br>
        {{ form.project_type }} <br>
    </div>

    <p class="weight-500">Project Details</p>
    <p>
        The information provided here will be shared to other entities your community chooses to share with.<br>
        Please try to keep this section as informative as you can.
    </p>
    <div class="padding-bottom-1">
        <label>Project Title*</label><br>
        {{ form.title }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Project or Publication Date</label><br>
        {{ form.publication_date }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Project Description*</label><br>
        {{ form.description }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Project Contact Name* </label><br>
        {{ form.project_contact }} <br>
    </div>


    <div class="padding-bottom-1">
        <label>Project Contact Email*</label><br>
        {{ form.project_contact_email }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Recommended Citation</label><br>
        {{ form.recommended_citation }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Project URL</label><br>
        {{ form.url }} <br>
    </div>

    <p class="weight-500">Project Metadata</p>
    <p>
        The project metadata is the key information of how to access data relevant to the project. This will only be shown internally.
    </p>

    <div class="padding-bottom-1">
        <label>Project Data GUID</label><br>
        {{ form.project_data_guid }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>Project DOI</label><br>
        {{ form.publication_doi }} <br>
    </div>

    <div class="padding-bottom-1">
        <label>GEOME Project ID</label><br>
        {{ form.geome_project_id }} <br>
    </div>


    <div>
    
        <div>
            {{ form.errors }}
            <button class="action-btn">Save project</button>
        </div>

    </div>
</form>
</div>

{% endblock %}