{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">

    <div>
        <h2 class="orange-text">BC Labels</h2>
        <p class="darkteal-text">(BC) Biocultural Labels</p>
    </div>

    <div class="flex-this" style="justify-content: space-evenly;">
        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
            </div>
            <div><p class="darkteal-text upper">(BC CV)<br> Consent Verified</p></div>
        </div>

        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label">
            </div>
            <div><p class="darkteal-text upper">(BC MC)<br> Multiple Communities</p></div>
        </div>

        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC OC) Label">
            </div>
            <div><p class="darkteal-text upper">(BC OC)<br> Open to <br>Collaboration</p></div>
        </div>

        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label">
            </div>
            <div><p class="darkteal-text upper">(BC OC) <br> Open to <br>Commercialization</p></div>
        </div>

        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
            </div>
            <div><p class="darkteal-text upper">(BC P) <br>Provenance</p></div>
        </div>

        <div class="center-text">
            <div>
                <img class="default-label-img" src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label">
            </div>
            <div><p class="darkteal-text upper">(BC R)<br> Research Use</p></div>
        </div>
    </div>

</div>

{% endblock %}

