{% extends 'register-base.html' %} {% block title %} Create Community {% endblock %}{% load static %} {% block card %}
    
<div class="flex-this column w-90">
    <div class="flex-this space-between">
        <div>
            <h2 class="margin-bottom-8 no-top-margin">Community Account</h2>  
        </div>
        <div> Or <a class="darkteal-text" href="{% url 'connect-community' %}">request to join an existing community</a> </div> 
    </div>

    <p class="no-top-margin">Community accounts created in Local Contexts can be discoverable in the Local Contexts registery, the information displayed will be the information you provide on behalf of the community below. Read more about our privacy standards <a class="darkteal-text underline-hover" href="https://storage.googleapis.com/anth-ja77-local-contexts-8985.appspot.com/agreements/LC%20Privacy%20Policy.pdf" target="_blank" rel="noopener">here <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
    
    <form action="" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="flex-this column margin-top-8">
            <div>
                <label class="pad-top-1-5">Name of the Community</label><br>
                {{ form.community_name }}
            </div>

            <div class="flex-this margin-top-8">
                <div class="w-50 margin-right-1">
                    <label class="pad-top-1-5">Community Entity</label>
                    <div class="tooltip"><strong>i</strong>
                        <span class="tooltiptext">Community entities are those who are responsible for and look after the development of the Labels. Responsible community entities include Cultural Department, THPO, Community Center, Preservation Office, Indigenous Archive or Museum, and Indigenous Rangers.</span>
                    </div>
                    <br>
                    {{ form.community_entity}}    
                </div>
                <div class="w-50">
                    <label class="pad-top-1-5">State, Province, or Region</label>

                    <div class="tooltip"><strong>i</strong>
                        <span class="tooltiptext">By stating your location we will be able to connect your community with Projects involved with this location.</span>
                    </div>

                      <br>
                    {{ form.state_province_region}}
                </div>
            </div>
        
            <div class="country-container margin-top-8">
                <label class="pad-top-1-5" for="country">Country</label><br>
                {{ form.country }}
            </div>
        </div>

        <div class="w-100">
            <div class="pad-top-1-5">
                <label>Community Description</label>

                <div class="tooltip"><strong>i</strong>
                    <span class="tooltiptext">A community description allows you to share key public information about your community or community organization.</span>
                </div>

                <br>
                {{ form.description }}
            </div>
            <small id="charCount" class="block text-align-right">200/200</small>
        </div>

        <div class="flex-this space-between">
            <div>
                {% if form.errors %}
                    <small class="red-text">{{ form.errors }}</small>
                {% endif %}
                {% include 'partials/_alerts.html' %}
            </div>
    
            <div class="margin-top-8">
                <button class="primary-btn action-btn margin-top-2">Continue <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>


    </form>

</div>

{% endblock %}