{% extends 'account-base.html' %} {% block title %} Customize {% endblock %}{% load static %} {% block community_content %}

<div class="content-card-v2 content-card-space">
    <div class="w-70">
        <h2 class="no-top-margin">Customize a Label</h2>
        <p>Now that you have selected a Label to customize this Label will now sit in this bucket where you can store all of the Labels your account customizes. The Label is currently faded to indicate there is still some work to do to customize and make this Label your own. </p>
        <strong>How this process works:</strong>
        <ol>
            <li>Select a Label to Customize</li>
            <li>Customize the template text and add a Label title.</li>
            <li>Get another member in your community to approve the new template text and title.</li>
            <li>Start applying these Labels to Projects involving traditional knowledge.</li>
        </ol> 
    </div>
</div>

<div class="content-card-v2 content-card-space">
    <h3 class="no-top-margin">Step 1. Select a Label to customize</h3>
    <div class="margin-bottom-16 margin-top-16 w-100 about-this-label">    
        <div class="flex-this margin-left-16 margin-right-16">

            <div id="target-img-div" class="margin-top-16">
                <img 
                    loading="lazy"
                    {% if label_code == 'bcr' %}
                        id="bcr" 
                        src="{% static 'images/bc-labels/bc-research-use.png' %}"  
                        alt="BC Research Use (BC R) Label" 
                    {% endif %}
                    {% if label_code == 'bccv' %}
                        id="bccv" 
                        src="{% static 'images/bc-labels/bc-consent-verified.png' %}" 
                        alt="BC Consent Verified (BC CV) Label"
                    {% endif %}
                    {% if label_code == 'bcoc' %}
                        id="bcoc" 
                        src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" 
                        alt="BC Open to Commercialization (BC OC) Label"
                    {% endif %}
                    {% if label_code == 'bccb' %}
                        id="bccb" 
                        src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" 
                        alt="BC Open to Collaboration (BC CB) Label"
                    {% endif %}
                    {% if label_code == 'bcmc' %}
                        id="bcmc" 
                        src="{% static 'images/bc-labels/bc-multiple-community.png' %}" 
                        alt="BC Multiple Communities (BC MC) Label"
                    {% endif %}
                    {% if label_code == 'bcp' %}
                        id="bcp" 
                        src="{% static 'images/bc-labels/bc-provenance.png' %}" 
                        alt="BC Provenance (BC P) Label"
                    {% endif %}
                    {% if label_code == 'bccl' %}
                        id="bccl" 
                        src="{% static 'images/bc-labels/bc-clan.png' %}" 
                        alt="BC Clan (BC CL) Label"
                    {% endif %}
                    {% if label_code == 'bco' %}
                        id="bco" 
                        src="{% static 'images/bc-labels/bc-outreach.png' %}" 
                        alt="BC Outreach (BC O) Label"
                    {% endif %}
                    {% if label_code == 'bccnv' %}
                        id="bccnv" 
                        src="{% static 'images/bc-labels/bc-consent-non-verified.png' %}" 
                        alt="BC Consent Non-Verified (BC CNV) Label"
                    {% endif %}
                    {% if label_code == 'bcnc' %}
                        id="bcnc" 
                        src="{% static 'images/bc-labels/bc-non-commercial.png' %}" 
                        alt="BC Non-Commercial (BC NC) Label"
                    {% endif %}

                    {% if label_code == 'tka' %}
                        id="tka" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-attribution.png' %}" 
                        alt="TK Attribution (TK A) Label"
                    {% endif %}
                    {% if label_code == 'tkcl' %}
                        id="tkcl" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-clan.png' %}" 
                        alt="TK Clan (TK CL) Label"
                    {% endif %}
                    {% if label_code == 'tkf' %}
                        id="tkf" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-family.png' %}" 
                        alt="TK Family (TK F) Label"
                    {% endif %}
                    {% if label_code == 'tkmc' %}
                        id="tkmc" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-multiple-community.png' %}" 
                        alt="TK Multiple Communities (TK MC) Label"
                    {% endif %}
                    {% if label_code == 'tko' %}
                        id="tko" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-outreach.png' %}" 
                        alt="TK Outreach (TK O) Label"
                    {% endif %}
                    {% if label_code == 'tknv' %}
                        id="tknv" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-non-verified.png' %}" 
                        alt="TK Non-Verified (TK NV) Label"
                    {% endif %}
                    {% if label_code == 'tkv' %}
                        id="tkv" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-verified.png' %}" 
                        alt="TK Verified (TK V) Label"
                    {% endif %}
                    {% if label_code == 'tknc' %}
                        id="tknc" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-non-commercial.png' %}" 
                        alt="TK Non-Commercial (TK NC) Label"
                    {% endif %}
                    {% if label_code == 'tkoc' %}
                        id="tkoc" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-commercial.png' %}" 
                        alt="TK Open to Commercialization (TK OC) Label"
                    {% endif %}
                    {% if label_code == 'tkcs' %}
                        id="tkcs" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" 
                        alt="TK Culturally Sensitive (TK CS) Label"
                    {% endif %}
                    {% if label_code == 'tkcv' %}
                        id="tkcv" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-community-voice.png' %}" 
                        alt="TK Community Voice (TK CV) Label" 
                    {% endif %}
                    {% if label_code == 'tkco' %}
                        id="tkco" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-community-use-only.png' %}" 
                        alt="TK Community Use Only (TK CO) Label"
                    {% endif %}
                    {% if label_code == 'tks' %}
                        id="tks" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-seasonal.png' %}" 
                        alt="TK Seasonal (TK S) Label"
                    {% endif %}
                    {% if label_code == 'tkwg' %}
                        id="tkwg" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-women-general.png' %}" 
                        alt="TK Weomen General (TK WG) Label"
                    {% endif %}
                    {% if label_code == 'tkmg' %}
                        id="tkmg" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-men-general.png' %}" 
                        alt="TK Men General (TK MG) Label"
                    {% endif %}
                    {% if label_code == 'tkmr' %}
                        id="tkmr" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-men-restricted.png' %}" 
                        alt="TK Men Restricted (TK MR) Label"
                    {% endif %}
                    {% if label_code == 'tkwr' %}
                        id="tkwr" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-women-restricted.png' %}" 
                        alt="TK Women Restricted (TK WR) Label"
                    {% endif %}
                    {% if label_code == 'tkss' %}
                        id="tkss" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" 
                        alt="TK Secret Sacred (TK SS) Label"
                    {% endif %}
                    {% if label_code == 'tkcb' %}
                        id="tkcb" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-open-to-collaboration.png' %}" 
                        alt="TK Open to Collaboration (TK CB) Label"
                    {% endif %}
                    {% if label_code == 'tkcr' %}
                        id="tkcr" 
                        class="label-large" 
                        src="{% static 'images/tk-labels/tk-creative.png' %}" 
                        alt="TK Creative (TK CR) Label"
                    {% endif %}
                >
            </div>

            <div class="margin-left-16 w-70">
                <p id="labelNamePTag" class="bold"></p>
                <small class="bold">Why Use This Label?</small>
                <p id="whyUseText"></p>
            </div>

        </div>
    </div>
</div>

<div class="content-card-v2 content-card-space">

    <div class="flex-this column border-bottom-solid-teal">
        <form id="saveLabelForm" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3 class="no-top-margin no-bottom-margin">Step 2. Customize Label</h3>
                <p class="w-80">You can edit the Label template text, and add a local name that reflects your community alongside the Label name.</p>
            </div>
            <div>
                <input id="input-label-name" type="hidden" value="" name="input-label-name">

                <div class="w-30 margin-bottom-16">
                    <label>Label name</label>
                    {{ form.name }}
                </div>

                {% if form.name.errors %}
                    <div class="msg-red w-50"><small>{{ form.name.errors.as_text }}</small></div> 
                {% endif %}

                <div class="w-30 margin-bottom-16">
                    <label class='block'>Label Language <small>(select from dropdown)</small></label>
                    <div class="autocomplete flex-this align-center" style="display:flex;">
                        {{ form.language }}
                        <button name="clear-language-btn" class="primary-btn white-btn margin-left-16 hide" style="min-height:40px;">Clear<i class="fa-regular fa-eraser"></i></button>
                    </div>
                    
                </div>

                {% if form.language.errors %}
                    <div class="msg-red w-50"><small>{{ form.language.errors.as_text }}</small></div> 
                {% endif %}

                <div class="w-80">
                    <label for="label_text">Label text</label>
                    <div class="tooltip" style="margin-left: 5px;"><strong>i</strong>
                        <span class="tooltiptext">
                            Providing personal information is optional. By providing it, you consent for it to be shown to other Hub users and wherever this Label is applied. 
                            <a href="https://localcontexts.org/privacy-policy/" class="white-text underline-hover" target="_blank" rel="noopener">Privacy Policy <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>.
                        </span>
                    </div> 
                    {{ form.label_text }}
                </div>

                {% if form.label_text.errors %}
                    <div class="msg-red w-50"><small>{{ form.label_text.errors.as_text }}</small></div> 
                {% endif %}

                <div>
                    <div class="hide">{{ form.audiofile }}</div>
                    <button id="customLabelAudioFileUploadBtn" class="primary-btn green-btn">Upload audio file <i class="fa-solid fa-upload"></i></button>
                </div>
                {% if form.audiofile.errors %}
                    <div class="msg-red w-50"><small>{{ form.audiofile.errors.as_text }}</small></div> 
                {% endif %}
            </div>

            <!-- Add translation -->
            {% include 'partials/_add-translation.html' %}

            <div class="text-align-right margin-bottom-16 margin-top-2 flex-this align-center">
                <button id="saveLabelBtn" name="save_label_btn" class="primary-btn action-btn">Save Label</button> 
                <small id="language-error" class="red-text margin-left-1 hide">Please clear or select a language from the dropdown list.</small>
            </div>
        </form>
    </div>
</div>

{% endblock %}
