{% extends 'comm-base.html' %} {% block title %} | Customise {% endblock %}{% load static %} {% block community_content %}

<div class="content-card content-card-space white-bg">
    <div>
        <h2 class="orange-text">Labels</h2>
        <p class="darkteal-text">You currently have 1 label customised</p>
    
        {% if label_type == 'tka' %}
            <div id="target-img-div">
                <img id="tka" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label">
            </div>
            <p class="darkteal-text">Attribution <br> (TK A)</p>
        {% endif %}
    
        {% if label_type == 'tkcl' %}
            <div id="target-img-div">
                <img id="tkcl" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label">
            </div>
            <p class="darkteal-text">Clan <br> (TK CL)</p>
        {% endif %}
    
        {% if label_type == 'tkf' %}
            <div id="target-img-div">
                <img id="tkf" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label">
            </div>
            <p class="darkteal-text">Family <br> (TK F)</p>
        {% endif %}
    
        {% if label_type == 'tkmc' %}
            <div id="target-img-div">
                <img id="tkmc" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Communities (TK MC) Label">
            </div>
            <p class="darkteal-text">Multiple Community <br> (TK MC)</p>
        {% endif %}
    
        {% if label_type == 'tko' %}
            <div id="target-img-div">
                <img id="tko" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label">
            </div>
            <p class="darkteal-text">Outreach <br> (TK O)</p>
        {% endif %}
    
        {% if label_type == 'tknv' %}
            <div id="target-img-div">
                <img id="tknv" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verified (TK NV) Label">
            </div>
            <p class="darkteal-text">Non-Verified <br> (TK NV)</p>
        {% endif %}

        {% if label_type == 'tkv' %}
            <div id="target-img-div">
                <img id="tkv" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label">
            </div>
            <p class="darkteal-text">Verified <br> (TK V)</p>
        {% endif %}

    {% if label_type == 'tknc' %}
        <div id="target-img-div">
            <img id="tknc" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label">
        </div>
        <p class="darkteal-text">Non-Commercial <br> (TK NC)</p>
    {% endif %}

    {% if label_type == 'tkc' %}
        <div id="target-img-div">
            <img id="tkc" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Open to Commercialization (TK OC) Label">
        </div>
        <p class="darkteal-text">Commercial <br> (TK C)</p>
    {% endif %}

    {% if label_type == 'tkcs' %}
        <div id="target-img-div">
            <img id="tkcs" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label">
        </div>
        <p class="darkteal-text">Culturally Sensitive <br> (TK CS)</p>
    {% endif %}

    {% if label_type == 'tkcv' %}
        <div id="target-img-div">
            <img id="tkcv" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label">
        </div>
        <p class="darkteal-text">Community Voice <br> (TK CV)</p>
    {% endif %}

    {% if label_type == 'tkco' %}
        <div id="target-img-div">
            <img id="tkco" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label">
        </div>
        <p class="darkteal-text">Community Use Only <br> (TK CO)</p>
    {% endif %}

    {% if label_type == 'tks' %}
        <div id="target-img-div">
            <img id="tks" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label">
        </div>
        <p class="darkteal-text">Seasonal <br> (TK S)</p>
    {% endif %}

    {% if label_type == 'tkwg' %}
        <div id="target-img-div">
            <img id="tkwg" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Weomen General (TK WG) Label">
        </div>
        <p class="darkteal-text">Women General <br> (TK WG)</p>
    {% endif %}
    {% if label_type == 'tkmg' %}
        <div id="target-img-div">
            <img id="tkmg" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label">
        </div>
        <p class="darkteal-text">Men General <br> (TK MG)</p>
    {% endif %}
    {% if label_type == 'tkmr' %}
        <div id="target-img-div">
            <img id="tkmr" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label">
        </div>
        <p class="darkteal-text">Men Restricted <br> (TK MR)</p>
    {% endif %}
    {% if label_type == 'tkwr' %}
        <div id="target-img-div">
            <img id="tkwr" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label">
        </div>
        <p class="darkteal-text">Women Restricted <br> (TK WR)</p>
    {% endif %}
    {% if label_type == 'tkss' %}
        <div id="target-img-div">
            <img id="tkss" class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label">
        </div>
        <p class="darkteal-text">Secret Sacred <br> (TK SS)</p>
    {% endif %}
    </div>

        <div class="flex-this column text-background-blue">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="flex-this space-between">
                    <div>
                        <h3 class="darkteal-text weight-600">Customise Label</h3>
                    </div>
                    <div>
                        <button class="action-btn">Save as draft</button> 
                        <!-- <button class="white-bg darkteal-text">Cancel</button> -->
                    </div>
                </div>
                <div>
                    <p class="darkteal-text">Each description is written to be flexible for use in multiple projects. <br>This text is written in English but you are welcome to add another language to this label.</p>
                        {{ form.name }}<br>
                        {{ form.default_text }}
                </div>
            </form>
        </div>
</div>

{% endblock %}