{% extends 'account-base.html' %} {% block title %} Edit Label {% endblock %}{% load static %} {% load custom_tags %} {% block community_content %}

<div class="content-card-v2 content-card-space">
    <div class="w-70">
        <h2 class="no-top-margin">Edit Label</h2>
        <p>Each time edits are made to a Label that has been approved, it will need to go through the approval process by another Admin or Editor of the community.
            If this Label has been applied to an existing Project, it will remain applied while it is being approved but it will not be applicable to new Projects.
        </p>
    </div>
</div>

<div class="content-card-v2 content-card-space">

    <div class="flex-this column border-bottom-solid-teal">

        <form id="saveLabelForm" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div class="flex-this w-100">
                    <div class="w-30 margin-right-16">
                        <label>Label name</label><br>
                        {{ form.name }}
                    </div>
                    <div class="w-30">
                        <label class="block">Language <small>(select from dropdown)</small></label>
                        <div class="autocomplete flex-this align-center" style="display:flex;">
                            {{ form.language }}
                            <button name="clear-language-btn" class="primary-btn white-btn margin-left-16 hide" style="min-height:40px;">Clear<i class="fa-regular fa-eraser"></i></button>
                        </div>
                    </div>                    
                </div>

                <div class="w-80 margin-top-8">
                    <label for="label_text">Label text</label>
                    {{ form.label_text }}<br>

                    <label>Label Audio File</label>

                    <div class="flex-this">
                        {% if bclabel.audiofile %} <div class="margin-right-16"><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                        {% if tklabel.audiofile %} <div class="margin-right-16"><audio src="{{ tklabel.audiofile.url }}" controls></audio></div>{% endif %}
                        <div class="margin-right-8">
                            <div class="hide">{{ form.audiofile }}</div>
                            <button id="customLabelAudioFileUploadBtn" class="primary-btn green-btn">
                                {% if bclabel.audiofile or tklabel.audiofile %}
                                    {% firstof bclabel.audiofile.name|get_filename tklabel.audiofile.name|get_filename %}
                                    <i class="fa-solid fa-check"></i>
                                {% else %}
                                    Upload audio file 
                                    <i class="fa-solid fa-upload"></i>
                                {% endif %}
                            </button>
                        </div>    
                        <div>
                            <button id="clearAudiofileBtn" class="primary-btn white-btn" name="clear_audiofile">Clear audio file</button>
                        </div>                    
                    </div>

                    {% if form.audiofile.errors %}
                        <div class="msg-red w-50"><small>{{ form.audiofile.errors.as_text }}</small></div> 
                    {% endif %}

                </div>
            </div>

            {{ formset.management_form }}

            {% if bclabel.bclabel_translation.all or tklabel.tklabel_translation.all %}
                <div><p class="bold">Translated Label text</p></div>

                <!-- Translations that currently exist -->
                {% if formset %}
                    {% for translation_form in formset %}
                        <div class="current-translation-form">
                            {% for hidden in translation_form.hidden_fields %} {{ hidden }} {% endfor %}

                            <div class="flex-this w-100">
                                <div class="w-30 margin-right-16">
                                    <label>Customized title</label>
                                    {{ translation_form.translated_name }}
                                    <br>
                                </div>
                                <div class="w-30">
                                    <label class="block">Translated Language <small>(select from dropdown)</small></label>
                                    <div class="autocomplete flex-this align-center" style="display:flex;">
                                        {{ translation_form.language }}
                                        <button name="clear-language-btn" class="primary-btn white-btn margin-left-16 hide" style="min-height:40px;">Clear<i class="fa-regular fa-eraser"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="w-80 margin-top-8"><label>Translated text</label><br>{{ translation_form.translated_text }}</div>    
                        </div>
                    {% endfor %}   
                {% endif %}
            {% endif %}

            <!-- Add new translations -->
            {% include 'partials/_add-translation.html' %}

            <div class="text-align-right margin-bottom-8 margin-top-1 flex-this align-center">
                <button id="saveLabelBtn" class="primary-btn action-btn ">Save Label</button>
                <small id="language-error" class="red-text margin-left-1 hide">Please clear or select a language from the dropdown list.</small>
            </div>
        </form>
    
    </div>

</div>



{% endblock %}