{% extends 'account-base.html' %} {% block title %} Edit Label {% endblock %}{% load static %} {% load custom_tags%} {% block community_content %}

<div class="content-card-v2 content-card-space">
    <div class="w-70">
        <h2 class="no-top-margin">Edit Label</h2>
        <p>Each time edits are made to a Label that has been approved, it will need to go through the approval process by another Admin or Editor of the community.
            If this Label has been applied to an existing Project, it will remain applied while it is being approved but it will not be applicable to new Projects.
        </p>
    </div>
</div>

<div class="content-card-v2 content-card-space">

    <div class="flex-this column border-bottom-solid-teal">

        <form id="saveLabelForm" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div class="flex-this space-between w-80 margin-bottom-8">
                    <div class="w-50">
                        <label>Label name</label>
                        {{ form.name }}
                    </div>
                    <div class="w-30">
                        <label>Language</label>
                        {{ form.language }}
                    </div>                    
                </div>

                <div class="w-80">
                    <label for="label_text">Label text</label>
                    {{ form.label_text }}<br>
                    <label>Upload audio file</label><br>
                    {% if bclabel.audiofile %} <div><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                    {% if tklabel.audiofile %} <div><audio src="{{ tklabel.audiofile.url }}" controls></audio></div>{% endif %}
                    {{ form.audiofile }}
                </div>
            </div>

            {{ formset.management_form }}

            {% if bclabel.bclabel_translation.all or tklabel.tklabel_translation.all %}
                <div><p class="bold">Translated Label text</p></div>

                <!-- Translations that currently exist -->
                {% if formset %}
                    <div class="w-80">
                        {% for translation_form in formset %}
                            {% for hidden in translation_form.hidden_fields %} {{ hidden }} {% endfor %}

                            <div class="flex-this space-between margin-bottom-8">
                                <div class="w-50">
                                    <label>Customized title</label>
                                    {{ translation_form.translated_name }}
                                </div>
                                <div>
                                    <label>Language</label><br>
                                    <div class="autocomplete" style="width:300px;">
                                        {{ translation_form.language }}
                                    </div>
                                </div>
                            </div>

                            <label>Translated text</label>
                            {{ translation_form.translated_text }}    
                        {% endfor %}                
                    </div>
                {% endif %}
            {% endif %}

            <!-- Add new translations -->
            {% include 'partials/_add-translation.html' %}

            <div class="text-align-right margin-bottom-8">
                <button id="saveLabelBtn" class="primary-btn action-btn margin-top-1">Save Label</button> 
            </div>
        </form>
    
    </div>

</div>



{% endblock %}