{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

<!-- if customised labels exist: -->
    <!-- <div class="content-card content-card-space white-bg">
        <h2 class="orange-text weight-600">Labels</h2>
        <div class="flex-this bc-label-container">
            <div>
                <img src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC OC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label">
            </div>
        </div>
    </div> -->

    {% if notices %}
        {% for notice in notices %}

            {% if notice.project.has_labels %}
                {% if notice.project.bclabels %}

                    <div class="content-card content-card-space white-bg">
                        <h2 class="orange-text weight-600">Projects</h2>

                        <hr>

                        <div class="flex-this space-between column">
                            
                            <div class="flex-this w-100 proj-title-container">

                                <div class="w-50">
                                    <h4 class="darkteal-text weight-600">{{notice.project.title}}</h4>
                                </div>

                                <div class="w-50 flex-this flex-end">
                                        <h2 class="darkteal-text">
                                            <!-- <a onclick='showMoreTemporary()'>
                                                <span id="plus-minus">+</span>
                                            </a> -->
                                            <a onclick='showMore(this)'>
                                                <span id="plus-minus-{{notice.project.id}}" class="darkteal-text">+</span>
                                            </a>
                                        </h2>
                                </div>

                            </div> 

                            <div class="w-100 flex-this proj-info-container">
                                <div class="w-50"> 
                                        <p>
                                            {{ notice.project.project_type }}<br>
                                            {{notice.project.publication_date}}<br>
                                            Source: {{ notice.project.source }} <br>
                                        </p>
                                </div>
                    
                                <div class="w-50 additional-proj-info flex-this column">
                    
                                    <div>
                                        <p>Relationship with <a href="#" class="darkteal-text">
                                        {% if notice.placed_by_researcher %}
                                            {{ notice.placed_by_researcher.user.get_full_name}}<br>
                                        {% endif %}
                                        {% if notice.placed_by_institution %}
                                            {{ notice.placed_by_institution.institution_name}}<br>
                                        {% endif %}
                                        </a></p>
                                    </div>

                                    <div class="flex-this flex-end mini-label-container">
                                            {% include 'snippets/bclabels-applied.html'%}
                                    </div>

                                </div>

                            </div>

                            <!-- Expandable content -->
                            <div id="proj-expand-{{notice.project.id}}" class="proj-expand" style="height: 0px;">
                                <hr>
                                    <div class="flex-this w-100">

                                        <div class="flex-this column w-70">

                                            <div>
                                                <span class="weight-500">URL</span> {{ notice.project.url }}
                                            </div>
                    
                                        <div class="flex-this">
                                            <div class="w-200px">
                                                <p>
                                                    <span class="weight-500">Contributors</span><br>
                                                    {% if notice.placed_by_researcher %}
                                                        {{ notice.placed_by_researcher.user.get_full_name}}<br>
                                                    {% endif %}
                                                    {% if notice.placed_by_institution %}
                                                        {{ notice.placed_by_institution.institution_name}}<br>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="w-200px">
                                                <p>
                                                    <span class="weight-500">Added</span><br>
                                                    2020-06-08 <br>
                                                </p>
                                            </div>
                                            <div class="w-200px">
                                                <p>
                                                    <span class="weight-500">Last Modified</span><br>
                                                    2020-06-08 <br>
                                                </p>
                                            </div>
                                        </div>

                                        </div>
                    
                                        <div class="flex-this column w-30 proj-btns">
                                            <div>
                                            <button class="action-btn">Edit Labels</button>
                                            </div>
                                            {% if notice.project.geome_project_id %}
                                            <div>
                                            <button class="green-action-btn">View on GEOME</button>
                                            </div>
                                            {% endif %}
                                            <div>
                                            <button class="green-action-btn">View ORCiD</button>
                                            </div>
                                        </div>

                                    </div>
                                <hr>

                                    {% include 'snippets/bclabel-snippet.html' %}

                            </div>
                        </div>
                        <hr>
                    </div>
                {% endif %}    
            {% endif %}

        {% endfor %}

    {% endif %}
    

    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div>
                <h2 class="orange-text weight-600">Labels</h2>
                <p class="darkteal-text">You currently have no labels customised</p>
            </div>
            <div class="flex-this align-center">
                <a class="action-btn" href="#">
                    Customise a Label     <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>

    <div id="collapsed-card" class="content-card content-card-space white-bg flex-this column">

        <div id="bclabels-title-vertical" style="margin:auto 0;">
            <div class="flex-this space-between">
                <div>
                    <h2 class="orange-text weight-600">Biocultural (BC) Labels</h2>
                </div>
                <div>
                    <a onclick='showBCLabelInfo()' class="darkteal-text pointer">Show More <span id="show-more-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>

        <div id="expand-bclabels" style="height:0px;">
            <div>
                <p class="darkteal-text">
                    Click on a Label to view more information*<br><br>
    
                    The BC Label text is intended to be customized by each community – giving the Labels specificity and context. 
                    The title of each BC Label can be translated into one or more languages and displayed in addition to the default Label title. 
                    The BC Label icons are not to be altered.  This is to ensure national and international recognition and integrity across content and collection management systems, 
                    online repositories, websites, and physical exhibits. 
                    Learn more about <a href="#">BC Labels</a>.
                </p>
            </div>
    
            <div class="flex-this" style="justify-content: space-evenly;">
                <div class="center-text">
                    <div>
                        <img id="bccv" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
                    </div>
                    <div><p class="darkteal-text">Consent Verified <br> (BC CV) </p></div>
                </div>
        
                <div class="center-text">
                    <div>
                        <img id="bcmc" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label">
                    </div>
                    <div><p class="darkteal-text">Multiple Communities <br> (BC MC)</p></div>
                </div>
        
                <div class="center-text">
                    <div>
                        <img id="bcocoll" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC OC) Label">
                    </div>
                    <div><p class="darkteal-text">Open to <br>Collaboration <br> (BC OC) </p></div>
                </div>
        
                <div class="center-text">
                    <div>
                        <img id="bcocomm" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label">
                    </div>
                    <div><p class="darkteal-text">Open to <br>Commercialization <br> (BC OC)</p></div>
                </div>
        
                <div class="center-text">
                    <div>
                        <img id="bcp" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
                    </div>
                    <div><p class="darkteal-text"> Provenance <br> (BC P)</p></div>
                </div>
        
                <div class="center-text">
                    <div>
                        <img id="bcr" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label">
                    </div>
                    <div><p class="darkteal-text">Research Use <br> (BC R) </p></div>
                </div>
            </div>

            <div id="bclabel-info" class="flex-this column" style="height:0px;">

                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="flex-this">

                        <input id="label-value-type" type="hidden" value="placeholder" name="testing-variable">
                        <div class="w-50">
                                <h3 class="weight-600 darkteal-text" id="bc-label-title" name="bc-label-title"></h3><br>
                            </div>
                            <div class="w-50 right-text">
                                <button class="action-btn">Customise Label <i class="fa fa-long-arrow-right"></i></button>
                            </div>

                    </div>
                </form>

                <div class="flex-this">
                    <div class="w-50 use-txt">
                        <div>
                            <span class="weight-600 darkteal-text">Why use this label?</span><br>
                            <p id="why-use-this-label" class="darkteal-text"></p>
                        </div>
                    </div>
                    <div class="w-50 template-txt">
                        <span class="weight-600 darkteal-text">Template Text</span><br>
                        <p id="label-template-text" class="darkteal-text"></p>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}