{% extends 'comm-base.html' %} {% load static %} {% block community_content %}
    
    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            {% if bclabels or tklabels %}

                <div>
                    <h2 class="orange-text weight-600">Labels</h2>
                    <p>You currently have {{ bclabels.count }} BC Labels and {{ tklabels.count }} TK Labels customised</p>
                </div>
                <div class="flex-this align-center">
                    {% if member_role == 'viewer' %}

                    {% else %}
                    <a class="darkteal-text" href="{% url 'select-label' community.id %}">
                        Customise another Label     <i class="fa fa-long-arrow-right"></i>
                    </a>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <h2 class="orange-text weight-600">Labels</h2>
                    <p>You currently have no labels customised</p>
                </div>
                <div class="flex-this align-center">
                    {% if member_role == 'viewer' %}

                    {% else %}
                    <a class="action-btn" href="{% url 'select-label' community.id %}">
                        Customise a Label     <i class="fa fa-long-arrow-right"></i>
                    </a>
                    {% endif %}
                </div>

            {% endif %}
        </div>
        
        <div class="flex-this wrap">
            {% if bclabels %}

                {% for bclabel in bclabels %}
                    {% if bclabel.is_approved == False %}
                        {% if bclabel.created_by == request.user or member_role == 'viewer' %}
                            <div class="w-20 custom-labels">
                                <div id="{{ bclabel.id }}" onclick="customText(this)" class="center-text pointer">
                                    <p class="darkteal-text no-top-margin no-bottom-margin">Waiting approval*</p>
                                    <div>
                                        {% include 'bclabels/which-label.html' %}
                                        <p id="toggle-color-{{ bclabel.id }}" class="toggle-txt-color grey-text">{{ bclabel.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="w-20 custom-labels">
                                <div id="{{ bclabel.id }}" onclick="customText(this)" class="center-text pointer">
                                    <p class="darkteal-text">Waiting approval*</p>
                                    <a href="{% url 'approve-label' community.id bclabel.id %}">
                                        <div>
                                            {% include 'bclabels/which-label.html' %}
                                            <p id="toggle-color-{{ bclabel.id }}" class="toggle-txt-color grey-text">{{ bclabel.name }}</p>
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="w-20 custom-labels">
                            <div id="{{ bclabel.id }}" onclick="customText(this)" class="approved-label center-text pointer">
                                {% include 'bclabels/which-label.html' %}
                                <p id="toggle-color-{{ bclabel.id }}" class="toggle-txt-color grey-text">{{ bclabel.name }}</p>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if tklabels %}

            {% for tklabel in tklabels %}
                {% if tklabel.is_approved == False %}
                    {% if tklabel.created_by == request.user or member_role == 'viewer' %}
                        <div class="w-20 custom-labels">
                            <div id="{{ tklabel.id }}" onclick="customText(this)" class="center-text pointer">
                                <p class="darkteal-text no-top-margin no-bottom-margin">Waiting approval*</p>
                                <div>
                                    {% include 'tklabels/which-label.html' %}
                                    <p id="toggle-color-{{ tklabel.id }}" class="toggle-txt-color grey-text">{{ tklabel.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-20 custom-labels">
                            <div id="{{ tklabel.id }}" onclick="customText(this)" class="center-text pointer">
                                <p class="darkteal-text">Waiting approval*</p>
                                    <div>
                                        {% include 'tklabels/which-label.html' %}
                                        <p id="toggle-color-{{ tklabel.id }}" class="toggle-txt-color grey-text">{{ tklabel.name }}</p>
                                    </div>  
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="w-20 custom-labels">
                        <div id="{{ tklabel.id }}" onclick="customText(this)" class="approved-label center-text pointer">
                            {% include 'tklabels/which-label.html' %}
                            <p id="toggle-color-{{ tklabel.id }}" class="toggle-txt-color grey-text">{{ tklabel.name }}</p>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        {% endif %}

        </div>

        {% if bclabels %}
            {% for bclabel in bclabels %}
                <div id="open-div-{{ bclabel.id }}" style="height: 0px; overflow: hidden;" class="div-toggle">
                    <div class="border-top-solid-teal border-bottom-solid-teal">
                        {% if bclabel.is_approved %}
                            <h3 class="darkteal-text">{{ bclabel.name }}</h3>
                            <p>{{ bclabel.default_text }}</p>
                        {% else %}
                            <div class="flex-this space-between">
                                <div>
                                    <h3 class="darkteal-text">{{ bclabel.name }}</h3>
                                </div>
                                <div>
                                    <a href="{% url 'approve-label' community.id bclabel.id %}">
                                        <div class="action-btn">Review Label</div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <p>{{ bclabel.default_text }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if tklabels %}
        {% for tklabel in tklabels %}
            <div id="open-div-{{ tklabel.id }}" style="height: 0px; overflow: hidden;" class="div-toggle">
                <div class="border-top-solid-teal border-bottom-solid-teal">
                    {% if tklabel.is_approved %}
                        <h3 class="darkteal-text">{{ tklabel.name }}</h3>
                        <p>{{ tklabel.default_text }}</p>
                    {% else %}
                        <div class="flex-this space-between">
                            <div>
                                <h3 class="darkteal-text">{{ tklabel.name }}</h3>
                            </div>
                            <div>
                                <a href="{% url 'approve-tklabel' community.id tklabel.id %}">
                                    <div class="action-btn">Review Label</div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p>{{ tklabel.default_text }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% endif %}

    </div>


{% endblock %}