{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg">
        <h3 class="orange-text">Labels</h3>
        <div class="flex-this bc-label-container">
            <div>
                <img src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC OC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
            </div>
            <div>
                <img src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label">
            </div>
        </div>
    </div>

    <div class="content-card content-card-space white-bg">
        <h3 class="orange-text">Projects</h3>

        <hr>

        {% if bclabels %}
        {% for bclabel in bclabels %}
            <div class="flex-this space-between column">
                
                <div class="flex-this w-100 proj-title-container">

                    <div class="w-50">
                        <h4 class="darkteal-text weight-600">{{bclabel.bc_notice.project.title}}</h4>
                    </div>

                    <div class="w-50 flex-this flex-end">
                        
                            <h2 class="darkteal-text">
                                <a onclick='showMoreTemporary()'>
                                    <span id="plus-minus">+</span>
                                </a>
                            </h2>

                    </div>

                </div> 

                <div class="w-100 flex-this proj-info-container">
                    <div class="w-50"> 
                            <p>
                                Publication<br>
                                01/01/2020<br>
                                Source: Dr. Libby Liggins via Geome <br>
                            </p>
                    </div>
        
                    <div class="w-50 additional-proj-info flex-this column">
        
                        <div>
                            <p>Relationship with <a href="#" class="darkteal-text">Dr. Libby Liggins</a></p>
                        </div>
                        
                        <div class="flex-this flex-end mini-label-container">
                            <div>
                                <img src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
                            </div>
                            <div>
                                <img src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Expandable content -->
                <div id="proj-expand" style="height: 0px;">
                    <hr>
                        <div class="flex-this w-100">

                            <div class="flex-this column w-70">

                                <div>
                                    <span class="weight-500">URL</span> http://www.scopus.com/inward/record.url?eid=2-s2.0-85079812859&partnerID=MN8TOARS
                                </div>
        
                            <div class="flex-this">
                                <div class="w-200px">
                                    <p>
                                        <span class="weight-500">Contributors</span><br>
                                        Dr. Libby Liggins <br>
                                        Tainui <br>
                                    </p>
                                </div>
                                <div class="w-200px">
                                    <p>
                                        <span class="weight-500">Added</span><br>
                                        2020-06-08 <br>
                                    </p>
                                </div>
                                <div class="w-200px">
                                    <p>
                                        <span class="weight-500">Last Modified</span><br>
                                        2020-06-08 <br>
                                    </p>
                                </div>
                            </div>

                            </div>
        
                            <div class="flex-this column w-30 proj-btns">
                                <div>
                                <button class="action-btn">Edit Labels</button>
                                </div>
                                <div>
                                <button class="green-action-btn">View on GEOME</button>
                                </div>
                                <div>
                                <button class="green-action-btn">View on ORCiD</button>
                                </div>
                            </div>

                        </div>
                    <hr>

                    <div class="flex-this w-100 proj-label-summary">
                        <div>
                            <img src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
                        </div>

                        <div class="margin-left-1">
                            <h4>(BC P) Provenance | Ka Rata Pea Kia Whakapakahi</h4>
                            <p class="darkteal-text">
                                <span class="weight-500">Label ID: IO09097809</span><br>
                                This label is being used to indicate that this material traditionally and usually is heard and/or utilized at a particular time of year and in response to specific seasonal changes and conditions....
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="flex-this w-100 proj-label-summary">
                        <div>
                            <img src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
                        </div>

                        <div class="margin-left-1">
                            <h4>(BC CV) Consent Verified | Whakaaetanga Manatoko</h4>
                            <p class="darkteal-text">
                                <span class="weight-500">Label ID: IO09097809</span><br>
                                This label is being used to indicate that this material traditionally and usually is heard and/or utilized at a particular time of year and in response to specific seasonal changes and conditions....
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <hr>
        {% endfor %}
        {% endif %}

    </div>

{% endblock %}