{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<section class="grey-bg">

    <div class="content-card flex-this column white-bg">
    
        <div class="flex-this column stats-full-card">

            <div class="flex-this w-100 space-between">
                <div>
                    <a href="#" class="darkteal-text">{{ community.community_creator.first_name }}</a> >> {{ community.community_name }}
                </div>
                <div>
                    <a href="#" class="darkteal-text"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                </div>
            </div>

            <div class="flex-this stats-info-container">

                <div class="w-30 stats-img-container">
                    <img src="https://picsum.photos/350/150">
                </div>

                <div class="flex-this column w-40">
                    <h2 class="orange-text">{{ community.community_name }} </h2>
                    <p>
                        Account: <span> 
                            {{ community.community_creator.first_name }} | Role
                        </span><br>
                        Members: <span>{{ members }}</span><br>
                        Location: <span>Town, {{ community.country.name }} </span><br>
                        Community ID: <span>LCCDMNGM-1820</span>
                    </p>
                </div>

                <div class="flex-this white-text w-30">
                    <div class="orange-bg stats-card w-30">
                        <h1>17</h1>
                        <p>Labels</p>
                    </div>

                    <div class="orange-bg stats-card w-30">
                        <h1>04</h1>
                        <p>Training</p>
                    </div>

                    <div class="orange-bg stats-card w-30">
                        <h1>02</h1>
                        <p>Relationships</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="content-card comm-nav flex-this column white-bg">

        <div class="comm-nav-links flex-this">
            <div><a href="#">Activity</button></div>
            <div><a href="#">Requests</a></div>
            <div><a href="#">Labels</a></div>
            <div><a href="#">Relationships</a></div>
            <div><a href="#">Members</button></div>
            <div><a href="#">Training</a></div>
        </div>

    </div>

    <div>
        <h1>Members Page</h1>
    </div>
    
</section>

{% include 'partials/_auth-footer.html' %}
{% endblock %}