{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<section class="grey-bg">

    <div class="content-card flex-this column white-bg">
    
        <div class="flex-this column stats-full-card">

            <div class="flex-this w-100 space-between">
                <div>
                    <a href="{% url 'users' community.community_creator.id %}" class="darkteal-text">{{ community.community_creator.first_name }}</a> >> {{ community.community_name }}
                </div>
                <div>
                    <a href="#" class="darkteal-text"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                </div>
            </div>

            <div class="flex-this stats-info-container">

                <div class="w-30 stats-img-container">
                    <img src="https://picsum.photos/350/150">
                </div>

                <div class="flex-this column w-40">
                    <h2 class="orange-text">{{ community.community_name }} </h2>
                    <p>
                        Account: <span> 
                            {{ community.community_creator.first_name }} {{ community.community_creator.last_name }} | Administrator
                        </span><br>
                        Members: <span>{{ community.get_member_count }}</span><br>
                        Location: <span>Town, {{ community.country.name }} </span><br>
                        Community ID: <span>LCCDMNGM-1820</span>
                    </p>
                </div>

                <div class="flex-this white-text w-30">
                    <div class="orange-bg stats-card w-30">
                        <h1>17</h1>
                        <p>Labels</p>
                    </div>

                    <div class="orange-bg stats-card w-30">
                        <h1>04</h1>
                        <p>Training</p>
                    </div>

                    <div class="orange-bg stats-card w-30">
                        <h1>02</h1>
                        <p>Relationships</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="content-card comm-nav flex-this column white-bg">
        <div class="comm-nav-links flex-this">
            <div><a href="{% url 'community-dashboard' community.id %}">Activity</button></div>
            <div><a href="#">Requests</a></div>
            <div><a href="#">Labels</a></div>
            <div><a href="#">Relationships</a></div>
            <div><a href="{% url 'members' community.id %}">Members</button></div>
            <div><a href="#">Training</a></div>
        </div>
    </div>

    <div>

            <div class="content-card white-bg flex-this community-member-card">
                <div class="orange-bg color-section">
                </div>
                <div class="w-90 member-name">
                    <h4 class="bold">{{ community.community_creator.first_name }} {{ community.community_creator.last_name }}</h4>
                </div>
                <div class="w-20 member-role">
                    <h4>Administrator</h4>
                </div>
            </div>

            {% for admin in community.get_admins %}

            <div class="content-card white-bg flex-this community-member-card">
                <div class="orange-bg color-section">
                </div>
                <div class="w-90 member-name">
                    <h4 class="bold">{{ admin.first_name }} {{ admin.last_name }}</h4>
                </div>
                <div class="w-20 member-role">
                    <h4>Administrator</h4>
                </div>
            </div>

            {% endfor %}

            {% for editor in community.get_editors %}
                <div class="content-card white-bg flex-this community-member-card">
                    <div class="darkgreen-bg color-section">
                    </div>
                    <div class="w-90 member-name">
                        <h4 class="bold">{{ editor.first_name }} {{ editor.last_name }}</h4>
                    </div>
                    <div class="w-20 member-role">
                        <h4>Editor</h4>
                    </div>
                </div>
            {% endfor %}

            {% for viewer in community.get_viewers %}
            <div class="content-card white-bg flex-this community-member-card">
                <div class="darkteal-bg color-section">
                </div>
                <div class="w-90 member-name">
                    <h4 class="bold">{{ viewer.first_name }} {{ viewer.last_name }}</h4>
                </div>
                <div class="w-20 member-role">
                    <h4>Viewer</h4>
                </div>
            </div>
        {% endfor %}

        {% if community.community_creator == request.user %}

        <a href="{% url 'add-members' community.id %}">
            <div class="flex-this add-member-card">
                <div class="w-100 add-member">
                    <h4 class="darkteal-text bold">+ Add Member </h4>
                </div>
            </div>
        </a>

            <!--TODO:SET UP MODAL CODE TO ADD USERS IF CURRENT USER IS ADMIN-->

            <!-- <a onclick='addMemberModal()'>
                <div class="flex-this add-member-card">
                    <div class="w-100 add-member">
                        <h4 class="darkteal-text bold">+ Add Member </h4>
                    </div>
                </div>
            </a> -->

        {% endif %}

    </div>
    
</section>

{% include 'partials/_auth-footer.html' %}
{% endblock %}