{% extends 'comm-base.html' %} {% block title %} | Projects {% endblock %} {% load static %} {% load custom_tags %} {% block community_content %}
{% community_contributing_projects community as community_projects_contrib %}

    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div>
                <h2 class="orange-text weight-600">Projects</h2>
            </div>
            
            {% if member_role == 'viewer' %}

            {% else %}
            <div class="flex-this align-center">
                <a class="action-btn" href="{% url 'create-project' community.id %}">
                    Create a project     <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
            {% endif %}
        </div>

    </div>

    <!-- Projects created BY community -->
    {% if community.projects %}
        {% for project in community.projects.all %}
            <div class="content-card-v2 white-bg">

                <div id="full-contrib-card-{{ project.id }}" class="flex-this space-between" style="scroll-margin-top: 8em;">
                    <div class="w-90">
                        <p class="no-top-margin no-bottom-margin">
                            <span class="darkteal-text weight-500">
                                {{ project.title }}
                            </span><br>
                            {{ project.publication_date }}<br>
                            {{ project.project_type }}<br>
                            <!-- TODO: ADD CONTRIBUTORS -->

                        </p>
                    </div>
                    <div>
                        <a id="{{ project.id }}" onclick="showMoreProject(this)" class="darkteal-text pointer">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div id="expand-contrib-{{ project.id }}" style="height: 0px; overflow:hidden;">

                    <div class="flex-this space-between">
                        <div class="w-80">
                            <p>{{ project.description }}</p>
                        </div>
    
                        <div class="flex-this column w-15">
                            <!-- <div class="notice-btns center-text">
                                <a href="#" class="action-btn">Edit Project <i class="fa fa-pencil"></i></a>
                            </div> -->
                            <div class="notice-btns center-text">
                                <a href="{% url 'view-project' project.unique_id %}" class="action-btn">View Project </a>
                            </div>
                            {% if project.has_labels %}

                            {% else %}
                                {% if member_role == 'viewer' %}

                                {% else %}
                                    <div class="notice-btns center-text">
                                        <a href="{% url 'apply-project-labels' community.id project.id %}" class="action-btn">Apply Labels <i class="fa fa-plus" aria-hidden="true"></i> </a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>

                    <div class="flex-this column">
                        {% if project.bclabels.all or project.tklabels.all %}
                            <div><p class="weight-500">Labels attached to this project</p></div>
                        {% else %}
                            <div><p class="weight-500">No Labels attached to this project</p></div>
                        {% endif %}
                            {% for bclabel in project.bclabels.all %}

                                <div class="flex-this">
                                    <div class="small-label">
                                        {% include 'bclabels/which-label.html' %}
                                    </div>
                                    <div class="pad-left-2">
                                        <p class="darkteal-text no-top-margin">Label shared by {{ bclabel.community.community_name }} </p>
                                        <p class="weight-500"> {{ bclabel.name }} </p>
                                        <p>{{ bclabel.default_text}}</p>

                                        {% include 'partials/_label-translation.html' %}

                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}

                            {% for tklabel in project.tklabels.all %}

                            <div class="flex-this">
                                <div class="small-label">
                                    {% include 'tklabels/which-label.html' %}
                                </div>
                                <div class="pad-left-2">
                                    <p class="darkteal-text no-top-margin">Label shared by {{ tklabel.community.community_name }} </p>
                                    <p class="weight-500"> {{ tklabel.name }} </p>
                                    <p>{{ tklabel.default_text}}</p>

                                    {% include 'partials/_label-translation.html' %}

                                    <hr>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        {% endfor %}
    {% endif %}

    <!-- Projects where community is contributor but not creator -->
    {% if community_projects_contrib %}
        {% for contrib in community_projects_contrib %}
            {% if contrib.project in community.projects.all %}
            {% else %}
                <div class="content-card-v2 white-bg">

                    <div id="full-contrib-card-{{ contrib.project.id }}" class="flex-this space-between" style="scroll-margin-top: 8em;">
                        <div class="w-90">
                            <p class="no-top-margin no-bottom-margin">
                                <span class="darkteal-text weight-500">
                                    {{ contrib.project.title }}
                                </span><br>
                                {{ contrib.project.publication_date }}<br>
                                {{ contrib.project.project_type }}<br>
                                <!-- TODO: ADD CONTRIBUTORS -->

                            </p>
                        </div>
                        <div>
                            <a id="{{ contrib.project.id }}" onclick="showMoreProject(this)" class="darkteal-text pointer">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div id="expand-contrib-{{ contrib.project.id }}" style="height: 0px; overflow:hidden;">

                        <div class="flex-this space-between">
                            <div class="w-80">
                                <p>{{ contrib.project.description }}</p>
                            </div>
        
                            <div class="flex-this column w-15">
                                <!-- <div class="notice-btns center-text">
                                    <a href="#" class="action-btn">Edit Project <i class="fa fa-pencil"></i></a>
                                </div> -->
                                <div class="notice-btns center-text">
                                    <a href="{% url 'view-project' contrib.project.unique_id %}" class="action-btn">View Project</a>
                                </div>
                                {% if contrib.project.has_labels %}

                                {% else %}
                                    {% if member_role == 'viewer' %}

                                    {% else %}
                                        <div class="notice-btns center-text">
                                            <a href="{% url 'apply-project-labels' community.id contrib.project.id %}" class="action-btn">Apply Labels <i class="fa fa-plus" aria-hidden="true"></i> </a>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>

                        <div class="flex-this column">
                            {% if contrib.project.bclabels.all or contrib.project.tklabels.all %}
                                <div><p class="weight-500">Labels attached to this project</p></div>
                            {% else %}
                                <div><p class="weight-500">No Labels attached to this project</p></div>
                            {% endif %}
                                {% for bclabel in contrib.project.bclabels.all %}

                                    <div class="flex-this">
                                        <div class="small-label">
                                            {% include 'bclabels/which-label.html' %}
                                        </div>
                                        <div class="pad-left-2">
                                            <p class="darkteal-text no-top-margin">Label shared by {{ bclabel.community.community_name }} </p>
                                            <p class="weight-500"> {{ bclabel.name }} </p>
                                            <p>{{ bclabel.default_text}}</p>

                                            {% include 'partials/_label-translation.html' %}

                                            <hr>
                                        </div>
                                    </div>
                                {% endfor %}

                                {% for tklabel in contrib.project.tklabels.all %}

                                <div class="flex-this">
                                    <div class="small-label">
                                        {% include 'tklabels/which-label.html' %}
                                    </div>
                                    <div class="pad-left-2">
                                        <p class="darkteal-text no-top-margin">Label shared by {{ tklabel.community.community_name }} </p>
                                        <p class="weight-500"> {{ tklabel.name }} </p>
                                        <p>{{ tklabel.default_text}}</p>

                                        {% include 'partials/_label-translation.html' %}

                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            {% endif %}
        {% endfor %}
    {% endif %}





{% endblock %}