{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div>
                <h2 class="orange-text weight-600">Projects</h2>
            </div>
    
            <div class="flex-this align-center">
                <a class="action-btn" href="{% url 'create-project' community.id %}">
                    Create a project     <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>

    {% if contribs %}
        {% for contrib in contribs %}
            {% if contrib.project.has_labels %}
            <div class="content-card content-card-space white-bg">
                <div class="flex-this space-between">
                    <div>
                        <p class="no-top-margin no-bottom-margin">
                            <span class="darkteal-text weight-500">
                                {{ contrib.project.title }}
                            </span><br>
                            {{ contrib.project.publication_date }}<br>
                            {{ contrib.project.project_type }}<br>
                            {{ contrib.community.community_name }}
                            {% if contrib.researcher %}
                                , {{ contrib.researcher.user.get_full_name}}
                            {% endif %}

                        </p>
                    </div>
                    <div>
                        <a href="#" class="darkteal-text">Show More</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}





{% endblock %}