{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div>
                <h2 class="orange-text weight-600">Projects</h2>
                <p class="darkteal-text">You currently have no projects</p>
            </div>
    
            <div class="flex-this align-center">
                <a class="action-btn" href="{% url 'create-project' community.id %}">
                    Create a project     <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>

    {% if notices %}
    {% for notice in notices %}

        {% if notice.project.has_labels %}
            {% if notice.project.bclabels %}

                <div class="content-card content-card-space white-bg">
                    <h2 class="orange-text weight-600">Projects</h2>

                    <hr>

                    <div class="flex-this space-between column">
                        
                        <div class="flex-this w-100 proj-title-container">

                            <div class="w-50">
                                <h4 class="darkteal-text weight-600">{{notice.project.title}}</h4>
                            </div>

                            <div class="w-50 flex-this flex-end">
                                    <h2 class="darkteal-text">
                                        <!-- <a onclick='showMoreTemporary()'>
                                            <span id="plus-minus">+</span>
                                        </a> -->
                                        <a onclick='showMore(this)'>
                                            <span id="plus-minus-{{notice.project.id}}" class="darkteal-text">+</span>
                                        </a>
                                    </h2>
                            </div>

                        </div> 

                        <div class="w-100 flex-this proj-info-container">
                            <div class="w-50"> 
                                    <p>
                                        {{ notice.project.project_type }}<br>
                                        {{notice.project.publication_date}}<br>
                                        Source: {{ notice.project.source }} <br>
                                    </p>
                            </div>
                
                            <div class="w-50 additional-proj-info flex-this column">
                
                                <div>
                                    <p>Relationship with <a href="#" class="darkteal-text">
                                    {% if notice.placed_by_researcher %}
                                        {{ notice.placed_by_researcher.user.get_full_name}}<br>
                                    {% endif %}
                                    {% if notice.placed_by_institution %}
                                        {{ notice.placed_by_institution.institution_name}}<br>
                                    {% endif %}
                                    </a></p>
                                </div>

                                <div class="flex-this flex-end mini-label-container">
                                        {% include 'snippets/bclabels-applied.html'%}
                                </div>

                            </div>

                        </div>

                        <!-- Expandable content -->
                        <div id="proj-expand-{{notice.project.id}}" class="proj-expand" style="height: 0px;">
                            <hr>
                                <div class="flex-this w-100">

                                    <div class="flex-this column w-70">

                                        <div>
                                            <span class="weight-500">URL</span> {{ notice.project.url }}
                                        </div>
                
                                    <div class="flex-this">
                                        <div class="w-200px">
                                            <p>
                                                <span class="weight-500">Contributors</span><br>
                                                {% if notice.placed_by_researcher %}
                                                    {{ notice.placed_by_researcher.user.get_full_name}}<br>
                                                {% endif %}
                                                {% if notice.placed_by_institution %}
                                                    {{ notice.placed_by_institution.institution_name}}<br>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="w-200px">
                                            <p>
                                                <span class="weight-500">Added</span><br>
                                                2020-06-08 <br>
                                            </p>
                                        </div>
                                        <div class="w-200px">
                                            <p>
                                                <span class="weight-500">Last Modified</span><br>
                                                2020-06-08 <br>
                                            </p>
                                        </div>
                                    </div>

                                    </div>
                
                                    <div class="flex-this column w-30 proj-btns">
                                        <div>
                                        <button class="action-btn">Edit Labels</button>
                                        </div>
                                        {% if notice.project.geome_project_id %}
                                        <div>
                                        <button class="green-action-btn">View on GEOME</button>
                                        </div>
                                        {% endif %}
                                        <div>
                                        <button class="green-action-btn">View ORCiD</button>
                                        </div>
                                    </div>

                                </div>
                            <hr>

                                {% include 'snippets/bclabel-snippet.html' %}

                        </div>
                    </div>
                    <hr>
                </div>
            {% endif %}    
        {% endif %}

    {% endfor %}

{% endif %}

{% endblock %}