{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg ">
        <h3 class="orange-text reqs">Requests</h3>
    </div>
    
    <!-- <div class="content-card content-card-space white-bg">

        <div class="flex-this w-100 notice-top">
            <div class="w-70">
                <p>A BC notice has been placed by <a href="#" class="darkteal-text">National Institute of Water and Atmospheric Research (NIWA)</a></p>
            </div>

            <div class="w-10 auto-margin flex-this flex-end">
                <button class="action-btn">Label Pending</button>
            </div>
            <div class="w-15 auto-margin flex-this flex-end">
                <a href="#" class="darkteal-text">Notice Acknowledged</a>
            </div>
            <div class="w-5 auto-margin flex-this flex-end">
                <span class="darkteal-text weight-500">+</span>
            </div>
        </div>


        <div class="flex-this notice-card">

            <div class="flex-this column w-10 notice-btns">
                <div>
                    <img src="{% static 'images/notices/bc-notice.png' %}">
                </div>
                <div>
                    <button class="action-btn">Attach Labels</button>
                </div>
                <div>
                    <button class="green-action-btn">View on GEOME </button>   
                </div>
                <div>
                    <button class="green-action-btn">View on ORCiD</button>    
                </div>
            </div>
    
            <div class="w-40 notice-info">
                <a href="#"><h4 class="darkteal-text weight-500">Waikato River Expedition</h4></a>
    
                <p>
                    Expedition<br>
                    1/10/2020<br>
                    Source: NIWA via GEOME<br>
                </p>
                <p>
                    <span class="weight-500">Contact Us:</span><br>
                    Website: www.niwa.co.nz<br>
                    Email: enquiries@niwa.co.nz<br>
                    Postal Address: Private Bag 99940, Newmarket, Auckland 1149<br>
                    Phone: +64 9 375 2050<br>
                </p>
            </div>
    
            <div class="w-50 notice-msg">
                <h4 class="weight-500">Message Sent by <a href="#" class="darkteal-text">NIWA</a>:</h4>
                <p>
    
                    Kia Ora Tainui, it is a pleasure to connect with you. 
                    We are NIWA a Crown Research Institute (CRI) established to undertake scientific research and related activities in accordance to the Crown Research Institutes Act 1992. <br><br>
    
                    We have recently done an expedition at Waikato River with Kaumatua Consent and have found some great research that will help maintain the biodiversity of the awa. We would love to work with you to identify the best way to present these findings.
                </p>
            </div>
        </div>

    </div>

    <div class="content-card content-card-space white-bg">

        <div class="flex-this w-100 notice-top">
            <div class="w-70">
                <p>A BC notice has been placed by <a href="#" class="darkteal-text">National Institute of Water and Atmospheric Research (NIWA)</a></p>
            </div>
        </div>

    </div> -->

    {% if notices %}
        {% for notice in notices %}
        <div class="content-card content-card-space white-bg">

            <div class="flex-this w-100 notice-top">
                <div class="w-70">
                    <p>A BC notice has been placed by <a href="#" class="darkteal-text">
                        {% if notice.placed_by_institution %}
                            {{ notice.placed_by_institution.institution_name }}
                        {% else %}
                            {{ notice.placed_by_researcher.user.get_full_name}}
                        {% endif %}
                    </a></p>
                </div>
    
                <div class="w-10 auto-margin flex-this flex-end">
                    <button class="action-btn">Label Pending</button>
                </div>
                <div class="w-15 auto-margin flex-this flex-end">
                    <a href="#" class="darkteal-text">Notice Acknowledged</a>
                </div>
                <div class="w-5 auto-margin flex-this flex-end">
                    <span class="darkteal-text weight-500">+</span>
                </div>
            </div>
    
    
            <div class="flex-this notice-card">
    
                <div class="flex-this column w-10 notice-btns">
                    <div>
                        <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
                    </div>
                    <div>
                        <a href="{% url 'community-add-labels' community.id notice.id %}">
                            <button class="action-btn">Attach Labels</button>
                        </a>
                    </div>
                    <div>
                        <button class="green-action-btn">View on GEOME </button>   
                    </div>
                    <div>
                        <button class="green-action-btn">View on ORCiD</button>    
                    </div>
                </div>
        
                <div class="w-40 notice-info">
                    <a href="#"><h4 class="darkteal-text weight-500">{{ notice.project.title}}</h4></a>
        
                    <p>
                        Expedition<br>
                        Notice Applied: {{ notice.created.date }}<br>
                        Source: NIWA via GEOME<br>
                    </p>
                    <p>
                        <span class="weight-500">Contact Us:</span><br>
                    {% if notice.placed_by_institution %}
                        Website: {{ notice.placed_by_institution.website }}<br>
                        Email: {{ notice.placed_by_institution.contact_email }}<br>
                        Postal Address: {{ notice.placed_by_institution.address }}<br>
                        Phone: {{ notice.placed_by_institution.contact_number }}<br>
                    {% else %}
                        Website: {{ notice.placed_by_researcher.website }}<br>
                        Email: {{ notice.placed_by_researcher.contact_email }}<br>
                        Phone: {{ notice.placed_by_researcher.contact_number }}<br>
                    {% endif %}
                    </p>
                </div>
        
                <div class="w-50 notice-msg">
                    <h4 class="weight-500">Message Sent by <a href="#" class="darkteal-text">
                    {% if notice.placed_by_institution %}
                        {{ notice.placed_by_institution.institution_name }}
                    {% else %}
                        {{ notice.placed_by_researcher.user.get_full_name}}
                    {% endif %}
                    </a>:</h4>
                    <p>
                        {{ notice.message|linebreaks }}
                    </p>
                </div>
            </div>
    
        </div>
        {% endfor %}
    {% else %}
        <p>No notices to display at this time</p>
    {% endif %}

{% endblock %}