{% extends 'comm-base.html' %} {% load static %} {% block community_content %}

    <div class="content-card content-card-space white-bg ">
        <h3 class="orange-text reqs">Requests</h3>
    </div>

    {% if notices %}
    {% for notice in notices %}

    <!-- new figma card -->
    <div class="content-card content-card-space white-bg">
        <div class="flex-this space-between">
            <div>
                <p class="no-top-margin notice-date">
                    Date Sent: {{ notice.created|date:'m/d/Y' }}
                </p>
            </div>
    
            <div>
                <a href="#" class="darkteal-text">
                    Show More <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="flex-this">

            <div class="w-10">
                <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
            </div>

            <div class="w-90 pad-left-2">
                <p>
                    <span class="darkteal-text weight-600">{{ notice.project.title}}</span><br>
                    {{ notice.project.publication_date }} <br>
                    {{ notice.project.project_type }} <br>
                    {% for contributor in notice.communities.all %}
                        {{ contributor.community_name }}
                    {% endfor %}, 
                    {% if notice.placed_by_institution %}
                        {{ notice.placed_by_institution.institution_name }}
                    {% else %}
                        {{ notice.placed_by_researcher.user.get_full_name}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

        {% endfor %}
    {% else %}
        <div class="content-card content-card-space white-bg">
            <p>No notices to display at this time</p>
        </div>
    {% endif %}

{% endblock %}