{% extends 'sub-base.html' %} {% block title %} | Select Label {% endblock %}{% load static %} {% load custom_tags%} {% block community_content %}

<div class="content-card-v2 content-card-space white-bg">

    <div class="w-70">
        <h2 class="no-top-margin">TK and BC Labels</h2>
        <p>The TK and BC Labels are an initiative for Indigenous communities and local organizations. The Labels allow communities to express local and specific conditions for engaging and sharing traditional knowledge that are consistent with already existing community rules, governance and protocols for using, sharing and circulating knowledge and data. 
            <br><br>
            <strong>To start customizing Labels select from the options below.</strong></p>
    </div>

</div>

<div class="content-card-v2 content-card-space white-bg">

    <div class="w-100">
        <h2 class="no-bottom-margin no-top-margin">Customized Labels</h2>

        {% if bclabels or tklabels %}
            <div class="flex-this space-between">
                <div><p>You currently have {{ bclabels.count }} BC Labels and {{ tklabels.count }} TK Labels customized</p></div>   
                <div class="flex-this flex-end">
                    <div class="margin-right-8">
                        <a class="white-btn primary-btn" href="{% url 'labels-pdf' community.id %}" target="_blank">View in PDF <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </div>
                    <div>
                        <a class="white-btn primary-btn" href="{% url 'download-labels' community.id %}">Download <i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>                     
            </div>
        {% else %}
            <div class="w-60">
                <p>Once you have selected a Label to customize from the options below (Traditional Knowledge Labels and Biocultural Labels) and customize them, they will appear here.</p>
            </div>
        {% endif %}
    </div>
    
    <div class="flex-this wrap">
        <!-- UNAPPROVED BCLABELS -->
        {% if bclabels %}
            {% for bclabel in bclabels %}

                {% if not bclabel.is_approved %}
                    <div class="w-20">
                        <small class="center-text block bold darkteal-text margin-bottom-8">
                            {% if request.user == bclabel.created_by or member_role == 'viewer' %} Waiting approval * {% else %} Review for approval * {% endif %}
                        </small>
                        <div class="margin-top-16 margin-bottom-16">
                            <div id="{{ bclabel.unique_id }}" onclick="customText(this)" class="center-text pointer">
                                <div class="auto-margin">
                                    {% include 'bclabels/mini-labels.html' %}
                                    <p id="toggle-color-{{ bclabel.unique_id }}" class="toggle-txt-color bold primary-black-text label-name-box auto-margin">{{ bclabel.name }}</p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}

        <!-- UNAPPROVED TK LABELS -->
        {% if tklabels %}
            {% for tklabel in tklabels %}
                {% if not tklabel.is_approved %}
                    <div class="w-20">
                        <small class="center-text block bold darkteal-text margin-bottom-8">
                            {% if request.user == tklabel.created_by or member_role == 'viewer' %} Waiting approval * {% else %} Review for approval * {% endif %}
                        </small>
                        <div class="margin-top-16 margin-bottom-16">
                            <div id="{{ tklabel.unique_id }}" onclick="customText(this)" class="center-text pointer">
                                {% include 'tklabels/mini-labels.html' %}
                                <p id="toggle-color-{{ tklabel.unique_id }}" class="toggle-txt-color bold primary-black-text label-name-box auto-margin">{{ tklabel.name }}</p>
                            </div>
                        </div>                    
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- APPROVED BC LABELS -->
        {% if bclabels %}
            {% for bclabel in bclabels %}
                {% if bclabel.is_approved %}
                    <div class="w-20">
                        <div class="margin-top-16 margin-bottom-16">
                            <div id="{{ bclabel.unique_id }}" onclick="customText(this)" class="center-text pointer">
                                {% include 'bclabels/mini-labels.html' %}
                                <p id="toggle-color-{{ bclabel.unique_id }}" class="toggle-txt-color bold primary-black-text label-name-box auto-margin">{{ bclabel.name }}</p>
                            </div>
                        </div>                    
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- APPROVED TKLABELS -->
        {% if tklabels %}
            {% for tklabel in tklabels %}
                {% if tklabel.is_approved %}
                    <div class="w-20 margin-top-16 margin-bottom-16">
                        <div id="{{ tklabel.unique_id }}" onclick="customText(this)" class="center-text pointer">
                            {% include 'tklabels/mini-labels.html' %}
                            <p id="toggle-color-{{ tklabel.unique_id }}" class="toggle-txt-color bold primary-black-text label-name-box auto-margin">{{ tklabel.name }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    {% if bclabels %}
        {% for bclabel in bclabels %}
            <div id="open-div-{{ bclabel.unique_id }}" style="height: 0px; overflow: hidden;" class="div-toggle">
                <div class="full-label-card flex-this">
                    <div class="margin-right-16"><img src="{{bclabel.img_url}}" class="img-sizedown-151-116"></div>
                    <div>
                        <div class="flex-this space-between">
                            <div><h3 class="no-top-margin">{{ bclabel.name }}</h3></div>

                            <div class="flex-this flex-end">
                                {% if not bclabel.is_approved %}
                                    {% if not bclabel.created_by == request.user %}
                                        {% if member_role == 'admin' or member_role == 'editor' %}
                                            <div class="margin-top-1">
                                                <a class="primary-btn action-btn" href="{% url 'approve-label' community.id bclabel.unique_id %}">Review for Approval</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                <div class="margin-top-1 margin-left-8">
                                    <a class="primary-btn white-btn block" href="{% url 'view-label' community.id bclabel.unique_id %}">View Label</a>
                                </div>
                            </div>
                        </div>

                        {% if bclabel.audiofile %}<div><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                        <p>{{ bclabel.label_text }}</p>
                        {% include 'partials/_label-translation.html' %}


                        {% if not bclabel.is_approved %}
                            {% if bclabel.bclabel_note.all %}
                                <h4>A note was added to this Label:</h4>
                                {% for note in bclabel.bclabel_note.all %}
                                    <div class="margin-top-16 note-container">
                                        <p> Member {% if note.sender.get_full_name %}{{ note.sender.get_full_name }}{% else %}{{ note.sender.username }}{% endif %} wrote: <br>{{ note.note }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if tklabels %}
        {% for tklabel in tklabels %}
            <div id="open-div-{{ tklabel.unique_id }}" style="height: 0px; overflow: hidden;" class="div-toggle">
                <div class="full-label-card flex-this">
                    <div class="margin-right-16">
                        <img src="{{ tklabel.img_url }}" class="img-sizedown-151-116">
                    </div>
                    <div>
                        <div class="flex-this space-between">
                            <div><h3 class="no-top-margin">{{ tklabel.name }}</h3></div>

                            <div class="flex-this flex-end">
                                {% if not tklabel.is_approved %}
                                    {% if not tklabel.created_by == request.user %}
                                        {% if member_role == 'admin' or member_role == 'editor' %}
                                            <div class="margin-top-1">
                                                <a class="primary-btn action-btn" href="{% url 'approve-label' community.id tklabel.unique_id %}">Review for Approval</a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                <div class="margin-top-1 margin-left-8">
                                    <a class="primary-btn white-btn block" href="{% url 'view-label' community.id tklabel.unique_id %}">View Label</a>
                                </div>
                            </div>
                        </div>

                        {% if tklabel.audiofile %}<div><audio src="{{ tklabel.audiofile.url }}" controls></audio></div>{% endif %}
                        <p>{{ tklabel.label_text }}</p>
                        {% include 'partials/_label-translation.html' %}


                        {% if not bclabel.is_approved %}
                            {% if bclabel.bclabel_note.all %}
                                <h4>A note was added to this Label:</h4>
                                {% for note in bclabel.bclabel_note.all %}
                                    <div class="margin-top-16 note-container">
                                        <p> Member {% if note.sender.get_full_name %}{{ note.sender.get_full_name }}{% else %}{{ note.sender.username }}{% endif %} wrote: <br>{{ note.note }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>

<!-- To check if labels exist -->
{% if tklabels %}
    {% for tklabel in tklabels %}
        <input type="hidden" value="{{ tklabel.label_type }}" class="checkTKLabelType">
    {% endfor %}
{% endif %}
{% if bclabels %}
    {% for bclabel in bclabels %}
        <input type="hidden" value="{{ bclabel.label_type }}" class="checkBCLabelType">
    {% endfor %}
{% endif %}


<!-- TK Label Card -->
<div id="collapsed-tkcard" class="content-card-v2 content-card-space white-bg flex-this column">

    <div id="tklabels-title-vertical" style="margin:auto 0;">
        <div class="flex-this space-between">
            <div class="margin-left-1">
                <h2>Traditional Knowledge (TK) Labels</h2>
            </div>
            <div>
                <a class="primary-btn white-btn" onclick='showTKLabelInfo()'> <span id="show-more-tk-down">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>              
            </div>

        </div>
    </div>

    <div id="expand-tklabels" style="height:0px; overflow:hidden;" class="margin-left-1">
        <div>
            <p class="w-70">

                The TK Label text is intended to be customized by each community – giving the Labels specificity and context. 
                The title of each TK Label can be translated into one or more languages and displayed in addition to the default Label title. 
                The TK Label icons are not to be altered.  This is to ensure national and international recognition and integrity across content 
                and collection management systems, online repositories, websites, and physical exhibits, learn more about <a class="darkteal-text underline-hover" href="https://localcontexts.org/labels/traditional-knowledge-labels/" target="_blank">TK Labels</a>.
                <br><br>
                Click on a Label to view more information*
            </p>
        </div>

        <div class="flex-this column pad-right-1">

            <!-- PROVENANCE -->
            <div class="flex-this column w-100 border-top-solid-teal">
                <div class="margin-bottom-16 w-50">
                    <h3 class="no-bottom-margin">Provenance Labels</h3>
                    <p>Provenance Labels identify the group or sub-group which is the primary cultural authority for the material, and/or recognises other interests in the material.</p>
                </div>

                <div class="flex-this wrap w-100">

                    <div class="center-text w-15 margin-right-1 margin-left-1">
                        <div><img loading="lazy" id="tka" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Attribution <br> (TK A) </p></div>
                    </div>
            
                    <div class="center-text w-15 margin-right-1 margin-left-1">
                        <div><img loading="lazy" id="tkcl" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Clan <br> (TK CL)</p></div>
                    </div>
            
                    <div class="center-text w-15 margin-right-1 margin-left-1">
                        <div><img loading="lazy" id="tkf" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Family (TK F) </p></div>
                    </div>
            
                    <div class="center-text w-15 margin-right-1 margin-left-1">
                        <div><img loading="lazy" id="tkmc" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Communities (TK MC) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Multiple <br>Communities <br> (TK MC)</p></div>
                    </div>

                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkcv" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Community Voice <br> (TK CV) </p></div>
                    </div>

                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkcr" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-creative.png' %}" alt="TK Creative (TK CR) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Creative <br> (TK CR) </p></div>
                    </div>

                </div>
            </div>

            <!-- Provenance FORM -->
            <div id="tklabel-info-prov" class="border-top-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">

                        <div id="tklabel-expanded-img-tka" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tka' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkcl" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkcl' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkf" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkf' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkmc" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkmc' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkcv" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkcv' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkcr" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkcr' %}" class="default-label-img">
                        </div>
                        
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Listen <i class="fa fa-volume-up"></i></button></div> -->
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Example</button></div> -->
                    </div>

                    <div class="w-80 margin-left-1 margin-bottom-16">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="tk-label-value-type-prov" type="hidden" value="placeholder" name="tk-label-type">
                                    <div><h3 class="bold" id="tk-label-title-prov" name="tk-label-title"></h3></div>
                                </div>

                                <div class="margin-top-2"><div id="close-tk-prov" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>


                            <div class="flex-this column">
                                <div>
                                    <span class="bold ">Why use this label?</span><br>
                                    <p id="why-use-this-label-tk-prov"></p>
                                </div>
                                <div>
                                    <span class="bold ">Template Text</span><br>
                                    <p id="label-template-text-tk-prov"></p>
                                </div>
                                <div class="right-text">
                                    {% if member_role == 'admin' or member_role == 'editor' %}
                                        <button id="btnTKProv" class="primary-btn action-btn margin-top-2">Customize this Label <i class="fa fa-arrow-right"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>  

                    </div>                    
                </div>
            </div>

            <!-- PROTOCOLS -->
            <div class="flex-this column w-100 border-top-solid-teal">

                <div class="margin-bottom-16 w-50">
                    <h3>Protocol Labels</h3>
                    <p>Protocol Labels outline traditional protocols associated with access to this material and invite viewers to respect community protocols.</p>
                </div>

                <div class="w-100 flex-this wrap">
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkv" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Verified <br> (TK V) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tknv" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verified (TK NV) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Non-Verified <br> (TK NV) </p></div>
                    </div>
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tks" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Seasonal <br> (TK S) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkwg" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Weomen General (TK WG) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Women General <br> (TK WG) </p></div>
                    </div>
        
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkmg" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Men General <br> (TK MG) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkmr" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Men Restricted <br> (TK MR) </p></div>
                    </div>
        
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkwr" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Women Restricted <br> (TK WR) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkcs" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Culturally <br> Sensitive <br> (TK CS) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkss" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Secret Sacred <br> (TK SS) </p></div>
                    </div>
                </div>

            </div>

            <!-- Protocols FORM -->
            <div id="tklabel-info-prot" class="border-top-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">
                        <div id="tklabel-expanded-img-tknv" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tknv' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkv" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkv' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tks" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tks' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkwg" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkwg' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkmg" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkmg' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkmr" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkmr' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkwr" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkwr' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkcs" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkcs' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkss" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkss' %}" class="default-label-img">
                        </div>

                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Listen <i class="fa fa-volume-up"></i></button></div> -->
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Example</button></div> -->
                    </div>

                    <div class="w-80 margin-left-1 margin-bottom-16">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="tk-label-value-type-prot" type="hidden" value="placeholder" name="tk-label-type">
                                    <div><h3 class="bold" id="tk-label-title-prot" name="tk-label-title"></h3></div>
                                </div>
                                <div class="margin-top-2"><div id="close-tk-prot" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>

                        
                            <div class="flex-this column">
                                <div>
                                    <span class="bold ">Why use this label?</span><br>
                                    <p id="why-use-this-label-tk-prot"></p>
                                </div>
                                <div>
                                    <span class="bold ">Template Text</span><br>
                                    <p id="label-template-text-tk-prot"></p>
                                </div>

                                <div class="right-text">
                                    {% if member_role == 'admin' or member_role == 'editor' %}
                                        <button id="btnTKProt" class="primary-btn action-btn margin-top-2">Customize this Label <i class="fa fa-arrow-right"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- PERMISSION -->
            <div class="flex-this column w-100 border-top-solid-teal">

                <div class="margin-bottom-16 w-50">
                    <h3 class="no-bottom-margin">Permission Labels</h3>
                    <p>Permission Labels indicate what activities the community has approved as generally acceptable. Other uses require direct engagement with primary cultural authorities.</p>
                </div>

                <div class="flex-this wrap">
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkoc" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Open to Commercialization (TK OC) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Open to Commercialization <br> (TK OC) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tknc" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Non-Commercial <br> (TK NC) </p></div>
                    </div>
        
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkco" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label"></div>
                        <div class="toggle-txt-color grey-text"><p>TK Community Use <br> Only <br> (TK CO) </p></div>
                    </div>
    
                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tko" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label"></div>
                        <div class="toggle-txt-color grey-text"><p> TK Outreach <br> (TK O)</p></div>
                    </div>

                    <div class="center-text w-15 margin-left-1 margin-right-1">
                        <div><img loading="lazy" id="tkcb" onclick="expandTKLabel(this)" class="default-label-img pointer" src="{% static 'images/tk-labels/tk-open-to-collaboration.png' %}" alt="TK Open to Collaboration (TK CB) Label"></div>
                        <div class="toggle-txt-color grey-text"><p> TK Open to Collaboration <br> (TK CB)</p></div>
                    </div>

                </div>

            </div>

            <!-- Permissions FORM -->
            <div id="tklabel-info-perm" class="space-between margin-bottom-2 border-top-solid-teal border-bottom-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">
                        <div id="tklabel-expanded-img-tko" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tko' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tknc" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tknc' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkoc" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkoc' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkco" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkco' %}" class="default-label-img">
                        </div>
                        <div id="tklabel-expanded-img-tkcb" class="tk-img-div hide">
                            <img loading="lazy" src="{% get_tklabel_img_url 'tkcb' %}" class="default-label-img">
                        </div>

                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Listen <i class="fa fa-volume-up"></i></button></div> -->
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Example</button></div> -->
                    </div>

                    <div class="w-80 margin-left-1 margin-bottom-16">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="tk-label-value-type-perm" type="hidden" value="placeholder" name="tk-label-type">
                                    <div><h3 class="bold " id="tk-label-title-perm" name="tk-label-title"></h3></div>
                                </div>
                                <div class="margin-top-2"><div id="close-tk-perm" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>

            
                            <div class="flex-this column">
                                <div>
                                    <span class="bold ">Why use this label?</span><br>
                                    <p id="why-use-this-label-tk-perm"></p>
                                </div>
                                <div>
                                    <span class="bold ">Template Text</span><br>
                                    <p id="label-template-text-tk-perm"></p>
                                </div>

                                <div>
                                    {% if member_role == 'admin' or member_role == 'editor' %}
                                        <button id="btnTKPerms" class="primary-btn action-btn margin-top-2">Customize Label <i class="fa fa-arrow-right"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>

        </div>
    </div>

</div>

<!-- BC Label Card -->
<div id="collapsed-card" class="content-card-v2 content-card-space white-bg flex-this column">

    <div id="bclabels-title-vertical" style="margin:auto 0;">
        <div class="flex-this space-between">
            <div class="margin-left-1">
                <h2>Biocultural (BC) Labels</h2>
            </div>
            <div>
                <a class="primary-btn white-btn" onclick='showBCLabelInfo()'> <span id="show-more-down">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
            </div>
        </div>
    </div>

    <div id="expand-bclabels" style="height:0px;" class="margin-left-1">
        <div>
            <p class="w-70">

                The BC Label text is intended to be customized by each community – giving the Labels specificity and context. 
                The title of each BC Label can be translated into one or more languages and displayed in addition to the default Label title. 
                The BC Label icons are not to be altered.  This is to ensure national and international recognition and integrity across content and collection management systems, 
                online repositories, websites, and physical exhibits. 
                Learn more about <a class="darkteal-text underline-hover" href="https://localcontexts.org/labels/biocultural-labels/" target="_blank">BC Labels</a>.
                <br><br>
                Click on a Label to view more information*
            </p>
        </div>

        <!-- PROVENANCE -->
        <div class="flex-this column border-top-solid-teal">
            <div class="margin-bottom-16 w-50">
                <h3 class="no-bottom-margin">Provenance Labels</h3>
                <p>Provenance Labels identify the group or sub-group which is the primary cultural authority for the material, and/or recognizes other interests in the material.</p>
            </div>
            <div class="flex-this wrap w-100">

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bcp" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label"></div>
                    <div class="toggle-txt-color grey-text"><p> Provenance <br> (BC P)</p></div>
                </div>

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bcmc" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Multiple Communities <br> (BC MC)</p></div>
                </div>

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bccl" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-clan.png' %}" alt="BC Clan (BC CL) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Clan <br> (BC CL)</p></div>
                </div>

            </div>
            <!-- PROVENANCE FORM -->
            <div id="bclabel-info-prov" class="margin-bottom-2 border-top-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">
        
                        <div id="bclabel-expanded-img-bcp" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bcp' %}" class="default-label-img">
                        </div>
        
                        <div id="bclabel-expanded-img-bcmc" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bcmc' %}" class="default-label-img">
                        </div>
        
                        <div id="bclabel-expanded-img-bccl" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bccl' %}" class="default-label-img">
                        </div>
        
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Listen <i class="fa fa-volume-up"></i></button></div> -->
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Example</button></div> -->
                    </div>
        
                    <div class="flex-this column w-80 margin-left-1">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="bc-label-value-type-prov" type="hidden" value="placeholder" name="bclabel-type">
                                    <div><h3 id="bc-label-title-prov" name="bc-label-title"></h3></div>
                                </div>
                                <div class="margin-top-2"><div id="close-bc-prov" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>

            
                            <div class="flex-this column">
                                <div>
                                    <span class="bold">Why use this label?</span><br>
                                    <p id="why-use-this-label-bc-prov"></p>
                                </div>
                                <div>
                                    <span class="bold">Template Text</span><br>
                                    <p id="label-template-text-bc-prov"></p>
                                </div>
                            </div>
        
                            <div class="right-text">
                                {% if member_role == 'admin' or member_role == 'editor' %}
                                    <button id="btnBCProv" class="primary-btn action-btn margin-top-2 margin-bottom-8">Customize this Label <i class="fa fa-arrow-right"></i></button>
                                {% endif %}
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- PROTOCOL -->
        <div class="flex-this column border-top-solid-teal">
            <div class="margin-bottom-16 w-50">
                <h3 class="no-bottom-margin">Protocol Labels</h3>
                <p>Protocol Labels outline agreed protocols associated with access to this material.</p>
            </div>
            <div class="flex-this wrap w-100">

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bccv" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Consent Verified <br> (BC CV) </p></div>
                </div>

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bccnv" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-consent-non-verified.png' %}" alt="BC Consent Non-Verified (BC CNV) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Consent Non-Verified <br> (BC CNV) </p></div>
                </div>
            </div>
            <!-- PROTOCOLS FORM -->
            <div id="bclabel-info-prot" class="margin-bottom-2 border-top-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">
        
                        <div id="bclabel-expanded-img-bccv" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bccv' %}" class="default-label-img">
                        </div>
        
                        <div id="bclabel-expanded-img-bccnv" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bccnv' %}" class="default-label-img">
                        </div>
        
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Listen <i class="fa fa-volume-up"></i></button></div> -->
                        <!-- <div><button class="primary-btn green-btn primary-btn green-btn-default-size">Example</button></div> -->
                    </div>
        
                    <div class="flex-this column w-80 margin-left-1">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="bc-label-value-type-prot" type="hidden" value="placeholder" name="bclabel-type">
                                    <div><h3 id="bc-label-title-prot" name="bc-label-title"></h3></div>
                                </div>
                                <div class="margin-top-2"><div id="close-bc-prot" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>

            
                            <div class="flex-this column">
                                <div>
                                    <span class="bold">Why use this label?</span><br>
                                    <p id="why-use-this-label-bc-prot"></p>
                                </div>
                                <div>
                                    <span class="bold">Template Text</span><br>
                                    <p id="label-template-text-bc-prot"></p>
                                </div>
                            </div>
        
                            <div class="right-text">
                                {% if member_role == 'admin' or member_role == 'editor' %}
                                    <button id="btnBCProt" class="primary-btn action-btn margin-top-2 margin-bottom-8">Customize this Label <i class="fa fa-arrow-right"></i></button>
                                {% endif %}
                            </div>
                        </form>
                    </div>                    
                </div>    
            </div>
        </div>

        <!-- PERMISSION -->
        <div class="flex-this column border-top-solid-teal">
            <div class="margin-bottom-16 w-50">
                <h3 class="no-bottom-margin">Permission Labels</h3>
                <p>Permission Labels indicate what activities the community has approved as generally acceptable. Other uses require direct engagement with primary cultural authorities. </p>
            </div>

            <div class="flex-this wrap w-100">
    
                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bcr" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Research Use <br> (BC R) </p></div>
                </div>
    
                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bccb" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC CB) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Open to <br>Collaboration <br> (BC CB) </p></div>
                </div>
    
                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bcoc" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Open to <br>Commercialization <br> (BC OC)</p></div>
                </div>

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bco" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-outreach.png' %}" alt="BC Outreach (BC O) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Outreach <br> (BC O)</p></div>
                </div>

                <div class="center-text w-15 margin-left-1 margin-right-1">
                    <div><img loading="lazy" id="bcnc" onclick="expandBCLabel(this)" class="default-label-img pointer" src="{% static 'images/bc-labels/bc-non-commercial.png' %}" alt="BC Non-Commercial (BC NC) Label"></div>
                    <div class="toggle-txt-color grey-text"><p>Non-Commercial <br> (BC NC)</p></div>
                </div>

            </div>
    


            <!-- PERMISSIONS FORM -->
            <div id="bclabel-info-perm" class="margin-bottom-2 border-top-solid-teal border-bottom-solid-teal hide">
                <div class="flex-this">
                    <div class="w-20 margin-right-1 margin-top-1" style="text-align: right;">

                        <div id="bclabel-expanded-img-bcr" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bcr' %}" class="default-label-img">
                        </div>

                        <div id="bclabel-expanded-img-bccb" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bccb' %}">
                        </div>

                        <div id="bclabel-expanded-img-bcoc" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bcoc' %}" class="default-label-img">
                        </div>

                        <div id="bclabel-expanded-img-bco" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bco' %}" class="default-label-img">
                        </div>

                        <div id="bclabel-expanded-img-bcnc" class="bc-img-div hide">
                            <img loading="lazy" src="{% get_bclabel_img_url 'bcnc' %}" class="default-label-img">
                        </div>
                    </div>

                    <div class="flex-this column w-80 margin-left-1">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="flex-this space-between">
                                <div>
                                    <input id="bc-label-value-type-perm" type="hidden" value="placeholder" name="bclabel-type">
                                    <div><h3 id="bc-label-title-perm" name="bc-label-title"></h3></div>
                                </div>
                                <div class="margin-top-2"><div id="close-bc-perm" onclick="closeLabelInfoDiv(this)" class="primary-btn white-btn">Close X</div></div>                                
                            </div>

            
                            <div class="flex-this column">
                                <div>
                                    <span class="bold">Why use this label?</span><br>
                                    <p id="why-use-this-label-bc-perm"></p>
                                </div>
                                <div>
                                    <span class="bold">Template Text</span><br>
                                    <p id="label-template-text-bc-perm"></p>
                                </div>
                            </div>

                            <div class="right-text">
                                {% if member_role == 'admin' or member_role == 'editor' %}
                                    <button id="btnBCPerms" class="primary-btn action-btn margin-top-2 margin-bottom-8">Customize this Label <i class="fa fa-arrow-right"></i></button>
                                {% endif %}
                            </div>
                        </form>
                    </div>                
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}