{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_auth-header.html' %}
<section class="grey-bg">

    {% include 'partials/_community-info.html' %}
    {% include 'partials/_community-nav.html' %}

    <div class="content-card content-card-space white-bg flex-this column">
        <div>
            <h3 class="orange-text">Settings</h3>

            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div>
                        {{ update_form }}
                    </div>
                    <button class="action-btn">Save</button>
                </form>
            </div>

        </div>
    </div>


</section>
{% include 'partials/_auth-footer.html' %}
{% endblock %}
