{% extends 'reg-base.html' %} {% block title %} | Create Community {% endblock %}{% load static %} {% block card %}
    
<div class="flex-this column w-90">
    <div class="margin-bottom-1">
        <h2 class="darkteal-text">Confirmation step</h2>
        <p>
            We want to confirm that the communities that register with us have permission by the governance group of this community. You can either provide us with contact details for the governance group of this community or upload a letter of support.
        </p>    
    </div>
    
    <form action="" method="POST" enctype="multipart/form-data" class="flex-this column w-100">
        {% csrf_token %}

        <div class="flex-this space-between margin-right-1">
            <div class="w-50 margin-right-1">
                <div>
                    <label for="contact_name">Community Contact Name</label>
                    {{ form.contact_name }}
                </div>
        
                <div class="margin-top-1">
                    <label for="contact_email">Community Contact Email</label>
                    {{ form.contact_email }}
                </div>
            </div>
    
            <div class="w-50 margin-left-1">
                <div>
                    <label for="support_document">Support Document</label>
                    {{ form.support_document }}
                </div>
            </div>
        </div>


        {% if form.errors %}
            <small class="red-text">{{form.errors}}</small>
        {% endif %}

        {% include 'partials/_alerts.html' %}

        <div class="text-align-right">
            <button class="action-btn margin-top-2 ">Get Started <i class="fa fa-long-arrow-right"></i></button>
        </div>
    </form>

</div>

{% endblock %}