{% extends 'account-base.html' %} {% block title %} View Label {% endblock %}{% load static %} {% load custom_tags %} {% block community_content %}

<section class="content-card-v2 content-card-space">
    <div class="margin-bottom-16">
        <small class="bold">
            <a class="darkteal-text"href="{% url 'select-label' community.id %}">Labels</a> 
            <span class="grey-text"> >> View Label</span>
        </small>
    </div>

    <div class="flex-this space-between border-bottom-solid-teal">
        <div class="w-20 center-text">
            {% if bclabel %}
                {% include 'bclabels/which-label.html' %}
            {% endif %}
            {% if tklabel %}
                {% include 'tklabels/which-label.html' %}
            {% endif %}
        </div>
        <div class="w-90">

            <div class="flex-this space-between">
                <div>
                    <h2 class="no-top-margin">
                        {% if bclabel %} {{ bclabel.name }} {% endif %}
                        {% if tklabel %} {{ tklabel.name }} {% endif %}
                    </h2>                    
                </div>

                <div>
                    {% if bclabel %}
                        {% if not bclabel.is_approved %}
                            {% if bclabel.created_by == request.user %}
                                <div>
                                    <a class="primary-btn white-btn" href="{% url 'edit-label' community.id bclabel.unique_id %}">Edit Label <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            {% else %}
                                {% if member_role == 'admin' or member_role == 'editor' %}
                                    <div class="margin-top-1">
                                        <a class="primary-btn action-btn" href="{% url 'approve-label' community.id bclabel.unique_id %}">Review for Approval</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if member_role == 'admin' or member_role == 'editor' %}
                                <div>
                                    <a class="primary-btn white-btn" href="{% url 'edit-label' community.id bclabel.unique_id %}">Propose an edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>   
                            {% endif %}  
                        {% endif %}
                    {% endif %}

                    {% if tklabel %}
                        {% if not tklabel.is_approved %}
                            {% if tklabel.created_by == request.user %}
                                <div>
                                    <a class="primary-btn white-btn" href="{% url 'edit-label' community.id tklabel.unique_id %}">Edit Label <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            {% else %}
                                {% if member_role == 'admin' or member_role == 'editor' %}
                                    <div class="margin-top-1">
                                        <a class="primary-btn action-btn" href="{% url 'approve-label' community.id tklabel.unique_id %}">Review for Approval</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if member_role == 'admin' or member_role == 'editor' %}
                                <div>
                                    <a class="primary-btn white-btn" href="{% url 'edit-label' community.id tklabel.unique_id %}">Propose an edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </div>                    
            </div>

            <div class="w-80">
                <p class="no-top-margin">
                    <span class="bold">Created by</span> - 
                    {% if bclabel %} {{ creator_name }} | {{ bclabel.community }} - {{ bclabel.created|date:'M Y'}} {% endif %}
                    {% if tklabel %} {{ creator_name }} | {{ tklabel.community }} - {{ tklabel.created|date:'M Y'}} {% endif %}
                    <br>

                    <span class="bold">Approved by</span> - 
                    {% if bclabel %}   
                        {% if not bclabel.is_approved %} This Label has not been approved yet {% else %} {{ approver_name }} {% endif %}
                    {% endif %}

                    {% if tklabel %} 
                        {% if not tklabel.is_approved %} This Label has not been approved yet {% else %} {{ approver_name }} {% endif %}
                    {% endif %}
                    <br>

                    {% if bclabel %} {% if bclabel.version %} <span class="bold">Version </span> - {{ bclabel.version }}{% endif %} <br> {% endif %}
                    {% if tklabel %} {% if tklabel.version %} <span class="bold">Version </span> - {{ tklabel.version }}{% endif %} <br> {% endif %}

                    {% if bclabel.audiofile %}<div><audio src="{{ bclabel.audiofile.url }}" controls></audio></div>{% endif %}
                    <br>                    

                    <span class="bold block margin-top-8 margin-bottom-16">Label text</span>
                    {% if bclabel %} {{ bclabel.label_text }} {% endif %}
                    {% if tklabel %} {{ tklabel.label_text }} {% endif %}
                </p>
                
                {% if translations %}
                    <p>
                        {% for translation in translations %}
                            <span class="bold block margin-bottom-16">{{ translation.language }}</span>
                            {{translation.translated_text}}<br><br>
                        {% endfor %}
                    </p>
                {% endif %}
                
                <p>
                    <h3>Related Projects</h3>
                    {% if projects %}
                        <ul>
                            {% for project in projects %}
                                <li><a class="darkteal-text underline-hover" href="{% url 'view-project' project.unique_id  %}">{{ project.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        This label has not yet been applied to any Local Contexts Projects
                    {% endif %}
                </p>

                {% if bclabel.version or tklabel.version %}
                    {% if bclabel.version > 1 or tklabel.version > 1 %}
                        <div class="flex-this flex-end margin-bottom-8">
                            <small id="openLabelHistoryBtn" class="darkteal-text underline-hover pointer block right-text">View Label History <i class="fa fa-angle-down" aria-hidden="true"></i></small>
                        </div>
                        <div id="labelHistoryDiv" class="hide margin-bottom-8">
                                <p>
                                {% if label_versions %}
                                    {% for version in label_versions %}
                                        {% if version.version == bclabel.version or version.version == tklabel.version %}
                                        {% else %}
                                            <h3 class="bold"><i>Version {{ version.version }}: Created {{ version.created|date:'M Y'}}</i></h3>
                                            <i>
                                                <span class="bold block margin-bottom-16">Label text</span>
                                                {{ version.version_text }}

                                                {% if version.label_version_translation.all %}
                                                    {% for translated_version in version.label_version_translation.all %}
                                                        <span class="bold block margin-bottom-16 margin-top-16">{{ translated_version.language }}</span>
                                                        {{ translated_version.translated_text }}
                                                    {% endfor %}
                                                {% endif %}
                                            </i>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>

    <div class="margin-left-16">
        <h3>Explore your other customized Labels</h3>

        <div class="flex-this w-100 wrap">
            {% if bclabels %}
                {% for bclabel in bclabels %}
                    <div class="condensed-labels center-text margin-right-16 margin-bottom-16">
                        <a class="primary-black-text" href="{% url 'view-label' community.id bclabel.unique_id %}">
                            {% include 'bclabels/mini-labels.html' %}
                            <small class="bold">{{ bclabel.name }}</small>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}  

            {% if tklabels %}
                {% for tklabel in tklabels %}
                    <div class="condensed-labels center-text margin-right-16 margin-bottom-16">
                        <a class="primary-black-text" href="{% url 'view-label' community.id tklabel.unique_id %}">
                            {% include 'tklabels/mini-labels.html' %}
                            <small class="bold">{{ tklabel.name }}</small>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}          
        </div>

    </div>

</section>

{% endblock %}