{% extends 'base.html' %} 
{% block title %} | About {% endblock %}
{% load static %}
{% block content %} {% include 'partials/_reg-header.html' %}

<section class="grey-bg">

    <div class="content-card white-bg flex-this column">

        <div class="padded">
            <h2 class="orange-text bold">About Us</h2>
            <p>
                Local Contexts is an initiative to support Native, First Nations, Aboriginal, and Indigenous communities in the management of their intellectual property and cultural heritage specifically within the digital environment. 
                Local Contexts provides legal, extra-legal, and educational strategies for navigating copyright law and the public domain status of this valuable cultural heritage. By providing strategic resources and practical solutions, Local Contexts and our partners are working towards a new paradigm of rights and responsibilities that recognizes the inherent sovereignty that Indigenous communities have over their cultural heritage.
            </p>
        </div>

        <div class="flex-this column orange-bg white-text padded">

                <h2 class="bold">Our Team</h2>

            <div class="flex-this row">

                <div class="w-50 pad-right">
                    <h4>Professor Jane Anderson – Co-Director</h4>
                    <p>
                        Dr Anderson is Associate Professor of Anthropology and Museum Studies at New York University. Jane has a Ph.D. in Law from the Law School at University of New South Wales in Australia. 
                        Jane’s work is focused on the philosophical and practical problems for intellectual property law and the protection of Indigenous / traditional knowledge resources and cultural heritage in support of Indigenous knowledge and data sovereignty.
                        Jane is the co-founder (with Professor Kim Christen, Washington State University) of Local Contexts.
                    </p>
                </div>

                <div class="w-50 pad-left">
                    <h4>Professor Maui Hudson - Co-director</h4>

                    <p>
                        Maui Hudson is from Whakatōhea, Ngā Ruahine and Te Māhurehure. He is an Associate Professor in the Faculty of Māori and Indigenous Studies at the University of Waikato, focusing on the application of mātauranga Māori to decision-making across a range of contemporary contexts from new technologies to health, the environment to innovation. 
                        
                        Māui supports Māori to engage in the research sector and advocates for Indigenous rights and interests through Te Mana Raraunga: Māori Data Sovereignty Network, the Global Indigenous Data Alliance (GIDA), and the Summer Internship for Indigenous Genomics Aotearoa (SING Aotearoa).                 </p>
                </div>

            </div>
            
        </div>

        <div class="padded">
            <h2 class="orange-text bold">Implementation Team</h2>
            <p>
                Professor Stephanie Russo Carroll – The University of Arizona <br>

                Professor Maggie Walter – The University of Tasmania <br>
                
                Professor Kim Christen - Washington State University <br>
                
                Miriame Barbarich – Indigenous Design & Innovation Aotearoa <br>
                
                John Moore – Indigenous Design & Innovation Aotearoa   <br>         
            </p>
        </div>

    </div>

</section>
{% include 'partials/_auth-footer.html' %}
{% endblock %}