{% extends 'base.html' %} 
{% block title %} | About {% endblock %}
{% load static %}
{% block content %} {% include 'partials/_reg-header.html' %}

<section class="grey-bg">

    <div class="content-card white-bg flex-this column">

        <div class="padded">
            <h2 class="orange-text bold">About Local Contexts</h2>
            <p>
                Local Contexts was founded by Jane Anderson and Kim Christen in 2010. 
                The primary objectives of Local Contexts are to enhance and legitimize locally based decision-making and Indigenous governance frameworks for determining ownership, 
                access, and culturally appropriate conditions for sharing historical, contemporary and future collections of cultural heritage and Indigenous data. 
                Local Contexts is focused on increasing Indigenous involvement in data governance through the integration of Indigenous values into data systems. 
                Local Contexts offers digital strategies for Indigenous communities, cultural institutions and researchers through the TK & BC Labels and Notices. 
                Together they function as a practical mechanism to advance aspirations for Indigenous data sovereignty and Indigenous innovation.
            </p>
        </div>

        <div class="flex-this column orange-bg white-text padded">

                <h2 class="bold">Project History</h2>

            <div class="flex-this row">

                <div class="w-50 pad-right">
                    <p>
                        The Local Contexts project grew from the needs of Indigenous, local and traditional communities who wanted a practical method to deal with the 
                        range of intellectual property issues that arise in relation to managing cultural heritage materials. Emerging from Mukurtu CMS platform’s use of 
                        traditional knowledge fields to incorporate traditional knowledge and copyright concerns, Local Contexts started as a way to provide strategies for 
                        managing, sharing, and protecting digital heritage. In an increasingly complex legal, social and cultural environment, the TK & BC Labels offer Indigenous 
                        communities the tools to add cultural and historical context and authority to cultural heritage content in non-Indigenous digital archives, libraries, 
                        museums and other digital repositories globally as well as to their own local digital heritage archives.
                    </p>
                </div>

                <div class="w-50 pad-left">

                    <p>
                        The Biocultural Labels extend the Traditional Knowledge (TK) Label initiative to genetic resources and within the biological and genomic data sciences. 
                        The Biocultural Labels were conceptualized  and developed by Jane Anderson and Maui Hudson in 2019. Focused on accurate provenance, transparency and integrity 
                        in research engagements with Indigenous communities, this initiative offers the possibility for substantive change in how biological data from Indigenous contexts 
                        can maintain cultural relationships and responsibilities, connecting Indigenous people and places over time with data and in the metadata and with future researchers 
                        for the cultural, ecological and commercial benefit of Indigenous peoples. The Biocultural Labels have international interest and are being piloted in Aotearoa, New Zealand.                    
                    </p>
                </div>

            </div>
            
        </div>

        <div class="padded">
            <h2 class="orange-text bold">Acknowledgements</h2>
            <ul>
                <li>The designs for the TK Labels were developed in collaboration with <a href="https://alexanderhage.com/" target="_blank">Alexander Hage</a>.</li>
                <li>The designs for the BC Labels were developed in collaboration with Miriame Barbarich and John Moore from <a href="https://www.idia.nz/" target="_blank">IDIA</a> (Indigenous Design and Innovation Aotearoa).</li>
                <li>Design and development of Local Contexts Hub by John Deck, Diana Lovette, Steve Taylor  Alex Merill with Miriame Barbarich, John Moore and Renee Waiwiri from <a href="https://www.idia.nz/" target="_blank">IDIA</a> (Indigenous Design and Innovation Aotearoa).</li>
                <li>Label and Notice implementation support by Michael Wynne.</li>
                <li>Te Reo Māori translation of Labels and Notices provided by Dr. Haki Tuaupiki.</li>
                <li>Spanish translations of Labels and Notices provided by Maria Montenegro.</li>
                <li>French translations of Labels and Notices provided by Francoise McNeil and Patricia Raynault-Desgagné.</li>
            </ul>

        </div>

    </div>

</section>
{% include 'partials/_auth-footer.html' %}
{% endblock %}