{% extends 'base.html' %} 
{% block title %} | Home {% endblock %}

{% block content %}

    <header id="landing-header" class="white-bg">
        
            <nav class="landing-nav-content flex-this upper">

                <div class="logo-container">
                    <a href="{% url 'index' %}">
                        <img src="../static/images/logos/logo.png" class="header-logo">
                    </a>
                </div>

                <ul class="nav-links-ul flex-this flex-end">
                    {% if user.is_authenticated %}
                        <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
                        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
                        <li><a class="white-text" href="#">Labels</a></li>
                        <li><a class="white-text" href="#">Notices</a></li>
                        <li><a class="white-text" href="#">Licenses</a></li>
                        <li><a class="white-text" href="{% url 'contact' %}">Contact</a></li>  
                        <li><a class="white-text" href="{% url 'dashboard' %}">Account</a></li>   
                            <li class="flex-this column sign-out white-bg">
                                <a class="upper orange-text" href="javascript:{document.getElementById('logout').submit()}">
                                    <form action="{% url 'logout' %}" method="POST" id="logout">
                                        {% csrf_token %}
                                        <input type="hidden">
                                    </form>
                                    <span class="nav-span">Sign Out</span>
                                </a>
                            </li>

                    {% else %}
                        <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
                        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
                        <li><a class="white-text" href="#">Labels</a></li>
                        <li><a class="white-text" href="#">Notices</a></li>
                        <li><a class="white-text" href="#">Licenses</a></li>

                        <div id="column-btn" class="column flex-this flex-end">
                            <li class="pad-up"><a class="white-text" href="{% url 'register' %}">Register</a></li> 
                            <li><a class="white-text" href="#">TK Label Hub</a></li>
                        </div>  
                    </ul>
        
                    <div id="btn-container" class="column flex-this flex-end">
                        <a class="orange-bg white-text" href="{% url 'login' %}">Sign In</a>   
                        <a class="white-bg orange-text" href="{% url 'contact' %}">Contact</a>     
                    </div>
                    {% endif %}
            </nav>

        
        <h3 class='tagline white-text'>
            Establishing and communicating <br>
            rights over indigenous knowledge <br>
            and biocultural matter.
        </h3>
    </header>
        <section id="section-one-container" class="white-bg">

            <div id="section-one-content">
                <h1 class="orange-h1">Indigenous <br> Communities</h1>
                <p class="landing-p">
                    Local Contexts supports Indigenous communities to manage their intellectual and cultural property, cultural heritage, environmental data and genetic resources within digital environments. 
                    Local Contexts recognizes the inherent sovereignty that Indigenous communities have over knowledge and data that comes from lands, territories, and waters.
                </p>

                <div class="flex-this">
                    <div class="groups flex-this column">
                        <h3 class="teal-h3">Traditional Knowledge (TK) Labels</h3>
                        <p class="landing-p">The TK Labels are digital markers that define attribution, access, and use rights for Indigenous cultural heritage. 
                            Eighteen TK Labels have been developed though direct community partnership and collaboration. 
                            Each TK Label can be adapted and customized to reflect ongoing relationships and authority including proper use, guidelines for action, or responsible stewardship and re-use.
                        </p>
                    </div>
                    <div class="labels-img-container">
                        <img class="labels-img" src="../static/images/lc-label.png" alt="traditional knowledge (TK) label with handprint">
                    </div>
                </div>

                <div class="flex-this">
                    <div class="groups">
                        <h3 class="teal-h3">Biocultural (BC) Labels</h3>
                        <p class="landing-p">
                            The BC Labels focus on accurate provenance, transparency and integrity in research engagements. 
                            The BC Labels are digital markers that define community expectations and consent about appropriate use of collections and data. 
                            They connect data to people and environments over time. The BC Labels provide a practical application of Indigenous data governance principles to issues of access and benefit-sharing for genetic resources.
                        </p>
                    </div>
                    <div class="labels-img-container">
                        <img class="labels-img" src="../static/images/bc-label.png" alt="biocultural label with vertical lines">
                    </div>
                </div>

                <h3 class="teal-h3">Local Contexts Hub</h3>
                <p class="landing-p">
                    The Local Contexts Hub allows Indigenous communities to adapt TK & BC Labels to their needs and share them safely with institutions, researchers and data repositories.
                </p>
                <button class="landing-btn upper" onclick="location.href='accounts/register'">Register >></button>
            </div>

        </section>

        <section id='section-two-container'>
            <div id="section-two-content">

            <h1 class="orange-h1">Institutions & <br> Researchers</h1>
            <p class="landing-p">
                Local Contexts provides a new set of procedural workflows that emphasize vetting content, collaborative curation, ethical management and sustained outreach practices within institutions. 
                For researchers, Local Contexts provides specific Notices that support the recognition of Indigenous interests and function as place-holders on collections, data, or in a sample field until a TK or a BC Label is added by the community to replace it.
            </p>

            <div class="flex-this">
                <div class="groups">
                    <h3 class="teal-h3">Traditional Knowledge (TK) Notice</h3>
                    <p class="landing-p">
                        The TK Notice is a visible digital identifier applied to recognize that there could be accompanying cultural rights, 
                        protocols and responsibilities that need further attention for future sharing and use of this material.
                    </p>
                </div>
                <div class="labels-img-container">
                    <img class="notice-img" src="../static/images/tk-notice.png" alt="traditional knowledge label white square black background">
                </div>
            </div>

            <div class="flex-this">
                <div class="groups">
                    <h3 class="teal-h3">Biocultural (BC) Notice</h3>
                    <p class="landing-p">
                        The BC Notice is a visible digital identifier applied to recognize the rights of Indigenous peoples define the use of information, 
                        collections, data and digital sequence information generated from the biodiversity and genetic resources associated with their traditional lands, waters, and territories.
                    </p>
                </div>
                <div class="labels-img-container">
                    <img class="notice-img" src="../static/images/bc-notice.png" alt="biocultural label white square with BC written in it">
                </div>
            </div>

            <div class="flex-this">
                <div>
                    <h3 class="teal-h3">Cultural Institution (CI) Notices</h3>
                    <p class="landing-p">
                        The CI Notices are for use by collecting institutions who engage in collaborative curation with Indigenous and other marginalized communities who have been traditionally excluded from processes of documentation and record keeping.
                    </p>
                </div>
                <div>
                    <h3 class="teal-h3"> Local Contexts Hub</h3>
                    <p class="landing-p">
                        The Local Contexts Hub allows Institutions and Researchers to generate Notices and engage with Indigenous communities about the appropriate use of the TK & BC Labels.
                    </p>
                </div>
            </div>
                <button class="landing-btn upper" onclick="location.href='accounts/register'">Register >></button>


        </section>

        <section id="features-container">
            <div id="features-content">
                <h1 class="orange-h1">Features</h1>

                <div id="feature-cards">
                    <div class='card'>
                        <div class="card-img-container">
                            <img src="../static/images/feature1.png" alt="people fishing in a lake">
                        </div>
                        <div class="card-content">
                            <h4>Passamaquoddy Tribe and the Library of Congress</h4>
                            <p class="landing-p">The Passamaquoddy Tribe in Maine has integrated their customized TK Labels to the first sound-recordings ever made on Indigenous lands in 1890. 
                                These recordings currently reside in the Library of Congress. 
                                The Passamaquoddy TK Labels has transformed the digital online record...
                            </p>
                        </div>            
                    </div>

                    <div class='card'>
                        <div class="card-img-container">
                            <img src="../static/images/feature2.png" alt="logo with two fish facing each other over picture of water">
                        </div>

                        <div class="card-content">
                            <h4>Sq’éwlets Virtual Museum</h4>
                            <p class="landing-p">Sq’éwlets First Nation is part of the broader Stó:lō-Coast Salish people of the southern Pacific Northwest.  
                                The Sq’éwlets First Nation has incorporated the TK Labels into their Virtual Museum of Canada exhibit about Sq’éwlets culture, past and present. 
                                The Sq’éwlets customization of their TK Labels are also translated into Halq’emeylem.
                            </p>
                        </div>    
                    </div>

                    <div class='card'>
                        <div class="card-img-container">
                            <img src="../static/images/feature3.png" alt="card">
                        </div>                        
                        <div class="card-content">
                            <h4>Ravenspace Publishing</h4>
                            <p class="landing-p">RavenSpace is a digital publishing platform for media-rich, interactive books, where Indigenous communities and scholars can work together respectfully and knowledge circulates across networks and generations. 
                                The first publication, As I Remember It - Teachings (ʔəms tɑʔɑw) from the Life of a Sliammon Elder integrates the TK Labels.
                            </p>
                        </div> 
                    </div>

                    <div class='card'>
                        <div class="card-img-container">
                            <img src="../static/images/feature4.png" alt="card">
                        </div>
                        <div class="card-content">
                            <h4>GEOME</h4>
                            <p class="landing-p">GEOME is a metadata database for biological samples and associated genetic sequences. GEOME is testing the capacity for researchers to add TK and BC Notices as metadata for DNA sequence data.</p>

                        </div>            
                    </div>
                </div>
                <div id="feature-btns">
                    <div class="card-btn-container">
                        <a href="https://www.loc.gov/item/2015655566/" target="_blank">
                            <button class="landing-btn upper">Read More >></button>
                        </a>                    
                    </div>
                    <div class="card-btn-container">
                        <a href="http://digitalsqewlets.ca/index-eng.php" target="_blank">
                            <button class="landing-btn upper">Read More >></button>
                        </a>                    
                    </div>
                    <div class="card-btn-container">
                        <a href="http://ravenspacepublishing.org/" target="_blank">
                            <button class="landing-btn upper">Read More >></button>
                        </a>
                    </div>
                    <div class="card-btn-container">
                        <a href="https://geome-db.org/" target="_blank">
                            <button class="landing-btn upper">Read More >></button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <footer id="landing-footer-container" class="white-text flex-this column">
            <div class="footer-content">
                <h1 class="white-text">Contact Us</h1>
                <p class="landing-p">info@localcontexts.org</p>
                <button id="footer-btn" class="orange-bg white-text upper" onclick="location.href='/about'">About Us</button>

                <h4 class="white-text">Creative Commons License</h4>
                <p class="landing-p">This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License. <br>
                    All images and marks are subject to copyright and trademark protection.<br>
                    All educational material is being shared collaboratively but does not constitute binding legal advice.
                </p>

                {% include 'snippets/footer-logos.html' %}

            </div>
        </footer>

    {% endblock %}