{% load static %}

<div id="announcementModal" class="modal">

    <div class="modal-defaults announcement-modal flex-this column w-100">
        <div class="w-100">

            <div>
                <h2 class="primary-black-text no-top-margin">Important Sandbox Announcement</h2>  
                <p>
                    The anth-ja77-lc-dev-42d5.uc.r.appspot.com URL will be <strong>deactivated on November 7th, 2023</strong>.
                    The test/sandbox hub will only be available at <strong>sandbox.localcontextshub.org</strong>. <br><br>

                    If you are not using the API, please start using the new Sandbox Hub today.


                    <h3>In the new sandbox location you will:</h3>
                    <ul>
                        <li>Still be able to login with the same credentials you've used on this site.</li>
                        <li>Retain all your test accounts and Projects created on or before Oct 20th, 2023.</li>
                    </ul>

                    <h3>This will affect the test API in the following ways:</h3>
                    If you are using any of these links directly in your API connections, please make sure to update them.<br>

                    <ul>
                        <li>
                            For test hub API calls, update the domain from anth-ja77-lc-dev-42d5.uc.r.appspot.com to sandbox.localcontextshub.org. 
                        </li>
                        <li>
                            For Labels and Notices applied to your Projects, the img_url and svg_url fields have changed.
                        </li>
                    </ul>

                    For any additional assistance or questions, please email us at support@localcontexts.org.

                </p>  
            </div>
            <div class="flex-this w-100 text-align-center">
                <div id="dismissAnnouncementBtn" class="primary-btn white-btn margin-right-1">Dismiss</div>    
                <a href="https://sandbox.localcontextshub.org/" rel="me noopener noreferrer" class="margin-left-1 primary-btn action-btn">Redirect me to the sandbox</a>
            </div>

        </div>
    </div>
</div>

<script>
    const announcementModal = document.getElementById('announcementModal')
    const dismissBtn = document.getElementById('dismissAnnouncementBtn')

    dismissBtn.addEventListener('click', function() {
        announcementModal.classList.add('hide')
    })
</script>
