/* user info card */
.dash-driver {
    padding: 20px;
}

.dash-driver, .dashcard {
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    width: 1280px;
    background-color: #fff;
}

.dash-driver h2, .dash-driver h4 {
    color: #1f2937;
}

.dash-driver h3 {
    color: #4b5563;
}

.dash-btn-container {
    width: 22%;
}

.noti-bell, .dash-icons-big {
    padding: 10px;
}

.grey-bell {
    color: #7a828e;
}

/* DASH CARDS */
.dashcard {
    margin-top: 5px;
    padding: 16px;
}

.dashcard-img-container, .dashcard-text-container, .researcher-img-container {
    margin-right: 20px;
}

.dashcard-img-container, .profile-img {
    width: 286px;
    height: 160.88px;
}

.profile-img, .researcher-img-container img {
    object-fit: cover;
}

.researcher-img-container, .researcher-img-container img {
    width: 190px;
    height: 190px;
}

.dashcard-text-container {
    width: 70%;
}

.dashcard-h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.dashcard-subheader {
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
}

.dashcard-description {
    margin-top: 5px;
    margin-bottom: 0;
    font-style: normal;
    color: #333;
    width: 95%;
}

.description-sm {
    font-size: 14px;
    line-height: 20px;
}

.description-reg {
    font-size: 16px;
    line-height: 24px;
}

/* Registry btns on dashcard */
.dashcard-btn-container {
    display: flex;
    width: 30%; 
    justify-content: flex-end;  
    font-size: 14px;
    font-weight: bold;
}

/* SETTINGS */
.selected {
    background-color:#108670;
    border-radius: 5px;
    color: #fff;
}

.side-nav-item {
    height: 86px;
    width: 271px;
    padding: 10px;
    margin-bottom: 5px;
}

.leave-acct-btn {
    padding: 8px 16px;
    border: 1px solid #E6F1F3;
    border-radius: 4px;
}

/* USER NOTIFICATIONS */

.noti-card a {
    color: black;
}

.noti-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A09D9D;
}

.noti-container span {
    margin-left: 5px;
}

.noti-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 950px;
    margin-top: 0;
    margin-bottom: 0;
}

.tag-container {
    width: 120px;
}

/* onboarding modal */
.onboarding-modal {
    background-color: #fefefe;
    margin: 6% auto;
    border-radius: 5px;
    width: 1061px;
    height: 524px;
}

.onboard-step {
    display: none;
}

.onboard-step-active {
    display: block;
}

.fit-height {
    height: 524px;
}

.onboard-content-margin {
    margin: 25px;
}

.close-onboarding-btn {
    cursor: pointer;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
    width: 98px;
    height: 40px;
    padding: 8px 16px;
    color: #fff;
    background: none;
}

.modal-right-half {
    border-radius: 5px;
}

.logo-sm-onboard {
    width: 85px;
    height: 32px;
}

.logo-lg-onboard {
    height: 339px; 
    width: 255px;
    margin: 25px 20px;
}

.onboard-blue-bg {
    background-color: #B3D5DA;
}

.section-bar-container {
    display: flex;
    align-items: flex-end;
    height: 120px;
    margin-top: 20px;
    margin-right: -25px;
}

.suggestion-box {
    margin-right: 9px;
    padding: 16px;
    border: 1px solid #EFF0F1;
    border-radius: 4px;
    width: 360px;
    height: 91px;
}

.set-height {
    height: 200px;
}