/* Welcome card */
.dash-driver {
    width: 1280px;
    height: 114px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.dash-driver h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}

.dash-btn-container {
    width: 22%;
}

.active-dash-driver-btn {
    color: #007385;
    background-color: #fff;
    border: 1px solid #007385;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    display: block;
}

/* DASH CARDS */
.dashcard {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 16px;
    width: 1280px;
    /* height: 193px; */
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.dashcard-img-container, .dashcard-text-container {
    margin-right: 20px;
}

.dashcard-img-container {
    width: 286px;
    height: 160.88px;
}

.profile-img {
    width: 286px;
    height: 160.88px;
    object-fit: cover;
}

.dashcard-text-container {
    width: 60%;
}

.dashcard-h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.dashcard-subheader {
    margin-bottom: 0;
    font-weight: bold;
}

.dashcard-description {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.description-sm {
    font-size: 14px;
    line-height: 20px;
}

.description-reg {
    font-size: 16px;
    line-height: 24px;
}

/* Registry btns on dashcard */
.dashcard-btn-container {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

/* Profile Settings page */
.edit-profile-section {
    align-items: center;
}

.edit-profile-section input {
    width: 50%;
}

/* USER NOTIFICATIONS */

.noti-card a {
    color: black;
}

.noti-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A09D9D;
}

.noti-container span {
    margin-left: 5px;
}

.noti-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 950px;
    margin-top: 0;
    margin-bottom: 0;
}

.tag-container {
    width: 120px;
}