/* AUTHENTICATED USER FOOTER */
.footer-gradient {
    background: linear-gradient(179.93deg, #045887 -12.22%, #058F73 156.81%);
    padding: 2.5% 3% 2% 3%;
}

.auth-footer-content p {
    max-height: 112px;
    min-height: 112px;
    line-height: 19px;
}

.underline {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.socials {
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    font-size: 30px;
    margin: 5px;
}