/* SIGNED IN HEADER */
#auth-header {
    background: linear-gradient(180.59deg, #016BA7 0.51%, #058F73 134.01%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    z-index: 1;
}

/* REGISTERING PROCESS HEADER */
#reg-header {
    background-color: #3876aa;
    width: 100%;
}

.generic-logo-container {
    width: 40%;
    padding: 2% 2% 1% 4%;
}

.logo {
    min-width: 200px;
    max-width: 200px;
    padding: 1% 2% 1% 4%;
}

.generic-nav {
    width: 80%;
    justify-content: space-evenly;
}

.generic-nav-ul {
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-end;
}

.generic-nav li {
    padding: 2% 1% 0 1%;
    min-width: auto;
    max-width: auto;
}

.generic-nav a {
    font-weight: 300;
}

.nav-span {
    font-weight: 600;
    padding: 1%;
    min-width: 100px;
    max-width: 100px;
}

.generic-nav div {
    min-width: 90px;
    max-width: 90px;
}

.sign-out, .sign-in {
    border-radius: 25px;
    text-align: center;
    padding: 0.5%;
}


@media only screen and (max-width: 820px) {
    #reg-header, .generic-nav-ul {
        flex-direction: column;
    }

    .generic-logo-container, .generic-nav, .generic-nav li, #btn-group {
        width: 100%;
        text-align: center;
    }

    #btn-group {
        max-width: 50%;
        margin: auto;
    }
}