@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Regular.woff") format('woff');
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Italic.woff") format('woff');
    font-style: italic;
}

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'BCSans', Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f4f5;
}

.ul-no-bullets { list-style-type: none; }
.ul-no-padding { padding-left: 0; }

a { text-decoration: none; }

/* FORM INPUTS */
label {
    font-size: 16px;
    line-height: 24px;
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=username], 
input[type=date], 
input[name=contributors], 
input[name=communities], 
input[name=institutions], 
input[name=userList],
select {
    max-height: 40px;
    min-height: 40px;
    background-color: #fff;
    border: 1px solid #1F2937;
    border-radius: 4px;
    padding:8px;
}

input[name=contributors] { width: 416px; }

/* Project Searchbar */

.searchbar-divider {
    border: 1px solid #B3D5DA;
    margin-bottom: 16px;
}

.default-searchbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid #007385;
    border-radius: 4px;
    width: 377px;
}

input[name=q] { width: 85%; }

input[name=q], .search-btn { 
    display: block;
    padding: 8px 16px;
    height: 40px;
    border: none;
    border-radius: 4px;
}

.project-sort {
    display: block;
    padding: 8px 16px;
    height: 42px;
    border: 1px solid #007385;
    border-radius: 4px;
}

input[name=q]::placeholder, .project-sort {
    color: #007385;
    font-weight: bold;
}

input[name=q]:focus, .project-sort:focus {
    outline: none;
    border: 1px solid #007385;
    border-radius: 4px;
}
input[name=q]:focus {
    border-right: 2px solid #007385;
}

.search-btn {
    width: 15%;
    background-color: #fff;
    color:#007385;
    cursor: pointer;
    padding: 8px 16px;
}

textarea {
    background-color: #fff;
    border: 1px solid #1F2937;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 15px;
}

input[type=checkbox] {
    border: 2px solid #A09D9D;
    border-radius: 5px;
    min-width: 20px;
    max-width: 20px;
}

input[type=checkbox]:checked {
    background-color: #007385;
    border: 2px solid #007385;
    border-radius: 5px;
}

input:focus {
    background: #F3FDFF;
    border: 1px solid #007385;
    box-shadow: 0px 0px 1px 0.5px #007385;
}

/* OPACITY */
.opacity-4 { opacity: 0.4;}

/* CURSOR */
.pointer { cursor: pointer;}

/* TEXT SIZE & WEIGHT */
.bold { font-weight: bold; }
.p-28 { font-size: 28px; }
.p-24 { font-size: 24px; }
.font-size-14 { font-size: 14px; }
.font-size-12 { font-size: 12px; }
.font-size-19 { font-size: 19px; }

/* Underline text on hover */
.underline-hover:hover { text-decoration: underline; }
/* Break up long text */
.word-break { word-break: break-all; }

/* TEXT COLORS */

.darkteal-text { color: #007585; }
.white-text { color: #fff; }
.primary-black-text { color: #333; }
.orange-text { color: #EF6C00; }
.grey-text { color: #A09D9D; }
.red-text { color:#ff0000; }

/* BACKGROUND COLORS */

.orange-bg { background-color: #EF6C00; }
.white-bg { background-color: #fff; }
.grey { background-color: #A09D9D; }

/* TEXT */
.upper { text-transform: uppercase;}
.center-text { text-align: center; }
.right-text { text-align: right; }

/* MARGIN & PADDING */
.margin-top-1 { margin-top: 1%; }
.margin-right-1 { margin-right: 1%; }
.margin-left-1 { margin-left: 1%; }
.margin-top-2 { margin-top: 2%; }
.margin-bottom-2 { margin-bottom: 2%; }
.auto-margin { margin: auto; }
.no-top-margin { margin-top: 0; }
.no-bottom-margin { margin-bottom: 0; }
.margin-top-8 { margin-top: 8px; }
.margin-bottom-8 { margin-bottom: 8px; }
.margin-left-8 { margin-left: 8px; }
.margin-right-8 { margin-right: 8px; }
.margin-left-16 { margin-left: 16px; }
.margin-right-16 { margin-right: 16px; }
.margin-top-16 { margin-top: 16px; }
.margin-bottom-16 { margin-bottom: 16px; }
.no-top-pad { padding-top: 0; }
.no-bottom-pad { padding-bottom: 0px; }
.pad-top-1 { padding-top: 1%; }
.pad-top-1-5 { padding-top: 1.5%; }
.pad-left-1-5 { padding-left: 1.5%; }
.pad-left-2 { padding-left: 2%; }
.pad-right-1{ padding-right: 1%; }
.padding-bottom-1 { padding-bottom: 1%; }
.padding-bottom-2 { padding-bottom: 2%; }
.no-left-padding { padding-left: 0; }

/* BORDERS */

.border-bottom-dash-teal { border-bottom: 1px dashed #007385; }

.border-top-solid-teal { border-top: 1px solid #007385; }

.border-bottom-solid-teal { border-bottom: 1px solid #007385; }

.border-top-bottom-grey {
    border-top: 1px solid #E6F1F3;
    border-bottom: 1px solid #E6F1F3;
}

.border-bottom-grey { border-bottom: 1px solid #C4C4C4;}

.border-top-grey { border-top: 1px solid #C4C4C4;}

/* FLEX */
.flex-this { display: flex; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.flex-end { justify-content: flex-end; }
.flex-start { justify-content: flex-start; }
.space-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.align-center { align-items: center; }
.align-right { align-items: flex-end; }
.wrap {flex-wrap: wrap; }
.block {display: block; }

/* WIDTHS */
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

/* ACTION Buttons / Register,Sign in, etc. */
.primary-btn {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    cursor: pointer;
    transition: 0.3s;
}

.default-btn-width {
    max-width: 110px;
    min-width: 110px;
}

.action-btn {
    background-color: #007385;
    border: 1px solid #007385;
    color: #fff;
}

.action-btn:hover:not([disabled]) {
    background-color: #338F9D;
}

.action-btn:active:not([disabled]) {
    background-color: #005C6A;
}

.white-btn {
    border: 1px solid #E6F1F3;
    color: #007385;
    background-color: #fff;
}

.white-btn:hover:not([disabled]) {
    background-color: #007385;
    color: #fff;
}

.orange-btn {
    background-color: #FF6000;
}

.orange-btn:hover:not([disabled]) {
    background-color: #f17c33;
}

button:disabled,
button[disabled],
.disabled-btn {
    background: #F3F4F6;
    border: none;
    color: #4B5563;
    font-weight: normal;
    cursor: default;
}

/* PAGINATION */
.pagination {
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.current, .page {
    border: 1px solid #f1f4f5;
    display: inline-block;
    margin: 0 3px;
    padding: 8px 16px;
    font-weight: bold;
}

.page:hover, .current {
    border: 1px solid #dcdbdb;
    background-color: #fff;
    border-radius: 5px;
    color: #333;
    transition: background-color .3s;
}

/* Community: select-labels: Listen and Example btns */
.green-btn {
    background-color:#108670;
    border: 1px solid #108670;
    color: #fff;
}

.green-btn:hover {
    background-color: #28927E;
}

.green-btn:active {
    background-color: #0D6B5A;
}

/* LISTEN / EXAMPLE btn size */
.green-btn-default-size {
    width: 118px;
}

/* Square + buttons for adding things */
.add-square-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 44px;
    height: 40px;
    border-radius: 5px;
    background-color: #007385;
    transition: 0.3s;
}

.add-square-btn:hover {
    background-color: #0194aa; 
}

.add-square-btn span {
    color: #fff;
    font-size: 50px;
    margin-top: -3px;
}

/* Customize label */
.about-this-label {
    border: 1px solid #A09D9D;
    border-radius: 17px;
    margin: auto;
}

/* Unapproved label note */
.note-container {
    border: 1px solid #a5c6ca;
    border-radius: 5px;
    padding: 5px 10px;
}

/* ALERTS / MESSAGES */
#alert-message small{
    padding: 5px;
    margin: auto;
}

.msg-red, .msg-green, .msg-blue {
    margin-top: 10px;
    margin-bottom: 10px;
}

.msg-red {
    padding: 7px 5px;
    color: #B01212;
    background-color: #FBF3F3;
    border-radius: 7px;
    border: 1px solid #B01212;
}

.msg-green {
    display: flex;
    padding: 7px 5px;
    color: #3c763d;
    background-color: #dde7de;
    border-radius: 7px;
    border: 1px solid #3c763d;
}

.msg-green small, .msg-green span, 
.msg-blue small, .msg-blue span,
.msg-red small { 
    display: block;
}

.msg-blue {
    display: flex;
    padding: 7px 5px;
    color: #31708f;
    background-color: #d9ebf5;
    border-radius: 7px;
    border: 1px solid #31708f;
}

#close-btn {
    margin: auto;
    cursor: pointer;
    font-size: 20px;
}

/* CONTENT CARDS */

/* Standard with content card (user info on dash, 404 page, etc) */
.content-card {
    margin: auto;
    max-width: 1280px;
    min-width: 1280px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.content-card-space {
    padding: 1%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-card-v2 {
    background-color: #fff;
    margin: 10px auto;
    max-width: 1280px;
    min-width: 1280px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

/*  404 500 503 ERROR PAGE cards */
.page-not-found-card {
    min-height: 418px;
    max-height: 418px;
}

.page-not-found-card img {
    width: 322px;
}

/* Count cards on dashcards on profiles */
.stats-card-container {
    width: 240px; 
    margin: 10px;
}

.stats-card {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    color: white;
    padding: 16px 8px;
    border-radius: 5px;
}

.stats-card:first-child {
  background-color: #007385; 
}

.stats-card:nth-child(2) {
    background-color: #5AA497; 
}

.stats-card:nth-child(3) {
    background-color: #EF6C00; 
}

.stats-card p {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.stats-card span {
    font-size: 16px;
    line-height: 20px;
}

/* SUBNAV */
.comm-nav {
    margin: 16px auto;
    max-width: 1280px;
    min-width: 1280px;
    max-height: 60px;
    min-height: 60px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.comm-nav-links {
    height: 60px;
}

.comm-nav-links div {
    width: 130px;
    height: 100%;
    border-radius: 4px;
    padding: 19px 15px;
    text-align: center;
    transition: 0.3s;
}

.comm-nav-links a {
    color: #A09D9D;
    display: inline-block;
}

.comm-nav-links div:not(.active-nav):hover {
    font-weight: bold;
}

/* SUBNAV: ACTIVE */
.active-nav {
    background-color: #007385;
    color: #fff;
}


/* COMMUNITY DASHBOARD: SETTINGS */
.set-nav {
    max-height: 80px;
    min-height: 80px;
}

.border-left{
    border-left: 1px solid #000;
    padding-left: 2%;
}

/* COMMUNITY DASHBOARD: Activity */

.notice-top span {
    transform: rotate(45deg);
    font-size: 36px;
}

.notice-card h4 {
    padding: 0;
}

.notice-date {
    font-style: italic;
    color: #A09D9D;
}

.notice-btns {
    padding: 5px;
}

.notice-btns a {
    display: block;
    width: 174px;
}

.notice-btns i {
    font-size: 18px;
}

.orange-btn {
    background-color: #EF6C00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* RESEARCHER PAGE: NOTICES */

.add-notice-btn {
    margin-right: 1%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px dashed #A09D9D;
    color: #A09D9D;
}

.add-notice-btn span {
    font-size: 40px;
    margin: auto;
}

.add-notice-text {
    color: #A09D9D;
    padding-top: 2.3%;
    padding-left: 1%;
}

/* Add project */

.notice-checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #9CA3AF;
    width: 137px;
    height: 46px;
    padding: 8px;
    border-radius: 4px;
}

.notice-checkbox-container span {
    color: #1F2937;
}

.select-notice {
    margin-right: 15px;
    margin-top: 15px;
}

.dashed-border {
    border: 1px dashed #000;
    border-radius: 5px;
    margin: 0 1% 0 2%;
    padding: 10px;
    font-size: 14px;
    width: 822px;
}

.contrib-msg {
    width: 500px;
    height: 50px;
}

.expedition-select {
    width: 163px;
}

.is-public-checkbox {
    margin-right: 10px;
}

/* Attach Labels */
.implement-labels-textarea {
    width: 1041px;
    height: 218px;
}

.default-label-textarea {
    width: 752px;
    height: 131px;
}

.default-label-textarea, .implement-labels-textarea {
    border: 1px dashed #000000;
}

.label-margin img {
    margin-right: 2%;
    margin-bottom: 2%;
}

.default-label-img {
    width: 147.97px;
    height: 113.63px;
}

.bottom-dashed {
    border-bottom: 1px dashed #007385;
    padding-bottom: 2%;
    padding-top: 1%;
}

/* Community: Labels */
#collapsed-card, #collapsed-tkcard {
    height: 113px;
}

#expand-bclabels {
    overflow: hidden;
}

#bclabel-info {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Label name when selecting */
.label-name-box {
    padding: 8px;
    border-radius: 4px;
    width: 176px;
}

.label-name-active {
    color: #fff;
    background-color: #007385;
}

/* Full Label card with all label info */
.full-label-card {
    padding: 16px;
    border: 1px solid #A09D9D;
    border-radius: 17px;
}

/* COMMUNITY: PROJECT */
.small-label img {
    height: 70px;
    width: 90.3px;
}

/* Project comment boxes */
.project-comment {
    margin-bottom: 10px;
    border: 1px solid teal;
}
.project-comment-teal {
    margin-right: 5px;
    width: 10px;
    background-color: #007385;
}

.project-comment-text {
    padding: 5px;
}

/* Customize TK Label page */

.label-large {
    width: 151px;
    height: 116px;
}

.label-medium {
    width: 96px;
    height: 74px;
}

/* Small Labels  */
.img-sizedown-small {
    width: 82px;
}

/* Tiny Labels  */
.img-sizedown-tiny {
    width: 62px;
}

/* PROJECT: Notify */
.grey-chip {
    margin-right: 5px;
    border: 1px solid #4b5563;
    background-color: #f3f4f6;
    color: #4b5563;
    padding: 8px 16px;
    /* height: 40px; */
    border-radius: 4px;
    font-size: 14px;
}

.center-name {
    margin: 0;
    align-items: center;
}

.close-x {
    margin-top: 2px;
    margin-left: 5px;
    line-height: 0;
    position: relative;
    border: 2px solid #4b5563;
    background-color: #f3f4f6;
    border-radius: 50%;
    width: 16.67px;
    height: 16.67px;
    text-align: center;
}

.close-x::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.close-x div {
    position: absolute;
    bottom: 50%;
    width: 100%;
    font-weight: bold;
}

/* Notification V2 (Institutions) */

.dropdown {
    position: relative;
}

.notification-dropdown-content {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    opacity: 1;
    z-index: 1;
    height: 546px;
    width: 386px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    left: 0;
    margin-top: 15px;
    margin-left: -150px;
    overflow: auto;
}

.notification-type-tag {
    padding: 3px 8px;
    border-radius: 2px;
}

.show { display: block; }
.hide { display: none; }

/* Project overview: ellipsis menu */
.ellipsis-dropdown-content {
    position: absolute;
    width: 189px;
    height: auto;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    margin-left: -100px;
    border-radius: 4px;
}

.ellipsis-dropdown-content > a {
    width: 100%;
    padding: 10px 16px;
}

.ellipsis-dropdown-content > a:hover {
    background-color: #cce3e7;
}

/* Textbox message add-members */
.add-member-message {
    width: 100px;
}

.member-roles {
    width: 150px;
    text-align: right;
}

  /* TOOLTIPS */
  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #EF6C00;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 330px;
    background-color: #EF6C00;
    color: #fff;
    /* text-align: center; */
    text-align: left;
    padding: 10px 8px;
    border-radius: 5px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;

    margin-left: -30px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltiptext {
    padding: 10px;
    display: inline-block;
    font-size: 14px;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #EF6C00 transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Tooltip on project action page */
.actions-card .tooltiptext {
    width: 250px;
    margin-left: -60px;
}

.actions-card .tooltip .tooltiptext::after { left: 78%; }

/* View Project: Researcher hover */
.researcher-hover {
    cursor: pointer;
    position: relative;
}

.researcher-hover-info {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #eeecec;
    position: absolute;
    background-color: #eeecec;
    color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
}

.researcher-hover:hover .researcher-hover-info {
    visibility: visible;
    opacity: 1;
}

/* View Project / Project Actions */
.project-card, .actions-card {
    background-color: #fff;
    margin: 10px auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

.project-card {
    max-width: 880px;
    min-width: 880px;
}

.actions-card {
    max-width: 360px;
    min-width: 360px;
}

.project-left-sidebar {
    min-width: 260px;
    margin-right: 10px;
}

.actions-card a {
    color: #64748B;
    margin: 8px 16px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
}

.actions-card a:hover {
    background-color: #CCE3E7;
    border-radius: 4px;
}

.actions-card i {
    margin-right: 10px;
}

/* Language Searchbar */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #fff;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;

    overflow: scroll;
    height: 200px;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  /* VIEW LABEL */
  .condensed-labels {
    width: 160px;
  }

  /* PUBLIC PAGE: COMMUNITY: LABELS USED */
  .public-page-labels img {
    width: 110px;
    height: auto;
  }

