/* Poppins Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Regular.woff") format('woff');
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BCSans";
    src: url("../fonts/BC-Sans-Font-woff/BCSans-Italic.woff") format('woff');
    font-style: italic;
}

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, sans-serif;
}

p, span, label {
    font-family: 'BCSans', Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.p-28 {
    font-size: 28px;
}

.p-24 {
    font-size: 24px;
}

body {
    margin: 0;
    min-width: 80%;
    min-height: 100%;
}

.ul-no-bullets {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* FORM INPUTS */

label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

input[type=text], input[type=email], input[type=password], input[type=username], input[type=date], input[name=contributors], input[name=communities], select {
    max-height: 40px;
    min-height: 40px;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 5px;
    padding:8px;
}

input[name=contributors] {
    width: 416px;
}

textarea {
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 5px;
}

input[type=checkbox] {
    border: 2px solid #A09D9D;
    border-radius: 5px;
    min-width: 20px;
    max-width: 20px;
}

input[type=checkbox]:checked {
    background-color: #007385;
    border: 2px solid #007385;
    border-radius: 5px;
}

input:focus {
    background: #F3FDFF;
    border: 1px solid #007385;
    box-shadow: 0px 0px 1px 0.5px #007385;
}

/* OPACITY */

.opacity-4 {
    opacity: 0.4;
}

/* CURSOR */
.pointer {
    cursor: pointer;
}

/* TEXT SIZE */
.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}

/* TEXT COLORS */

.orange-h1 {
    color: #EF6C00;
    font-weight: 400;
}

.teal-h3 {
    color: #72b79c;
    font-weight: 300;
}

.darkteal-text {
    color: #007585;
}

.primary-blue-text {
    color: #3876aa;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.orange-text {
    color: #EF6C00;
}

.grey-text {
    color: #A09D9D;
}

.red-text {
    color:#ff0000;
}

.hl {
    background-color: #007385;
    color: #fff;
}

/* BACKGROUND COLORS */

.orange-bg {
    background-color: #EF6C00;
}

.white-bg {
    background-color: #fff;
}

.darkteal-bg {
    background-color: #007385;
}

.darkgreen-bg {
    background-color: #058F73;
}

.grey {
    background-color: #A09D9D;
}

.text-background-blue {
    background-color: rgba(0, 115, 133, 0.04);
}

/* TEXT */
.weight-400 {
    font-weight: 400;  
}

.weight-500 {
    font-weight: 500;  
}

.weight-600 {
    font-weight: 600;
}

.upper {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

/* MARGIN & PADDING */

.margin-top-1 {
    margin-top: 1%;
}

.margin-right-1 {
    margin-right: 1%;
}

.margin-left-1 {
    margin-left: 1%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.auto-margin {
    margin: auto;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-pad {
    padding-top: 0;
}

.no-bottom-pad {
    padding-bottom: 0px;
}

.pad-top-1 {
    padding-top: 1%;
}

.pad-top-1-5 {
    padding-top: 1.5%;
}

.pad-left-1-5 {
    padding-left: 1.5%;
}

.pad-left-2 {
    padding-left: 2%;
}

.pad-right-1{
    padding-right: 1%;
}

.padding-bottom-1 {
    padding-bottom: 1%;
}

.padding-bottom-2 {
    padding-bottom: 2%;
}

.no-left-padding {
    padding-left: 0;
}

.pad-top-5 {
    padding-top: 5%;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-left-16 {
    margin-left: 16px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}
/* BORDERS */
.border-bottom-blk {
    border-bottom: 1px solid #000000;
}

.border-bottom-grey {
    border-bottom: 1px solid #A09D9D;
}

.border-bottom-dash-teal {
    border-bottom: 1px dashed #007385;
}

.border-top-dash-teal {
    border-top: 1px dashed #007385;
}

.border-top-solid-teal {
    border-top: 1px solid #007385;  
}

.border-bottom-solid-teal {
    border-bottom: 1px solid #007385;  
}

/* FLEX */
.flex-this {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items:center;
}

.wrap {
    flex-wrap: wrap;
}

/* WIDTHS */
.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.width-492 {
    width: 492px;
}

/* ACTION Buttons / Register,Sign in, etc. */
.action-btn {
    padding: 8px 16px;
    margin-top: 2%;
    background-color: #007385;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
}

/* TODO: consolidate this so it does not repeat */
.white-action-btn {
    color: #007385;
    cursor: pointer;
    margin-top: 2%;
    background-color: #fff;
    border: 2px solid #007385;
    max-height: 44px;
    min-height: 44px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
}

.default-btn {
    max-width: 110px;
    min-width: 110px;
}

/* Square + buttons for adding things */
.add-square-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 7px 7px 7px;
    padding: 8px 16px;
    width: 52px;
    height: 40px;
    border-radius: 5px;
    background-color: #5AA497;
}

.add-square-btn span {
    color: #fff;
    font-size:25px;
}

/* Width for buttons on connect-researcher, community and institution pages */
.connect-btn {
    max-width: 250px;
    min-width: 250px;
}

/* ALERTS / MESSAGES */
#alert-message small{
    padding: 5px;
    margin: auto;
}

.msg-red, .msg-green, .msg-blue {
    margin: 10px;
}

.msg-red {
    color: #ff0000;
}

.msg-green {
    color: #3c763d;
}

.msg-blue {
    color: #31708f;
}

#close-btn {
    margin: auto;
    cursor: pointer;
    font-size: 20px;
}

/* CONTENT CARDS */

/* Standard with content card (user info on dash, 404 page, etc) */
.content-card {
    margin: auto;
    max-width: 1280px;
    min-width: 1280px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.content-card-space {
    padding: 1%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-card-v2 {
    margin: 10px auto;
    max-width: 1280px;
    min-width: 1280px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

/* Gray background for sections, etc */
.grey-bg {
    margin: 0;
    padding-top: 3%;
    background-color: #f1f4f5;
    padding-bottom: 100px;
}

/* 404 Page snippet */
.page-not-found-card {
    min-height: 600px;
    max-height: 600px;
}

.page-not-found-card img {
    margin: auto;
}

.page-not-found-content {
    padding: 5%;
}

.page-not-found-txt, .padded {
    padding: 3%;
}

/* COMMUNITY REGISTRY PAGE */

.registry-container {
    margin: auto;
    width: 95%;
}

.registry-title {
    text-align: center;
}

.registry-title h2 {
    margin: 0;
}

.registry-table-container {
    margin: auto;
    margin-top: 0.5%;
   border-top: 1px solid #000; 
   border-bottom: 1px solid #000; 
   min-width: 1078px;
   max-width: 1078px;
   padding: 1%;
}

.registry-table {
    margin: auto;
    display: block;
    overflow: auto;
    min-height: 275px;
    max-height: 275px;
    min-width: 1078px;
    max-width: 1078px;
    border-collapse: collapse;
}

.registry-table img {
    border-radius: 5px;
}

.registry-table tr {
    border-bottom: 1px solid black;
    min-width: 1078px;
    max-width: 1078px;
}

.registry-table tr:last-child {
    border-bottom: none;
}

.registry-table td {
     padding: 0.5%;
     margin: auto;
}

.td-img {
    text-align: center;
    min-width: 210px;
    max-width: 210px;
}

.td-img img {
    width: 200px;
    height: 75px;
    object-fit: cover;
}

.td-name {
    min-width: 650px;
    max-width: 650px;
}

.td-btn {
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

.td-btn button {
    align-items: center;
    min-width: 180px;
    max-width: 180px;
}

/* COMMUNITY DASHBOARD */

.stats-info-container {
    max-height: 200px;
    min-height: 200px;
}

.stats-info-container h1, h2 {
    margin-bottom: 0;
}

.loc {
    font-size: 14px;
    font-weight: 500;
    color: #A09D9D;
    line-height: 20px;
}

.community-title {
    margin-top: 16px;
}

.activity-card-container h3 {
    margin-top: 0;
}

.stats-info-container span {
    font-weight: 500;
}

.stats-img-container {
    margin: auto;
    text-align: center;
}

.stats-img-container img {
    border-radius: 5px;
    width: 320px;
    height: 160px;
    object-fit: cover;
}

/* Count cards on dashcards on profiles */
.stats-card-container {
    width: 250px; 
    margin: 10px;
}

.stats-card {
    width: 235px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    color: white;
    padding: 16px 8px;
    border-radius: 5px;
}

.stats-card:first-child {
  background-color: #007385; 
}

.stats-card:nth-child(2) {
    background-color: #5AA497; 
}

.stats-card:nth-child(3) {
    background-color: #EF6C00; 
}

.stats-card p {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    font-weight: 500;
}

.stats-card span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

/* SUBNAV */
.comm-nav {
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 60px;
    min-height: 60px;
}

.comm-nav-links {
    height: 60px;
}

.comm-nav-links div {
    margin-left: 12px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 19px 20px;
}


.comm-nav-links a {
    color: #A09D9D;
}

/* SUBNAV: ACTIVE */
.active-nav {
    background-color: #007385;
    color: #fff;
}

.activity-card-container {
    max-height: 169px;
    min-height: 169px;
}

/* recent activity notices */
.recent-act-label-card {
    max-width: 360px;
    min-width: 360px;
    min-height: 70px;
    max-height: 70px;
}

.blk {
    max-width: 91px;
    min-width: 91px;
    background-color: #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.org {
    max-width: 270px;
    min-width: 270px;
    border-radius: 0px 5px 5px 0px;
    padding: 2%;
}

.org span {
    font-size: 14px;
}

/* COMMUNITY DASHBOARD: MEMBERS PAGE */
.community-member-card, .add-member-card {
    max-height: 75px;
    min-height: 75px;
}

.community-member-card {
    margin-top: 1%;
    margin-bottom: 1%;
}

.color-section {
   border-radius: 5px 0px 0px 5px;
   min-width: 17px;
   max-width: 17px; 
   padding: 0;
   margin: 0;
}

.member-name {
    height: 100%;
    padding-left: 1.5%;
    margin: auto;
}

.member-role {
    text-align: right;
    padding-right: 2%;
}

/* ADD MEMBER MODAL */

.add-member-card {
    border: 2px dashed rgba(0, 115, 133, 0.2);
    margin: 1% auto 1% auto;
    max-width: 1280px;
    min-width: 1280px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.add-member-modal, .close-modal-btn {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add-member-modal-wrapper {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    height: 420px;
}

.add-member-modal-wrapper h4 {
    margin-top:0;
}

.close-modal-btn {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 0;
}

.close-modal-btn span {
    font-size: 36px;
}

.add-member-modal-content {
    padding-left: 40px;
    padding-right: 40px;
}

/* COMMUNITY DASHBOARD: LABELS PAGE */
.bc-label-container {
    padding: 1%;
    flex-wrap: wrap;
}

.bc-label-container > div {
    margin-right: 1.6%;
}

.proj-info-container p {
    margin-top: 0;
}

.additional-proj-info {
    text-align: right;
}

.proj-title-container h4, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.proj-title-container h2 {
    font-size: 40px;
    cursor: pointer;
}

.additional-proj-info img, .proj-label-summary img {
    width: 90.3px;
    height: 70px;
}

.mini-label-container div {
    margin-left: 3%;
}

/* COMMUNITY DASHBOARD: LABELS EXPANDABLE CONTENT */

.proj-label-summary h4, .set-nav p, .border-left h3, .reqs, .notice-top p, .notice-card h4 {
    margin: 0;
}

.proj-expand, #proj-expand {
    overflow: auto;
}

.proj-btns {
    text-align: right;
}

.proj-btns button {
    min-width: 119px;
    max-width: 119px;
}

.w-200px {
    max-width: 200px;
    min-width: 200px;
}

.proj-label-summary h4 {
    padding: 0;
    font-weight: 500;
}

/* COMMUNITY DASHBOARD: SETTINGS */
.set-nav {
    max-height: 80px;
    min-height: 80px;
}

.border-left{
    border-left: 1px solid #000;
    padding-left: 2%;
}

.form-one {
    margin-top: 1%;
    margin-bottom: 2%;
}

/* COMMUNITY DASHBOARD: Activity */

.notice-top span {
    transform: rotate(45deg);
    font-size: 36px;
}

.notice-info, .notice-msg {
    margin-left: 1%;
}

.notice-msg {
    background: rgba(56, 116, 171, 0.1);
}

.notice-card h4 {
    padding: 0;
}

.notice-date {
    font-style: italic;
    color: #A09D9D;
}

.notice-btns {
    padding: 5px;
}

.notice-btns a {
    display: block;
    width: 174px;
}

.notice-btns i {
    font-size: 18px;
}

.orange-btn {
    background-color: #EF6C00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* RESEARCHER PAGE: NOTICES */

.add-notice-btn {
    margin-right: 1%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px dashed #A09D9D;
    color: #A09D9D;
}

.add-notice-btn span {
    font-size: 40px;
    margin: auto;
}

.add-notice-text {
    color: #A09D9D;
    padding-top: 2.3%;
    padding-left: 1%;
}

/* Add project */

.select-notice {
    margin-right: 15px;
    margin-top: 15px;
}

.dashed-border {
    border: 1px dashed #000;
    border-radius: 5px;
    margin: 0 1% 0 2%;
    padding: 10px;
    font-size: 14px;
    width: 822px;
}

.contrib-msg {
    width: 500px;
    height: 50px;
}

.expedition-select {
    width: 163px;
}

.is-public-checkbox {
    margin-right: 10px;
}

/* Attach Labels */
.implement-labels-textarea {
    width: 1041px;
    height: 218px;
}

.default-label-textarea {
    width: 752px;
    height: 131px;
}

.default-label-textarea, .implement-labels-textarea {
    border: 1px dashed #000000;
}

.label-margin img {
    margin-right: 2%;
    margin-bottom: 2%;
}

.default-label-img {
    width: 147.97px;
    height: 113.63px;
}

.bottom-dashed {
    border-bottom: 1px dashed #007385;
    padding-bottom: 2%;
    padding-top: 1%;
}

/* Community: Labels */
#collapsed-card, #collapsed-tkcard {
    height: 113px;
}

#expand-bclabels {
    overflow: hidden;
}

#bclabel-info {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* COMMUNITY: PROJECT */
.small-label img {
    height: 70px;
    width: 90.3px;
}

.custom-labels {
    padding-right: 12px;
    padding-left: 12px;
}

.approved-label {
    margin-top: 57px;
}

/* COMMUNITY: ACTIVITY */

.half-card-container {
    margin: auto;
    max-width: 1280px;
    min-width: 1280px;
    margin-top: 15px;
    align-items: flex-start;
}

.half-card {
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 49.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.activity-card {
    border: 1px solid #007385;
    border-radius: 5px;
    margin-bottom: 10px;
}

.shift-down {
    margin-top: auto;
    margin-bottom: auto;
}

.shift-down img {
    padding-top: 5px;
}

/* Activity: Apply labels */
.add-label-mini-card {
    margin-top: 35px;
    border: 1px dashed #A09D9D;
    border-radius: 5px;
    width: 160px;
    height: 101px;
}

.add-label-mini-card div {
    margin: 20px 10px;
    text-align: center;
}

/* Community: create project 'customise a new label' button */
#grey-border-div {
    width: 160px;
    height: 101px;
    border: 1px dashed #A09D9D;
    border-radius: 5px;
    margin-top: 30px;
}

#grey-border-div a {
    display: inline-block;
    margin-top: 23px;
}

/* Customise TK Label page */

.img-sizedown-151-116 {
    width: 151px;
    height: 116px;
}

/* Institution: Notify */
.selected-community {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 19px;
    border: 2px dashed #007385;
    border-radius: 5px;
    height: 67px;
    width: 492px;
}

.center-name, .close-x {
    margin: 0;
    align-items: center;
}

.close-x {
    color: #007385;
    font-size: 1.2em;
}

/* MODAL check label type in comm:labels:select-label */
.type-modal-box {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    height: 250px;
}

/* Notification V2 (Institutions) */

.dropdown {
    position: relative;
}

.notification-dropdown-content {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #fff;
    height: 546px;
    width: 386px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    left: 0;
    margin-top: 15px;
    margin-left: -150px;
    overflow: auto;
}

.notification-type-tag {
    padding: 3px 8px;
    border-radius: 2px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Textbox message add-members */
.add-member-message {
    width: 100px;
}

/* CREATE INSTITUTION NO ROR */
.noror-modal-box {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    height: 550px;
}

/* TOGGLE SWITCH */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 1.73px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #007385;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #007385;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }