{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_header.html' %}

<section id="registration-section" class="flex-this">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            <div class="mini-logo-container">
                <img class="mini-logo" src="{% static 'images/logos/lc-logo-mini.png' %}">
            </div>

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Register</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Verify Email</li>
                    <li>
                        <div class="bullet big">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><path d="M16 4c6.6 0 12 5.4 12 12s-5.4 12-12 12S4 22.6 4 16 9.4 4 16 4zm0-4C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0z"></path><circle cx="16" cy="16" r="6"></circle></svg>
                        </div>
                        Create Your Profile</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Connect or Create an Account</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Start Creating Labels and Notices</li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">
    
            <div class="form-house flex-this column">
                <h2 class="darkteal-text">Create your profile</h2>
                <p>This information will be kept secure to protect your identity.</p>
    
                <form action="{% url 'create-profile' %}" method="POST" class="flex-this column">
                    {% csrf_token %}
                    <div class="flex-this form-elem-group">

                        <div class="one">
                            <label for="full_name">Name</label><br>
                            <input type="text" id="full_name" name="full_name">
                        </div>

                        <div class="two">
                            <label for="username">Username</label><br>
                            <input type="text" id="username" name="username">
                        </div>
                    </div>
    
                    <label for="jobtitle">Job Title</label><br>
                    <input type="text" id="job_title" name="job_title"><br>
    
    
                    <div class="flex-this form-elem-group">
                        <div class="one">
                            <label for="country">Country</label><br>
                            <input type="country" id="country" name="country"><br>
                        </div>
                        <div class="two">
                            <label for="location">City, Town, or Provence</label><br>
                            <input type="location" id="location" name="location">    
                        </div>
                    </div>
                    <label for="select">What is the reason for registering?</label><br>
                    <select>
                        <option value=""></option>
                        <option value="reg-community-acct">Register a Community Account</option>
                        <option value="reg-institution-acct">Register an Institution Account</option>
                        <option value="reg-research-acct">Register a Research Account</option>
                    </select> 

                    <br>
                    <button id="continue" class="white-text action-btn">Continue</button>
                </form>
            </div>
    
        </div>
    
        </div>
    </div>

</section>


{% include 'partials/_footer.html' %}
{% endblock %}