{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_header.html' %}

<section id="registration-section" class="flex-this">
    <div id="reg-card" class="flex-this">

        <div id="progress-container" class="orange-bg white-text flex-this">
            <img class="login-logo" src="{% static 'images/logos/lc-logo-signin.png' %}">
        </div>
    
        <div id="complete-form-container" class="flex-this column">
            <div class="flex-this row top-right">
                    <p>Not a Member?<a href="{% url 'register' %}" class="darkteal-text"> Register</a></p>
            </div>

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div class="form-house flex-this column">
                <h2 class="darkteal-text">Sign In with Local Contexts</h2>
    
                <form action="{% url 'login' %}" method="POST" class="flex-this column">
                    {% csrf_token %}
                    <div>
                        <label>Email Address</label>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <button id="login-user-btn" class="white-text action-btn">Sign In</button>

                </form>
            </div>
    
        </div>
    </div>

</section>

{% include 'partials/_footer.html' %}
{% endblock %}