{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_header.html' %}

<section id="registration-section" class="flex-this">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            <div class="mini-logo-container">
                <img class="mini-logo" src="{% static 'images/logos/lc-logo-mini.png' %}">
            </div>

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>
                        <div class="bullet big">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><path d="M16 4c6.6 0 12 5.4 12 12s-5.4 12-12 12S4 22.6 4 16 9.4 4 16 4zm0-4C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0z"></path><circle cx="16" cy="16" r="6"></circle></svg>
                          </div>
                        Register
                    </li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Verify Email</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Create Your Profile</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Connect or Create an Account</li>
                    <li>
                        <div class="bullet">
                            <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
                        </div>
                        Start Creating Labels and Notices</li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">
            <div class="flex-this row top-right">
                    <p>Already a Member?<a href="{% url 'login' %}" class="darkteal-text"> Sign in</a></p>
            </div>

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div class="form-house flex-this column">
                <h2 class="darkteal-text">Register with Local Contexts</h2>
    
                <form action="{% url 'register' %}" method="POST" class="flex-this column">
                    {% csrf_token %}
                    <div class="flex-this form-elem-group">

                        <div class="one">
                            <label for="first_name">First name</label><br>
                            <input type="text" id="first_name" name="first_name">
                        </div>

                        <div class="two">
                            <label for="last_name">Last name</label><br>
                            <input type="text" id="last_name" name="last_name">
                        </div>
                    </div>
    
                    <label for="username">Username</label><br>
                    <input type="text" id="username" name="username" required><br>
    
                    <label for="email">Email Address</label><br>
                    <input type="email" id="email" name="email" required><br>
    
                    <div class="flex-this form-elem-group">
                        <div class="one">
                            <label for="password">Password</label><br>
                            <input type="password" id="password" name="password" required>    
                        </div>
                        <div class="two">
                            <label for="confirm-password">Confirm Password</label><br>
                            <input type="password" name="password2" required>        
                        </div>
                    </div>

                    <div class="flex-this row checkbox-div">
                        <div id="checkbox">
                            <input type="checkbox" id="terms-agreement" name="terms-agreement" required>
                        </div>
                        <div id="checkbox-label">
                            <label for="terms-agreement">
                                Creating an account means you agree with the <a href="#" class="darkteal-text">Term and Conditions</a> and <a href="#" class="darkteal-text">Data Sovereignty Agreement</a>.
                            </label>
                        </div>
                    </div>

                    <br>
                    <button id="register-new-user-btn" class="white-text action-btn">Register</button>
                </form>
            </div>
    
        </div>
    </div>

</section>


{% include 'partials/_footer.html' %}
{% endblock %}