{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_header.html' %}

<section id="registration-section" class="flex-this">
    <div id="reg-card" class="flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            <div class="mini-logo-container">
                <img class="mini-logo" src="{% static 'images/logos/lc-logo-mini.png' %}">
            </div>

            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column">
                    <li>Register</li>
                    <li>Verify Email</li>
                    <li>Create Your Profile</li>
                    <li>Connect or Create an Account</li>
                    <li>Start Creating Labels and Notices</li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Because Local Contexts Matters
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
    
            <div id="validate-content" class="flex-this column">
                <h2 class="darkteal-text">Verify Your Email</h2>
                <p>Thank you for registering with Local Contexts. <br><br>
                Please click the button below to confirm your email address and activate your account.</p>

                <!-- <form method="POST"> -->
                    <button id="verify-email-btn" class="white-text action-btn">Verify email</button>
                    <button id="resend-email-btn" class="white-bg darkteal-text">Re send email</button>    
                <!-- </form> -->
    
            </div>
    
        </div>
    </div>

</section>


{% include 'partials/_footer.html' %}
{% endblock %}