{% extends "admin/change_list.html" %}{% load admin_list i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type='text/css' href="{% static 'css/admin.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
  <script src="https://kit.fontawesome.com/e4bd889de7.js" crossorigin="anonymous"></script>
{% endblock %}