{% load static %}

<div class="dashboard">
    <div class="dashboard-item">
        <h2>Today: {% now "M. d, Y, H:i e" %}</h2>
    </div>

    <div class="flex-this col2">
        <div class="dashboard-item-25"></div>

        <div class="dashboard-item-25">
            <canvas id="myChart"></canvas>
        </div>

        <div class="dashboard-item-25">
            <canvas id="myChart2"></canvas>
        </div>

        <div class="dashboard-item-25"></div>
    </div>

    <div id="colorPicker" class="flex-this space-between center-text justify-center">
        <div class="stats-count-div">
            <h2>Registered</h2>
            <p>
                Communities - {{ community_count }} <br>
                Institutions - {{ institution_count}} <br>
                Researchers - {{ researcher_count }} <br>
                <br>
                <strong>TOTAL: {{ reg_total }} </strong>
            </p>
        </div>        
        <div class="stats-count-div">
            <h2>Notices</h2>
            <p>
                TK - {{ tk_notice_count }} <br>
                BC - {{ bc_notice_count }} <br>
                Attribution Incomplete - {{ attr_notice_count }} <br>
                Open to Collaborate - {{ otc_count }} <br><br>
                <strong>TOTAL: {{ notices_total }} </strong>
            </p>
        </div>
        <div class="stats-count-div">
            <h2>Projects</h2>
            <p>
                Communities - {{ community_projects }} <br>
                Institutions - {{ institution_projects }} <br>
                Researchers - {{ researcher_projects }}<br><br>
                <strong>TOTAL: {{ projects_count }} </strong>
            </p>
        </div>
        <div class="stats-count-div">
            <h2>Labels</h2>
            <p>
                TK - {{ tklabels_count }} <br>
                BC - {{ bclabels_count }} <br><br>
                <strong>TOTAL: {{ total_labels }} </strong>
            </p>
        </div>           
    </div>

    <div class="flex-this col2">
        <div class="dashboard-item-50">
            <h2>Recent Project Action Updates</h2>
            <hr class="searchbar-divider">

            <div class="flex-this">
                <div class="flex-this align-center">
                    <form method="GET" action="" class="flex-this">
                        <select name="sort" class="project-sort">
                            <option
                                class="darkteal-text pointer" 
                                value="all"
                            >
                                Filter: All
                            </option>
                            <option
                                class="darkteal-text pointer" 
                                value="all"
                            >
                                Filter: Label(s) Added
                            </option>
                            <option
                                class="darkteal-text pointer" 
                                value="all"
                            >
                                Filter: Notice(s) Added
                            </option>
                            <option
                                class="darkteal-text pointer" 
                                value="all"
                            >
                                Filter: Project Created
                            </option>
                        </select>  
                        <input class="primary-btn action-btn margin-left-8" type="submit" value="Filter"> 
                    </form>
                    <p class="flex-this right-text">Total:100</p>
                </div>
            </div>
            <br>
            <table class="projects-table">
                <tr>
                    <th>Action</th>
                    <th>Date/Time</th>
                </tr>
                <tr>
                    <td>TK A Label added to Project Name by Account Name</td>
                    <td>April 20, 2023 4:00PM EST</td>
                </tr>
                <tr>
                    <td>OTC Notice added to Account Name</td>
                    <td>April 20, 2023 4:00PM EST</td>
                </tr>
                <tr>
                    <td>Project Name created by Account Name</td>
                    <td>April 20, 2023 4:00PM EST</td>
                </tr>
                <tr>
                    <td>AI Notice added to Project Name by Account Name</td>
                    <td>April 20, 2023 4:00PM EST</td>
                </tr>
            </table>
        </div>
    
        <div class="dashboard-item-50">
            <h2>Map</h2>
            <hr class="searchbar-divider">
            <div class="flex-this align-center">
                <form method="GET" action="" class="flex-this">
                    <select name="sort" class="project-sort">
                        <option
                            class="darkteal-text pointer" 
                            value="all"
                        >
                            Filter: All
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="all"
                        >
                            Filter: Communities
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="all"
                        >
                            Filter: Institutions
                        </option>
                        <option
                            class="darkteal-text pointer" 
                            value="all"
                        >
                            Filter: Researchers
                        </option>
                    </select>  
                    <input class="primary-btn action-btn margin-left-8" type="submit" value="Filter"> 
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="module" id="recent-actions-module">
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>None Available</p>
        {% else %}
        <ul class="actionlist">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            <br>
            {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
            {% else %}
                <span class="mini quiet">Unknown Content</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div> -->
</div>

<script src="{% static 'javascript/admin.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    window.onload = function() {
        pieChart('myChart', 'Registered Hub Accounts', {{accountData|safe}});
        pieChart('myChart2', 'Project Labels/Notices', {{projectActivityData|safe}});
    };
</script>