{% extends 'admin/base_site.html' %}{% load admin_list i18n static %}

{% block title %}Dashboard | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Local Contexts Hub Administration') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs flex-this space-between">
        <div>
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; Dashboard
        </div>
        <div>
            <a href="/admin/admin/">Admin Tables</a>
        </div>
    </div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block coltype %}dasboard-main{% endblock %}
{% block content %}
    <div class="dashboard">
        <div class="w-100">
            <div class="dash-card flex-this space-between">
                <h1 class="margin-left-1">Dashboard Data for {{date|date:"F d, Y, H:i e" }}</h1>
                <form id="dashboardDateFilter" class="flex-this align-center margin-right-1" method="POST">
                    {% csrf_token %}
                    <input style="border:none;height:20px;" type="datetime-local" id="start" name="filter-date"
                    value="{{date|date:'Y-m-d H:i' }}" max="{% now 'Y-m-d H:i' %}">
                    <input class="date-btn" type="submit" value="Change Date" name="_changedate">
                    <input class="date-btn" type="submit" value="Reset Date" name="_resetdate">
                </form>
            </div>
        </div>

        <!-- Data Charts and Counts (Visualizations) -->
        {% include 'admin/partials/_data-visuals.html' %}

    </div>
{% endblock %}