<div 
    id="removeMemberModal_{% if admin %}{{ admin.id }}{% endif %}{% if editor %}{{ editor.id }}{% endif %}{% if viewer %}{{ viewer.id }}{% endif %}" 
    class="modal hide"
>

    <div class="modal-defaults deactivate-modal flex-this column w-100">
        <div class="modal-content-padding w-100">

            <div>
                <h2 class="primary-black-text">Are you sure?</h2>  
                <p>
                    Are you sure you want remove member 
                        {% if admin %} {% if admin.get_full_name %} {{ admin.get_full_name }} ({{ admin.username }}) {% else %} {{ admin.username }} {% endif %} {% endif %}
                        {% if editor %} {% if editor.get_full_name %} {{ editor.get_full_name }} ({{ editor.username }}) {% else %} {{ editor.username }} {% endif %} {% endif %}
                        {% if viewer %} {% if viewer.get_full_name %} {{ viewer.get_full_name }} ({{ viewer.username }}) {% else %} {{ viewer.username }} {% endif %} {% endif %}
                    from
                    {% if community %} {{ community.community_name }}{% endif %}
                    {% if institution %} {{ institution.institution_name }}{% endif %}
                    ? 
                </p>  
            </div>
            <div class="flex-this w-100 text-align-center">
                <a 
                    {% if community %}
                        {% if admin %}
                            href="{% url 'remove-member' community.id admin.id %}" 
                        {% endif %}
                        {% if editor %}
                            href="{% url 'remove-member' community.id editor.id %}" 
                        {% endif %}
                        {% if viewer %}
                            href="{% url 'remove-member' community.id viewer.id %}" 
                        {% endif %}
                    {% endif %}

                    {% if institution %}
                        {% if admin %}
                            href="{% url 'remove-institution-member' institution.id admin.id %}" 
                        {% endif %}
                        {% if editor %}
                            href="{% url 'remove-institution-member' institution.id editor.id %}" 
                        {% endif %}
                        {% if viewer %}
                            href="{% url 'remove-institution-member' institution.id viewer.id %}" 
                        {% endif %}
                    {% endif %} 
                    class="primary-btn white-btn margin-right-1"
                >
                Yes, remove member</a>    
                <div 
                    id="closeRemoveMemberModal_{% if admin %}{{ admin.id }}{% endif %}{% if editor %}{{ editor.id }}{% endif %}{% if viewer %}{{ viewer.id }}{% endif %}" 
                    class="margin-left-1 primary-btn action-btn"
                >Cancel</div>
            </div>

        </div>
    </div>
</div>