.grey-bg {
    margin: 0;
    padding-top: 3%;
    background-color: #f1f4f5;
}

#user-info-container {
    margin: auto;
    padding: 1%;
    max-width: 90%;
    min-width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#user-affiliation-container {
    margin: 1% auto;
    padding: 1%;
    min-width: 100%;
    max-width: 100%;
}

#user-icon-container {
    padding-left: 1%;
}

.profile-settings {
    width: 100%;
    justify-content: flex-end;
}

.user-info {
    width:100%;
    padding: 1%;
}

#user-affiliation-content {
    width: 95%;
    justify-content: center;
    margin: auto;
    padding: 0.5%;
}

.member-card {
    margin: 1%;
    width: 32%;
    min-height: 265px;
    max-height: 265px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.member-card-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 195px;
}

.member-card-img img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.member-card-text {
    padding: 1%;
    width: 100%;
    margin-bottom: 1%;
}

.member-card-text h3, .member-card-text p {
    width: 100%;
    margin: 0;
    padding: 1%;
}