#reg-header {
    background-color: #3876aa;
    width: 100%;
}

.generic-logo-container {
    width: 40%;
    padding: 2% 2% 1% 4%;
}

.logo {
    min-width: 200px;
    max-width: 200px;
    padding: 1% 2% 1% 4%;
}

.generic-nav {
    width: 60%;
    justify-content: flex-end;
    padding-right: 2%;
}

.generic-nav-ul {
    padding: 2%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.generic-nav li {
    padding: 2% 3% 0.5% 1%;
}

.generic-nav a {
    font-weight: 300;
}

#btn-group {
    align-items: flex-end;
    border: 1px solid white;
    border-radius: 5px;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
}

#btn-group li {
    border-radius: 3px;
    padding: 1%;
    width: 50%;
    text-align: center;
}

#btn-group a {
    font-weight: 400;
}

@media only screen and (max-width: 820px) {
    #reg-header, .generic-nav-ul {
        flex-direction: column;
    }

    .generic-logo-container, .generic-nav, .generic-nav li, #btn-group {
        width: 100%;
        text-align: center;
    }

    #btn-group {
        max-width: 50%;
        margin: auto;
    }
}