#validate-content {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    text-align: center;
}

#verify-email-btn {
    margin: 1% auto 2% auto;
    font-size: 14px;
}

#resend-email-btn {
    border: none;
    max-width: 130px;
    min-width: 130px;
    margin: 2% auto 2% auto;
}