{% if member_role == 'admin' or member_role == 'editor' or researcher %}
    <div class="margin-top-16">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="flex-this row">
                <div class="w-90"> {{ form.message }} </div>
                <div class="margin-left-1"><button class="primary-btn action-btn" name="add-comment-btn">Send</button></div>
            </div>
            {% if form.errors %}
                <div class="msg-red w-50"><small>{{ form.errors.as_text }}</small></div> 
            {% endif %}
        </form>        
    </div>
{% endif %}