{% load static %}

<div id="footer-logos-wrapper" class="flex-this">
    <div class="footer-logo-container flex-this row">
        <div>
            <img src="{% static 'images/footer/Local-Contexts-Logo-White.png' %}" alt="Local Contexts logo">
        </div>
        <div>
            <img src="{% static 'images/footer/NEH-Preferred-Seal-Transparent820.png' %}" alt="National Endowment for the Humanities logo">
        </div>
        <div>
            <img src="{% static 'images/footer/nyu_short_white.png' %}" alt="New York University logo">
        </div>
        <div>
            <img src="{% static 'images/footer/WSU-Logo.png' %} " alt="Washington State University logo">
        </div>
        <div>
            <img src="{% static 'images/footer/IDIA_Website_Logo.png' %} " alt="Indigenous Design & Innovation Aotearoa (IDIA) logo">
        </div>
        <div>
            <img src="{% static 'images/footer/Enrich_without_text.png' %} " alt="ENRICH logo">    
        </div>
    </div>
</div>