{% load static %}
<div id="onboardingModal" class="modal hide">

    <div class="onboarding-modal flex-this column w-100">

            <!-- Card 1 : Welcome -->
            <div class="onboard-step onboard-step-active">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">Nice to meet you {% if user.first_name %} {{ user.first_name }}, {% else %} {{ user.username }}, {% endif %}</h1></div>
                        <div class="w-90">
                            <p>
                                Thanks for signing up with us! We look forward to seeing what you create! 
                                <br><br>
                                Please allow at least five minutes to complete this tour.
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Let's get started <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 orange-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text"><img class="logo-lg-onboard" src="{% static 'images/logos/lc-vertical-white-1.png' %}"></div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 2 : Profile -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">1/6 Your profile</h1></div>
                        <div class="w-90">
                            <p>
                                The profile enables you to join multiple accounts on the hub. You can create accounts on behalf of your Indigenous community, institution or as a researcher.
                                In the profile section, you can access all the different accounts you are a member of.
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16">
                                <img src="{% static 'images/onboarding/profile-img.png' %}">
                            </div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 3: Accounts -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">2/6 Accounts</h1></div>
                        <div class="w-90">
                            <p>
                                There are three account types: Indigenous communities, institutions, and researchers.
                                <br><br>
                                Depending on the account you have, you can develop Labels or Notices.
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16">
                                <img src="{% static 'images/onboarding/accounts-img.png' %}">
                            </div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 4: Local Contexts Projects -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">3/6 Local Contexts Projects</h1></div>
                        <div class="w-90">
                            <p>
                                Local Contexts Projects assist in documenting cultural material on the hub. Institutions and researchers can apply Notices to it, and Indigenous communities can apply their customized Labels. 
                                <br><br>
                                There are various types of Projects, such as collections, items, expeditions, exhibitions, or samples.  
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16"><img src="{% static 'images/onboarding/projects-img.png' %}"></div>
                            <div class="section-bar-container"><img src="{% static 'images/onboarding/section-bar-projects.png' %}"></div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 5: Labels -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">4/6 Labels</h1></div>
                        <div class="w-90">
                            <p>
                                The Label descriptions can be customized by Indigenous communities to ensure that their local and traditional protocols are embedded in those Labels.
                                <br><br>
                                When Indigenous communities apply those Labels to relevant Projects, the Labels will be used as an identifier to define how their cultural material is accessed and used.
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16">
                                <img src="{% static 'images/onboarding/labels-img.png' %}">
                            </div>
                            <div class="section-bar-container"><img src="{% static 'images/onboarding/section-bar-labels.png' %}"></div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 6: Notices -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">5/6 Notices</h1></div>
                        <div class="w-90">
                            <p>
                                Institutions and researchers can create Projects for cultural materials they protect and apply Notices to them. 
                                <br><br>
                                By applying notices it will assist Indigenous Communities to realise there is Indigenous interests in these collections and data.
                            </p>
                        </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16"><img src="{% static 'images/onboarding/notices-img.png' %}"></div>
                            <div class="section-bar-container"><img src="{% static 'images/onboarding/section-bar-notices.png' %}"></div>

                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 7: Members -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">6/6 Members</h1></div>
                        <div class="w-90">
                            <p>
                                Community and Institutional accounts can have as many members as necessary. There are three types of roles within the hub that allow different activites and permissions they are:
                                <ul>
                                    <li>Administrators</li>
                                    <li>Editors</li>
                                    <li>Viewers</li>
                                </ul>
                                To learn more about them, click on the 'Members' tab on your account dashboard. 
                            </p>
                       </div>
                        <div><button class="btn-next primary-btn action-btn">Next <i class="fa fa-long-arrow-right"></i></button></div>
                    </div>
                    <div class="w-50 onboard-blue-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text margin-bottom-16"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text margin-top-16"><img src="{% static 'images/onboarding/members-img.png' %}"></div>
                            <div class="section-bar-container"><img src="{% static 'images/onboarding/section-bar-members.png' %}"></div>
                        </div>
                    </div>                     
                </div>
            </div>

            <!-- Card 8: Finish -->
            <div class="onboard-step">
                <div class="flex-this w-100 fit-height">
                    <div class="w-50 onboard-content-margin">
                        <div><img class="logo-sm-onboard" src="{% static 'images/logos/sm-logo-registry.png' %}"></div>
                        <div><h1 class="darkteal-text">Finished!</h1></div>
                        <div class="w-90">
                            <p>
                                We appreciate you joining us on our tour. 
                                <br><br>
                                You can reach us at support@localcontexts.org if you need support during the process.
                            </p>
                        </div>
                        <div>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button class="primary-btn action-btn">Let's get started <i class="fa fa-long-arrow-right"></i></button>
                            </form>
                        </div>

                    </div>
                    <div class="w-50 orange-bg modal-right-half">
                        <div class="onboard-content-margin flex-this column">
                            <div class="right-text"><button class="close-onboarding-btn">Close X</button></div>
                            <div class="center-text"><img class="logo-lg-onboard" src="{% static 'images/logos/lc-vertical-white-1.png' %}"></div>
                        </div>
                    </div>                     
                </div>
            </div>
    </div>
</div>
