<div class="pagination">
    {% if items %}

        {% if items.has_previous %}
            <a class="page-btn-nav" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">
                <i class="fa-solid fa-chevrons-left"></i>
            </a>
            <a class="page-btn-nav page" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.previous_page_number }}">          
                <i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;Previous
            </a>

            {% if items.has_next == False %}
                {% if items.number|add:-3 >= 1 %}
                    <span class="grey-text font-size-14 bold">...</span>
                {% endif %}
            {% else %}
                {% if items.number >= 3 and items.number|add:-2 >= 1 %}
                    <span class="grey-text font-size-14 bold">...</span>
                {% endif %}
            {% endif %}

            {% if items.number == items.paginator.num_pages and items.number|add:-2 >= 1 %}
                <a class="page-num-nav page num" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.previous_page_number|add:-1 }}">{{ items.previous_page_number|add:-1 }}</a>
            {% endif %}

            {% if items.previous_page_number >= 1 %}
                <a class="page-num-nav page num" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.previous_page_number }}">{{ items.previous_page_number }}</a>
            {% endif %}

        {% else %}
            <span class="grey-text margin-right-16 font-size-14 bold"><i class="fa-solid fa-chevrons-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;Previous</span>
        {% endif %}

        <span class="current">{{ items.number }} </span>

        {% if items.has_next %}
            {% if items.next_page_number >= 1 %}
                <a class="page-num-nav page num" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.next_page_number }}">{{ items.next_page_number }}</a>
            {% endif %}

            {% if items.number == 1 and items.number|add:2 <= items.paginator.num_pages %}
                <a class="page-num-nav page num" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.next_page_number|add:1 }}">{{ items.next_page_number|add:1 }}</a>
            {% endif %}

            {% if items.has_previous == False %}
                {% if items.number|add:3 <= items.paginator.num_pages %}
                    <span class="grey-text font-size-14 bold">...</span>
                {% endif %}
            {% else %}
                {% if items.number <= items.paginator.num_pages and items.number|add:2 <= items.paginator.num_pages %}
                    <span class="grey-text font-size-14 bold">...</span>
                {% endif %}
            {% endif %}

            <a class="page-btn-nav page" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.next_page_number }}"> 
                Next&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>
            </a>
            <a class="page-btn-nav" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ items.paginator.num_pages }}">
                <i class="fa-solid fa-chevrons-right"></i>
            </a>
        {% else %}
            <span class="grey-text margin-left-16 font-size-14 bold">Next&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevrons-right"></i></span>
        {% endif %}
    
    {% else %}
        <span class="grey-text margin-right-16 font-size-14 bold"><i class="fa-solid fa-chevrons-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;Previous</span>
        <span class="current">1</span>
        <span class="grey-text margin-left-16 font-size-14 bold">Next&nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevrons-right"></i></span>
    {% endif %}
</div>

