{% load static %}{% load custom_project_tags %}

<section>
    <div class="margin-bottom-16">
        <p>
            Select which Local Contexts Notice(s) apply to this Project. To use the Open to Collaborate Notice, 
            <a 
                {% if institution %}
                    href="{% url 'institution-notices' institution.id %}"
                {% endif %}
                {% if researcher %}
                    href="{% url 'researcher-notices' researcher.id %}"
                {% endif %}
                class="darkteal-text underline-hover"
            >go to the Notices page</a>.
        </p>
    </div>

    <!-- NOTICE CHECKBOXES -->
    <div class="flex-this w-40 space-between margin-left-16 margin-bottom-16">     
        <div class="flex-this column center-text">
            <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="73px" alt="black square with white letters TK in the middle"></div>
            <div><p id="title-tk-notice" class="grey-text">Traditional<br> Knowledge Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="tk-notice" 
                    value="traditional_knowledge" 
                    type="checkbox" 
                    name="checkbox-notice" 
                    {% if notices %}
                        {% for notice in notices %}
                            {% if notice.notice_type == 'traditional_knowledge' %}
                                checked
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                > 
            <span class="margin-left-8">Select</span></div>
        </div>

        <div class="flex-this column center-text margin-left-16">
            <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="73px" alt="black square with white letters BC in the middle"></div>
            <div><p id="title-bc-notice" class="grey-text">Biocultural<br> Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="bc-notice" 
                    value="biocultural" 
                    type="checkbox" 
                    name="checkbox-notice" 
                    {% if notices %}
                        {% for notice in notices %}
                            {% if notice.notice_type == 'biocultural' %}
                                checked
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                >

            <span class="margin-left-8">Select</span></div>
        </div>

        <div class="flex-this column center-text margin-left-16 align-center">
            <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="73px"></div>
            <div><p id="title-attr-notice" class="grey-text">Attribution Incomplete <br> Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="attr-notice" 
                    value="attribution_incomplete" 
                    type="checkbox" 
                    name="checkbox-notice"
                    {% if notices %}
                        {% for notice in notices %} 
                            {% if notice.notice_type == 'attribution_incomplete'%} 
                                checked 
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                >
                <span class="margin-left-8">Select</span>
            </div>
        </div>

    </div>

    <!-- ANY EXISTING NOTICES -->
    {% if notices %}
        {% for notice in notices %}

            {% if notice.notice_type == 'traditional_knowledge' %}
                <div 
                    id="show-description-tk-notice"
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">{{ notice.name }}</h3>
                            <p>
                                {{ notice.default_text }}
                                <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>
                        
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="traditional_knowledge-fr" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'fr' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include French Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-fr"></i></div>                        
                                </div>
            
                                <div id="tk-fr" class="hide">
                                    <h4>{{ notice_translations.traditional_knowledge.fr.noticeName }}</h4>
                                    <p>{{ notice_translations.traditional_knowledge.fr.noticeDefaultText }}</p>
                                </div>
                            </div>
            
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="traditional_knowledge-es" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'es' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Spanish Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-es"></i></div>                        
                                </div>
                                <div id="tk-es" class="hide">
                                    <h4>{{ notice_translations.traditional_knowledge.es.noticeName }}</h4>
                                    <p>{{ notice_translations.traditional_knowledge.es.noticeDefaultText }}</p>
                                </div>
                            </div>
            
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="traditional_knowledge-mi" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'mi' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Māori Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-mi"></i></div>                        
                                </div>
            
                                <div id="tk-mi" class="hide">
                                    <h4>{{ notice_translations.traditional_knowledge.mi.noticeName }}</h4>
                                    <p>{{ notice_translations.traditional_knowledge.mi.noticeDefaultText }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if notice.notice_type == 'biocultural' %}
                <div   
                    id="show-description-bc-notice" 
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">{{ notice.name }}</h3>
                            <p>
                                {{ notice.default_text }}
                                <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="biocultural-fr" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'fr' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include French Translation
                                    </h3>    
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-fr"></i></div>                        
                                </div>
            
                                <div id="bc-fr" class="hide">
                                    <h4>{{ notice_translations.biocultural.fr.noticeName }}</h4>
                                    <p>{{ notice_translations.biocultural.fr.noticeDefaultText }}</p>
                                </div>
                            </div>
            
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="biocultural-es" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'es' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Spanish Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-es"></i></div>                        
                                </div>
            
                                <div id="bc-es" class="hide">
                                    <h4>{{ notice_translations.biocultural.es.noticeName }}</h4>
                                    <p>{{ notice_translations.biocultural.es.noticeDefaultText }}</p>
                                </div>
                            </div>
            
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="biocultural-mi" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'mi' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Māori Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-mi"></i></div>                        
                                </div>
                                
                                <div id="bc-mi" class="hide">
                                    <h4>{{ notice_translations.biocultural.mi.noticeName }}</h4>
                                    <p>{{ notice_translations.biocultural.mi.noticeDefaultText }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if notice.notice_type == 'attribution_incomplete' %} 
                <div 
                    id="show-description-attr-notice" 
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">{{ notice.name }}</h3>
                            <p>
                                {{ notice.default_text }} <br>
                                For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>

                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="attribution_incomplete-fr" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'fr' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include French Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-fr"></i></div>                        
                                </div>
            
                                <div id="attr-fr" class="hide">
                                    <h4>{{ notice_translations.attribution_incomplete.fr.noticeName }}</h4>
                                    <p>{{ notice_translations.attribution_incomplete.fr.noticeDefaultText }}</p>
                                </div>
                            </div>
                
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="attribution_incomplete-es" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'es' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Spanish Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-es"></i></div>                        
                                </div>
            
                                <div id="attr-es" class="hide">
                                    <h4>{{ notice_translations.attribution_incomplete.es.noticeName }}</h4>
                                    <p>{{ notice_translations.attribution_incomplete.es.noticeDefaultText }}</p>
                                </div>
                            </div>
                
                            <div class="notice-translation__container">
                                <div class="flex-this space-between">
                                    <h3>
                                        <input 
                                            value="attribution_incomplete-mi" 
                                            type="checkbox" 
                                            name="checkbox-translation"
                                            {% for translation in notice.notice_translations.all %}
                                                {% if translation.language_tag == 'mi' %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        >
                                        Include Māori Translation
                                    </h3>
                                    <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-mi"></i></div>                        
                                </div>
            
                                <div id="attr-mi" class="hide">
                                    <h4>{{ notice_translations.attribution_incomplete.mi.noticeName }}</h4>
                                    <p>{{ notice_translations.attribution_incomplete.mi.noticeDefaultText }}</p>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}


    <!-- NOTICES TO ADD -->
    {% for notice in notice_defaults %}
        {% if notice.noticeType == 'traditional_knowledge' %}
            <div 
                id="show-description-tk-notice"
                class="hide"
            >
                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                    <div class="w-80 pad-top-1">
                        <div>
                            <h3 class="no-top-margin">{{ notice.noticeName }}</h3>
                            <p> 
                                {{ notice.noticeDefaultText}} <br> 
                                For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="traditional_knowledge-fr" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include French Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-fr"></i></div>                        
                            </div>

                            <div id="tk-fr" class="hide">
                                <h4>{{ notice_translations.traditional_knowledge.fr.noticeName }}</h4>
                                <p>{{ notice_translations.traditional_knowledge.fr.noticeDefaultText }}</p>
                            </div>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="traditional_knowledge-es" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Spanish Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-es"></i></div>                        
                            </div>
                            <div id="tk-es" class="hide">
                                <h4>{{ notice_translations.traditional_knowledge.es.noticeName }}</h4>
                                <p>{{ notice_translations.traditional_knowledge.es.noticeDefaultText }}</p>
                            </div>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="traditional_knowledge-mi" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Māori Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="tk-mi"></i></div>                        
                            </div>

                            <div id="tk-mi" class="hide">
                                <h4>{{ notice_translations.traditional_knowledge.mi.noticeName }}</h4>
                                <p>{{ notice_translations.traditional_knowledge.mi.noticeDefaultText }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if notice.noticeType == 'biocultural' %}
            <div   
                id="show-description-bc-notice" 
                class="hide"
            >
                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                    <div class="w-80 pad-top-1">
                        <div>
                            <h3 class="no-top-margin">Biocultural Notice</h3>
                            <p>{{ notice.noticeDefaultText }} <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="biocultural-fr" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include French Translation
                                </h3>    
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-fr"></i></div>                        
                            </div>

                            <div id="bc-fr" class="hide">
                                <h4>{{ notice_translations.biocultural.fr.noticeName }}</h4>
                                <p>{{ notice_translations.biocultural.fr.noticeDefaultText }}</p>
                            </div>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="biocultural-es" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Spanish Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-es"></i></div>                        
                            </div>

                            <div id="bc-es" class="hide">
                                <h4>{{ notice_translations.biocultural.es.noticeName }}</h4>
                                <p>{{ notice_translations.biocultural.es.noticeDefaultText }}</p>
                            </div>
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="biocultural-mi" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Māori Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="bc-mi"></i></div>                        
                            </div>
                            
                            <div id="bc-mi" class="hide">
                                <h4>{{ notice_translations.biocultural.mi.noticeName }}</h4>
                                <p>{{ notice_translations.biocultural.mi.noticeDefaultText }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if notice.noticeType == 'attribution_incomplete' %}
            <div 
                id="show-description-attr-notice" 
                class="hide"
            >
                <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                    <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                    <div class="w-80 pad-top-1">
                        <div>
                            <h3 class="no-top-margin">{{ notice.noticeName }}</h3>
                            <p>
                                {{ notice.noticeDefaultText }}
                                For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>                    
                        </div>

                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="attribution_incomplete-fr" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include French Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-fr"></i></div>                        
                            </div>

                            <div id="attr-fr" class="hide">
                                <h4>{{ notice_translations.attribution_incomplete.fr.noticeName }}</h4>
                                <p>{{ notice_translations.attribution_incomplete.fr.noticeDefaultText }}</p>
                            </div>
                        </div>
            
                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="attribution_incomplete-es" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Spanish Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-es"></i></div>                        
                            </div>

                            <div id="attr-es" class="hide">
                                <h4>{{ notice_translations.attribution_incomplete.es.noticeName }}</h4>
                                <p>{{ notice_translations.attribution_incomplete.es.noticeDefaultText }}</p>
                            </div>
                        </div>
            
                        <div class="notice-translation__container">
                            <div class="flex-this space-between">
                                <h3>
                                    <input 
                                        value="attribution_incomplete-mi" 
                                        type="checkbox" 
                                        name="checkbox-translation"
                                    >
                                    Include Māori Translation
                                </h3>
                                <div class="flex-this align-center"><i class="fa-solid fa-angle-down fa-2xl toggle-icon pointer" data-target="attr-mi"></i></div>                        
                            </div>

                            <div id="attr-mi" class="hide">
                                <h4>{{ notice_translations.attribution_incomplete.mi.noticeName }}</h4>
                                <p>{{ notice_translations.attribution_incomplete.mi.noticeDefaultText }}</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>  
        {% endif %}
    {% endfor %}
  
</section>
