{% load static %}

<div>
    <p>
        Select which Local Contexts Notice(s) apply to this Project. To use the Open to Collaborate Notice, 
        <a 
            {% if institution %}
                href="{% url 'institution-notices' institution.id %}"
            {% endif %}
            {% if researcher %}
                href="{% url 'researcher-notices' researcher.id %}"
            {% endif %}
            class="darkteal-text underline-hover"
        >go to the Notices page</a>.
    </p><br>

    <div class="flex-this w-40 space-between margin-left-16">     
        <div class="flex-this column center-text">
            <div><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="73px" alt="black square with white letters TK in the middle"></div>
            <div><p id="title-tk-notice" class="grey-text">Traditional<br> Knowledge Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="tk-notice" 
                    value="tknotice" 
                    type="checkbox" 
                    name="checkbox-notice" 
                    {% if notices %}
                        {% for notice in notices %}
                            {% if notice.notice_type == 'traditional_knowledge' %}
                                checked
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                > 
            <span class="margin-left-8">Select</span></div>
        </div>

        <div class="flex-this column center-text margin-left-16">
            <div><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="73px" alt="black square with white letters BC in the middle"></div>
            <div><p id="title-bc-notice" class="grey-text">Biocultural<br> Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="bc-notice" 
                    value="bcnotice" 
                    type="checkbox" 
                    name="checkbox-notice" 
                    {% if notices %}
                        {% for notice in notices %}
                            {% if notice.notice_type == 'biocultural' %}
                                checked
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                >

            <span class="margin-left-8">Select</span></div>
        </div>


        <div class="flex-this column center-text margin-left-16 align-center">
            <div><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="73px"></div>
            <div><p id="title-attr-notice" class="grey-text">Attribution Incomplete <br> Notice</p></div>
            <div class="notice-checkbox-container">

                <input 
                    id="attr-notice" 
                    value="attribution_incomplete" 
                    type="checkbox" 
                    name="checkbox-notice"
                    {% if notices %}
                        {% for notice in notices %} 
                            {% if notice.notice_type == 'attribution_incomplete'%} 
                                checked 
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                >
                <span class="margin-left-8">Select</span>
            </div>
        </div>

    </div>

    <h3>Notice Text</h3>
    {% if notices %}
        {% for notice in notices %}

            {% if notice.notice_type == 'traditional_knowledge' %}
                <div 
                    id="show-description-tk-notice"
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Traditional Knowledge Notice</h3>
                            <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if notice.notice_type == 'biocultural' %}
                <div   
                    id="show-description-bc-notice" 
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Biocultural Notice</h3>
                            <p>The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if notice.notice_type == 'attribution_incomplete' %} 
                <div 
                    id="show-description-attr-notice" 
                    class="show"
                >
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
                        <div class="w-80 pad-top-1">
                            <h3 class="no-top-margin">Attribution Incomplete Notice</h3>
                            <p>
                                Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. <br> 
                                For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}

    <div 
        id="show-description-tk-notice"
        class="hide"
    >
        <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
            <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle"></div>
            <div class="w-80 pad-top-1">
                <h3 class="no-top-margin">Traditional Knowledge Notice</h3>
                <p>The TK Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material. The TK Notice may indicate that TK Labels are in development and their implementation is being negotiated. <br> For more information about the TK Notices click <a href="https://localcontexts.org/notice/tk-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
            </div>
        </div>
    </div>

    <div   
        id="show-description-bc-notice" 
        class="hide"
    >
        <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
            <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle"></div>
            <div class="w-80 pad-top-1">
                <h3 class="no-top-margin">Biocultural Notice</h3>
                <p>The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated. <br> For more information about the BC Notices click <a href="https://localcontexts.org/notice/bc-notice/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.</p>
            </div>
        </div>
    </div>

    <div 
        id="show-description-attr-notice" 
        class="hide"
    >
        <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
            <div class="w-15 pad-top-1"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="119px" alt="black square with white letters BC in the middle"></div>
            <div class="w-80 pad-top-1">
                <h3 class="no-top-margin">Attribution Incomplete Notice</h3>
                <p>
                    Collections and items in our institution have incomplete, inaccurate, and/or missing attribution. We are using this notice to clearly identify this material so that it can be updated, or corrected by communities of origin. Our institution is committed to collaboration and partnerships to address this problem of incorrect or missing attribution. <br> 
                    For more information about the Attribution Incomplete Notice click <a href="https://localcontexts.org/notice/attribution-incomplete/" class="underline-hover" target="_blank" rel="noopener"><span class="darkteal-text">here</span></a>.
                </p>
            </div>
        </div>
    </div>    
</div>
