<!-- Mini Labels for Researcher:Notices  -->

{% load static %}

{% for bclabel in project.bclabels.all %}
    <div>
        {% if bclabel.label_type == 'commercialization' %}
            <img src="{% static 'images/bc-labels/bc-open-to-commercialization.png' %}" alt="BC Open to Commercialization (BC OC) Label">
        {% endif %}

        {% if bclabel.label_type == 'provenance' %}
            <img src="{% static 'images/bc-labels/bc-provenance.png' %}" alt="BC Provenance (BC P) Label">
        {% endif %}

        {% if bclabel.label_type == 'collaboration' %}
            <img src="{% static 'images/bc-labels/bc-open-to-collaboration.png' %}" alt="BC Open to Collaboration (BC OC) Label">
        {% endif %}

        {% if bclabel.label_type == 'consent_verified' %}
            <img src="{% static 'images/bc-labels/bc-consent-verified.png' %}" alt="BC Consent Verified (BC CV) Label">
        {% endif %}

        {% if bclabel.label_type == 'multiple_community' %}
            <img src="{% static 'images/bc-labels/bc-multiple-community.png' %}" alt="BC Multiple Communities (BC MC) Label">
        {% endif %}

        {% if bclabel.label_type == 'research' %}
            <img src="{% static 'images/bc-labels/bc-research-use.png' %}" alt="BC Research Use (BC R) Label">
        {% endif %}

    </div>
{% endfor %}