{% extends 'account-base.html' %} {% block title %} Connections {% endblock %}{% load static %} {% block institution_content %}{% load custom_project_tags %} {% load custom_institution_tags %}

<div class="content-card-v2 content-card-space">
    <div class="w-70">
        <h2 class="no-top-margin">Connections</h2>
        <p>
            Connections are established when Labels are applied to a Project by a community or when this account is added to a Project as a contributor.
            Here you can see all the accounts that you have collaborated on Projects with.
        </p>
    </div>
</div>

{% for inst in institutions %}
    <div class="dashcard">
        <div class="flex-this">
            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if inst.image %} {{ inst.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                    alt="{{ inst.institution_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{{ inst }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Institution | Members: {% if inst.get_member_count < 10 %}0{{ inst.get_member_count }}{% else %}{{ inst.get_member_count }}{% endif %} | 
                        Location: {{ inst.get_location }}
                    </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if inst.description %}{{ inst.description }} {% else %} No description provided. {% endif %}</p></div>
            </div>

            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-institution' inst.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ inst.institution_name }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>

        </div>
        <div id="expand-div-{{ inst.institution_name }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Account Contact Name</span> | {% firstof inst.institution_creator.get_full_name  inst.institution_creator.username %}
                    <span class="bold margin-left-8">Account Contact Email</span> | {{ inst.institution_creator.email }}
                    <span class="bold margin-left-8">Website</span> | {{ inst.website }} <br><br>
                </p>                        
            </div>

            <div>
                <h3> Projects</h3>
                {% connections_collaborative_projects institution inst as projects %}
                <table class="projects-table">
                    <tr>
                        <th><i class="fa-regular fa-line-columns"></i> Title</th>
                        <th><i class="fa-light fa-user"></i> Creator</th>
                        <th><i class="fa-light fa-calendar"></i> Last updated</th>
                        <th>Visibility</th>
                    </tr>
    
                    {% for project in projects %}
                        {% include 'projects/project-overview.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endfor %}

{% for researcher in researchers %}
    <div class="dashcard">
        <div class="flex-this">
            <div class="researcher-img-container">
                <img loading="lazy" 
                    src=" {% if researcher.image %} {{ researcher.image.url }} {% else %} {% static 'images/placeholders/researcher-place.jpg' %} {% endif %}" 
                    alt="{{ researcher.researcher_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{% firstof researcher.user.get_full_name researcher.user.username %}</h3></div>
                <div>
                    <p class="dashcard-subheader">Researcher | Location: {{ profile.get_location }} </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if researcher.description %}{{ researcher.description }} {% else %} No description provided. {% endif %}</p></div>
            </div>
            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-researcher' researcher.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ researcher.id }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

        <div id="expand-div-{{ researcher.id }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Contact Email</span> | {% if researcher.contact_email %} {{ researcher.contact_email }} {% else %} {{ researcher.user.email }} {% endif %} <br><br>
                </p>   
            </div> 
            
            <div>
                <h3> Projects </h3>
                {% connections_collaborative_projects institution researcher as projects %}
                <table class="projects-table">
                    <tr>
                        <th><i class="fa-regular fa-line-columns"></i> Title</th>
                        <th><i class="fa-light fa-user"></i> Creator</th>
                        <th><i class="fa-light fa-calendar"></i> Last updated</th>
                        <th>Visibility</th>
                    </tr>
    
                    {% for project in projects %}
                        {% include 'projects/project-overview.html' %}
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>
{% endfor %}

{% for community in communities %}
    <div class="dashcard">
        <div class="flex-this">

            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                    alt="{{ community.community_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{{ community }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | 
                        Location: {{ community.get_location }}
                    </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p></div>
            </div>

            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-community' community.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ community.community_name }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div id="expand-div-{{ community.community_name }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Account Contact Name</span> | {% firstof community.community_creator.get_full_name community.community_creator.get_full_name %}
                    <span class="bold margin-left-8">Account Contact Email</span> | {{ community.community_creator.email }} <br><br>
                </p>      
            </div>   
            
            <div>
                <h3>Projects </h3>
                {% connections_collaborative_projects institution community as projects %}
                <table class="projects-table">
                    <tr>
                        <th><i class="fa-regular fa-line-columns"></i> Title</th>
                        <th><i class="fa-light fa-user"></i> Creator</th>
                        <th><i class="fa-light fa-calendar"></i> Last updated</th>
                        <th>Visibility</th>
                    </tr>
    
                    {% for project in projects %}
                        {% include 'projects/project-overview.html' %}
                    {% endfor %}
                </table>                    
            </div>
        </div>
    </div>
{% endfor %}
    
{% endblock %}