{% extends 'account-base.html' %} {% block title %} Connections {% endblock %}{% load static %} {% block institution_content %}{% load custom_project_tags %} {% load custom_institution_tags %}

<div class="content-card-v2 content-card-space">
    <div class="w-70">
        <h2 class="no-top-margin">Connections</h2>
        <p>
            Connections are established when Labels are applied to a Project by a community or when this account is added to a Project as a contributor.
            Here you can see all the accounts that you have collaborated on Projects with.
        </p>
    </div>
</div>

{% for inst in institutions %}
    <div class="dashcard">
        <div class="flex-this">
            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if inst.image %} {{ inst.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                    alt="{{ inst.institution_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{{ inst }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Institution | Members: {% if inst.get_member_count < 10 %}0{{ inst.get_member_count }}{% else %}{{ inst.get_member_count }}{% endif %} | 
                        Location: {% if inst.city_town %} {{ inst.city_town }}, {% endif %} {% if inst.state_province_region %} {{ inst.state_province_region }}, {% endif %} {% if inst.country.name %} {{ inst.country.name }}{% endif %}
                        {% if not inst.city_town and not inst.state_province_region and not inst.country %}
                            None specified
                        {% endif %}
                    </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if inst.description %}{{ inst.description }} {% else %} No description provided. {% endif %}</p></div>
            </div>

            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-institution' inst.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ inst.institution_name }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>

        </div>
        <div id="expand-div-{{ inst.institution_name }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Account Contact Name</span> | {% firstof inst.institution_creator.get_full_name  inst.institution_creator.username %}
                    <span class="bold margin-left-8">Account Contact Email</span> | {{ inst.institution_creator.email }}
                    <span class="bold margin-left-8">Website</span> | {{ inst.website }} <br><br>
                </p>                        
            </div>

            <div>
                <h3> Related Projects </h3>
                <ul>
                    {% connections_collaborative_projects institution inst as projects %}
                    {% for project in projects %}
                        <li>
                            <a 
                                class="darkteal-text underline-hover"
                                href="{% url 'institution-project-actions' institution.id project.unique_id %}"
                            >{{ project.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}

{% for researcher in researchers %}
    <div class="dashcard">
        <div class="flex-this">
            <div class="researcher-img-container">
                <img loading="lazy" 
                    src=" {% if researcher.image %} {{ researcher.image.url }} {% else %} {% static 'images/placeholders/researcher-place.jpg' %} {% endif %}" 
                    alt="{{ researcher.researcher_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{% firstof researcher.user.get_full_name researcher.user.username %}</h3></div>
                <div>
                    <p class="dashcard-subheader">Researcher | Location: 
                        {% if profile.city_town %} {{ profile.city_town }}, {% endif %} 
                        {% if profile.state_province_region %} {{ profile.state_province_region }}, {% endif %} 
                        {% if profile.country.name %} {{ profile.country.name }}{% endif %}
                        {% if not profile.city_town and not profile.state_province_region and not profile.country %}
                            None specified
                        {% endif %}
                    </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if researcher.description %}{{ researcher.description }} {% else %} No description provided. {% endif %}</p></div>
            </div>
            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-researcher' researcher.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ researcher.id }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

        <div id="expand-div-{{ researcher.id }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Contact Email</span> | {% if researcher.contact_email %} {{ researcher.contact_email }} {% else %} {{ researcher.user.email }} {% endif %} <br><br>
                </p>   
            </div> 
            
            <div>
                <h3> Related Projects </h3>
                <p>
                    <ul>
                        {% connections_collaborative_projects institution researcher as projects %}
                        {% for project in projects %}
                            <li>
                                <a 
                                    class="darkteal-text underline-hover"
                                    href="{% url 'institution-project-actions' institution.id project.unique_id %}"
                                >{{ project.title }}</a>
                            </li>
                        {% endfor %}                                
                    </ul>
                </p>
            </div>

        </div>

    </div>
{% endfor %}

{% for community in communities %}
    <div class="dashcard">
        <div class="flex-this">

            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                    alt="{{ community.community_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3 darkteal-text">{{ community }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Community | Members: {% if community.get_member_count < 10 %}0{{ community.get_member_count }}{% else %}{{ community.get_member_count }}{% endif %} | 
                        Location: {% if community.city_town %} {{ community.city_town }}, {% endif %} {% if community.state_province_region %} {{ community.state_province_region }}, {% endif %} {% if community.country.name %} {{ community.country.name }}{% endif %}
                        {% if not community.city_town and not community.state_province_region and not community.country %}
                            None specified
                        {% endif %}
                    </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p></div>
            </div>

            <div class="dashcard-btn-container">
                <div class="margin-right-8">
                    <a class="primary-btn action-btn" href="{% url 'public-community' community.id %}">View public page</a>
                </div>
                <div>
                    <span id="{{ community.community_name }}" class="primary-btn white-btn" onclick="showMore(this)">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div id="expand-div-{{ community.community_name }}" class="hide">
            <div class="border-bottom-dash-teal">
                <p class="no-bottom-margin">
                    <span class="bold">Account Contact Name</span> | {% firstof community.community_creator.get_full_name community.community_creator.get_full_name %}
                    <span class="bold margin-left-8">Account Contact Email</span> | {{ community.community_creator.email }} <br><br>
                </p>      
            </div>   
            
            <div>
                <h3>Related Projects </h3>
                <ul>
                    {% connections_collaborative_projects institution community as projects %}
                     {% for project in projects %}
                        <li>
                            <a
                                class="darkteal-text underline-hover"
                                href="{% url 'institution-project-actions' institution.id project.unique_id %}"
                            >
                                {{ project.title }}
                            </a>
                        </li>
                    {% endfor %}                    
                </ul>                           
            </div>
        </div>
    </div>
{% endfor %}
    
{% endblock %}