{% extends 'reg-base.html' %} {% block title %} | Connect {% endblock %}{% load static %} {% block card %}
    
<div class="flex-this column">

    <div class="form-heading flex-this column w-90">
        <h2 class="darkteal-text margin-bottom-2">Institution Account</h2>
        <p>Please first check if your institution is already registered. If your institution is not in our register, you can create a new institution account.</p>    
    </div>

     <div>
         <label for="institution-search">Search our institution register</label><br>
         {% if institutions %}
            <input id="selectedOrganizationInputList" list="institutions" name="institutions" class="w-100">
            <datalist id="institutions">
                {% for institution in institutions %}
                    <option value="{{ institution.institution_name }}">
                {% endfor %}
            </datalist>
         {% endif %}
     </div>

     <div class="flex-this space-between margin-top-1">
         <div><a class="darkteal-text" href="{% url 'create-institution' %}">Or create an institution account</a></div>
         <div><button id="openJoinRequestModalBtn" class="action-btn margin-top-2 ">Next <i class="fa fa-long-arrow-right"></i></button></div>
     </div>

</div>

<div id="joinRequestModal" class="modal" style="display: none;">

    <div class="noror-modal-box flex-this column w-100">
  
        <div id="close-modal" class="close-modal-btn w-100"> <span class="darkteal-text close-modal">&times;</span></div>
        <div class="add-member-modal-content w-100">

            <div>
                <h2 style="color: #333333;">Request to join</h2>  
                <p>Every profile has various roles within the community. These roles are:<br>
                    <strong>Administrator:</strong> responsible for carrying out membership responsibilities<br>
                    <strong>Editor:</strong> responsible for customizing Labels and projects<br>
                    <strong>Viewer:</strong> can view activity happening on the hub
                </p>  
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <input id="hidden-target-input" type="hidden" value="" name="organization_name">

                <div class="flex-this column w-100">

                    <!-- <label class="pad-top-1-5" for="community">Community Name</label> -->
                    
                        <div class="w-50 pad-top-1-5 margin-right-1">
                            <label class="pad-top-1-5" for="role">Requested Role</label><br>
                            {{ form.role }}
                        </div>
                        
                        <div class="pad-top-1-5">
                            <label class="pad-top-1-5" for="message">Optional Message</label><br>
                            {{ form.message }}
                        </div>

                        {% if form.errors %}
                            <small class="red-text">{{ form.errors }}</small>
                        {% endif %}

                    {% include 'partials/_alerts.html' %}
        
                </div>
                <div class="text-align-right">
                    <button class="action-btn margin-top-2 ">Send request to join</button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}