{% extends 'reg-base.html' %} {% load static %} {% block card %}
    
<div class="flex-this column centered-content">
    <div>
        <img src="{% static 'images/logos/welcome-logo.png' %}" width="209px">
    </div>

    <h2 class="darkteal-text">Hello Name, <br> Welcome to Local Contexts</h2>
    <p>
        Before we start would you like to connect with an existing Institution or create your own?<br>

        <button class="white-text action-btn connect-btn">Search the Register</button><br>
        OR <br>
        <button class="white-text action-btn connect-btn">Create an Institution profile</button>
    </p>

</div>

{% endblock %}