{% extends 'reg-base.html' %} {% load static %} {% block card %}

<div class="flex-this column w-90">
    <div>
        <h2 class="darkteal-text">Institution Account</h2>  
        <p>Create an account for an institution.</p>  
    </div>

    <form action="" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="flex-this column">
            <label class="pad-top-1-5" for="institution_name">Name</label>
            {{ form.institution_name }}

            <!-- TODO: Add ROR functionality -->
            <!-- <input type="text" class="search" placeholder="Search Institutions">
            <ul id="institution-suggestions" class="suggestions">
            </ul> -->
    
            <label class="pad-top-1-5" for="town_or_city">Town or City</label>
            {{ form.town_or_city }}
    
            <label class="pad-top-1-5" for="country">Country (if different from personal country)</label>
            {{ form.country }}
        </div>

        <div class="w-100 flex-this">
            <div class="w-50 pad-top-1-5">
                <label for="contact_name">Contact Name</label><br>
                {{ form.contact_name }}
            </div>

            <div class="w-50 pad-top-1-5">
                <label for="contact_email">Contact Email</label><br>
                {{ form.contact_email }}
            </div>
        </div>


        {% include 'partials/_alerts.html' %}

        <div>
            <button class="action-btn default-btn">Continue</button>
        </div>
    </form>

</div>

{% endblock %}