{% extends 'reg-base.html' %} {% block title %} | Create Institution {% endblock %}{% load static %} {% block card %}


<div class="flex-this column w-90">
    <div>
        <h2 class="darkteal-text">Institution Account</h2>  
        <p>Create an account for an institution.</p>  
    </div>

    <div class="flex-this column w-100">

        <div class="flex-this column">
                <label class="pad-top-1-5" for="country">Country</label>
                <select><option>----------</option></select>

            <div class="flex-this w-100">
                <div class="w-50 margin-right-1 pad-top-1-5">
                    <label for="institution-type-select">Institution Type</label>

                    <select class="w-100">
                        <option disabled selected="selected">-- Select Institution Type --</option>
                    </select>
                </div>
                <div class="w-50 pad-top-1-5">
                    <label for="institution-select">Institution Name</label>
                    <select class="w-100">
                        <option disabled selected="selected">-- Select Institution Name --</option>
                    </select>
                </div>
            </div>

            <small>Can't find the institution you are looking for? <a href="{% url 'create-institution-noror' %}"><span class="darkteal-text">Fill out this form.</span></a></small>

    
            <label class="pad-top-1-5" for="city_town">Town or City</label>
            <input type="text">
        </div>

        <div class="w-100 flex-this">
            <div class="w-50 pad-top-1-5 margin-right-1">
                <label for="contact_name">Contact Name</label><br>
                <input type="text" class="w-100">
            </div>

            <div class="w-50 pad-top-1-5">
                <label for="contact_email">Contact Email</label><br>
                <input type="text" class="w-100">
            </div>
        </div>

        <div>
            <button class="action-btn margin-top-2  default-btn">Continue</button>
        </div>
    </div>

</div>

<div id="add-member-modal" class="modal" style="display: block;">

    <div class="noror-modal-box flex-this column w-100">
  
        <div id="close-modal" class="close-modal-btn w-100"> <a class="darkteal-text" href="{% url 'create-institution' %}"><span>&times;</span></a></div>
        <div class="add-member-modal-content w-100">

            <div>
                <h2 class="darkteal-text">Institution Application Form</h2>  
                <p>Apply to create an account for an institution.</p>  
            </div>

            <form method="POST" action="{% url 'create-institution-noror' %}">
                {% csrf_token %}
                <div class="flex-this column w-100">

                    <label class="pad-top-1-5" for="country">Institution Name</label>
                    {{ form.institution_name }}

                    <div class="w-100 flex-this">
                        <div class="w-50 pad-top-1-5 margin-right-1">
                            <label for="contact_name">Contact Name</label><br>
                            {{ form.contact_name }}
                        </div>
                        
                        <div class="w-50 pad-top-1-5">
                            <label for="contact_email">Contact Email</label><br>
                            {{ form.contact_email }}
                        </div>
                    </div>

                    <div class="w-100 flex-this space-between">
                        
                        <div class="pad-top-1-5 margin-right-1 w-50">
                            <label class="pad-top-1-5" for="city_town">Town or City</label><br>
                            {{ form.city_town }}
                        </div>

                        <div class="pad-top-1-5 w-50">
                            <label class="pad-top-1-5" for="city_town">State or Province</label><br>
                            {{ form.state_province_region }}
                        </div>
                    </div>

                    <div class="pad-top-1-5 margin-right-1">
                        <label class="pad-top-1-5" for="country">Country</label><br>
                        {{ form.country }} 
                    </div>

                    {% if form.errors %}
                        <small class="red-text">{{ form.errors }}</small>
                    {% endif %}
                    {% include 'partials/_alerts.html' %}
        
                    <div class="text-align-right margin-top-8">
                        <button class="action-btn margin-top-2 ">Apply to create an institution</button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}