{% extends 'reg-base.html' %} {% block title %} | Create Institution {% endblock %}{% load static %} {% block card %}

<div class="flex-this column w-90">
    <div class="margin-bottom-1 flex-this space-between">
        <h2 class="darkteal-text">Institution Account</h2>  
        <div class="margin-top-16">or <a class="darkteal-text" href="{% url 'connect-institution' %}">Request to join an institution account</a>  </div>
    </div>

    <p class="no-bottom-margin no-top-margin">The information you provide here will be displayed in the Local Contexts Registry. This is to ensure others are aware that you are active in the Local Contexts network. Read how your data will managed and protected <a href="#">here</a>.</p>

    <form action="" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="flex-this column">
                <label class="pad-top-1-5" for="country">Country</label>
                {{ form.country }}

            <div class="flex-this w-100">
                <div class="w-50 margin-right-1 pad-top-1-5">
                    <label for="institution-type-select">Institution Type</label>
                    <div class="tooltip"><strong>i</strong>
                        <span class="tooltiptext">Options: <br> Nonprofit <br> Company <br> Education <br> Facility <br> Government <br> Healthcare <br> Archive <br> Other</span>
                    </div>

                    <select id="institution-type-select" class="w-100">
                        <option disabled selected="selected">-- Select Institution Type --</option>
                    </select>
                </div>
                <div class="w-50 pad-top-1-5">
                    <label for="institution-select">Institution Name</label>
                    <select id="institution-select" name="institution_name" class="w-100" required>
                        <option disabled selected="selected" value="">-- Select Institution Name --</option>
                    </select>
                </div>
            </div>

            <small>These institutions come from <a href="https://ror.org/" target="_blank">ROR</a>. If your institution is not listed here, <a href="{% url 'create-institution-noror' %}"><span class="darkteal-text">please fill out this form</span>.</a></small>

        </div>

        <div class="w-100 flex-this">
            <div class="w-50 pad-top-1-5 margin-right-1">
                <label class="pad-top-1-5" for="city_town">Town or City</label><br>
                {{ form.city_town }}
            </div>

            <div class="w-50 pad-top-1-5">
                <label for="state_province_region">State, Province, or Region</label>
                <div class="tooltip"><strong>i</strong>
                    <span class="tooltiptext">By stating your location we will be able to connect your projects with communities associated with this location.</span>
                </div>
                
                <br>
                {{ form.state_province_region }}
            </div>
        </div>

        <div class="w-100 margin-top-8">
            <label for="description">Institution Description</label>
            <div class="tooltip"><strong>i</strong>
                <span class="tooltiptext">An institution description allows you to share key public information about your institution or organization with other users on the Hub.</span>
            </div>
            {{ form.description }}
        </div>

        <div class="flex-this space-between margin-top-8">
            <div>
                {% if form.errors %}
                    <small class="red-text">{{ form.errors }}</small>
                {% endif %}
                {% include 'partials/_alerts.html' %}
            </div>
    
            <div class="text-align-right">
                <button class="action-btn margin-top-2 ">Get Started <i class="fa fa-long-arrow-right"></i></button>
            </div>
        </div>
    </form>

</div>

{% endblock %}