{% extends 'register-base.html' %} {% block title %} Create Institution {% endblock %}{% load static %} {% block card %}

<div class="flex-this column account-registration-container">
    <div class="flex-this space-between">
        <div><h2 class="no-top-margin margin-bottom-8">Institution Account</h2></div>
        <div>Or <a class="darkteal-text underline-hover" href="{% url 'connect-institution' %}">request to join an existing institution</a>  </div>
    </div>

    <p class="no-bottom-margin no-top-margin">
        The institution details provided below will default to a public display in the Local Contexts Registry.
        Providing your details will give consent to publicly being listed on the Registry.
        Read more about our privacy standards <a class="darkteal-text underline-hover" href="https://localcontexts.org/privacy-policy/" target="_blank" rel="noopener">here <i class="fa-solid fa-arrow-up-right-from-square fa-xs"></i></a>
    </p>


    <form action="" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <div class="margin-top-16 w-100">
            <label for="institution_name">Institution Name</label>
            {{ noror_form.institution_name }}
        </div>

        <div>
            <p class="blue-highlight">
                If your institution is listed on <a class="darkteal-text underline-hover" href="https://ror.org/" target="_blank" rel="noopener">ROR <i class="fa-regular fa-arrow-up-right-from-square fa-2xs"></i></a>, please fill out <a href="{% url 'create-institution' %}" class="darkteal-text underline-hover pointer">this form instead</a>.
            </p>
        </div>

        <div class="w-100 flex-this">
            <div class="w-50 margin-right-1">
                <label class="pad-top-1-5" for="city_town">Town or City</label><br>
                {{ noror_form.city_town }}
            </div>

            <div class="w-50">
                <label for="state_province_region">State, Province, or Region</label>
                <div class="tooltip"><strong>i</strong>
                    <span class="tooltiptext">By stating your location we will be able to connect your Projects with communities associated with this location.</span>
                </div>
                
                <br>
                {{ noror_form.state_province_region }}
            </div>
        </div>

        <div>
            <label class="pad-top-1-5" for="country">Country</label><br>
            {{ noror_form.country }}                
        </div>

        <div class="w-100">
            <div class="pad-top-1-5">
                <label for="description">Institution Description</label>
                <div class="tooltip"><strong>i</strong>
                    <span class="tooltiptext">An institution description allows you to share key public information about your institution or organization with other users on the Hub.</span>
                </div>

                <br>
                {{ noror_form.description }}
            </div>
            <small id="charCount" class="block text-align-right">200/200</small>
        </div>

        <div class="flex-this space-between">
            <div>

                {% if noror_form.errors %}
                    {% for field_name, errors in noror_form.errors.items %}
                        <div class="red-text">
                            <strong>{{ field_name }}</strong>:
                            {% for error in errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}

                {% include 'partials/_alerts.html' %}
            </div>
            
            <div class="margin-top-8">
                <button class="primary-btn action-btn margin-top-2" name="create-institution-btn">Continue <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>

    </form>

</div>

{% endblock %}