{% extends 'institution-base.html' %} {% load static %}{% block institution_content %}

<div class="white-bg content-card content-card-space noti-card">
    
        <p><a href="{% url 'institution-projects' institution.id %}"><span class="darkteal-text">Projects</span></a> <span>>> Create New Project</span></p>

        <div>
            <h3 class="orange-text">Create a Project</h3>
            <form method="POST" action="">
                {% csrf_token %}

                <label>What are you applying the notice to?</label><br>
                <select>
                    <option>Item</option>
                    <option>Collection</option>
                    <option>Expedition</option>
                    <option>Sample</option>
                </select>

                <p class="weight-500">Project Overview</p>

                <label>Project Title</label><br>
                <input type="text"><br>

                <label>Date Created</label><br>
                <input type="text"><br>

                <label>Project Description</label><br>
                <input type="text"><br>

                <p class="weight-500">Project Metadata</p>

                <label>Principal Investigator</label><br>
                <input type="text"><br>

                <label>Principal Investigator Affiliation</label><br>
                <input type="text"><br>

                <label>Project Contact Name* </label><br>
                <input type="text"><br>

                <label>Project Contact Email*</label><br>
                <input type="text"><br>

                <label>Project DOI</label><br>
                <input type="text"><br>

                <label>Project Data GUID</label><br>
                <input type="text"><br>

                <label>Recommended Citation</label><br>
                <input type="text"><br>

                <label>Project URL</label><br>
                <input type="text"><br>

                <label>GEOME Project ID</label><br>
                <input type="text"><br>

                <p class="weight-500">Apply Notices</p>
                <p>1. Select a Notice</p><br>

                <input type="radio"> <img src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle">
                <input type="radio"> <img src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle">

                <p>2. View Notice Description</p><br>

                <div class="flex-this">
                    <div class="w-15">
                        <img src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle">
                    </div>

                    <div class="w-80">
                        <h3 class="weight-400 no-top-margin">Traditional Knowledge Notice</h3>
                        <p>
                            This Notice should be used to recognize the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity and genetic resources associated with traditional lands, waters, and territories. It acknowledges the importance of cultural protocols and recognizes that appropriate permissions may need to be sought for future use of this material.
                        </p>
                    </div>
                </div>
                <button class="action-btn">Save Project <i class="fa fa-long-arrow-right"></i></button>

            </form>
        </div>

</div>

{% endblock %}