{% extends 'institution-base.html' %} {% load static %}{% block institution_content %}

<div class="white-bg content-card content-card-space noti-card">
    
        <p><a href="{% url 'institution-projects' institution.id %}"><span class="darkteal-text">Projects</span></a> <span>>> Create New Project</span></p>

        <div>
            <h3 class="orange-text">Create a Project</h3>
            <form method="POST" action="">
                {% csrf_token %}

                <label>What are you applying the notice to?</label><br>
                {{ form.project_type }} <br>

                <p class="weight-500">Project Overview</p>

                <label>Project Title</label><br>
                {{ form.title }} <br>

                <label>Date Created</label><br>
                {{ form.publication_date }} <br>

                <label>Project Description</label><br>
                {{ form.description }} <br>

                <p class="weight-500">Project Metadata</p>

                <label>Project Contact Name* </label><br>
                {{ form.project_contact }} <br>

                <label>Project Contact Email*</label><br>
                {{ form.project_contact_email }} <br>

                <label>Project DOI</label><br>
                {{ form.publication_doi }} <br>

                <label>Project Data GUID</label><br>
                {{ form.project_data_guid }} <br>

                <label>Recommended Citation</label><br>
                {{ form.recommended_citation }} <br>

                <label>Project URL</label><br>
                {{ form.url }} <br>

                <label>GEOME Project ID</label><br>
                {{ form.geome_project_id }} <br>

                <p class="weight-500">Apply Notices</p>
                <p>1. Select Notices</p><br>

                <div class="flex-this">
                    
                    <div class="flex-this column center-text">
                        <div>
                            <input id="tk-notice" onclick="showDescription()" value="tknotice" type="checkbox" name="checkbox-notice">
                        </div>
                        <div>
                            <img src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle">
                        </div>
                        <div>
                            <p class="grey-text">Traditional<br> Knowledge<br> Notice</p>
                        </div>
                    </div>
    
                    <div class="flex-this column center-text pad-left-1-5">
                        <div>
                            <input id="bc-notice" onclick="showDescription()" value="bcnotice" type="checkbox" name="checkbox-notice">
                        </div>
                        <div>
                            <img src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle">
                        </div>
                        <div>
                            <p class="grey-text">Biocultural<br> Notice</p>
                        </div>
                    </div>

                </div>


                <p>2. View Notice Description</p>

                <div id="show-notice-description-tk" style="display: none;">
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1">
                            <img src="{% static 'images/notices/tk-notice.png' %}" alt="black square with white letters TK in the middle">
                        </div>
    
                        <div class="w-80 pad-top-1">
                            <h3 class="weight-500 no-top-margin">Traditional Knowledge Notice</h3>
                            <p>
                                This Notice should be used to recognize the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity and genetic resources associated with traditional lands, waters, and territories. It acknowledges the importance of cultural protocols and recognizes that appropriate permissions may need to be sought for future use of this material.
                            </p>
                        </div>
                    </div>
                </div>

                <div id="show-notice-description-bc" style="display: none;">
                    <div class="flex-this border-top-solid-teal border-bottom-solid-teal">
                        <div class="w-15 pad-top-1">
                            <img src="{% static 'images/notices/bc-notice.png' %}" alt="black square with white letters BC in the middle">
                        </div>
    
                        <div class="w-80 pad-top-1">
                            <h3 class="weight-500 no-top-margin">Biocultural Notice</h3>
                            <p>
                                The BC Notice is a visible notification that there are accompanying cultural rights and responsibilities that need further attention for any future sharing and use of this material or data. The BC Notice recognizes the rights of Indigenous peoples to permission the use of information, collections, data and digital sequence information generated from the biodiversity or genetic resources associated with traditional lands, waters, and territories. The BC Notice may indicate that BC (Biocultural) Labels are in development and their implementation is being negotiated.                            </p>
                        </div>
                    </div>
                </div>


                {{ form.errors }}
                <button class="action-btn">Save Project <i class="fa fa-long-arrow-right"></i></button>

            </form>
        </div>

</div>

{% endblock %}