{% extends 'sub-base.html' %} {% block title %} | Members {% endblock %}{% load static %} {% block institution_content %}

    <div>
            <div class="content-card white-bg flex-this community-member-card">
                <div class="orange-bg color-section">
                </div>
                <div class="w-90 member-name">
                    <h4 class="weight-500">
                        {% if institution.institution_creator.get_full_name %}
                            {{ institution.institution_creator.get_full_name }}
                        {% else %}
                            {{ institution.institution_creator }}
                        {% endif %}
                    </h4>
                </div>
                <div class="w-20 member-role">
                    <h4>Administrator</h4>
                </div>
            </div>

            {% for admin in institution.get_admins %}

                <div class="content-card white-bg flex-this community-member-card">
                    <div class="orange-bg color-section">
                    </div>
                    <div class="w-90 member-name">
                        <h4 class="weight-500">
                            {% if admin.get_full_name %}
                                {{ admin.get_full_name }}
                            {% else %}
                                {{ admin }}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="w-20 member-role">
                        <h4>Administrator</h4>
                    </div>
                </div>

            {% endfor %}

            {% for editor in institution.get_editors %}
                <div class="content-card white-bg flex-this community-member-card">
                    <div class="darkgreen-bg color-section">
                    </div>
                    <div class="w-90 member-name">
                        <h4 class="weight-500">
                            {% if editor.get_full_name %}
                                {{ editor.get_full_name }}
                            {% else %}
                                {{ editor }}
                            {% endif %}                        
                        </h4>
                    </div>
                    <div class="w-20 member-role">
                        <h4>Editor</h4>
                    </div>
                </div>
            {% endfor %}

            {% for viewer in institution.get_viewers %}
                <div class="content-card white-bg flex-this community-member-card">
                    <div class="darkteal-bg color-section">
                    </div>
                    <div class="w-90 member-name">
                        <h4 class="weight-500">
                            {% if viewer.get_full_name %}
                                {{ viewer.get_full_name }}
                            {% else %}
                                {{ viewer }}
                            {% endif %}                        
                        </h4>                    </div>
                    <div class="w-20 member-role">
                        <h4>Viewer</h4>
                    </div>
                </div>
            {% endfor %}

                {% if member_role == 'viewer' %}
                {% else %}
                    <a href="{% url 'add-institution-member' institution.id %}">
                        <div class="flex-this add-member-card">
                            <div class="w-100 add-member">
                                <h4 class="darkteal-text weight-500">+ Add Members </h4>
                            </div>
                        </div>
                    </a>
                {% endif %}

    </div>

{% endblock %}