{% extends 'institution-base.html' %} {% block title %} | Projects {% endblock %}{% load static %} {% load custom_institution_tags %} {% block institution_content %}
{% institution_contributing_projects institution as institution_projects_contrib %}

    <div class="content-card content-card-space white-bg">

        <div class="flex-this space-between">
            <div class="w-60">
                <h2>Local Contexts Projects</h2>
            </div>
            {% if member_role == 'viewer'%}
            {% else %}
                <div class="flex-this align-center">
                    <a class="action-btn" href="{% url 'inst-create-project' institution.id %}">
                        Create a project     <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="w-70">
            <p class="no-top-margin">
                A Local Context Project outlines data/information to which a notice and/or labels will be applied. A Local Contexts Project has space for project details, project contacts, project metadata, project disclosures, and is the first step to applying notices, notifying communities, and exporting notices for use in other places.
            </p>
        </div>

    </div>

    {% if institution.projects %}
        {% for project in institution.projects.all %}
            <div class="content-card-v2 content-card-space white-bg">

                <div id="project-unique-{{ project.unique_id}}" class="flex-this space-between column" style="scroll-margin-top: 8em;">
            
                    <div class="w-100 flex-this">

                        <div class="w-50"> 
                                <h4 class="darkteal-text weight-600 no-top-margin">{{  project.title }}</h4>
                                <p class="no-top-margin">
                                    Date Created: {{  project.date_added }}<br>
                                    Project Type: {{  project.project_type }}<br>
                                    Project Contributors: 

                                    {% if project.project_contributors %}
                                        {% for institution in project.project_contributors.institutions.all %}
                                            {{ institution.institution_name }},
                                        {% endfor %}
                                        {% for community in project.project_contributors.communities.all %}
                                            {{ community.community_name }},
                                        {% endfor %}
                                        {% for researcher in project.project_contributors.researchers.all %}
                                            {{ researcher.user.get_full_name }},
                                        {% endfor %}
                                    {% endif %}
                                    
                                    <br>
                                </p>
                        </div>
            
                        <div class="w-50 flex-this column">
                            <div class="flex-this flex-end w-100">
                                <div>
                                    <a id="{{ project.id }}" onclick="showMoreProject(this)" class="darkteal-text pointer">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                </div>
                            </div> 
                        </div>
            
                    </div>
            
                </div>

                <div class="flex-this space-between">
                    <div class="w-90">
                        <p class="margin-right-1">{{ project.description }}</p>
                    </div>
                    <div class="w-20">
                        <div class="notice-btns center-text">
                            <a href="{% url 'view-project' project.unique_id %}" class="action-btn">View Project</a>
                        </div>

                        {% if member_role == 'viewer' %}
                        {% else %}
                            <div>
                                <a href="{% url 'notify-communities' institution.id project.id %}">
                                    <button class="action-btn">Notify Communities <i class="fa fa-users" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <p>
                        Project Contact: {{ project.project_contact}} <br>
                        Project Contact Email: {{ project.project_contact_email}} <br>
                        Project URL: {{ project.url }}
                    </p>
                </div>

                <div class="flex-this column" id="expand-contrib-{{ project.id }}" style="height: 0px; overflow:hidden;">
                    {% if project.bclabels.all or project.tklabels.all %}
                        <div><p class="weight-500">Labels attached to this project</p></div>
                    {% else %}
                        <div><p class="weight-500">No Labels attached to this project</p></div>
                    {% endif %}

                        {% for bclabel in project.bclabels.all %}

                            <div class="flex-this">
                                <div class="small-label">
                                    {% include 'bclabels/which-label.html' %}
                                </div>
                                <div class="pad-left-2">
                                    <p class="darkteal-text no-top-margin">Label shared by {{ bclabel.community.community_name }} </p>
                                    <p class="weight-500"> {{ bclabel.name }} </p>
                                    <p>
                                        {{ bclabel.default_text}}
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}

                        {% for tklabel in project.tklabels.all %}

                        <div class="flex-this">
                            <div class="small-label">
                                {% include 'tklabels/which-label.html' %}
                            </div>
                            <div class="pad-left-2">
                                <p class="darkteal-text no-top-margin">Label shared by {{ tklabel.community.community_name }} </p>
                                <p class="weight-500"> {{ tklabel.name }} </p>
                                <p>
                                    {{ tklabel.default_text}}
                                </p>
                                <hr>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        {% endfor %}
    {% endif %}

    {% if institution_projects_contrib %}
            {% for contrib in institution_projects_contrib %}
                {% if contrib.project in institution.projects.all %}
                {% else %}
                    <div class="content-card-v2 content-card-space white-bg">

                        <div id="project-unique-{{ contrib.project.unique_id}}" class="flex-this space-between column" style="scroll-margin-top: 8em;">
                    
                            <div class="w-100 flex-this">
        
                                <div class="w-50"> 
                                        <h4 class="darkteal-text weight-600 no-top-margin">{{  contrib.project.title }}</h4>
                                        <p class="no-top-margin">
                                            Date Created: {{  contrib.project.date_added }}<br>
                                            Project Type: {{  contrib.project.project_type }}<br>
                                            Project Contributors: 
        
                                            {% if contrib.project.project_contributors %}
                                                {% for institution in contrib.institutions.all %}
                                                    {{ institution.institution_name }},
                                                {% endfor %}
                                                {% for community in contrib.communities.all %}
                                                    {{ community.community_name }},
                                                {% endfor %}
                                                {% for researcher in contrib.researchers.all %}
                                                    {{ researcher.user.get_full_name }},
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <br>
                                        </p>
                                </div>
                    
                                <div class="w-50 flex-this column">
                                    <div class="flex-this flex-end w-100">
                                        <div>
                                            <a id="{{ contrib.project.id }}" onclick="showMoreProject(this)" class="darkteal-text pointer">Show More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        </div>
                                    </div> 
                                </div>
                    
                            </div>
                    
                        </div>
        
                        <div class="flex-this space-between">
                            <div class="w-90">
                                <p class="margin-right-1">{{ contrib.project.description }}</p>
                            </div>
                            <div class="w-20">

                                <div class="notice-btns center-text">
                                    <a href="{% url 'view-project' contrib.project.unique_id %}" class="action-btn">View Project</a>
                                </div>

                                {% if member_role == 'viewer' %}
                                {% else %}
                                    <a href="{% url 'notify-communities' institution.id contrib.project.id %}">
                                        <button class="action-btn">Notify Communities <i class="fa fa-users" aria-hidden="true"></i></button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
        
                        <div>
                            <p>
                                Project Contact: {{ contrib.project.project_contact}} <br>
                                Project Contact Email: {{ contrib.project.project_contact_email}} <br>
                                Project URL: {{ contrib.project.url }}
                            </p>
                        </div>
        
                        <div class="flex-this column" id="expand-contrib-{{ contrib.project.id }}" style="height: 0px; overflow:hidden;">
                            {% if contrib.project.bclabels.all or contrib.project.tklabels.all %}
                                <div><p class="weight-500">Labels attached to this project</p></div>
                            {% else %}
                                <div><p class="weight-500">No Labels attached to this project</p></div>
                            {% endif %}
        
                                {% for bclabel in contrib.project.bclabels.all %}
        
                                    <div class="flex-this">
                                        <div class="small-label">
                                            {% include 'bclabels/which-label.html' %}
                                        </div>
                                        <div class="pad-left-2">
                                            <p class="darkteal-text no-top-margin">Label shared by {{ bclabel.community.community_name }} </p>
                                            <p class="weight-500"> {{ bclabel.name }} </p>
                                            <p>
                                                {{ bclabel.default_text}}
                                            </p>
                                            <hr>
                                        </div>
                                    </div>
                                {% endfor %}
        
                                {% for tklabel in contrib.project.tklabels.all %}
        
                                <div class="flex-this">
                                    <div class="small-label">
                                        {% include 'tklabels/which-label.html' %}
                                    </div>
                                    <div class="pad-left-2">
                                        <p class="darkteal-text no-top-margin">Label shared by {{ tklabel.community.community_name }} </p>
                                        <p class="weight-500"> {{ tklabel.name }} </p>
                                        <p>
                                            {{ tklabel.default_text}}
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                            {% endfor %}
        
                        </div>
        
                    </div>
                    
                {% endif %}
            {% endfor %}
    {% endif %}


{% endblock %}