{% extends 'institution-base.html' %} {% block title %} | Update {% endblock %}{% load static %} {% block institution_content %}

    <div class="content-card content-card-space white-bg flex-this column">
        <h3 class="orange-text">Settings</h3>

        <div class="flex-this w-100">

            <div class="flex-this w-20 set-nav">
                <div class="w-20">
                    <img src="{% static 'images/profile-icon.png' %}" alt="avatar icon">
                </div>
    
                <div class="w-80">
                    <p>
                        <strong>Institution Account</strong><br>
                        Contact name, email, location
                    </p>
                </div>
            </div>
    
            <div class="flex-this column w-80 border-left">
    
                    <div>
                        <h3>Institution Profile Details</h3>
                    </div>
    
                    <div>
                        <form method="POST" action="{% url 'update-institution' institution.id %}" enctype="multipart/form-data">
                            {% csrf_token %}

                                <div class="w-100 flex-this form-one">
                                    <div class="w-30">
                                        <label for="institution_name">Name</label> <br>
                                        {{ update_form.institution_name }}
                                    </div>
                                    <div class="w-30">
                                        <label for="city_or_town">City or Town</label> <br>
                                        {{ update_form.town_or_city }}
                                    </div>
                                    <div class="w-30">
                                        <label for="country">Country</label>  <br>
                                        {{ update_form.country }}
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <h3>Contact Person</h3>
                                    </div>
                                    <div class="flex-this w-100 form-one">
                                        <div class="w-30">
                                            <label for="contact_name"> Name </label><br>  
                                            {{ update_form.contact_name }}                                         
                                        </div>
                                        <div class="w-30">
                                            <label for="contact_email"> Email </label><br>                                       
                                            {{ update_form.contact_email }}
                                        </div>
                                        <div class="w-30">
                                            <!-- <label for="is_publicly_listed"> Make Public </label><br> -->
                                            <label for="image">Institution Image</label><br>
                                            {{ update_form.image }}
                                        </div>
                                    </div>
                                </div>

                                {% include 'partials/_alerts.html' %}

                            <div>
                                <button class="action-btn default-btn">Save</button>
                            </div>
                        </form>
                    </div>
    
                </div>
        </div>

    </div>

{% endblock %}