{% load static %}

<div class="cookie-container">
    <p>This website uses cookies to ensure you get the best experience on our website and the Hub. 
        To find out more, read our <a href="https://localcontexts.org/privacy-policy/" target="_blank" rel="noopener">Privacy Policy <i class="fa fa-external-link fa-xs" aria-hidden="true"></i></a>.
    </p>
    <button class="cookie-btn">Got it!</button>
</div>

<style>
    .cookie-container {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: -100%;
        left:0;
        right: 0;
        background-color: #2f3640;
        opacity: 0.9;
        color: #f5f6fa;
        padding: 0 32px;
        box-shadow: 0 -2px 16px #2f364075;

        transition: 400ms;
    }

    .cookie-container.active {
        bottom: 0;
    }

    .cookie-container a {
        color: #f5f6fa;
    }


    .cookie-btn {
        background-color: #e84118;
        border: 0;
        color: #f5f6fa;
        padding: 6px 20px;
        font-size: 16px;
        margin: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
    }
</style>

<script>
    var cookieContainer = document.querySelector('.cookie-container')
    var cookieBtn = document.querySelector('.cookie-btn')

    cookieBtn.addEventListener('click', () => {
        cookieContainer.classList.remove('active')
        localStorage.setItem('cookieBannerDisplayed', 'true')
    })

    setTimeout( () => {
        if (!localStorage.getItem('cookieBannerDisplayed')){
            cookieContainer.classList.add('active')
        }
    }, 2000)
</script>