{% autoescape off %}
<h3>
    {{ data.community_creator.get_full_name }} ({{ data.community_creator }}) has applied to create a community.
</h3>

<p>
    Confirmation Contact Name: {{ data.contact_name }}<br>
    {% if data.contact_email == data.community_creator.email %}
        Confirmation Contact Email: {{ data.contact_email }}<br>
    {% else %}
        Confirmation Contact Email: {{ data.contact_email }}<br>
        Community Account Creator Email: {{ data.community_creator.email }}<br><br>
    {% endif %}

    Community Name: {{ data.community_name }} <br>
    Community Entity: {{ data.community_entity }} <br>
    Location: {{ data.state_province_region}} {{ data.country.name }}<br>
    Description: {{ data.description }}  <br>
</p>

{% endautoescape %}