{% autoescape off %}
<h3>
    {{ data.community_creator.get_full_name }} ({{ data.community_creator }}) has applied to create a community.
</h3>

<p>
    Community Name: {{ data.community_name }}<br>
    Community Entity: {{ data.community_entity }}<br>
    State, Province, or Region: {{ data.state_province_region}}<br>
    Country: {{ data.country.name }}<br>
    Contact Name: {{ data.contact_name }}<br>
    Contact Email: {{ data.contact_email }}<br>
    Description: {{ data.description }}   <br>
</p>

{% endautoescape %}