{% autoescape off %}
<h3>
    {{ data.institution_creator.get_full_name }} ({{ data.institution_creator }}) has applied to create a institution.
</h3>

<p>
    Confirmation Contact Name: {{ data.contact_name }}<br>
    {% if data.contact_email == data.institution_creator.email %}
        Confirmation Contact Email: {{ data.contact_email }}<br>
    {% else %}
        Confirmation Contact Email: {{ data.contact_email }}<br>
        Institution Account Creator Email: {{ data.institution_creator.email }}<br><br>
    {% endif %}

    Institution Name: {{ data.institution_name }}<br>
    Location: {{ data.city_town }} {{ data.state_province_region }} {{ data.country.name }}<br>
    Description: {{ data.description }}<br>
    <br><br>
    
    {% if data.is_ror == False %}
        If you would like to add this institution to ROR, you can fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJYaMTCwS7muuTa-B_CnAtCSkKzt19lkirAKG4u7umH9Nosg/viewform" target="_blank">this form</a>.
    {% endif %}
</p>

{% endautoescape %}