{% autoescape off %}

<h3>{{ user.get_full_name }} has requested to join 
    {% if organization.community_name %}
     {{ organization.community_name }}
    {% elif organization.institution_name %}
     {{ organization.institution_name }}
    {% endif %}
</h3>

<p>

    <strong>Next steps?</strong><br>
    Login <a href="https://localcontextshub.org/login/" target="_blank">here</a> to Local Contexts Hub and go to My Profile, then Notifications to see and respond to this join request.

    <br><br>
    Thank you,<br>
    The Local Contexts Team <br>
    <a href="https://twitter.com/localcontexts">Twitter</a>
    <a href="https://instagram.com/localcontexts">Instagram</a>
    <a href="https://www.facebook.com/LocalContextsOrg/">Facebook</a>

</p>

{% endautoescape %}