{% autoescape off %}

<h3>{% if not user.get_full_name %} {{ user.username }} {% else %} {{ user.get_full_name }} ({{ user.username }}) {% endif %} has requested to join 
    {% if organization.community_name %}
     {{ organization.community_name }}
    {% elif organization.institution_name %}
     {{ organization.institution_name }}
    {% endif %}
</h3>

<p>
    {% if role %} <strong>Desired role:</strong> {{role}} <br>{% endif %}
    {% if message %}
        <strong>Message included with the request:</strong><br>
        "{{ message }}"
    {% endif %}
</p>

<p>

    <strong>Next steps?</strong><br>
    Login <a href="http://{{domain}}{% url 'login' %}" target="_blank">here</a> to Local Contexts Hub and go to the  
    {% if organization.community_name %}{{ organization.community_name }}{% elif organization.institution_name %}{{ organization.institution_name }}{% endif %}
   account Notifications, to see and respond to this join request.
    
    {% include 'snippets/emails/_footer-snippet.html' %}

</p>

{% endautoescape %}