{% autoescape off %}

    {% if label.is_approved %}
        <h3>
            {% if label.approved_by.get_full_name %}
                {{ label.approved_by.get_full_name }} ({{ label.approved_by }})
            {% else %}
                {{ label.approved_by.username }}
            {% endif %}
            has approved your Label {{ label.name }} 
        </h3>
    {% else %}
        <h3>
            {% if label.approved_by.get_full_name %}
                {{ label.approved_by.get_full_name }} ({{ label.approved_by }})
            {% else %}
                {{ label.approved_by.username }}
            {% endif %}
            has not approved your Label {{ label.name }} 
        </h3>
        {% if label_notes %}
            <p>
                Notes included about why the Label was not approved:<br>

                {% for note in label_notes %}
                    From 
                    {% if note.sender.get_full_name %}
                        {{ note.sender.get_full_name }} ({{ note.sender }})
                    {% else %}
                        {{ note.sender.username }}
                    {% endif %}
                    : <br>
                    "{{ note.note }}" <br>
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}

    <p>
        <strong>Next steps?</strong><br>
        You can go to your Community account dashboard to view {% if not label.is_approved %} or edit {% endif %} your Label.<br>
        {% include 'snippets/emails/_footer-snippet.html' %}
    </p>

{% endautoescape %}