{% autoescape off %}
    <h3>{{ community.community_name }} has applied Labels to your Project "{{ project.title }}".</h3>

    <p>
        
        <strong>Next steps?</strong><br>
        You can go to your Projects Dashboard or view your Project to see what Labels have been applied.

        <br><br>
        Thank you,<br>
        The Local Contexts Team <br>
        <a href="https://twitter.com/localcontexts">Twitter</a>
        <a href="https://instagram.com/localcontexts">Instagram</a>
        <a href="https://www.facebook.com/LocalContextsOrg/">Facebook</a>

    </p>

{% endautoescape %}