{% autoescape off %}

    {% if label.is_approved %}
        <h3>{{ label.approved_by.get_full_name }} has approved your Label {{ label.name }} </h3>
    {% else %}
        <h3>{{ label.approved_by.get_full_name }} has not approved your Label {{ label.name }} </h3>
        {% if label_note %}
            <p>
                {{ label_note.sender.get_full_name }} has included a note about why the Label was not approved:<br>
                {{ label_note.note }}
            </p>
        {% endif %}
    {% endif %}

    <p>
        <strong>Next steps?</strong><br>
        You can go to your Community account dashboard to view {% if not label.is_approved %} or edit {% endif %} your Label.<br>
        {% include 'snippets/emails/_footer-snippet.html' %}
    </p>

{% endautoescape %}