{% autoescape off %}

<h3>
    You are now a member of 
    {% if organization.community_name %} {{ organization.community_name }} {% endif %}
    {% if organization.institution_name %} {{ organization.institution_name }} {% endif %}

    {% if role %}
        {% if role == 'admin' %} as an Administrator {% elif role == 'editor' %} as an Editor {% else %} as a Viewer {% endif %}
    {% endif %}

</h3>

<p>
    <strong>About member responsibilities</strong><br>
    {% if organization.community_name %}
        <ul>
            <li><strong>Administrators</strong> can accept new members on behalf of the community, as well as remove members. They can adjust community account settings and update information about the community. They can customize and approve Labels. Administrators can also apply Labels to Projects and create community Projects. <br></li>
            <li><strong>Editors</strong> can customize and apply Labels and create Projects, they can also approve other Labels developed by another editor or administrator of the account.<br></li>
            <li><strong>Viewers</strong>Viewers can view the activity happening in the account but can not change or edit anything.<br></li>
        </ul>
    {% endif %}

    {% if organization.institution_name %}
        <ul>
            <li><strong>Administrators</strong> can accept new members on behalf of the institution, as well as remove members. They can adjust institution account settings and update information about the institution. They can can also apply Notices by creating Projects. <br></li>
            <li><strong>Editors</strong> can apply Notices to institution Projects.<br></li>
            <li><strong>Viewers</strong> can view the activity happening in the account but can not change or edit anything.<br></li>
        </ul>
    {% endif %}

    <br>
    <strong>Next steps?</strong><br>
    Login <a href="{% if 'localhost' in domain %}http{% else %}https{% endif %}://{{domain}}{% url 'login' %}" target="_blank">here</a> to Local Contexts Hub and go to My Profile, you will now see 
    {% if organization.community_name %} {{ organization.community_name }} {% endif %} 
    {% if organization.institution_name %} {{ organization.institution_name }} {% endif %}
    in your dashboard.

    {% include 'snippets/emails/_footer-snippet.html' %}

</p>

{% endautoescape %}