{% autoescape off %}

<h3>
    {% if data.sender.get_full_name %}
        {{ data.sender.get_full_name }} ({{ data.sender }})
    {% else %}
        {{ data.sender.username }}
    {% endif %}
    
    has invited you to join  
    {% if institution %} {{ data.institution.institution_name }} {% endif %}
    {% if community %} {{ data.community.community_name }} {% endif %}
     as  
    {% if data.role == 'admin' %} an Administrator {% elif data.role == 'editor' %} an Editor {% else %} a Viewer {% endif %}
</h3>

<p>
    Message included with the invitation:<br>
    {{ data.message }}<br><br>

    <strong>Next steps?</strong><br>
    Login <a href="{% if 'localhost' in domain %}http{% else %}https{% endif %}://{{domain}}{% url 'login' %}" target="_blank" rel="noopener">here</a> to Local Contexts Hub and go to My Profile, then Notifications to see and respond to your invitation.

</p>

{% endautoescape %}