{% autoescape off %}

<h3>{{ data.sender.get_full_name }} has invited you to join  
    {% if institution %} {{ data.institution.institution_name }} {% endif %}
    {% if community %} {{ data.community.community_name }} {% endif %}
     as  
    {% if data.role == 'admin' %} an Administrator {% elif data.role == 'editor' %} an Editor {% else %} a Viewer {% endif %}
</h3>

<p>
    Message included with the invitation:<br>
    {{ data.message }}<br><br>

    <strong>Next steps?</strong><br>
    Login <a href="https://localcontextshub.org/login/" target="_blank">here</a> to Local Contexts Hub and go to My Profile, then Notifications to see and respond to your invitation.

    {% include 'snippets/emails/_footer-snippet.html' %}
</p>

{% endautoescape %}