{% autoescape off %}

    {% if sender.institution_name %}
        <h2>A Notice has been placed by {{ sender.institution_name }}</h2>
    {% elif sender.user %}
        <h2>A Notice has been placed by 
            {% if sender.user.get_full_name %}
                {{ sender.user.get_full_name }} ({{ sender.user }})
            {% else %}
                {{ sender.user.username }}
            {% endif %}
        </h2>
    {% endif %}

    <p>
        {% if sender.institution_name %}
            Institution {{ sender.institution_name }} has attached a Notice to their project "{{ project.title }}" and notified your community about it.<br><br>
        {% elif sender.user %}
            Researcher 
            {% if sender.user.get_full_name %}
                {{ sender.user.get_full_name }} ({{ sender.user }})
            {% else %}
                {{ sender.user.username }}
            {% endif %}
            has attached a Notice to their project "{{ project.title }}" and notified your community about it.<br><br>
        {% endif %}

    
        <strong>Next steps?</strong><br>
        You may view and respond to this Notice in your community account dashboard under Projects.<br>
        From there, you can set the Notice Status to "Acknowledged", "Labels Pending", or "Labels Not Pending" or add any comments you have about the Project. 

        <br>

    </p>

{% endautoescape %}