{% autoescape off %}

    {% if sender.institution_name %}
        <h2>A comment has been added to a Project by 
            {% if user.get_full_name %}
                {{ user.get_full_name }} ({{ user }})
            {% else %}
                {{ user.username }}
            {% endif %}
            from {{ sender.institution_name }}</h2>
    {% elif sender.user %}
        <h2>A comment has been added to a Project by 
            {% if sender.user.get_full_name %}
                {{ sender.user.get_full_name }} ({{ sender.user }})
            {% else %}
                {{ sender.user.username }}
            {% endif %}
        </h2>
    {% elif sender.community_name %}
        <h2>A comment has been added to a Project by 
            {% if user.get_full_name %}
                {{ user.get_full_name }} ({{ user }})
            {% else %}
                {{ user.username }}
            {% endif %}
            from {{ sender.community_name }}</h2>
    {% endif %}

    <p>
        A comment was added to the project "{{ project.title }}".
    
        <strong>Next steps?</strong><br>
        To view and respond to this comment, go to your 
        {% if sender.institution_name %} institution {% elif sender.user %} researcher {% elif sender.community_name %} community {% endif %}
        account dashboard under the Projects tab.<br>

        <br>
        {% include 'snippets/emails/_footer-snippet.html' %}

    </p>

{% endautoescape %}