{% autoescape off %}
    <h2>Welcome to the Local Contexts Hub!</h2>

    <p>
        <strong>What is the Hub?</strong><br>
        The Hub is a web portal that allows communities to adapt the Local Contexts <a href="https://localcontexts.org/labels/traditional-knowledge-labels/" target="_blank" rel="noopener">Traditional Knowledge Labels</a> and <a href="https://localcontexts.org/labels/biocultural-labels/" target="_blank" rel="noopener">Biocultural Labels</a> to contextual needs so that they can be shared and implemented nationally and internationally. The Local Context Hub also allows researchers and institutions to generate <a href="https://localcontexts.org/notices/aboutnotices/" target="_blank" rel="noopener">Notices</a>. The tools featured within the Hub support the proper recognition of Indigenous rights and interests through collaboration between communities and institutions and/or communities and researchers. 
        <br><br>

        <strong>Next steps?</strong><br>
        Now that your profile has been activated, you can 

        <a href="{% if 'localhost' in domain %}http{% else %}https{% endif %}://{{domain}}{% url 'login' %}" 
        target="_blank" rel="noopener">login</a> and start looking around!

        {% include 'snippets/emails/_footer-snippet.html' %}

    </p>

{% endautoescape %}
