{% load static %}
<!-- List of Labels for Researcher : Notices : Detail slide  -->

<div class="flex-this w-100 proj-label-summary">
    <div>
        {% load static %}
        {% if tklabel.label_type == 'attribution' %}
                <img src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'clan' %}
                <img src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'family' %}
                <img src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'outreach' %}
                <img src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'tk_multiple_community' %}
                <img src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Community (TK MC) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'non_verified' %}
                <img src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verifed (TK NV) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'verified' %}
                <img src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'non_commercial' %}
                <img src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'commercial' %}
                <img src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Commercial (TK C) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'culturally_sensitive' %}
                <img src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'community_voice' %}
                <img src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'community_use_only' %}
                <img src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'seasonal' %}
                <img src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'women_general' %}
                <img src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Women General (TK WG) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'men_general' %}
                <img src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'men_restricted' %}
                <img src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'women_restricted' %}
                <img src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label">
        {% endif %}
    
        {% if tklabel.label_type == 'secret_sacred' %}
                <img src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label">
        {% endif %}
    </div>
    
    <div class="margin-left-1">
        <h4>{{ tklabel.name }}</h4>
        <p class="darkteal-text">
            <!-- <span class="weight-500">Label ID: IO09097809</span><br> -->
            {{ tklabel.default_text }}
        </p>
    </div>
</div>

<hr>