<!-- Mini Labels for Researcher:Projects  -->

{% load static %}
    {% if tklabel.label_type == 'attribution' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'clan' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'family' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'outreach' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'tk_multiple_community' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Community (TK MC) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'non_verified' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verifed (TK NV) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'verified' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'non_commercial' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'commercial' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Commercial (TK C) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'culturally_sensitive' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'community_voice' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'community_use_only' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'seasonal' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'women_general' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Women General (TK WG) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'men_general' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'men_restricted' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'women_restricted' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label">
        </div>
    {% endif %}

    {% if tklabel.label_type == 'secret_sacred' %}
        <div class="pad-left-1-5">
            <img src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label">
        </div>
    {% endif %}

