<!-- Community: Labels -->
{% load static %}

    <div>
        {% if tklabel.label_type == 'attribution'%}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-attribution.png' %}" alt="TK Attribution (TK A) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'clan' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-clan.png' %}" alt="TK Clan (TK CL) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'family' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-family.png' %}" alt="TK Family (TK F) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'outreach' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-outreach.png' %}" alt="TK Outreach (TK O) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'tk_multiple_community' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Community (TK MC) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-multiple-community.png' %}" alt="TK Multiple Community (TK MC) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'non_verified' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verifed (TK NV) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-verified.png' %}" alt="TK Non-Verifed (TK NV) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'verified' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-verified.png' %}" alt="TK Verified (TK V) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'non_commercial' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-non-commercial.png' %}" alt="TK Non-Commercial (TK NC) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'commercial' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Open to Commercialization (TK OC) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-commercial.png' %}" alt="TK Open to Commercialization (TK OC) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'culturally_sensitive' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-culturally-sensitive.png' %}" alt="TK Culturally Sensitive (TK CS) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'community_voice' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-voice.png' %}" alt="TK Community Voice (TK CV) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'community_use_only' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-community-use-only.png' %}" alt="TK Community Use Only (TK CO) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'seasonal' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-seasonal.png' %}" alt="TK Seasonal (TK S) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'women_general' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Women General (TK WG) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-general.png' %}" alt="TK Women General (TK WG) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'men_general' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-general.png' %}" alt="TK Men General (TK MG) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'men_restricted' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-men-restricted.png' %}" alt="TK Men Restricted (TK MR) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'women_restricted' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-women-restricted.png' %}" alt="TK Women Restricted (TK WR) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'secret_sacred' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-secret-sacred.png' %}" alt="TK Secret Sacred (TK SS) Label">
            {% endif %}
        {% endif %}

        {% if tklabel.label_type == 'open_to_collaboration' %}
            {% if tklabel.is_approved == False %}
                <img class="opacity-4 img-sizedown-151-116" src="{% static 'images/tk-labels/tk-open-to-collaboration.png' %}" alt="TK Open to Collaboration (TK CB) Label">
            {% else %}
                <img class="img-sizedown-151-116" src="{% static 'images/tk-labels/tk-open-to-collaboration.png' %}" alt="TK Open to Collaboration (TK CB) Label">
            {% endif %}
        {% endif %}

    </div>