{% extends 'research-base.html' %} {% block title %} | Activity {% endblock %}{% load static %}{% block researcher_content %}

<div class="content-card content-card-space white-bg ">
    <h2>Activity</h2>
</div>

{% if notices %}
    {% for notice in notices %}

                <div id="full-notice-card-{{ notice.id }}" class="content-card-v2 white-bg" style="scroll-margin-top: 8em;">
                    <div class="flex-this space-between">
                        <div>
                            <p class="no-top-margin notice-date">
                                Date Sent: {{ notice.created|date:'m/d/Y' }}
                            </p>
                        </div>
                
                        <div>
                            <a id="{{ notice.id }}" onclick='showMoreNotice(this)' class="darkteal-text pointer">
                                Show More <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="flex-this">

                        <div class="w-10">
                            {% if notice.notice_type == 'biocultural' %}
                                <img src="{% static 'images/notices/bc-notice.png' %}" alt="BC Notice: black square with BC in white letters in the middle">
                            {% endif %}
                            {% if notice.notice_type == 'traditional_knowledge' %}
                                <img src="{% static 'images/notices/tk-notice.png' %}" alt="TK Notice: a black square with white letters TK in the middle">
                            {% endif %}
                        </div>

                        <div class="w-90 pad-left-2">
                            <p>
                                <span class="darkteal-text weight-600">{{ notice.project.title}}</span><br>
                                {{ notice.project.publication_date }} <br>
                                {{ notice.project.project_type }} <br>
                                {% for contributor in notice.communities.all %}
                                    {{ contributor.community_name }},
                                {% endfor %}
                                {% if notice.placed_by_researcher %}
                                    {{ notice.placed_by_researcher.user.get_full_name }}
                                {% else %}
                                    {{ notice.placed_by_institution.institution_name}}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div id="expand-notice-{{ notice.id }}" style="height: 0; overflow:hidden;" class="flex-this column">
                        <div class="flex-this space-between">
                            <div class="w-80">
                                <p><span class="weight-500">Description:</span> {{ notice.project.description }}</p>
                            </div>
    
                            <div class="flex-this column w-15">
                                <div class="notice-btns center-text">
                                    <a href="{% url 'view-project' notice.project.unique_id %}" class="action-btn margin-top-2 ">View Project</a>
                                </div>
                            </div>
                        </div>

                        <div class="border-bottom-solid-teal">
                            <p>
                                Project Contact: {{ notice.project.project_contact }}<br>
                                Project Contact Email: {{ notice.project.project_contact_email }}<br>
                                Project URL: {{ notice.project.url }}<br>
                            </p>
                        </div>

                        <div class="flex-this column">
                            {% for status in notice.notice_status.all %}

                                <div class="flex-this space-between pad-top-1-5">
                                    <div><span class="darkteal-text weight-500">{{ status.community.community_name }}</span></div>
    
                                    {% if status.seen %}
                                        {% if status.status == 'pending' %}
                                            <div><span class="notice-date">Status: Label(s) Pending</span></div>
                                        {% elif status.status == 'not_pending' %}
                                            <div><span class="notice-date">Status: No Label(s) Pending</span></div>
                                        {% else %}
                                            <div><span class="notice-date">Status: Seen</span></div>
                                        {% endif %}
                                    {% else %}
                                        <div><span class="notice-date">Status: Sent</span></div>
                                    {% endif %}
                                </div>


                                <form method="POST" action="">
                                    {% csrf_token %}

                                    {% if notice.notice_comment.all %}
                                        {% for comment in notice.notice_comment.all %}
                                            {% if status.community == comment.community %}
                                            <input type="hidden" value="{{ status.community.id }}" name="community-id">

                                                <div class="pad-top-1">
                                                    <span class="weight-500">{{ comment.sender.get_full_name }}</span>
                                                    <span class="grey-text">{{ comment.created|date:'m/d/Y' }}</span><br>
                                                    <p>
                                                        {{ comment.message }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                        <input type="hidden" value="{{ notice.id }}" name="notice-id">

                                        <div class="flex-this row">
                                            <div class="w-100">
                                                {{ form.message }}
                                            </div>
                                            <div style="margin-left:-55px; margin-top:7px;">
                                                <button style="border: none; color:teal; background-color:#fff; cursor: pointer;" name="add-comment-btn">Send</button>
                                            </div>
                                        </div>
                
                                        {% if form.errors %}
                                        {{ form.errors }}
                                        {% endif %}
                                    {% endif %}
                                </form>

                            {% endfor %}
                        </div>

                    </div>

                </div>

        {% endfor %}

{% endif %}

{% endblock %}