{% extends 'reg-base.html' %} {% block title %} | Connect {% endblock %} {% load static %} {% block card %}
    
<div class="flex-this column w-90">
    <div class="margin-bottom-1 flex-this space-between">
        <h2 class="darkteal-text">Researcher Account</h2>  
        <div class="margin-top-16">or <a class="darkteal-text" href="{% url 'select-account' %}">Back to choose an account</a>  </div>
    </div>
    <div>
        <p class="no-top-margin no-bottom-margin">A researcher is a person who carries out academic or scientific research independently or in an institution, such as archive, library, museum, historical society, gallery, data repository, or university.</p>
    </div>

    <form action="{% url 'connect-researcher' %}" method="POST" class="flex-this column w-100" id="createResearcher">
        {% csrf_token %}

        <div class="flex-this space-between">
            <div class="w-50"><p>We encourage you to have an ORCiD ID. <br>You can <a href="https://orcid.org/" target="_blank">read more about ORCiD here</a>.</p></div>

            <!-- Show ORCiD widget based on hostname -->
            {% if 'localcontextshub' in request.get_host %}
                <div id="orcidWidget" data-clientid='APP-IBW6UOF5FGJG0ODB' data-env="production" data-redirecturi="https://localcontextshub.org/researchers/connect-researcher/"></div>
            {% elif 'localhost' in request.get_host %}
                <div id="orcidWidget" data-clientid='APP-6SAN29B74JQ6FEUQ' data-env="sandbox" data-redirecturi="http://localhost:8000/researchers/connect-researcher/"></div>
            {% elif 'anth-ja77-local-contexts-8985' in request.get_host %}
                <div id="orcidWidget" data-clientid='APP-IBW6UOF5FGJG0ODB' data-env="production" data-redirecturi="https://anth-ja77-local-contexts-8985.uc.r.appspot.com/researchers/connect-researcher/"></div>
            {% elif 'anth-ja77-lc-dev-42d5' in request.get_host %}
                <div id="orcidWidget" data-clientid='APP-6SAN29B74JQ6FEUQ' data-env="sandbox" data-redirecturi="https://anth-ja77-lc-dev-42d5.uc.r.appspot.com/researchers/connect-researcher/"></div>
            {% endif %}
        </div>

        {% if 'anth-ja77-lc-dev-42d5' in request.get_host %}
            <small class="bold">Please note that since this is a test site, the ORCiD used will be the <a class="darkteal-text" href="https://sandbox.orcid.org/">sandbox version</a>.</small><br>
        {% elif 'localhost' in request.get_host %}
            <small class="bold">Localhost uses the <a class="darkteal-text" href="https://sandbox.orcid.org/">sandbox version</a> of ORCiD.</small><br>
        {% endif %}

        <div>
            <label for="primary_institution">Primary Institution</label>
            <div class="tooltip"><strong>i</strong>
                <span class="tooltiptext">If you are associated with an institution, please list your primary institution.</span>
            </div>
            {{ form.primary_institution }}
        </div>

        <div class="margin-top-8">
            <label for="description">Researcher Description</label>
            <div class="tooltip"><strong>i</strong>
                <span class="tooltiptext">This is a place for you to share your research interests and expertise.</span>
            </div>
            {{ form.description }}
        </div>

        <div class="flex-this space-between margin-top-8">
            <div>
                {% if form.errors %}
                    <small class="red-text">{{ form.errors }}</small>
                {% endif %}
                {% include 'partials/_alerts.html' %}
            </div>
    
            <div class="text-align-right">
                <button id="submitResearcher" class="primary-btn action-btn margin-top-2">Get Started <i class="fa fa-long-arrow-right"></i></button>
            </div>
        </div>

        <div id="ORCIDmodal" class="modal" style="display: none;">

            <div class="orcid-modal flex-this column w-100">
                <div class="flex-this flex-end">
                    <div id="closeORCIDmodal" class="margin-right-8 primary-btn action-btn">Close X</div>
                </div>
                <div class="modal-content-padding w-100">
        
                    <div>
                        <h2 class="no-top-margin" style="color: #333333;">Just checking...</h2>  
                        <p>
                            Are you sure you don’t want to add an ORCiD to your account? <br><br>

                            By linking this we can connect Projects you create in here with your ID outside of Local Contexts Hub.
                        </p>  
                    </div>
                    <div class="flex-this w-100 text-align-center">
                        <div id="continueNoOrcidBtn" class="primary-btn white-btn">Continue</div>    
                    </div>
        
                </div>
            </div>
        </div>

    </form>

</div>

{% endblock %}