{% extends 'reg-base.html' %} {% block title %} | Connect {% endblock %} {% load static %} {% block card %}
    
<div class="flex-this column w-90">
    <div>
        <h2 class="darkteal-text">Researcher Account</h2>
        <p>Please provide your ORCiD ID</p>    
    </div>

    <form action="{% url 'connect-researcher' %}" method="POST" class="flex-this column w-100">
        {% csrf_token %}

        <!-- Leave for local testing -->
        <!-- <div id="orcidWidget" data-clientid='APP-6SAN29B74JQ6FEUQ' data-env="sandbox" data-redirecturi="http://localhost:8000/researchers/connect-researcher/"></div> -->
        <!-- Prod orcid -->
        <div id="orcidWidget" data-clientid='APP-6SAN29B74JQ6FEUQ' data-env="sandbox" data-redirecturi="https://anth-ja77-local-contexts-8985.uc.r.appspot.com/researchers/connect-researcher/"></div>


        <p>If you are associated with an institution, please list the institution you associate with.</p>

        <label>Primary Institution</label>
        {{ form.primary_institution }}

        <div>
            <button class="action-btn">Get started <i class="fa fa-long-arrow-right"></i></button>
        </div>
    </form>

</div>

{% endblock %}