{% extends 'research-base.html' %} {% block title %} | Notifications {% endblock %} {% load static %}{% block researcher_content %}

<div class="white-bg content-card content-card-space noti-card">
        <h3 class="orange-text">Notifications</h3>
        <p>No notifications</p>
            <!-- <a href="#">
                <div class="noti-container flex-this row">
                        <div><p class="orange-text"><i class="fa fa-bell" aria-hidden="true"></i></p></div>
                        <div><strong><p>Notices</p></strong></div>
                        <div><p>A BC Notice has been placed by Dr.Libby Liggins</p></div>
                </div>
            </a> -->
</div>

{% endblock %}