{% extends 'research-base.html' %} {% load static %}{% block researcher_content %}

<div class="white-bg content-card content-card-space noti-card">
        <h3 class="orange-text">Projects</h3>
    
        <hr>

        {% if projects %}
            {% for project in projects %}

            <div class="flex-this space-between column">
            
                <div class="flex-this w-100 proj-title-container">
    
                    <div class="w-50">
                        <h4 class="darkteal-text weight-600">{{ project.title }}</h4>
                    </div>
    
                    <div class="w-50 flex-this flex-end">
                        
                            <h2>
                                <a onclick='showMore(this)'>
                                    <span id="plus-minus-{{project.id}}" class="darkteal-text">+</span>
                                </a>
                            </h2>
    
                    </div>
    
                </div> 
    
                <div class="w-100 flex-this proj-info-container">
                    <div class="w-50"> 
                            <p>
                                Publication<br>
                                {{ project.publication_date }}<br>
                                Source: {{ project.source }} <br>
                            </p>
                    </div>
        
                    <div class="w-50 additional-proj-info flex-this column">
        
                        <div>
                            <p>Relationship with <a href="#" class="darkteal-text">Community Name</a></p>
                        </div>
    
                        <div class="flex-this flex-end mini-label-container">
                            {% if project.has_labels %}
                                {% include 'snippets/researcher-mini.html' %}
                            {% else %}
                                <div><small>No labels applied yet</small></div>
                            {% endif %}
                        </div>
    
                    </div>
    
                </div>
    
                <!-- Expandable content -->
                <div id="proj-expand-{{project.id}}" class="proj-expand" style="height: 0px;">
                    <hr>
                        <div class="flex-this w-100">
    
                            <div class="flex-this column w-70">
          
                              <div class="flex-this">
                                <div class="w-200px">

                                </div>

                                    <div>
                                        <span class="weight-500">Project Description</span><br>

                                        <p>
                                            {{ project.description }}
                                        </p>
                                    </div>

                              </div>
    
                            </div>
          
                            <div class="flex-this column w-30 proj-btns">
                                <div>
                                  <button class="action-btn">Edit Notice</button>
                                </div>
                                {% if project.geome_project_id %}
                                    <div>
                                    <button class="green-action-btn">View on GEOME</button>
                                    </div>
                                {% endif %}
                                <div>
                                  <button class="green-action-btn">View ORCiD</button>
                                </div>
                            </div>
    
                        </div>
                    <hr>

                    {% if project.has_labels %}
                        {% include 'snippets/researcher-labels.html' %}
                    {% endif %}

                </div>
        </div>
    
        <hr>

            {% endfor %}
        {% else %}
            <p>No projects available at this time.</p>
        {% endif %}
        
        <a href="{% url 'add-notice' researcher.id %}">
        <div class="flex-this">
                <div class="add-notice-btn flex-this justify-center">
                        <span>+</span>
                </div>
                <div class="add-notice-text">
                        <h4 class="weight-500">
                            Add new notice
                        </h4>
                </div>
        </div>
        </a>

</div>

{% endblock %}