{% extends 'sub-base.html' %} {% block title %} | Update {% endblock %}{% load static %}{% block researcher_content %}

    <div class="content-card content-card-space white-bg flex-this column">
        <h3> Researcher Account Settings</h3>

        <div class="flex-this w-100">

            <div class="flex-this w-20 set-nav">
                <div class="flex-this side-nav-item grey-text">
                    <div class="w-20 margin-right-1"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <div class="w-80"><p class="no-top-margin"><strong>Researcher Account</strong><br>Contact email, primary institution, description</p></div>
                </div>  
            </div>
    
            <div class="flex-this column w-80 border-left">
    
                    <div><h3>Researcher Information</h3></div>
    
                    <div>
                        <form method="POST" action="{% url 'researcher-update' researcher.id %}" enctype="multipart/form-data">
                            {% csrf_token %}

                                <div class="w-100 flex-this form-one">
                                    <div class="w-30 margin-right-1">
                                        <label for="primary_institution"> Primary Institution </label><br>
                                        {{ update_form.primary_institution }}
                                    </div>
                                    <div class="w-30">
                                        {{ update_form.website.label }} <br>
                                        {{ update_form.website }}
                                    </div>
                                </div>

                                <div class="w-60">
                                    {{ update_form.description.label }}
                                    {{ update_form.description }}
                                </div>

                                <div class="w-50 margin-top-1">
                                    {{ update_form.image.label }} <br>
                                    {{ update_form.image }}
                                    {% if update_form.image.errors %}
                                        {{update_form.image.errors}}
                                    {% endif %}
                                </div>

                                <br>

                                <div>
                                    <div><h3 class="no-top-margin">Contact Information</h3></div>
                                    <div class="flex-this w-100 form-one">
                                        <div class="w-30">
                                            <label for="contact_email"> Email </label><br> 
                                            {{ update_form.contact_email }}
                                        </div>
                                    </div>
                                    <small>Please note that this contact email will be visible to Local Contexts Hub users</small>                                      
                                </div>

                                {% include 'partials/_alerts.html' %}
                                {% if update_form.errors %}
                                    <small class="red-text"> {{ update_form.errors }}</small>
                                {% endif %}

                            <div class="margin-top-8">
                                <button class="action-btn margin-top-2  default-btn">Save</button>
                            </div>
                        </form>
                    </div>
    
                </div>
        </div>

    </div>

{% endblock %}