{% extends 'base.html' %}{% block title %} | 404 Not Found {% endblock %}{% load static %}{% block content %} {% include 'partials/_reg-header.html' %}
    <section class="grey-bg">

        <div class="white-bg page-not-found-card content-card">
    
            <div class="flex-this row page-not-found-content">
    
                <div class="flex-this column page-not-found-img">
                    <img src="{% static 'images/logos/logo-404.png' %}" alt="404 Local Contexts round logo">
                </div>
            
                <div class="flex-this column page-not-found-txt">
                    <h1 class="orange-text weight-500">Ooops!</h1> 
                    <h2>We can't seem to find the page you are looking for.</h2>
                    <p>Error code: 404</p>
            
                    <button class="action-btn default-btn" onclick="location.href='/accounts/dashboard'">Home</button>
                </div>
    
            </div>
    
        </div>
    
    </section>


{% include 'partials/_auth-footer.html' %}

{% endblock %}
