{% extends 'base.html' %}{% block title %} | 503 Maintenance {% endblock %}{% load static %}{% block content %}
        <section class="grey-bg">

            <div class="white-bg page-not-found-card content-card flex-this align-center justify-center">
                <div class="flex-this row align-center w-90">
                    <div class="w-30 center-text"><img loading="lazy" src="{% static 'images/logos/logo-404.png' %}" alt="404 Local Contexts round logo"></div>
                    <div class="w-70">
                        <div><h1 class="orange-text">Site Maintenance</h1></div>
                        <div>
                            <p>
                                Local Contexts Hub is currently undergoing maintenance and is temporarily unavailable.<br>
                                See <a href="https://localcontexts.org/lc-hub-service-schedule/" target="_blank">here</a> for service schedule.
                                <br><br>  
                                <strong>Status Code: 503 Service Unavailable</strong>

                            </p></div>
                    </div>
                </div>
            </div>

        </section>
{% endblock %}
