{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="Establishing and communicating rights over indigenous knowledge and biocultural matter.">
        <meta name="thumbnail" content="{% static 'images/logos/welcome-logo.png' %}">
        <meta name="title" content="Local Contexts Hub">
        {% block meta %}{% endblock %}

        <!-- Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

        <!-- Font Awesome Icons -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <script src="https://kit.fontawesome.com/e4bd889de7.js" crossorigin="anonymous"></script>
                
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/headers_footers.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/modals.css' %}">
        <!-- ORCiD Widget -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/orcid-widget.css' %}">
        
        <title>Local Contexts | {% block title %} {% endblock %}</title>
    </head>

    <body>

        {% block content %} {% endblock %}
        {% include 'partials/banners/_cookie-banner.html' %}
        {% include 'partials/banners/_disclaimer-banner.html' %} 
        <script src="{% static 'javascript/main.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'javascript/xhr.js' %}" type="text/javascript" defer></script>

        <!-- Zammad support form-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script id="zammad_form_script" src="https://local-contexts.zammad.com/assets/form/form.js" defer></script>

        <script>
            $(function() {
              $('#feedback-form').ZammadForm({
                messageTitle: 'Feedback & Error Report Form',
                messageSubmit: 'Submit',
                messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
                // switch to true for testing debug
                debug: false,
                showTitle: true,
                modal: true,
                attachmentSupport: true
              });
            });
        </script>

    </body>

</html>