{% extends 'auth-base.html' %} {% block title %} View Account {% endblock %}{% load static %} {% load custom_acct_tags %} {% block main %}
<div class="dashcard">

    {% if community %}
        <div class="flex-this space-between">
            <div class="loc grey-text bold margin-bottom-16">
                <small>
                    <a href="{% url 'registry' %}" class="bold darkteal-text underline-hover">
                        Local Contexts Registry
                    </a> 
                    >> {{ community.community_name }}  
                    >> Public                  
                </small>
            </div>

            {% if request.user.is_authenticated %}
                {% is_user_member community request.user as user_is_member %}
                {% if not user_is_member %}
                    <div class="dashcard-btn-container">
                        <div>
                            {% join_request_comm community.id request.user as request_exists %}
                            {% if request_exists or community in user_communities %}
                                <div class="primary-btn disabled-btn">Request sent <i class="fa fa-check" aria-hidden="true"></i></div>
                            {% else %}
                                <div class="margin-top-8 margin-bottom-8">
                                    <a id="openRequestToJoinModalBtn" class="darkteal-text underline-hover pointer">Request to join</a>
                                </div>
                            {% endif %}                            
                        </div>
                        <div class="margin-left-16">
                            <a id="openContactModalBtn" class="primary-btn action-btn">Contact Us</a>
                        </div>
                    </div>

                    <div id="contactModal" class="modal hide">
                        <div class="modal-defaults contact-modal flex-this column w-100">
                            <div class="w-100">
                                <div class="flex-this space-between">
                                    <div class="w-80">
                                        <h2 class="primary-black-text no-top-margin">Contact form</h2>  
                                        <p>This message will be sent to the administrator of {{ community.community_name }}.</p>  
                                    </div>
                                    <div>
                                        <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
                                    </div>
                                </div>

                                <form id="sendMsgForm" method="POST" action="">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="hidden" name="contact_btn">
                                    <button class="primary-btn action-btn" id="sendMsgBtn">Send message <i class="fa fa-envelope" aria-hidden="true"></i></button>
                                </form>    
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="loc grey-text bold margin-bottom-16">
                        <small>
                            You are a member of this community
                        </small>
                    </div>
                {% endif %}
            {% else %}
                <div class="loc grey-text bold margin-bottom-16">
                    <small>
                        <a href="{% url 'login' %}" class="bold darkteal-text underline-hover">
                            Login
                        </a> 
                        to contact
                    </small>
                </div>
            {% endif %}                
        </div>

        <div class="flex-this">

            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if community.image %} {{ community.image.url }} {% else %} {% static 'images/placeholders/community-place.jpg' %}{% endif %}" 
                    alt="{{ community.community_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3">{{ community }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Community | {{ community.get_location }} </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if community.description %}{{ community.description }}{% else %} No description provided. {% endif %}</p></div>

                {% include 'partials/_alerts.html' %}
                
            </div>

        </div>
        <div>
            <div>
                <h3>Community Labels used</h3>

                <div class="public-page-labels flex-this w-100 wrap">
                    {% if bclabels %}
                        {% for bclabel in bclabels %}
                            <div class="condensed-labels center-text margin-right-16 margin-bottom-16">
                                {% include 'bclabels/which-label.html' %}
                                <span>{{ bclabel.name }}</span>
                            </div> 
                        {% endfor %}
                    {% endif %}

                    {% if tklabels %}
                        {% for tklabel in tklabels %}
                            <div class="condensed-labels center-text margin-right-16 margin-bottom-16">
                                {% include 'tklabels/which-label.html' %}
                                <span>{{ tklabel.name }}</span>
                            </div> 
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if institution %}
        <div class="flex-this space-between">
            <div class="loc grey-text bold  margin-bottom-16">
                <small>
                    <a href="{% url 'registry' %}" class="bold darkteal-text underline-hover">
                        Local Contexts Registry
                    </a> 
                    >> {{ institution.institution_name }}
                    >> Public                    
                </small>
            </div>
            {% if request.user.is_authenticated %}
                {% is_user_member institution request.user as user_is_member %}
                {% if not user_is_member %}
                    <div class="dashcard-btn-container">
                        <div>
                            {% join_request_inst institution.id request.user as request_exists %}
                            {% if request_exists or institution in user_institutions %}
                                <div class="primary-btn disabled-btn">Request sent <i class="fa fa-check" aria-hidden="true"></i></div>
                            {% else %}
                                <div class="margin-top-8 margin-bottom-8">
                                    <a id="openRequestToJoinModalBtn" class="darkteal-text underline-hover pointer">Request to join</a>
                                </div>
                            {% endif %}                                
                        </div>
                        
                        <div class="margin-left-16">
                            <a id="openContactModalBtn" class="primary-btn action-btn">Contact Us</a>
                        </div>
                    </div>

                    <div id="contactModal" class="modal hide">
                        <div class="modal-defaults contact-modal flex-this column w-100">
                            <div class="w-100">
                                <div class="flex-this space-between">
                                    <div class="w-70">
                                        <h2 class="primary-black-text no-top-margin">Contact form</h2>  
                                        <p>This message will be sent to the administrator of {{ institution.institution_name }}.</p>  
                                    </div>
                                    <div>
                                        <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
                                    </div>
                                </div>

                                <form id="sendMsgForm" method="POST" action="">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="hidden" name="contact_btn">
                                    <button class="primary-btn action-btn" id="sendMsgBtn">Send message <i class="fa fa-envelope" aria-hidden="true"></i></button>
                                </form>    
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="loc grey-text bold margin-bottom-16">
                        <small>
                            You are a member of this institution
                        </small>
                    </div>
                {% endif %}
            {% else %}
                <div class="loc grey-text bold margin-bottom-16">
                    <small>
                        <a href="{% url 'login' %}" class="bold darkteal-text underline-hover">
                            Login
                        </a> 
                        to contact
                    </small>
                </div>
            {% endif %}                
        </div>

        <div class="flex-this">
            <div class="dashcard-img-container">
                <img loading="lazy" 
                    class="profile-img" 
                    src="{% if institution.image %} {{ institution.image.url }} {% else %} {% static 'images/placeholders/institution-place.jpg' %}{% endif %}" 
                    alt="{{ institution.institution_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3">{{ institution }}</h3></div>
                <div>
                    <p class="dashcard-subheader">Institution | {{ institution.get_location }} </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if institution.description %}{{ institution.description }}{% else %} No description provided. {% endif %}</p></div>
                {% include 'partials/_alerts.html' %}
            </div>
        </div>
        <div class="flex-this">
            <div class="flex-this column w-50">
                <h3>Notices Used</h3>
                <div class="flex-this">
                    {% if bcnotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="90px" alt="black square with white letters BC in the middle"></div>
                    {% endif %}

                    {% if tknotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="90px" alt="black square with white letters TK in the middle"></div>
                    {% endif %}

                    {% if attrnotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="90px"></div>
                    {% endif %}
                    {% if not bcnotice and not tknotice and not attrnotice %} No Notices to display yet {% endif %}
                </div>
            </div>

            {% if otc_notices %}
                <div class="flex-this column">
                    <h3>Open To Collaboration</h3>
                    <div class="flex-this">
                        <div class="margin-right-8"><img loading="lazy" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="90px" alt="black square with white rectangle being held by two hands in the middle"></div>
                        <ul>
                            {% for notice in otc_notices %}
                                <li>
                                    <a href="{{ notice.url }}" class="darkteal-text underline-hover">
                                        {% if notice.name %} {{ notice.name }} {% else %}{{ notice.url }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>                          
                    </div>          
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if researcher %}
        <div class="flex-this space-between">
            <div class="loc grey-text bold margin-bottom-16">
                <small>
                    <a href="{% url 'registry' %}" class="bold darkteal-text underline-hover">
                        Local Contexts Registry
                    </a> 
                    >>    
                    {% firstof researcher.user.get_full_name researcher.user.username %}
                    >> Public         
                </small>
            </div>

            {% if request.user.is_authenticated %}
                {% if researcher.contact_email_public %}
                    {% if not researcher.user == request.user %}
                        <div class="margin-left-16">
                            <a id="openContactModalBtn" class="primary-btn action-btn">Contact Me</a>
                        </div>
                    {% endif %}
                {% endif %}
                
                <div id="contactModal" class="modal hide">
                    <div class="modal-defaults contact-modal flex-this column w-100">
                        <div class="w-100">
                            <div class="flex-this space-between">
                                <div>
                                    <h2 class="primary-black-text no-top-margin">Contact form</h2>  
                                    <p>This message will be sent to {% firstof researcher.user.get_full_name researcher.user.username %}.</p>  
                                </div>
                                <div>
                                    <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
                                </div>
                            </div>

                            <form id="sendMsgForm" method="POST" action="">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="contact_btn">
                                <button class="primary-btn action-btn" id="sendMsgBtn">Send message <i class="fa fa-envelope" aria-hidden="true"></i></button>
                            </form>    
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="flex-this">

            <div class="researcher-img-container">
                <img loading="lazy" 
                    src=" {% if researcher.image %} {{ researcher.image.url }} {% else %} {% static 'images/placeholders/researcher-place.jpg' %} {% endif %}" 
                    alt="{{ researcher.researcher_name }} image"
                >
            </div>
            <div class="flex-this column dashcard-text-container">
                <div><h3 class="dashcard-h3">{% firstof researcher.user.get_full_name researcher.user.username %}</h3></div>
                <div>
                    <p class="dashcard-subheader">Researcher | {{ profile.get_location }} </p>
                </div>
                <div><p class="dashcard-description description-sm">{% if researcher.description %}{{ researcher.description }}{% else %} No description provided. {% endif %}</p></div>
                {% include 'partials/_alerts.html' %}
            </div>

        </div>

        <div class="flex-this">
            <div class="flex-this column w-50">
                <h3>Notices Used</h3>
                <div class="flex-this">
                    {% if bcnotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/bc-notice.png' %}" width="90px" alt="black square with white letters BC in the middle"></div>
                    {% endif %}

                    {% if tknotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/tk-notice.png' %}" width="90px" alt="black square with white letters TK in the middle"></div>
                    {% endif %}

                    {% if attrnotice %} 
                        <div class="margin-right-16"><img loading="lazy" src="{% static 'images/notices/ci-attribution-incomplete.png' %}" width="90px"></div>
                    {% endif %}
                    {% if not bcnotice and not tknotice and not attrnotice %} No Notices to display yet {% endif %}
                </div>
            </div>

            {% if otc_notices %}
                <div class="flex-this column">
                    <h3>Open To Collaboration</h3>
                    <div class="flex-this">
                        <div class="margin-right-8"><img loading="lazy" src="{% static 'images/notices/ci-open-to-collaborate.png' %}" width="90px" alt="black square with white rectangle being held by two hands in the middle"></div>
                        <ul>
                            {% for notice in otc_notices %}
                                <li>
                                    <a href="{{ notice.url }}" class="darkteal-text underline-hover">
                                        {% if notice.name %} {{ notice.name }} {% else %}{{ notice.url }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>                          
                    </div>          
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div>
        <h3>Public Projects </h3>

        {% if projects %}
            <table class="projects-table">
                <tr>
                    <th><i class="fa-regular fa-line-columns"></i> Title</th>
                    <th><i class="fa-light fa-user"></i> Creator</th>
                    <th><i class="fa-light fa-calendar"></i> Last updated</th>
                    <th>Visibility</th>
                </tr>

                {% for project in projects %}
                    {% include 'projects/project-overview.html' %}
                {% endfor %}
            </table>
        {% else %}
            No public Projects available
        {% endif %}                       
    </div>

</div> <!-- dashcard-->

    {% if request.user.is_authenticated %}
        <div id="requestToJoinModal" class="modal hide">
            <div class="modal-defaults join-modal flex-this column w-100">
                <div class="w-100">
                    <div>
                        <div class="flex-this space-between">
                            <div class="flex-this">
                                <h2 class="primary-black-text no-top-margin">Request to join</h2>  
                                <div class="tooltip" style="margin-top: 10px; margin-left: 5px;"><strong>i</strong>
                                    <span class="tooltiptext">
                                        <strong>You should request to join community and institution accounts you are already affiliated with. </strong> <br><br>
                                        If you wish to collaborate with a community or institution you are not affiliated with, you will connect with them through Projects. You do not need to join their account.
                                    </span>
                                </div>                            
                            </div>
                            <div>
                                <div class="close-modal-btn"><i class="fa-regular fa-xmark fa-xl"></i></div>
                            </div>
                        </div>


                        <p class="no-top-margin">Every account has various responsibilities within the community.<br>
                            <strong>Administrator:</strong> responsible for adding, editing and removing members<br>
                            <strong>Editor:</strong> responsible for customizing Labels and Projects<br>
                            <strong>Viewer:</strong> can view activity happening on the hub
                        </p>  
                    </div>

                        <div class="margin-left-8">
                            <form id="requestToJoinForm" method="POST" action="">
                                {% csrf_token %}

                                <div class="flex-this column w-100">
                                    <div class="margin-top-8">
                                        <label>Requested Responsibility</label><br>
                                        {{ join_form.role }}
                                        {% if join_form.role.errors %}
                                            <div class="msg-red w-50"><small>{{ join_form.role.errors.as_text }}</small></div> 
                                        {% endif %}
                                    </div>
                                    
                                    <div class="margin-top-8">
                                        <label>Include a message with this request</label><br>
                                        {{ join_form.message }}
                                        {% if join_form.message.errors %}
                                            <div class="msg-red w-50"><small>{{ join_form.message.errors.as_text }}</small></div> 
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="flex-this space-between margin-top-8 w-100">
                                    <p class="w-70 no-top-margin">
                                        <small class="grey-text">By sending this request, you consent for your message and email address to be shared with account administrators.</small>
                                    </p>
                                    <div>
                                        <input type="hidden" name="join_request">
                                        <button id="sendRequestToJoinBtn" class="primary-btn action-btn">Send Request</button> 
                                    </div>                                    
                                </div>

                            </form> 
                        </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}