{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/_reg-header.html' %}

<section class="flex-this gradient-section">
    <div class="base-card flex-this row">

        <div id="progress-container" class="orange-bg white-text flex-this column">
            
            <div id="progress-ul-container" class="flex-this">
                <ul id="progress-ul" class="flex-this column ul-no-bullets">
                    <li>
                        {% if '/accounts/register' in request.path %}
                            {% include 'snippets/bullet-big.html'%}
                        {% else %}
                            {% include 'snippets/bullet.html'%}
                        {% endif %}
                        Register
                    </li>
                    <li>
                        {% if 'accounts/verify' in request.path %}
                            {% include 'snippets/bullet-big.html'%}
                        {% else %}
                            {% include 'snippets/bullet.html'%}
                        {% endif %}
                            Verify email
                    </li>
                    <li>
                        {% if 'accounts/create-profile' in request.path or '/accounts/select-account/' in request.path %}
                            {% include 'snippets/bullet-big.html'%}
                        {% else %}
                            {% include 'snippets/bullet.html'%}
                        {% endif %}
                        Create your personal profile
                    </li>
                    <li>
                    {% if 'connect-community' in request.path or 'create-community' in request.path or 'validate-community' in request.path or 'connect-researcher' in request.path or 'connect-institution' in request.path or 'create-community' in request.path or 'connect-researcher' in request.path or 'create-institution' in request.path or 'create-institution/no-ror/' in request.path %}
                        {% include 'snippets/bullet-big.html'%}
                    {% else %}
                        {% include 'snippets/bullet.html'%}
                    {% endif %}
                        Join or create an account</li>
                    <li>
                        {% include 'snippets/bullet.html'%}
                        Get started!
                    </li>
                </ul>
            </div>

            <div id="progress-bottom-container">
                <div>
                    <h2>
                        Grounding Indigenous Rights
                    </h2>
                </div>
            </div>

        </div>
    
        <div id="complete-form-container" class="flex-this column">

            {% block card %} 

            {% endblock %}    
        </div>
    </div>

</section>
{% include 'partials/_reg-footer.html' %}
{% endblock %}