{% extends 'auth-base.html' %} {% block title %} Update Profile {% endblock %} {% load static %} {% block main %}

{% if user.is_authenticated %}

    {% include 'partials/infocards/_user-dashcard.html' %}

    <div class="content-card-v2 content-card-space flex-this column settings-height">
        <h2 class="no-top-margin">User Settings</h2>

        <div class="flex-this w-100">

            <div class="side-nav-container">
                <a class="side-nav-a" href="{% url 'update-profile' %}">
                    <div class="side-nav-item {% if 'update-profile' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div>
                            <p class="no-top-margin"><strong>Profile</strong><br>Contact name, email, location</p>
                        </div>  
                    </div>   
                </a>

                <a class="side-nav-a" href="{% url 'manage-orgs' %}">
                    <div class="side-nav-item {% if 'manage' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div><i class="fa-solid fa-user-group"></i></div>
                        <div>
                            <p class="no-top-margin"><strong>Accounts</strong><br>Manage your accounts</p>
                        </div>  
                    </div>
                </a>

                <a class="side-nav-a" href="{% url 'change-password' %}">
                    <div class="side-nav-item {% if 'change-password' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div><i class="fa fa-key" aria-hidden="true"></i></div>
                        <div>
                            <p class="no-top-margin"><strong>Password</strong><br>Change your password</p>
                        </div>  
                    </div>
                </a>

                <a class="side-nav-a" href="{% url 'deactivate-user' %}">
                    <div class="side-nav-item {% if 'deactivate' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div><i class="fa fa-power-off" aria-hidden="true"></i></div>
                        <div>
                            <p class="no-top-margin"><strong>Deactivate</strong><br>Deactivate your profile</p>
                        </div>  
                    </div>
                </a>
            
                <!-- <a class="side-nav-a" href="{% url 'api-key' %}">
                    <div class="side-nav-item {% if 'apikey' in request.path %} selected {% else %} grey-text {% endif %}">
                        <div><i class="fa-solid fa-code"></i></div>
                        <div>
                            <p class="no-top-margin"><strong>API Key</strong><br>Manage API Key</p>
                        </div>  
                    </div>
                </a>                 -->
            </div>

            {% block settings %}{% endblock %}
        </div>

    </div>

{% endif %}

{% endblock %}