{% extends 'base.html' %} {% load static %} {% block content %} {% include 'partials/headers/_auth-header.html' %}
<section class="grey-bg">
    {% if community %}
        {% include 'partials/infocards/_community-info.html' %}
        {% include 'partials/_subnav.html' %}
        {% block community_content %}{% endblock %}
    {% endif %}

    {% if institution %}
        {% include 'partials/infocards/_institution-info.html' %}
        {% include 'partials/_subnav.html' %}
        {% block institution_content %}{% endblock %}
    {% endif %}

    {% if researcher %}
        {% include 'partials/infocards/_researcher-info.html' %}
        {% include 'partials/_subnav.html' %}
        {% block researcher_content %}{% endblock %}
    {% endif %}
</section>
{% include 'partials/footers/_auth-footer.html' %}
{% endblock %}