{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <!-- Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="../static/images/favicons/site.webmanifest">

        <meta name="description" content="Establishing and communicating rights over indigenous knowledge and biocultural matter.">
        <title>Local Contexts</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
<body>
    {% block content %} {% endblock %}
</body>
</html>