{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Local Contexts Hub</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <section id="header-container">
        <header>
            <a href="#" id="header-logo">Local <br> Contexts</a>
            <ul class="nav-links-ul">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Labels</a></li>
                <li><a href="#">Notices</a></li>
                <li><a href="#">Contact</a></li>   
            </ul>
            <div id="btn-container">
                <button id="register-btn" class="nav-btn">Account</a>
                <button  id="sign-in-btn" class="nav-btn">Sign Out</a>         
            </div>
        </header>
    </section>
    <body>
        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>

    </body>
    <footer id="footer-wrapper">
        <svg class="footer-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f1f4f5" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,117.3C384,117,480,139,576,154.7C672,171,768,181,864,192C960,203,1056,213,1152,192C1248,171,1344,117,1392,90.7L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    </footer>
</html>