<!-- Note: template inheritance does not work with xhtml2pdf -->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Project PDF</title>
        <style>

            h1 { font-size: 18px; }

            p {
                font-size: 15px;
                margin-top: 1px;
            }

            table {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom-style: solid;
                border-bottom-color: #007585;
                border-bottom-width: 0.5px;
                border-top-style: solid;
                border-top-color: #007585;
                border-top-width: 0.5px;
            }

            .text-width { width: 400px;}
            .no-bottom-margin { margin-bottom: 1px;}

            .image-td {
                width: 170px;
                vertical-align: top;
            }

        </style>
    </head>
    <body>
        <h1>{{ project.title }}</h1>
        <p>
            <strong>Created By:</strong> 
            {% if project.project_creator.get_full_name %}
                {{ project.project_creator.get_full_name }} ({{ project.project_creator }})
            {% else %}
                {{ project.project_creator }}
            {% endif %}
            {% if project_creator.community %} {{ project_creator.community }} | Community {% endif %}
            {% if project_creator.institution %} {{ project_creator.institution }} | Institution {% endif %}
            {% if project_creator.researcher %} | Researcher {% endif %}
            <br>
            <strong>Date Added:</strong> {{ project.date_added }}<br>
            <strong>Date Last Modified:</strong> {{ project.date_modified }}<br>
            <strong>Project Privacy:</strong> {{ project.project_privacy }}<br>
            <strong>Local Contexts Project ID:</strong> {{ project.unique_id }}<br>
            
            {% if project.project_privacy == 'Public' %}
                {% if project.publication_doi %}<strong>Project DOI:</strong> {{ project.publication_doi }}<br>{% endif %}
                {% if project.project_data_guid %}<strong>Project Data GUID:</strong> {{ project.project_data_guid }}<br>{% endif %}
                {% if project.providers_id %}<strong>Project Provider's ID:</strong> {{ project.providers_id }}<br>{% endif %}

                <strong>Project Contact:</strong> {{ project.project_contact }} {{ project.project_contact_email }}<br>
                <strong>Project Type:</strong> {% if project.project_type == 'Other' %} {{ project.other_type }} <br> {% else %} {{ project.project_type }}<br> {% endif %}
                
                {% if contributors %}
                    <strong>Project Contributors:</strong> <br>
                    {% for community in contributors.communities.all %}
                        {{ community.community_name }} | Community <br>
                    {% endfor %}
                    {% for institution in contributors.institutions.all %}
                        {{ institution.institution_name }} | Institution <br>
                    {% endfor %}
                    {% for researcher in contributors.researchers.all %}
                        {% if researcher.user.get_full_name %}
                            {{ researcher.user.get_full_name }} ({{ researcher.user }})
                        {% else %}
                            {{ researcher.user.username }}
                        {% endif %}
                     | Researcher <br>
                    {% endfor %}
                {% endif %}

                {% if project_people %}
                    <strong>Other Contributors:</strong><br>
                    {% for person in project_people %}
                        {{ person.name }} <br>
                    {% endfor %}
                {% endif %}

                {% if project.project_page %} 
                    <strong>Project Page URL:</strong><br>
                    {{ project.project_page }} <br>
                {% endif %}

                {% if project.url %}
                    <strong>Project Link</strong><br>
                    {{ project.url }}<br>
                {% endif %}

                {% if project.description %}<br><strong>Project Description:</strong> {{ project.description|linebreaks }}<br>{% endif %}

            {% endif %}
        </p>

        <table>
            {% if project.project_notice.all %}
                {% for notice in project.project_notice.all %}
                    {% if not notice.archived %}
                        {% if notice.notice_type == 'biocultural' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Biocultural Notice</h1>
                                    <p> {{ notice.default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'traditional_knowledge' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Traditional Knowledge Notice</h1>
                                    <p> {{ notice.default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'attribution_incomplete' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Attribution Incomplete Notice</h1>
                                    <p> {{ notice.default_text|linebreaks }} </p> 
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if project.bc_labels.all %}
                {% for bclabel in project.bc_labels.all %}
                    <tr>
                        <td class="image-td">
                            <img loading="lazy" src="{{ bclabel.img_url }}" width="200px">
                        </td>
                        <td class="text-td">
                            <h1 class="no-bottom-margin">{{ bclabel.name }} ({{ bclabel.community.community_name }})</h1>
                            <p> {{ bclabel.label_text|linebreaks }} </p> 

                            {% if bclabel.bclabel_translation.all %}
                                {% for translation in bclabel.bclabel_translation.all %}
                                    <h1 class="no-bottom-margin">{{ translation.translated_name }} ({{ translation.language }})</h1>
                                    <p> {{ translation.translated_text|linebreaks }} </p> 
                                {% endfor %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if project.tk_labels.all %}
                {% for tklabel in project.tk_labels.all %}
                    <tr>
                        <td class="image-td">
                            <img loading="lazy" src="{{ tklabel.img_url }}" width="200px">
                        </td>
                        <td class="text-td">
                            <h1 class="no-bottom-margin">{{ tklabel.name }} ({{ tklabel.community.community_name }})</h1>
                            <p> {{ tklabel.label_text|linebreaks }} </p>  

                            {% if tklabel.tklabel_translation.all %}
                                {% for translation in tklabel.tklabel_translation.all %}
                                    <h1 class="no-bottom-margin">{{ translation.translated_name }} ({{ translation.language }})</h1>
                                    <p> {{ translation.translated_text|linebreaks }} </p> 
                                {% endfor %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>