<!-- Note: template inheritance does not work with xhtml2pdf -->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Project PDF</title>
        <style>

            h1 {
                font-size: 18px;
            }

            p {
                font-size: 15px;
                margin-top: 1px;
            }

            table {
                padding-top: 10px;
                padding-bottom: 10px;

                border-bottom-style: solid;
                border-bottom-color: #007585;
                border-top-width: 0.5px;
            }

            .text-width {
                width: 400px;
            }

            .no-bottom-margin {
                margin-bottom: 1px;
            }

            .image-td {
                width: 170px;
                vertical-align: top;
            }

        </style>
    </head>
    <body>
        <h1>{{ project.title }}</h1>
        <p>
            <strong>Created By:</strong> {{ project.project_creator.get_full_name }}
            {% if project.community_projects.all %} {% for community in project.community_projects.all %} at {{ community }} | Community {% endfor %} {% endif %}
            {% if project.institution_projects.all %} {% for institution in project.institution_projects.all %} at {{ institution }} | Institution {% endfor %} {% endif %}
            {% if project.researcher_projects.all %} {% for researcher in project.researcher_projects.all %} | Researcher {% endfor %} {% endif %}
            <br>
            <strong>Date Added:</strong> {{ project.date_added }}<br>
            <strong>Date Last Modified:</strong> {{ project.date_modified }}<br>
            <strong>Project Privacy:</strong> {{ project.project_privacy }}<br>
            <strong>Local Contexts Project ID:</strong> {{ project.unique_id }}<br>
            
            {% if project.project_privacy == 'Public' %}
                {% if project.publication_doi %}<strong>Project DOI:</strong> {{ project.publication_doi }}<br>{% endif %}
                {% if project.project_data_guid %}<strong>Project Data GUID:</strong> {{ project.project_data_guid }}<br>{% endif %}
                {% if project.providers_id %}<strong>Project Provider's ID:</strong> {{ project.providers_id }}<br>{% endif %}

                <strong>Project Contact:</strong> {{ project.project_contact }} {{ project.project_contact_email }}<br>
                <strong>Project Type:</strong> {% if project.project_type == 'Other' %} {{ project.other_type }} <br> {% else %} {{ project.project_type }}<br> {% endif %}
                
                {% if contributors %}
                    <strong>Project Contributors:</strong> <br>
                    {% for community in contributors.communities.all %}
                        {{ community.community_name }} | Community <br>
                    {% endfor %}
                    {% for institution in contributors.institutions.all %}
                        {{ institution.institution_name }} | Institution <br>
                    {% endfor %}
                    {% for researcher in contributors.researchers.all %}
                        {{ researcher.user.get_full_name }} | Researcher <br>
                    {% endfor %}
                {% endif %}

                {% if project_people %}
                    <strong>Other Contributors:</strong><br>
                    {% for person in project_people %}
                        {{ person.name }} <br>
                    {% endfor %}
                {% endif %}

                {% if project.recommended_citation %}<strong>Recommended Citation:</strong> {{ project.recommended_citation }}<br>{% endif %}
                {% if project.description %}<br><strong>Project Description:</strong> {{ project.description|linebreaks }}<br>{% endif %}

            {% endif %}
        </p>

        <table>
            {% if project.project_notice.all %}
                {% for notice in project.project_notice.all %}
                    {% if not notice.archived %}
                        {% if notice.notice_type == 'biocultural' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.bc_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Biocultural Notice</h1>
                                    <p> {{ notice.bc_default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'traditional_knowledge' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.tk_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Traditional Knowledge Notice</h1>
                                    <p> {{ notice.tk_default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'biocultural_and_traditional_knowledge' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.bc_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Biocultural Notice</h1>
                                    <p> {{ notice.bc_default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.tk_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Traditional Knowledge Notice</h1>
                                    <p> {{ notice.tk_default_text|linebreaks }} </p> 
                                </td>                        
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if project.project_institutional_notice.all %}
                {% for notice in project.project_institutional_notice.all %}
                    {% if not notice.archived %}
                        {% if notice.notice_type == 'open_to_collaborate' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.open_to_collaborate_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Open to Collaborate Notice</h1>
                                    <p> {{ notice.open_to_collaborate_default_text|linebreaks }} </p> 
                                </td>
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'attribution_incomplete' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.attribution_incomplete_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Attribution Incomplete Notice</h1>
                                    <p> {{ notice.attribution_incomplete_default_text|linebreaks }} </p> 
                                </td>
                            </tr>
                        {% endif %}
                        {% if notice.notice_type == 'open_to_collaborate_and_attribution_incomplete' %}
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.open_to_collaborate_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Open to Collaborate Notice</h1>
                                    <p> {{ notice.open_to_collaborate_default_text|linebreaks }} </p> 
                                </td>
                            </tr>
                            <tr>
                                <td class="image-td">
                                    <img loading="lazy" src="{{ notice.attribution_incomplete_img_url }}" width="200px">
                                </td>
                                <td class="text-td">
                                    <h1 class="no-bottom-margin">Attribution Incomplete Notice</h1>
                                    <p> {{ notice.attribution_incomplete_default_text|linebreaks }} </p> 
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if project.bc_labels.all %}
                {% for bclabel in project.bc_labels.all %}
                    <tr>
                        <td class="image-td">
                            <img loading="lazy" src="{{ bclabel.img_url }}" width="200px">
                        </td>
                        <td class="text-td">
                            <h1 class="no-bottom-margin">{{ bclabel.name }} ({{ bclabel.community.community_name }})</h1>
                            <p> {{ bclabel.default_text|linebreaks }} </p> 

                            {% if bclabel.bclabel_translation.all %}
                                {% for translation in bclabel.bclabel_translation.all %}
                                    <h1 class="no-bottom-margin">{{ translation.title }} ({{ translation.language }})</h1>
                                    <p> {{ translation.translation|linebreaks }} </p> 
                                {% endfor %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if project.tk_labels.all %}
                {% for tklabel in project.tk_labels.all %}
                    <tr>
                        <td class="image-td">
                            <img loading="lazy" src="{{ tklabel.img_url }}" width="200px">
                        </td>
                        <td class="text-td">
                            <h1 class="no-bottom-margin">{{ tklabel.name }} ({{ tklabel.community.community_name }})</h1>
                            <p> {{ tklabel.default_text|linebreaks }} </p>  

                            {% if tklabel.tklabel_translation.all %}
                                {% for translation in tklabel.tklabel_translation.all %}
                                    <h1 class="no-bottom-margin">{{ translation.title }} ({{ translation.language }})</h1>
                                    <p> {{ translation.translation|linebreaks }} </p> 
                                {% endfor %}
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>