{% load static %}
{% if messages %}
    {% for message in messages %}
        <div id="registration-message">
            <div class="{{ message.tags }}">
                <button id="close-btn" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error:
                    {% else %}
                        {{message.tags|title}}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}