{% load static %}
<header id="reg-header" class="flex-this">
    <div class="generic-logo-container">
        <a href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/logos/logo.png' %}">
        </a>
    </div>
    <nav class="generic-nav flex-this">
        <ul class="flex-this generic-nav-ul">
            <li><a class="white-text upper" href="/">Home</a></li>
            <li><a class="white-text upper" href="{% url 'about' %}">About</a></li>
            <li><a class="white-text upper" href="#">Labels</a></li>
            <li><a class="white-text upper" href="#">Notices</a></li>
            <li><a class="white-text upper" href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
            <!-- <li><p>Hi, {{ user.first_name }}!</p></li> -->

            <div id="btn-group" class="flex-this">
                <li><a class="white-text upper dash-btn" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="white-bg"><a class="upper primary-blue-text" href="javascript:{document.getElementById('logout').submit()}">Log Out
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </a></li>
            </div>

            {% else %}
            <div id="btn-group" class="flex-this">
                <li><a class="white-text upper" href="{% url 'register' %}">Register</a></li>
                <li class="white-bg"><a class="upper primary-blue-text" href="{% url 'login' %}">Sign In</a></li>
            </div>
            {% endif %}
        </ul>
    </nav>
</header>